<div id="nav-list" class="panels-container margin-medium-bottom">  
  <div class="panel column-big separate-right" data-help="Use the left and right buttoms to hide or show columns groups">
    <div class="title nav-line <%= @hub_model_metadata.combined_css if @hub_model_metadata %>">
      <span><%= page_entries_info objects %></span>
    </div>      
    <div class="navigation-controls"> 
      <div class="navigation-bar-left">
      <div class="page-navigator">
        <span> <%= link_to_previous_page(objects, '‹ Back') {|a| '‹ Back'} %> </span>
        <span> <%= link_to_next_page(objects, 'Next ›') {|a| 'Next ›'} %> </span>    
      </div>
      <%= paginate objects %>
      </div>
      <div class="navigation-bar-right">
        <%= download_for_model_link(@hub_model_metadata.klass) if @hub_model_metadata %>
      </div>
    </div>       
  </div>
</div>
