<p style="color: green"><%= notice %></p>

<%= render @gazetteer_import %>

<div>
  <%= link_to "Edit this gazetteer import", edit_gazetteer_import_path(@gazetteer_import) %> |
  <%= link_to "Back to gazetteer imports", gazetteer_imports_path %>

  <%= button_to "Destroy this gazetteer import", @gazetteer_import, method: :delete %>
</div>
