<%#= render(partial: 'layouts/map_header') -%>

<p>
  <strong>Geographic item:</strong>
  <%= geographic_item_link(@georeference.geographic_item) -%>
  <strong>Error-Geographic item:</strong>
  <%= geographic_item_link(@georeference.error_geographic_item) -%>
</p>

<%= simple_map([@georeference.geographic_item, @georeference.error_geographic_item]) -%>

<p>
  <strong>Collecting event:</strong>
  <%= collecting_event_link(@georeference.collecting_event) %>
</p>

<p>
  <strong>Count of collecting events using this same geographic item:</strong>
  <%= collecting_events_count_using_this_geographic_item(@georeference.geographic_item_id) %>
</p>

<p>
  <strong>Count of collecting events using this same error geographic item:</strong>
  <%= collecting_events_count_using_this_error_geographic_item(@georeference.error_geographic_item_id) %>
</p>

<p>
  <strong>Error radius:</strong>
  <%= @georeference.error_radius %>
</p>

<p>
  <strong>Error depth:</strong>
  <%= @georeference.error_depth %>
</p>

<p>
  <strong>Error geographic item:</strong>
  <%= @georeference.error_geographic_item_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @georeference.type %>
</p>

<p>
  <strong>Source:</strong>
  <%= source_link(@georeference.source) %>
</p>

<p>
  <strong>Position:</strong>
  <%= @georeference.position %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @georeference.is_public %>
</p>

<p>
  <strong>Api request:</strong>
  <%= @georeference.api_request %>
</p>

<p>
  <strong>Is undefined z:</strong>
  <%= @georeference.is_undefined_z %>
</p>

<p>
  <strong>Is median z:</strong>
  <%= @georeference.is_median_z %>
</p>

<p>
  <strong>Year georeferenced :</strong>
  <%= @georeference.year_georeferenced %>
</p>

<p>
  <strong>Month georeferenced :</strong>
  <%= @georeference.month_georeferenced %>
</p>

<p>
  <strong>Day georeferenced :</strong>
  <%= @georeference.day_georeferenced %>
</p>

