<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Geographic item') -%>
    <%= fancy_th_tag(name: 'Collecting event') -%>
    <%= fancy_th_tag(name: 'Error radius') -%>
    <%= fancy_th_tag(name: 'Error depth') -%>
    <%= fancy_th_tag(name: 'Error geographic item') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Source') -%>
    <%= fancy_th_tag(name: 'Position') -%>
    <%= fancy_th_tag(name: 'Is public') -%>
    <%= fancy_th_tag(name: 'Api request') -%>
    <%= fancy_th_tag(name: 'Is undefined z') -%>
    <%= fancy_th_tag(name: 'Is median z') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <!-- todo @mjy Three boolean values here; how do you want them displayed? Do you want all these fields displayed in the list? -->

  <tbody>
  <% georeferences.each do |georeference| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= georeference.geographic_item_id %></td>
          <td><%= object_tag(georeference.collecting_event) %></td>
          <td><%= georeference.error_radius %></td>
          <td><%= georeference.error_depth %></td>
          <td><%= georeference.error_geographic_item_id %></td>
          <td><%= georeference.method_name %></td>
          <td><%= object_tag(georeference.source) %></td>
          <td><%= "CE:#{georeference.collecting_event.id}, pos:#{georeference.position}" %></td>
          <td><%= georeference.is_public %></td>
          <td><%= georeference.api_request %></td>
          <td><%= georeference.is_undefined_z %></td>
          <td><%= georeference.is_median_z %></td>
          <%= fancy_metadata_cells_tag(georeference) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
