<p id="notice"><%= notice %></p>

<p>
  <strong>Geographic item:</strong>
  <%= @georeference.geographic_item_id %>
</p>

<p>
  <strong>Collecting event:</strong>
  <%= @georeference.collecting_event_id %>
</p>

<p>
  <strong>Error radius:</strong>
  <%= @georeference.error_radius %>
</p>

<p>
  <strong>Error depth:</strong>
  <%= @georeference.error_depth %>
</p>

<p>
  <strong>Error geographic item:</strong>
  <%= @georeference.error_geographic_item_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @georeference.type %>
</p>

<p>
  <strong>Source:</strong>
  <%= @georeference.source_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @georeference.position %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @georeference.is_public %>
</p>

<p>
  <strong>Api request:</strong>
  <%= @georeference.api_request %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @georeference.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @georeference.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @georeference.project_id %>
</p>

<p>
  <strong>Is undefined z:</strong>
  <%= @georeference.is_undefined_z %>
</p>

<p>
  <strong>Is median z:</strong>
  <%= @georeference.is_median_z %>
</p>

<%= link_to 'Edit', edit_georeference_path(@georeference) %> |
<%= link_to 'Back', georeferences_path %>
