<div id="vue-simple-new-specimen"></div>

<h2> Task: Simple new specimen </h2>

<%= form_for(@specimen, as: :specimen, url: create_simple_specimen_task_path, html: {class: :dropzone, id: 'simple-specimen-task'}) do |f| -%>
  <div class="flex-wrap-row get_fields">
        <div class="panel no-shadow small_space">
          <%= f.fields_for(:identifiers, @specimen.identifiers) do |i| -%>
              <%= i.hidden_field :type -%>

              <div class="side_by_side_fields">
                <div class="field input-checkbox-field">
                  <%= i.label :namespace_id, 'Catalog number' %>
                  <%= render '/workbench/elements/forms/ajax_select',
                             controller:        '/namespaces',
                             object:            "specimen[identifiers_attributes][#{i.index}]",
                             method:            'namespace_id',
                             tag_id:            "namespace_id_for_identifier_#{i.index}",
                             display:           (i.object.namespace ? i.object.namespace.short_name : nil),
                             size:              20,
                             fields_for_object: i
                  %>

                  <% if @specimen.identifiers.size == 1 %>
                      <%= lock_tag(@locks, :identifier, :namespace_id) -%>
                  <% end %>
                  </div>
                   <div class="field input-checkbox-field">

                  <%= i.text_field :identifier %>

                  <% if @specimen.identifiers.size == 1 %>
                      <%= lock_tag(@locks, :identifier, :increment, 'increment') -%>
                  <% end %>
                  </div>
                  <%= destroy_related_link(i) -%>
                </div>
          <% end %>

          <%= f.fields_for(:taxon_determinations, @specimen.taxon_determinations) do |o| -%>
              <div class="field">
                <label>OTU</label>
                <div class="field input-checkbox-field">
                  <%= render '/otus/otu_picker', otu: o.object.otu, f: o -%>
                  <%= lock_tag(@locks, :taxon_determination, :otu_id) -%>
                </div>
              </div>
          <% end %>

          <%= f.fields_for(:depictions, @specimen.depictions) do |d| -%>
              <%= d.fields_for :image_attributes, Image.new do |i| %>
                  <div class="field">
                    <%= i.label :image_file, 'Specimen images' %>
                    <div class="field dz-message vue-dropzone dz-file-preview dz-clickable" id="dropzone_previews" data-help="Images can be attached to the specimen by dropping them anywhere on this form.">
                      <div class="dz-default dz-message">
                        <span>Click to browse, or drop an image</span>
                      </div>
                    </div>
                  </div>
              <% end %>
         <% end %>

        <div class="field input-checkbox-field">
          <%= f.label :preparation_type %>
          <br>
          <%= f.select :preparation_type_id, options_from_collection_for_select(PreparationType.all, :id, :name, f.object.preparation_type_id),  include_blank: true  -%>
          <%= lock_tag(@locks, :specimen, :preparation_type_id) -%>
        </div>


          <hr>
          <div class="flex-wrap-row" data-help="These fields are used to create a related collecting event."> 
            <div class="flex-wrap-column">
              <div id="collecting_event_fields" <%= 'hidden' if @specimen.collecting_event_id -%> >
                <%= f.fields_for(:collecting_event, CollectingEvent.new, include_id: false) do |c| -%>
                    <div class="field">
                      <%= c.label :verbatim_label %>
                      <%= c.text_area :verbatim_label, cols: 40, rows: 6 %>
                    </div>

                    <div class="field">
                      <%= c.label :verbatim_locality %>
                      <%= c.text_field :verbatim_locality, size: 40, id: 'verbatim_locality' %>
                    </div>

                    <div class="field">
                      <%= c.label :geographic_area_id, 'Geographic area' %>

                      <%= render '/workbench/elements/forms/ajax_select',
                                 controller:        '/geographic_areas',
                                 object:            'specimen[collecting_event_attributes]',
                                 method:            'geographic_area_id',
                                 tag_id:            'geographic_area_id_for_collecting_event',
                                 fields_for_object: c,
                                 size:              30,
                                 display:           geographic_area_tag(c.object.geographic_area)
                      %>
                    </div>
                <% end %>
              </div>

              <div id="selected_collecting_event">
                <% if @specimen.collecting_event_id -%>
                    <%= render('/collecting_events/card', object: @specimen.collecting_event) -%>
                    <%= f.hidden_field(:collecting_event_id, id: 'selected_collecting_event_id') -%>
                <% end %>
              </div>
            </div>

            <div class="flex-wrap-column tiny_space">
              <%= lock_tag(@locks, :collecting_event, :collecting_event_id) -%>
              <%= link_to("return", "#", id: 'collecting_event_form_toggle', data: { turbolinks: false }, class: ['button-undo'], hidden: (@specimen.collecting_event_id ? false : true)) -%>
            </div>
          </div>
        </div> 


    <div class="flex-wrap-column small_space">
      <%= submit_tag 'Create', id: :simple_create %>
    </div>

    <div class="flex-wrap-column small_space">
      <div class="actions">
        <div id="collecting_event_filter" class="panel"></div>
      </div>
    </div>

  </div>

<% end %>

<h3> Recently created</h3>
<div>
  <%= render('/tasks/accessions/report/dwc/table', collection_objects: @recent) -%>
</div>
