<%= form_for(@tagged_section_keyword) do |f| %>
    <%= render 'shared/errors', object: @tagged_section_keyword %>

    <div class="field">
      <%= f.label :otu_page_layout_section_id %>
      <br>
      <%= f.number_field :otu_page_layout_section_id %>
    </div>
    <div class="field">
      <%= f.label :keyword_id %>
      <br>
      <%= f.number_field :keyword_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
