<h1>Listing tagged_section_keywords</h1>

<table>
  <thead>
    <tr>
      <th>Otu page layout section</th>
      <th>Position</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th>Keyword</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tagged_section_keywords.each do |tagged_section_keyword| %>
      <tr>
        <td><%= tagged_section_keyword.otu_page_layout_section_id %></td>
        <td><%= tagged_section_keyword.position %></td>
        <td><%= tagged_section_keyword.created_by_id %></td>
        <td><%= tagged_section_keyword.updated_by_id %></td>
        <td><%= tagged_section_keyword.project_id %></td>
        <td><%= tagged_section_keyword.keyword_id %></td>
        <td><%= link_to 'Show', tagged_section_keyword %></td>
        <td><%= link_to 'Edit', edit_tagged_section_keyword_path(tagged_section_keyword) %></td>
        <td><%= link_to 'Destroy', tagged_section_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tagged section keyword', new_tagged_section_keyword_path %>
