<div id="<%= dom_id @conveyance %>">
  <p>
    <strong>Sound:</strong>
    <%= @conveyance.sound_id %>
  </p>

  <p>
    <strong>Conveyance object:</strong>
    <%= @conveyance.conveyance_object_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= @conveyance.project_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= @conveyance.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= @conveyance.updated_by_id %>
  </p>

</div>
