<%= render("/shared/data/all/list/list_header", objects: @collection_object_observations) -%>

<table class="tablesorter">
<thead>
    <tr>
      <%= fancy_th_tag(name: 'Data') -%>
      <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
    </tr>
  </thead>

  <tbody>
    <% @collection_object_observations.each do |collection_object_observation| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
        <td><%= collection_object_observation.data %></td>
          <%= fancy_metadata_cells_tag(collection_object_observation) -%>
      <% end %>
    <% end %>
  </tbody>
</table>

