<%= form_for(@geographic_area) do |f| %>
    <% if @geographic_area.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@geographic_area.errors.count, "error") %> prohibited this geographic_area from being
            saved:</h2>

          <ul>
            <% @geographic_area.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :parent %>
      <br>
      <%= render :partial => 'elements/forms/ajax_select',
                 :locals  => {:controller => 'geographic_areas',
                              :object     => 'geographic_area',
                              :method     => 'parent_id',
                              :tag_id     => 'parent_id_for_geographic_area',
                              :display    => object_tag(@geographic_area.parent)} %>
    </div>
    <div class="field">
      <%= f.label :geographic_area_type_id %>
      <br>
      <%= f.number_field :geographic_area_type_id %>
    </div>
    <div class="field">
      <%= f.label :iso_3166_a2 %>
      <br>
      <%= f.text_field :iso_3166_a2 %>
    </div>
    <div class="field">
      <%= f.label :iso_3166_a3 %>
      <br>
      <%= f.text_field :iso_3166_a3 %>
    </div>
    <div class="field">
      <%= f.label :data_origin %>
      <br>
      <%= f.text_field :data_origin %>
    </div>

    <div class="field">
      <%= f.label :level0 %>
      <br>
      <%= render :partial => 'elements/forms/ajax_select',
                 :locals  => {:controller => 'geographic_areas',
                              :object     => 'geographic_area',
                              :method     => 'level0_id',
                              :tag_id     => 'level0_id_for_geographic_area',
                              :display    => object_tag(@geographic_area.level0)} %>
    </div>
    <div class="field">
      <%= f.label :level1 %>
      <br>
      <%= render :partial => 'elements/forms/ajax_select',
                 :locals  => {:controller => 'geographic_areas',
                              :object     => 'geographic_area',
                              :method     => 'level1_id',
                              :tag_id     => 'level1_id_for_geographic_area',
                              :display    => object_tag(@geographic_area.level1)} %>
    </div>
    <div class="field">
      <%= f.label :level2 %>
      <br>
      <%= render :partial => 'elements/forms/ajax_select',
                 :locals  => {:controller => 'geographic_areas',
                              :object     => 'geographic_area',
                              :method     => 'level2_id',
                              :tag_id     => 'level2_id_for_geographic_area',
                              :display    => object_tag(@geographic_area.level2)} %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
