<%= render 'search' -%>

<h1>Listing geographic_areas</h1>

<table>
  <thead>
  <tr>
    <th>Parent</th>
    <th>Name</th>
    <th>Geographic area type</th>
    <th>Iso 3166 a2</th>
    <th>Iso 3166 a3</th>
    <th>Adm0 a3</th>
    <th>Data origin</th>
    <!--
          <th>Rgt</th>
          <th>Lft</th>
          -->
    <th>Tdwg parent</th>
    <th>Tdwgid</th>
    <th>Gadmid</th>
    <th>Gadm valid from</th>
    <th>Gadm valid to</th>
    <th>Neid</th>
    <th>Ne geo item</th>
    <th>Gadm geo item</th>
    <th>Tdwg geo item</th>
    <th>Level0</th>
    <th>Level1</th>
    <th>Level2</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @geographic_areas.each do |geographic_area| %>
      <tr>
        <td><%= geographic_area.parent_id %></td>
        <td><%= geographic_area.name %></td>
        <td><%= geographic_area.geographic_area_type_id %></td>
        <td><%= geographic_area.iso_3166_a2 %></td>
        <td><%= geographic_area.iso_3166_a3 %></td>
        <td><%= geographic_area.adm0_a3 %></td>
        <td><%= geographic_area.data_origin %></td>
        <!--
        <td><%= geographic_area.rgt %></td>
        <td><%= geographic_area.lft %></td>
        -->
        <td><%= geographic_area.tdwg_parent_id %></td>
        <td><%= geographic_area.tdwgID %></td>
        <td><%= geographic_area.gadmID %></td>
        <td><%= geographic_area.gadm_valid_from %></td>
        <td><%= geographic_area.gadm_valid_to %></td>
        <td><%= geographic_area.neID %></td>
        <td><%= geographic_area.ne_geo_item_id %></td>
        <td><%= geographic_area.gadm_geo_item_id %></td>
        <td><%= geographic_area.tdwg_geo_item_id %></td>
        <td><%= geographic_area.level0_id %></td>
        <td><%= geographic_area.level1_id %></td>
        <td><%= geographic_area.level2_id %></td>
        <td><%= geographic_area.created_by_id %></td>
        <td><%= geographic_area.updated_by_id %></td>
        <td><%= link_to 'Show', geographic_area %></td>
        <td><%= link_to 'Edit', edit_geographic_area_path(geographic_area) %></td>
        <td><%= link_to 'Destroy', geographic_area, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geographic area', new_geographic_area_path %>
