<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= geographic_area_link(@geographic_area.parent)  %>
</p>

<p>
<strong>Name:</strong>
  <%= @geographic_area.name -%>
</p>

<p>
  <strong>Geographic area type:</strong>
  <%= @geographic_area.geographic_area_type.name %>
</p>

<p>
  <strong>Iso 3166 a2:</strong>
  <%= @geographic_area.iso_3166_a2 %>
</p>

<p>
  <strong>Iso 3166 a3:</strong>
  <%= @geographic_area.iso_3166_a3 %>
</p>

<p>
  <strong>Adm0 a3:</strong>
  <%= @geographic_area.adm0_a3 %>
</p>

<p>
  <strong>Data origin:</strong>
  <%= @geographic_area.data_origin %>
</p>

<p>
  <strong>Tdwg parent:</strong>
  <%= geographic_area_link( @geographic_area.tdwg_parent) -%>
</p>

<p>
  <strong>Tdwgid:</strong>
  <%= @geographic_area.tdwgID %>
</p>

<p>
  <strong>Gadmid:</strong>
  <%= @geographic_area.gadmID %>
</p>

<p>
  <strong>Gadm valid from:</strong>
  <%= @geographic_area.gadm_valid_from %>
</p>

<p>
  <strong>Gadm valid to:</strong>
  <%= @geographic_area.gadm_valid_to %>
</p>

<p>
  <strong>Neid:</strong>
  <%= @geographic_area.neID %>
</p>

<p>
  <strong>Ne geo item:</strong>
  <%= geographic_item_link(@geographic_area.ne_geo_item_id) %>
</p>

<p>
  <strong>Gadm geo item:</strong>
  <%= geographic_item_link(@geographic_area.gadm_geo_item_id) %>
</p>

<p>
  <strong>Tdwg geo item:</strong>
  <%= geographic_item_link(@geographic_area.tdwg_geo_item_id) %>
</p>

<p>
  <strong>Level0:</strong>
  <%= geographic_area_link( @geographic_area.level0 ) %>
</p>

<p>
  <strong>Level1:</strong>
  <%= geographic_area_link( @geographic_area.level1 ) %>
</p>

<p>
  <strong>Level2:</strong>
  <%= geographic_area_link( @geographic_area.level2 ) %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @geographic_area.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @geographic_area.updated_by_id %>
</p>

<p><%= similarly_named_records_list(@geographic_area) -%> </p>
<p> <strong> Children: </strong>
  <%= geographic_area_link_list(@geographic_area.children) -%>
</p>

<%= forward_back_links(@geographic_area) -%> <br>

<%= link_to 'Edit', edit_geographic_area_path(@geographic_area) %> |
<%= link_to 'Back', geographic_areas_path %>
