<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @geographic_area.parent.name unless @geographic_area.parent_id.nil? %>
</p>

<p>
  <strong>Name:</strong>
  <%= "#{@geographic_area.name}: (#{@geographic_area.iso_3166_a2})(#{@geographic_area.iso_3166_a3})"%>
</p>

<p>
  <strong>Geographic area type:</strong>
  <%= @geographic_area.geographic_area_type.name %>
</p>

<p>
  <strong>Data origin:</strong>
  <%= @geographic_area.data_origin %>
</p>

<p>
  <strong>Tdwg parent:</strong>
  <%= @geographic_area.tdwg_parent.tdwgID unless @geographic_area.tdwg_parent_id.nil? %>
</p>

<p>
  <strong>Tdwgid:</strong>
  <%= @geographic_area.tdwgID %>
</p>

<p>
  <strong>Gadmid:</strong>
  <%= @geographic_area.gadmID %>
</p>

<p>
  <strong>Gadm valid from:</strong>
  <%= @geographic_area.gadm_valid_from %>
</p>

<p>
  <strong>Gadm valid to:</strong>
  <%= @geographic_area.gadm_valid_to %>
</p>

<p>
  <strong>Neid:</strong>
  <%= @geographic_area.neID %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @geographic_area.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @geographic_area.updated_by_id %>
</p>

<p>
  <strong>Iso 3166 a2:</strong>
  <%= @geographic_area.iso_3166_a2 %>
</p>

<p>
  <strong>Iso 3166 a3:</strong>
  <%= @geographic_area.iso_3166_a3 %>
</p>

<p>
  <strong>Adm0 a3:</strong>
  <%= @geographic_area.adm0_a3 %>
</p>

<p>
  <strong>Ne geo item:</strong>
  <%= @geographic_area.ne_geo_item_id %>
</p>

<p>
  <strong>Gadm geo item:</strong>
  <%= @geographic_area.gadm_geo_item_id %>
</p>

<p>
  <strong>Tdwg geo item:</strong>
  <%= @geographic_area.tdwg_geo_item_id %>
</p>

<p>
  <strong>Level0:</strong>
  <%= @geographic_area.level0_id %>
</p>

<p>
  <strong>Level1:</strong>
  <%= @geographic_area.level1_id %>
</p>

<p>
  <strong>Level2:</strong>
  <%= @geographic_area.level2_id %>
</p>

<%= link_to('Next', geographic_area_path(@geographic_area.id.to_i + 1)) -%> |
<%= link_to('Prev', geographic_area_path(@geographic_area.id.to_i - 1)) if @geographic_area.id.to_i > 1 -%> |

<%= link_to 'Edit', edit_geographic_area_path(@geographic_area) %> |
<%= link_to 'Back', geographic_areas_path %>
