<h1>TaxonWorks temporary homepage</h1>

The following is a list of available forms:
<ul>
  <%= content_tag :li, link_to('Biocuration classes', biocuration_classes_path) %>
  <%= content_tag :li, link_to('Biocuration classifications', biocuration_classifications_path) %>
  <%= content_tag :li, link_to('Collecting events', collecting_events_path) %>
  <%= content_tag :li, link_to('Collection objects', collection_objects_path) %>
  <%= content_tag :li, link_to('Controlled vocabulary terms', controlled_vocabulary_terms_path) %>
  <%= content_tag :li, link_to('Identifiers', identifiers_path) %>
  <%= content_tag :li, link_to('Namespaces', namespaces_path) %>
  <%= content_tag :li, link_to('Notes', notes_path) %>
  <%= content_tag :li, link_to('OTUs', otus_path) %>
  <%= content_tag :li, link_to('People', people_path) %>
  <%= content_tag :li, link_to('Projects', projects_path) %>
  <%= content_tag :li, link_to('Repositories', repositories_path) %>
  <%= content_tag :li, link_to('Taxon determinations', taxon_determinations_path) %>
  <%= content_tag :li, link_to('Taxon names', taxon_names_path) %>
  <%= content_tag :li, link_to('Taxon name classifications', taxon_name_classifications_path) %>
  <%= content_tag :li, link_to('Taxon name relationships', taxon_name_relationships_path) %>
  <%= content_tag :li, link_to('Users', users_path) %>
</ul>


