<div id="dashboard">
  <h1 class="center_text" style="font-weight:100;"> 
    <span class="subtle">Dashboard for</span> 
    <%= user_tag(sessions_current_user) -%> 
  </h1> 
    <div class="flexbox">
      <div class="item item1 column-tiny separate-right">
        <div class="panel">
          <div class="title nav-line">
          <span class="link">
              <img src="/assets/icons/folders.svg">
              Projects
          </span>
          </div>
          <div class="content space-distance">
            <ul class="no_bullets"> 
              <%= projects_list(@projects) -%> 
            </ul>
          </div>
        </div>
      </div>
      <div class="item item1 column-big space-distance">
        <div class="panel">
          <div class="title nav-line">
            <span class="link">
              <img src="/assets/icons/open_folder.svg">
              Data              
            </span>
          </div>
          <div class="content subtitle">
            <h2>History</h2> 
              <ul class=" no_bullets content">
                <%= content_tag :li, link_to('Recently created', recently_created_data_user_path(sessions_current_user)) -%> 
              </ul>
            <%= render partial: '/pinboard_items/pinboard' -%>
          </div> 
        </div>
      </div>
      <div class="item item3 column-tiny separate-left">
        <div class="panel">
          <div class="title action-line">
            <span class="link">
              <img src="/assets/icons/options.svg">
              Preferences
            </span>
          </div>
          <div class="content space-distance">
            <ul class="no_bullets">
              <li><%= link_to('Order hub tabs', order_tabs_hub_path ) -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>