<h2>Task: List similar serials by name </h2>

<div class="flexbox" id="like_serial" >
  <div class="item item1">
    <%= render(partial: 'serials/attributes') -%>
  <%= link_to('back', serial_path(@serial)) -%>
  </div>

  <div class="item item2 three_quarter_width">
    <table>
      <tr><th colspan="3">name</th>
        <%= @serial.available_annotation_types.collect{|t| content_tag(:th, t) }.join.html_safe -%>
      </tr>
      <% @serial.nearest_by_levenshtein(@serial.name[0..254]).each do |serial| -%>
        <tr>
          <td><%= link_to(serial.name, serial_path(serial)) -%></td>
          <td><%= link_to('similar',similar_serials_task_path(serial)) -%></td>
          <td><%= link_to('edit', edit_serial_path(serial)) -%></td>

          <% a = serial.annotations %> 
          <% @serial.available_annotation_types.each do |t| %>
            <%= content_tag(:td,
                            content_tag(:ul) { 
              a[t.to_s.gsub(/_/, ' ')]&.collect{|o| content_tag(:li, object_tag(o))}&.join&.html_safe
            } )-%>
          <% end %>
        </tr>
      <% end %>
    </table>

  </div>

</div>





