<h2>Task: List similar serials by name </h2>

<div class="flexbox" id="like_serial"  >
  <div class="item item1 one_fifth_width">
    <%= render(partial: 'serials/attributes') -%>
    <%= link_to('back', serial_path(@serial)) -%> 
  </div>

  <div class="item item1 one_half_width">
    <table>
      <td><th>name</th>
        <th></th>
        <th></th>
        <th></th>
      </td> 
        <% @similar_serials.each do |serial| -%>
          <tr>
            <td><%= link_to(serial.name, serial_path(serial)) -%></td>
            <td><%= link_to('similar',similar_serials_task_path(serial)) -%></td>
            <td><%= link_to('edit', edit_serial_path(serial)) -%></td>

            <% serial.annotations.keys.sort.each do |k| -%>
              <td><%= serial.annotations[k].collect{|o| object_tag(o)}.join('; ').html_safe -%></td>
            <% end %>

          </tr>
        <% end %>
      </table>

    </div>

</div>





