<%= form_for(@ranged_lot_category) do |f| %>
    <% if @ranged_lot_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ranged_lot_category.errors.count, "error") %> prohibited this ranged_lot_category from
            being saved:</h2>

          <ul>
            <% @ranged_lot_category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="required">
      <div class="field">
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :minimum_value %>
        <br>
        <%= f.number_field :minimum_value %>
      </div>
      <div class="field">
        <%= f.label :maximum_value %>
        <br>
        <%= f.number_field :maximum_value %>
      </div>
    </div>

    <!-- todo @mjy Not sure if min/max are actually required. Validations only deal with values??? -->

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
