<%= form_for(@ranged_lot_category) do |f| %>
    <%= render 'shared/errors', object: @ranged_lot_category %>

    <div class="required">
      <div class="field">
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :minimum_value %>
        <br>
        <%= f.number_field :minimum_value %>
      </div>
      <div class="field">
        <%= f.label :maximum_value %>
        <br>
        <%= f.number_field :maximum_value %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
