<%= render("/shared/data/all/list/list_header", objects: @ranged_lot_categories) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Minimum value') -%>
    <%= fancy_th_tag(name: 'Maximum value') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @ranged_lot_categories.each do |ranged_lot_category| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= ranged_lot_category.name %></td>
          <td><%= ranged_lot_category.minimum_value %></td>
          <td><%= ranged_lot_category.maximum_value %></td>
          <%= fancy_metadata_cells_tag(ranged_lot_category) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
