<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ranged_lot_category.name %>
</p>

<p>
  <strong>Minimum value:</strong>
  <%= @ranged_lot_category.minimum_value %>
</p>

<p>
  <strong>Maximum value:</strong>
  <%= @ranged_lot_category.maximum_value %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @ranged_lot_category.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @ranged_lot_category.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ranged_lot_category.project_id %>
</p>

<%= link_to 'Edit', edit_ranged_lot_category_path(@ranged_lot_category) %> |
<%= link_to 'Back', ranged_lot_categories_path %>
