<div id="header_bar_container">
  <div id="header_bar" class="flex-separate padding-medium-right middle <%= navbar_css -%> <%= sandbox_css -%>"> 
    <div class="horizontal-left-content">
      <div class="horizontal-left-content gap-small ellipsis">
        <%= content_tag(:div, '', id: :taxonworks_logo, title: 'Click: Go to Hub — Double-click: Go to Dashboard', class: 'cursor-pointer') -%> 

        <% if request.path == root_path -%>
          <%= content_tag(:h3, "Dashboard for " + user_tag(sessions_current_user), class: :hub_project_name, data: {current_project_id: sessions_current_project_id}) -%>
        <% else %>
          <h3><%= link_to(sessions_current_project.name, hub_path, class: :hub_project_name, data: { current_project_id: sessions_current_project_id }, title: :Hub) if sessions_current_project -%></h3>
          <h3><%= header_path_tag -%></h3>
        <% end %>

      </div>
    </div>

    <div class="flex-col middle text-center">
      <% if Settings.sandbox_mode? %>
      <div>
        <div>
          <span data-icon="warning"></span>
          <span class="icon-right padding-remove-left" data-icon="warning"> SANDBOX - TEMPORARY</span>
        </div>
        <%= sandbox_warning_tag -%>   
      </div>
      <% end %>
    </div>

    <div class="horizontal-right-content middle gap-medium" id="session_nav">

      <div class="slide-panel-circle-icon slide-panel-circle-icon-pinboard" data-control-slide-panel="pinboard">
        <div class="slide-panel-description">
          Pinboard
        </div>
      </div>
      <div class="slide-panel-circle-icon slide-panel-circle-icon-pdf" data-control-slide-panel="pdfviewer">
        <div class="slide-panel-description">
          PDF Document viewer
        </div>
      </div>
      <div class="slide-panel-circle-icon slide-panel-circle-icon-clipboard" data-control-slide-panel="clipboard">
        <div class="slide-panel-description">
          Clipboard
        </div>
      </div>
      <div class="slide-panel-circle-icon help-button">
        <div class="slide-panel-description">
          Help
        </div>
      </div>
      <span> | </span>

      <% if sessions_project_selected? %>
      <div id="vue-bell-notifications"></div>
      <% end %>

      
      <div class="dropdown header-dropdown-menu">
        <div class="dropdown-button header-dropdown-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none"  stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
        <div class="dropdown-content header-dropdown-menu">
          <ul class='no_bullets'>
            <%= session_header_links.collect{|l| content_tag(:li, l)}.join.html_safe -%>

            <% if sessions_current_user.is_administrator? %>
              <li class="dropdown-content-divisor"></li>
              <li>
                  <%= link_to('Administration', administration_path, class: 'padding-medium-top padding-small-bottom') -%>
              </li>  
            <% end %>

            <li class="dropdown-content-divisor"></li>
            <li class="dropdown-content-item padding-medium-top padding-small-bottom">
              <div id="toggle-theme"></div>
            </li>
            <li class="dropdown-content-item padding-medium-top padding-small-bottom">
              <div id="toggle-lock-header"></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="dropdown header-dropdown-menu">
        <div 
          id="navbar_user_avatar"
          class="dropdown-button header-dropdown-btn" >
          <%= user_avatar(sessions_current_user, :small) -%>
        </div>
        <div class="dropdown-content header-dropdown-menu">
          <div class="padding-small-bottom dropdown-username-section">
            <div class="dropdown-content-username"><%= sessions_current_user.name %></div>
          </div>
          <ul class='no_bullets'>
            <%= session_user_header_links.collect{|l| content_tag(:li, l)}.join.html_safe -%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>