<div id="header_bar" class="flexbox <%= sandbox_css -%>"> 
  <div class="horizontal-left-content item item1">
    <div
      id="taxonworks_left"
      class="horizontal-left-content align-end gap-small">
        <%= link_to(content_tag(:div, '', id: :taxonworks_logo), root_path) -%> 
        <%= taxonworks_version_tag -%>
        <%= sandbox_details_tag -%>
        <%= issue_tracker_tag %>
    </div>
  </div>

  <div class="item item2" id="session_nav">
    <ul class='horizontal_navbar'> 
      <%= session_header_links.collect{|l| content_tag(:li, l)}.join.html_safe -%> 
      <li><%= content_tag(:span, sessions_current_user.name, class: 'subtle')-%></li>
    </ul>
  </div>
</div>
