<div id="header_bar" class="flexbox <%= sandbox_css -%>"> 
  <div class="horizontal-left-content item item1">
    <div class="horizontal-left-content align-end">
      <div id="taxonworks">
        <%= link_to(content_tag(:div, '', class: :logo), root_path) -%> 
      </div>
      <ul class="horizontal_navbar no_bullets"
        id="taxonworks_left">
        <li><%= taxonworks_version_tag -%></li>
        <li><%= sandbox_details_tag -%></li>
        <li>
          <a
            href="https://github.com/SpeciesFileGroup/taxonworks/issues"
            target="_blank">
            Issues
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="item item2" id="session_nav">
    <ul class='horizontal_navbar'> 
      <%= session_header_links.collect{|l| content_tag(:li, l)}.join.html_safe -%> 
      <li><span class="subtle"> <%= sessions_current_user.name -%> </span></li>
    </ul>
  </div>
</div>
