<div>

  <h1><%= @page_title %></h1>

  <%= form_for :session, url: sessions_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'Sign in' %>
  <% end %>

</div>
