<div id="login-container">
  <div class="box-login">
    <h1>TaxonWorks</h1>
    <%= form_for :session, url: sessions_path do |f| %>
      <div>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </div>
        <%= f.submit 'Sign in', id: :sign_in %>
      </div>
    <% end %>

    <div class="item">
      <%= link_to('forgot password?', forgot_password_path) -%>
      <%= link_to('find out more', 'http://taxonworks.org') -%>
    </div>
  </div>
</div>
