<%= form_for(@note) do |f| %>
    <% if @note.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

          <ul>
            <% @note.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p><strong><%= @note.note_object.class.name %>:</strong> <%= object_tag(@note.note_object) -%>  </p>

    <div class="field">
      <%= f.label :text %>
      <br>
      <%= f.text_field :text %>
    </div>

    <%= f.hidden_field :note_object_type %>

    <%= f.hidden_field :note_object_id %>

    <!--<div class="field">-->
    <!--<%#= f.label :note_object_attribute %>-->
    <!--<br>-->
    <!--<%#= f.text_field :note_object_attribute %>-->
    <!--</div>-->
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
