<%= form_for(@note) do |f| %>
    <%= render 'shared/errors', object: @note %>

    <p><strong><%= @note.note_object.class.name %>:</strong> <%= object_tag(@note.note_object) -%>  </p>

    <div class="field">
      <%= f.label :text %>
      <br>
      <%= f.text_area :text %>
    </div>

    <%= f.hidden_field :note_object_type %>
    <%= f.hidden_field :note_object_id %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
