<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Note object</th>
      <th>Note object type</th>
      <th>Note object attribute</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.text %></td>
        <td><%= object_tag(note.note_object) %></td>
        <td><%= note.note_object_type %></td>
        <td><%= note.note_object_attribute %></td>
        <td><%= object_tag(note.creator) %></td>
        <td><%= object_tag(note.updater) %></td>
        <td><%= link_to 'Show', note.note_object %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

