<h1>Listing notes</h1>

<%= paginate @notes %> <%= page_entries_info @notes %>

<table>
  <thead>
  <tr>
    <th>Note object type</th>
    <th>Note object</th>
    <th>Note object attribute</th>
    <th>Text</th>
    <th>Last modified</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @notes.each do |note| %>
      <tr>
        <td><%= note.note_object_type %></td>
        <td><%= object_tag(note.note_object.metamorphosize) %></td>
        <td><%= note.note_object_attribute %></td>
        <td><%= note.text %></td>
        <td><%= note.updated_at %></td>
        <td><%= object_tag(note.updater) %></td>
        <td><%= link_to 'Context', note.note_object.metamorphosize %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note.metamorphosize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
