<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>Note object:</strong>
  <%= @note.note_object_id %>
</p>

<p>
  <strong>Note object type:</strong>
  <%= @note.note_object_type %>
</p>

<p>
  <strong>Note object attribute:</strong>
  <%= @note.note_object_attribute %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @note.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @note.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @note.project_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
