<p id="notice"><%= notice %></p>

<% if @content.respond_to?(:otu) -%>
    <p>
      <strong>Otu:</strong>
      <%= otu_link(@content.otu) %>
    </p>
<% end %>

<p>
  <strong>Topic:</strong>
  <%= controlled_vocabulary_term_link(@content.topic) %>
</p>

<p>
  <strong>Text:</strong>
  <%= MARKDOWN_HTML.render(@content.text).html_safe  %>
</p>

<p>
  <strong>Published:</strong>
  <%= @content.is_published? ? 'true' : 'false' %>
</p>
