<div class="attributes">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Text:</strong>
    <%= @content.text %>
  </p>

  <p>
    <strong>Otu:</strong>
    <%= otu_link(@content.otu) %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= content_link(@content.topic) %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @content.type %>
  </p>

  <p>
    <strong>Revision:</strong>
    <%= @content.revision_id %>
  </p>

</div>