<div class="content_picker">

  <!-- taken from role_picker -->

  <div>
    <div class="topic_picker_header"><%= role.type.titleize  %> <span class='topic_picker_alert' hidden></span> </div>
    <span class="topic_picker_message"></span>

    <ul class="topic_list">
      <% if topics = object.topics.select{|t| t.type == role.type } -%>
        <%= f.fields_for :roles, roles do |role_fields| %>

          <% if role_fields.object.new_record? %>
            <% inc_index = "#{Time.now.to_i}#{role_fields.object.id}" %>

            <%= content_tag(:li, 'data-topic-index' => inc_index) do -%>
              <%= role_fields.hidden_field :type -%> 
                <%= object_tag(role_fields.object) -%> <%= link_to('remove', "#", class: :remove_role) -%>
            <% end %>


          <% else %>
            <li class="role_item" data-role-id="<%= role_fields.object.id -%>" data-role-index="<%= role_fields.index -%>" >
            <%= role_fields.text_field :id, hidden: true -%>
            <%= object_tag(role_fields.object) -%> <%= link_to('remove', "#", class: :remove_role) -%>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="role_picker_selection">
    <div><%= text_field_tag "topic_autocomplete", nil, class: 'role_picker_autocomplete', placeholder: "Topic" %></div>

    </div>

  </div>
</div>
