<%= form_for(@content.metamorphosize) do |f| %>
    <% if @content.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

          <ul>
            <% @content.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :text %>
      <br>
      <%= f.text_area :text %>
    </div>

    <div class="field">
      <%= f.label :otu_id %>
      <br>
      <%= render :partial => 'workbench/elements/forms/ajax_select',
                 :locals  => {:controller => 'otus',
                              :object     => 'content',
                              :method     => 'otu_id',
                              :tag_id     => 'otu_id_for_content',
                              :display    => (@content.respond_to?(:otu) ? otu_tag(@content.otu) : nil)
      }
                            %>
                        </div>

    <div class="field">
      <%= f.label :topic_id %>
      <br>
      <%= f.select :topic_id, options_from_collection_for_select(Topic.with_project_id($project_id).all, :id, :name, empty: true) -%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
