<h1>Listing Contents</h1>

<%= paginate @contents %> <%= page_entries_info @contents %>

<table>
  <thead>
    <tr>
      <th>Otu</th>
      <th>Topic</th>
      <th>Text</th>
      <th>Type</th>
      <th>Last modified</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= otu_link(content.otu) if content.respond_to?(:otu) %></td>
        <td><%= object_link(content.topic) %></td>
        <td><%= content.text %></td>
        <td><%= content.type %></td>
        <td><%= content.updated_at %></td>
        <td><%= object_tag(content.updater) %></td>
        <td><%= link_to 'Show', content.metamorphosize %></td>
        <td><%= link_to 'Edit', edit_content_path(content.metamorphosize) %></td>
        <td><%= link_to 'Destroy', content.metamorphosize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
