<h1>Listing Contents</h1>

<%= paginate @contents %> <%= page_entries_info @contents %>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Otu</th>
      <th>Topic</th>
      <th>Type</th>
      <th>Revision</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.text %></td>
        <td><%= otu_link(content.otu) %></td>
        <td><%= topic_link(content.topic) %></td>
        <td><%= content.type %></td>
        <!--<td><%#= revision_link(content.revision) %></td>-->
        <td><%= content.revision_id %></td>
        <td><%= content.created_by_id %></td>
        <td><%= content.updated_by_id %></td>
        <td><%= content.project_id %></td>
        <td><%= link_to 'Show', content %></td>
        <td><%= link_to 'Edit', edit_content_path(content) %></td>
        <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_content_path %>
