<%= form_for(@gene_attribute) do |f| %>
    <%= render 'shared/errors', object: @gene_attribute %>

    <div class="required">
      <div class="field">
        <%= f.label :descriptor %>
        <br>
        <%= f.text_field :descriptor %>
      </div>

      <div class="field">
        <%= f.label :sequence_id %>
        <br>
        <%= render partial: 'workbench/elements/forms/ajax_select',
                   locals:  {controller:  'gene_attributes',
                             object: 'gene_attribute',
                             method:  'sequence_id',
                             tag_id:  'sequence_id_for_gene_attribute',
                             display:  sequence_autocomplete_selected_tag(@gene_attribute.sequence_id),
                             size: 20} %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>