<%= form_with(model: dataset_record, local: true) do |form| %>
  <% if dataset_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dataset_record.errors.count, "error") %> prohibited this dataset_record from being saved:</h2>

      <ul>
        <% dataset_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
