<%= form_for(@citation) do |f| %>
    <% if @citation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@citation.errors.count, "error") %> prohibited this citation from being saved:</h2>

          <ul>
            <% @citation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!--<div class="field">-->
      <!--<%#= f.label :citation_object_id %>-->
      <!--<br>-->
      <!--<%#=TODO: @mjy: how to de-reference the controller/object combinations based on actual object type %>-->
      <%#= render :partial => 'workbench/elements/forms/ajax_select',
#                  :locals  => {:controller => 'otus',
#                               :object     => 'citation',
#                               :method     => 'citation_object_id',
#                               :tag_id     => 'citation_object_id_for_citation',
                              :display    => object_tag(@citation.citation_object)} %>
    <!--</div>-->
    <!--<div class="field">-->
      <!--<%#= f.label :citation_object_type %>-->
      <!--<br>-->
      <!--<%#= f.text_field :citation_object_type %>-->
    <!--</div>-->

    <%= f.hidden_field :citation_object_type %>

    <%= f.hidden_field :citation_object_id %>

    <div class="field">
      <%= f.label :source_id %>
      <br>
      <%= render :partial => 'workbench/elements/forms/ajax_select',
                 :locals  => {:controller => 'sources',
                              :object     => 'citation',
                              :method     => 'source_id',
                              :tag_id     => 'source_id_for_citation',
                              :display    => source_tag(@citation.source)} %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
