<h1>Listing Citations</h1>

<%= paginate @citations %> <%= page_entries_info @citations %>

<table>
  <thead>
    <tr>
      <th>Citation object type</th>
      <th>Citation object</th>
      <th>Source</th>
      <th>Last modified</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @citations.each do |citation| %>
      <tr>
        <td><%= citation.citation_object_type %></td>
        <td><%= object_tag(citation.citation_object) %></td>
        <td><%= source_tag(citation.source) %></td>
        <td><%= citation.updated_at %></td>
        <td><%= object_tag(citation.updater) %></td>
        <td><%= link_to 'Context', citation.citation_object.metamorphosize %></td>
        <td><%= link_to 'Destroy', citation, method: :delete, data: { confirm: 'Are you sure?' } -%></td>
      </tr>
    <% end %>
  </tbody>
</table>
