<div class="attributes"> 
  <div class='attribute_set' data-title="BibTeX Attributes" >
    <p>
    <strong>Bibtex type:</strong>
    <%= @source.bibtex_type %>
    </p>

    <p>
    <strong>Author:</strong>
    <%= @source.author %>
    </p>

    <p>
    <strong>Year:</strong>
    <%= @source.year %>
    </p>

    <p>
    <strong>Year suffix:</strong>
    <%= @source.year_suffix %>
    </p>

    <p>
    <strong>Title:</strong>
    <%= @source.title %>
    </p>

    <p>
    <strong>Journal:</strong>
    <%= @source.journal %>
    </p>

    <p>
    <strong>Volume:</strong>
    <%= @source.volume %>
    </p>

    <p>
    <strong>Number:</strong>
    <%= @source.number %>
    </p>

    <p>
    <strong>Pages:</strong>
    <%= @source.pages %>
    </p>

    <p>
    <strong>Editor:</strong>
    <%= @source.editor %>
    </p>

    <p>
    <strong>Booktitle:</strong>
    <%= @source.booktitle %>
    </p>

    <p>
    <strong>Edition:</strong>
    <%= @source.edition %>
    </p>

    <p>
    <strong>Stated year:</strong>
    <%= @source.stated_year %>
    </p>

    <p>
    <strong>Isbn:</strong>
    <%= @source.isbn %>
    </p>

    <p>
    <strong>Issn:</strong>
    <%= @source.issn %>
    </p>

    <p>
    <strong>Annote:</strong>
    <%= @source.annote %>
    </p>


    <p>
    <strong>Chapter:</strong>
    <%= @source.chapter %>
    </p>

    <p>
    <strong>Crossref:</strong>
    <%= @source.crossref %>
    </p>

    <p>
    <strong>Howpublished:</strong>
    <%= @source.howpublished %>
    </p>

    <p>
    <strong>Institution:</strong>
    <%= @source.institution %>
    </p>

    <p>
    <strong>Key:</strong>
    <%= @source.key %>
    </p>


    <p>
    <strong>Month:</strong>
    <%= @source.month %>
    </p>

    <p>
    <strong>Note:</strong>
    <%= @source.note %>
    </p>

    <p>
    <strong>Organization:</strong>
    <%= @source.organization %>
    </p>


    <p>
    <strong>Address:</strong>
    <%= @source.address %>
    </p>

    <p>
    <strong>Publisher:</strong>
    <%= @source.publisher %>
    </p>

    <p>
    <strong>School:</strong>
    <%= @source.school %>
    </p>

    <p>
    <strong>Series:</strong>
    <%= @source.series %>
    </p>

    <p>
    <strong>Doi:</strong>
    <%= @source.doi %>
    </p>

    <p>
    <strong>Abstract:</strong>
    <%= @source.abstract %>
    </p>

    <p>
    <strong>Copyright:</strong>
    <%= @source.copyright %>
    </p>

    <p>
    <strong>Language:</strong>
    <%= @source.language %>
    </p>

    <p>
    <strong>Translator:</strong>
    <%= @source.translator %>
    </p>

    <p>
    <strong>Url:</strong>
    <%= link_to(@source.url, @source.url) if @source.url %>
    </p>

    <p>
    <strong>Day:</strong>
    <%= @source.day %>
    </p>

  </div>

  <p>
  <strong>Serial:</strong>
    <%= serial_tag(@source.serial) if @source.respond_to?(:serial) %>
  </p>

  <p>
  <strong>Language:</strong>
  <%= object_tag(@source.language) %>
  </p>

  <div class='attribute_set' data-title="Other attributes" >

    <p>
    <strong>Cached nomenclature date:</strong>
    <%= @source.cached_nomenclature_date %>
    </p>

    <p>
    <strong>Verbatim:</strong>
    <%= @source.verbatim %>
    </p>

    <p>
    <strong>Verbatim contents:</strong>
    <%= @source.verbatim_contents %>
    </p>

    <p>
    <strong>Verbatim keywords:</strong>
    <%= @source.verbatim_keywords %>
    </p>

    <p>
    <strong>Cached:</strong>
    <%= @source.cached %>
    </p>

    <p>
    <strong>Cached author string:</strong>
    <%= @source.cached_author_string %>
    </p>

  </div>


</div>
