<%= render(partial: '/sources/bibtex/attributes') -%>

<div class="attribute_set" data-title="Verbatim">
  <p>
    <strong>Verbatim:</strong>
    <%= @source.verbatim %>
  </p>

  <p>
    <strong>Verbatim contents:</strong>
    <%= @source.verbatim_contents %>
  </p>

  <p>
    <strong>Verbatim keywords:</strong>
    <%= @source.verbatim_keywords %>
  </p>
</div>

<div class="attribute_set" data-title="TaxonWorks">
  <p>
    <strong>Serial:</strong>
    <%= serial_tag(@source.serial) if @source.respond_to?(:serial) %>
  </p>

  <p>
    <strong>Language (TW):</strong>
    <%= language_tag(@source.source_language) if @source.try(:source_language) %>
  </p>


  <div class="attribute_set" data-title="BibTeX">
    <p>
      <strong>BiBTeX:</strong>
      <pre><%= @source.to_bibtex %></pre>
    </p>
  </div>

</div>

<div data-view="development">

  <div class="attribute_set" data-title="Cached values (calculated)">
    <p>
      <strong>Cached:</strong>
      <%= @source.cached %>
    </p>

    <p>
      <strong>Cached author string:</strong>
      <%= @source.cached_author_string %>
    </p>

    <p>
      <strong>Cached nomenclature date:</strong>
      <%= @source.cached_nomenclature_date %>
    </p>
  </div>

  <div class="attribute_set" data-title="STI">
    <p>
      <strong>Type:</strong>
      <%= @source.type %>
    </p>
  </div>
</div>

