<%= render(partial: '/sources/bibtexes/attributes') -%>

<div class="attributes"> 
  <p>
  <strong>Serial:</strong>
    <%= serial_tag(@source.serial) if @source.respond_to?(:serial) %>
  </p>

  <p>
  <strong>Language (TW):</strong>
  <%= object_tag(@source.language) %>
  </p>

  <div class='attribute_set' data-title="Other attributes" >

    <p>
    <strong>Cached nomenclature date:</strong>
    <%= @source.cached_nomenclature_date %>
    </p>

    <p>
    <strong>Verbatim:</strong>
    <%= @source.verbatim %>
    </p>

    <p>
    <strong>Verbatim contents:</strong>
    <%= @source.verbatim_contents %>
    </p>

    <p>
    <strong>Verbatim keywords:</strong>
    <%= @source.verbatim_keywords %>
    </p>

    <p>
    <strong>Cached:</strong>
    <%= @source.cached %>
    </p>

    <p>
    <strong>Cached author string:</strong>
    <%= @source.cached_author_string %>
    </p>

  </div>
</div>
