<%= form_for(@source.metamorphosize) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :serial %>
      <br>
      <%= render :partial => 'workbench/elements/forms/ajax_select',
                 locals:  {controller: 'serials',
                           object:     'serial',
                           method:     'serial_id',
                           tag_id:     'serial_id_for_name',
                           size:       '50%',
                           display:    serial_for_select(@source.serial)} %>
    </div>


    <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :annote %><br>
    <%= f.text_field :annote %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :booktitle %><br>
    <%= f.text_field :booktitle %>
  </div>
  <div class="field">
    <%= f.label :chapter %><br>
    <%= f.text_field :chapter %>
  </div>
  <div class="field">
    <%= f.label :crossref %><br>
    <%= f.text_field :crossref %>
  </div>
  <div class="field">
    <%= f.label :edition %><br>
    <%= f.text_field :edition %>
  </div>
  <div class="field">
    <%= f.label :editor %><br>
    <%= f.text_field :editor %>
  </div>
  <div class="field">
    <%= f.label :howpublished %><br>
    <%= f.text_field :howpublished %>
  </div>
  <div class="field">
    <%= f.label :institution %><br>
    <%= f.text_field :institution %>
  </div>
  <div class="field">
    <%= f.label :journal %><br>
    <%= f.text_field :journal %>
  </div>
  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.text_field :month %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :pages %><br>
    <%= f.text_field :pages %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :series %><br>
    <%= f.text_field :series %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :doi %><br>
    <%= f.text_field :doi %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_field :abstract %>
  </div>
  <div class="field">
    <%= f.label :copyright %><br>
    <%= f.text_field :copyright %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :stated_year %><br>
    <%= f.text_field :stated_year %>
  </div>
  <div class="field">
    <%= f.label :verbatim %><br>
    <%= f.text_field :verbatim %>
  </div>
  <div class="field">
    <%= f.label :cached %><br>
    <%= f.text_field :cached %>
  </div>
  <div class="field">
    <%= f.label :cached_author_string %><br>
    <%= f.text_field :cached_author_string %>
  </div>
  <div class="field">
    <%= f.label :bibtex_type %><br>
    <%= f.text_field :bibtex_type %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.number_field :day %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :issn %><br>
    <%= f.text_field :issn %>
  </div>
  <div class="field">
    <%= f.label :verbatim_contents %><br>
    <%= f.text_area :verbatim_contents %>
  </div>
  <div class="field">
    <%= f.label :verbatim_keywords %><br>
    <%= f.text_area :verbatim_keywords %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.number_field :language_id %>
  </div>
  <div class="field">
    <%= f.label :translator %><br>
    <%= f.text_field :translator %>
  </div>
  <div class="field">
    <%= f.label :year_suffix %><br>
    <%= f.text_field :year_suffix %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
