<h1>Listing sources</h1>
<%= paginate @sources %> <%= page_entries_info @sources %>

<table>
  <thead>
  <tr>
    <th>Cached</th>
    <th>Verbatim keywords</th>
    <th>Language</th>
    <th>Abstract</th>
    <th>Type</th>
    <th>Bibtex type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sources.each do |source| %>
      <tr>
        <td><%= source.cached %></td>
        <td><%= source.verbatim_keywords %></td>
        <td><%= object_tag(source.language) %></td>
        <td><%= source.abstract %></td>
        <td><%= source.type %></td>
        <td><%= source.bibtex_type %></td>
        <td><%= link_to 'Show', source.metamorphosize %></td>
        <td><%= link_to 'Edit', edit_source_path(source.metamorphosize) %></td>
        <td><%= link_to 'Destroy', source.becomes(Source), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

