<%= render("/shared/data/all/list/list_header", objects: @sources) -%>

<table class="tablesorter">
  <thead>
    <tr>
      <%= fancy_th_tag(name: 'Cached') -%>
      <%= fancy_th_tag(name: 'Language') -%>
      <%= fancy_th_tag(name: 'Type') -%>
      <%= fancy_th_tag(name: 'Bibtex type') -%>
      <%= fancy_th_tag(name: 'Documents', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
        <td><%= source.cached.html_safe %></td>
        <td><%= source.respond_to?(:source_language) && language_tag(source.source_language) %></td>
        <td><%= source.type %></td>
        <td><%= source.bibtex_type %></td>
        <td><%= documentation_links(source) -%></td>
        <%= fancy_metadata_cells_tag(source) -%>
      <% end %>
    <% end %>
  </tbody>
</table>

