<%= content_for :report do %>
  <%= content_tag(:li, link_to('Citations by source', nomenclature_by_source_task_path(@source))) -%>
<% end %> 

<%= content_for :associated do %>
  <% if @source.type == 'Source::Bibtex' %>
    <% if @source.authors.any? %>
      <h3>Authors</h3>
      <ul>
        <% @source.authors.each do |author| %>
          <%= content_tag(:li, person_link(author)) %>
        <% end %>
      </ul>
    <% end %>
    <% if @source.editors.any? %>
      <h3>Editors</h3>
      <ul>
        <% @source.editors.each do |editor| %>
          <%= content_tag(:li, person_link(editor)) %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if source_in_other_project?(@source) -%>
    <%= content_tag(:div, 'This source is used in another project.', class: :warning) -%>
  <% end %>

<% end %>

<%= content_for(:additional_navigation) do -%>
  <div id="add_remove_source">
    <%= add_source_to_project_form(@source)  -%>
  </div>
<% end %>

<%= source_attributes_for(@source) -%>

<%= render('/shared/data/project/show', object: @source) -%>
