<%= content_for :add do -%>
  <ul class="no_bullets">
    <%= content_tag(:li, link_to('Clone', clone_source_path(id: @source.id), method: :post, data: { confirm: 'Clone this record?' } )) %>
  </ul>
<% end %> 

<%= content_for :report do %>
  <%= content_tag(:li, link_to('Citations by source', nomenclature_by_source_task_path(source_id: @source))) -%>
<% end %> 

<%= content_for :tasks do %>
  <%= content_tag(:li, link_to('Source hub', source_hub_task_path(source_id: @source))) -%>
<% end %> 

<%= content_for :associated do %>


  <% if @source.documentation.where('documents.project_id = ?', sessions_current_project_id) -%>
    <h3> Documents </h3>
    <div class="horizontal-left-content">
    <%= documentation_links(@source) -%>
    <%= document_viewer_buttons(@source) %>
    </div>
  <% end %>

  <% if source_in_other_project?(@source) -%>
    <%= content_tag(:div, 'This source is used in another project.', class: [:feedback, 'feedback-warning']) -%>
  <% end %>

  <% if @source.type == 'Source::Human' %>
    <h3>People</h3>
    <ul>
      <% @source.people.each do |p| %>
        <%= content_tag(:li, person_link(p)) %>
      <% end %>
    </ul>
  <% end %>

  <% if @source.type == 'Source::Bibtex' %>
    <% if @source.authors.load.any? %>
      <h3>Authors</h3>
      <ul>
        <% @source.authors.each do |author| %>
          <%= content_tag(:li, person_link(author)) %>
        <% end %>
      </ul>
    <% end %>

    <% if @source.editors.load.any? %>
      <h3>Editors</h3>
      <ul>
        <% @source.editors.each do |editor| %>
          <%= content_tag(:li, person_link(editor)) %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<%= content_for(:additional_navigation) do -%>
  <div id="add_remove_source" class="navigation-controls">
    <span class="navigation-item"><%= add_source_to_project_form(@source) -%></span>
  </div>
<% end %>

<%= source_attributes_for(@source) -%>

<%= render('/shared/data/project/show', object: @source) -%>
