<%= form_for(@observation.metamorphosize) do |f| %>
  <div class="feedback feedback-danger"> You shouldn't be here. </div>
    
  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% @observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descriptor_id %><br>
    <%= f.text_field :descriptor_id %>
  </div>
  <div class="field">
    <%= f.label :observation_object_type %><br>
    <%= f.text_field :observation_object_type %>
  </div>
  <div class="field">
    <%= f.label :observation_object_id %><br>
    <%= f.text_field :observation_object_id %>
  </div>
  <div class="field">
    <%= f.label :character_state_id %><br>
    <%= f.text_field :character_state_id %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :continuous_value %><br>
    <%= f.text_field :continuous_value %>
  </div>
  <div class="field">
    <%= f.label :continuous_unit %><br>
    <%= f.text_field :continuous_unit %>
  </div>
  <div class="field">
    <%= f.label :sample_n %><br>
    <%= f.number_field :sample_n %>
  </div>
  <div class="field">
    <%= f.label :sample_min %><br>
    <%= f.text_field :sample_min %>
  </div>
  <div class="field">
    <%= f.label :sample_max %><br>
    <%= f.text_field :sample_max %>
  </div>
  <div class="field">
    <%= f.label :sample_median %><br>
    <%= f.text_field :sample_median %>
  </div>
  <div class="field">
    <%= f.label :sample_mean %><br>
    <%= f.text_field :sample_mean %>
  </div>
  <div class="field">
    <%= f.label :sample_units %><br>
    <%= f.text_field :sample_units %>
  </div>
  <div class="field">
    <%= f.label :sample_standard_error %><br>
    <%= f.text_field :sample_standard_error %>
  </div>
  <div class="field">
    <%= f.label :presence %><br>
    <%= f.check_box :presence %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :year_made %><br>
    <%= f.text_field :year_made %>
  </div>

  <div class="field">
    <%= f.label :month_made %><br>
    <%= f.text_field :month_made %>
  </div>

  <div class="field">
    <%= f.label :day_made %><br>
    <%= f.text_field :day_made %>
  </div>

  <div class="field">
    <%= f.label :time_made %><br>
    <%= f.text_field :time_made, value: @observation.time_made&.to_formatted_s(:hour_minutes_seconds)  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
