<h1>Task: New Asserted Distribution by Map</h1>
OTU: <%= OtusHelper.otu_tag(@otu) %>
<%= link_to('back', otu_path(@otu)) %>
<div class="flexbox">
  <div class="item item1">
    <p>

      <%= form_tag(generate_choices_url, id: 'cadu') do %>
       
       
          Source
              <%= render :partial => 'workbench/elements/forms/ajax_select',
                         :locals  => {:controller => '/sources',
                                      :object     => 'asserted_distribution',
                                      :method     => 'source_id',
                                      :tag_id     => 'source_id_for_asserted_distribution',
                                      :display    => ''} %>
              <%= check_box_tag('LockBox', 'Lock') %>
          <%= hidden_field_tag('asserted_distribution[otu_id]', @otu.id) -%> 


          <%= hidden_field_tag(:latitude, '22.593726') -%> 
          <%= hidden_field_tag(:longitude, '5.625000') -%> 
          <%= submit_tag -%>
        <% end %>
         
      </p>
    <span id="qnadf"></span>
  </div>

  <div class="item item2">
    <%= render(partial: 'map_header', locals: {otu: @otu, feature_collection: @feature_collection}) -%>
    <div id="map_canvas" style="width:512px; height: 256px;"></div>
    <span id="map_coords"></span>
  </div>
</div>

<div class="item item1">
  <%= render(partial: 'brief_list', locals: {otu: @otu}) -%>
</div>
