<%= form_for(@otu) do |f| %>
    <% if @otu.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@otu.errors.count, 'error') %> prohibited this otu from being saved:</h2>

          <ul>
            <% @otu.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="required">
      <div class="field">
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :taxon_name %>
        <br>
        <%= render :partial => 'workbench/elements/forms/ajax_select',
                   :locals => {:controller => 'taxon_names',
                               :object => 'otu',
                               :method => 'taxon_name_id',
                               :tag_id => 'taxon_name_id_for_otu',
                               :display => object_tag(@otu.taxon_name),
                               :size => 20} %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
