<%= render("/shared/data/all/list/list_header", objects: @otus) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Taxon name') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @otus.each do |otu| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= otu.name %></td>
          <td><%= taxon_name_link(otu.taxon_name) %></td>
          <%= fancy_metadata_cells_tag(otu) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

