<p id="notice"><%= notice %></p>

<div class="flexbox">
  <div class="item item1">
    <h2> Otu </h2>
    <div>id: <%= @otu.id -%></div>
    <%= forward_back_links(@otu) -%> <br>
    <%= edit_object_link(@otu) -%> | <%= destroy_object_link(@otu) -%>
</div>

  <div class="item item2">

    <h2><%= otu_tag(@otu) -%></h2>
    <p>
      <strong>Name:</strong>
      <%= @otu.name %>
    </p>

    <p>
      <strong>Taxon Name:</strong>
      <%= object_tag(@otu.taxon_name) %>
    </p>

    <%= render '/shared/data/show/housekeeping', object: @otu -%>
    <%= render '/shared/data/show/soft_validation', object: @otu -%>
  </div>

  <div class="item item3">

  </div>
</div>



