<p>
  <strong>Name:</strong>
  <%= @serial.name %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @serial.publisher %>
</p>

<p>
  <strong>Place published:</strong>
  <%= @serial.place_published %>
</p>

<p>
  <strong>First year of issue:</strong>
  <%= @serial.first_year_of_issue %>
</p>

<p>
  <strong>Last year of issue:</strong>
  <%= @serial.last_year_of_issue %>
</p>

<p>
  <strong>Electronic only:</strong>
  <%= @serial.electronic_only -%>
</p>

<p>
  <strong>Primary language:</strong>
  <%= language_tag @serial.language %>
</p>

<p>
  <strong>Translated from serial:</strong>
  <%= object_link(@serial.translated_from_serial) -%>
</p>

