<%= form_for(@serial) do |f| %>
    <%= render 'shared/errors', object: @serial %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_area :name, :cols => 40, :rows => 3 %>
    </div>

    <div class="field">
      <%= f.label :publisher %>
      <br>
      <%= f.text_field :publisher %>
    </div>
    <div class="field">
      <%= f.label :place_published %>
      <br>
      <%= f.text_field :place_published %>
    </div>

    <div class="field">
      <%= f.label :primary_language_id, 'Primary language' %>
      <br>
      <%= render partial:  'workbench/elements/forms/ajax_select',
        locals: {controller:  'languages',
                 object:  'serial',
                 method:  'primary_language_id',
                 tag_id:  'primary_language_id_for_serial',
                 display:  language_tag(@serial.language),
                 size: 40} %>
    </div>

    <div class="field">
      <%= f.label :translated_from_serial_id, 'Translated from serial' %>
      <br>
      <%= render partial:  'workbench/elements/forms/ajax_select',
        locals: {controller:  'serials',
                 object:  'serial',
                 method:  'translated_from_serial_id',
                 tag_id:  'translated_from_serial_id_for_serial',
                 display:  serial_tag(@serial.translated_from_serial),
                 size: 40} %>
    </div>



    <div class="field">
      <%= f.label :first_year_of_issue %>
      <br>
      <%= f.number_field :first_year_of_issue %>
    </div>
    <div class="field">
      <%= f.label :last_year_of_issue %>
      <br>
      <%= f.number_field :last_year_of_issue %>
    </div>
    <div class="field">
      <%= f.label :electronic_only %>
      <br>
      <%= f.check_box :electronic_only %>
    </div>

  <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
