<h1>Serials</h1>

<%= link_to 'List', list_serials_path %>
<br>
<br>
<%= link_to 'New serial', new_serial_path %>


<%= form_tag(search_serials_path, {method: :get}) do %>
    <%= render partial: 'workbench/elements/forms/ajax_select',
               locals:  {controller: 'serials',
                         object:     nil,
                         method:     'id',
                         tag_id:     'serial_id_for_quick_search_form',
                         size:       '',
                         display:    ''} %>
    <%#= button_to 'Edit', edit_otu_path %>
    <%= submit_tag 'Show' %>
<% end %>
