<%= content_for :report do -%>
  <ul class="no_bullets">
    <%= content_tag(:li, link_to('Similar serials', similar_serials_task_path(@serial))) %>
  </ul>
<% end %>

<%= content_for :additional_navigation do %> 
  <% unless @serial.all_previous.empty? %>
    <div class='content'>
      <h3>Preceeding</h3>
      <ul class="no_bullets">
        <% @serial.all_previous.flatten.each do |ps| %>
          <li><%= object_link(ps) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% unless @serial.all_succeeding.empty? %>

    <div class='content'>
      <h3>Succeeding</h3>
      <ul class="no_bullets">
        <% @serial.all_succeeding.flatten.each do |ps| %>
          <li><%= object_link(ps) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @serial}) -%>

