<h1> Taxon names table </h1>

<%= link_to('Filter', filter_taxon_names_task_url(@taxon_names_query.params)) %> <br> <br>

<table id="table" class="tablesorter">
  <thead>
    <th> </th>
    <th class="header">id</th>
    <th class="header">kingdom</th>
    <th class="header">phylum</th>
    <th class="header">class</th>
    <th class="header">order</th>
    <th class="header">family</th>
    <th class="header">genus</th>
    <th class="header">species</th>
    <th class="header">scientificName</th>
    <th class="header">author</th>
    <th class="header">year</th>
    <th class="header">validName</th>
    <th class="header">original Combination</th>
  </thead>

  <% @taxon_names.sort(:cached).each do |r| %>
    <tr>
      <td>
        <ul class="no_bullets context-menu">
          <li> <%= radial_navigation_tag(r) %> </li>
          <li> <%= radial_annotator(r) %> </li>
        </ul>
      </td>
      <td><%= r.id %></td>
      <td><%= r.cached %></td>
      <td><%= object_link(r.geographic_area) %></td>
      <td><%= r.verbatim_locality %></td>
      <td><%= r.date_range.join("-") %></td>
      <td><%= collecting_event_collectors_tag(r) %></td>
    </tr>
  <% end %>
</table>
