<%= form_for(@repository) do |f| %>
    <%= render 'shared/errors', object: @repository %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :url %>
      <br>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :acronym %>
      <br>
      <%= f.text_field :acronym %>
    </div>
    <div class="field">
      <%= f.label :status %>
      <br>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :institutional_LSID %>
      <br>
      <%= f.text_field :institutional_LSID %>
    </div>
    <div class="field">
      <%= f.label :is_index_herbariorum %>
      <br>
      <%= f.check_box :is_index_herbariorum %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
