<h1>Repositories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Acronym</th>
      <th>Status</th>
      <th>Institutional lsid</th>
      <th>Is index herbarioum record</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.url %></td>
        <td><%= repository.acronym %></td>
        <td><%= repository.status %></td>
        <td><%= repository.institutional_LSID %></td>
        <td><%= repository.is_index_herbarioum_record %></td>
        <td><%= repository.created_by_id %></td>
        <td><%= repository.updated_by_id %></td>
        <td><%= link_to 'Show', repository %></td>
        <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
        <td><%= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repository', new_repository_path %>
