<h1>Listing repositories</h1>

<%= paginate @repositories %> <%= page_entries_info @repositories %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Acronym</th>
    <th>Status</th>
    <th>Institutional lsid</th>
    <th>Is index herbariorum</th>  <!-- todo @mjy how to handle this boolean? -->
    <th>Last modified</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.url %></td>
        <td><%= repository.acronym %></td>
        <td><%= repository.status %></td>
        <td><%= repository.institutional_LSID %></td>
        <td><%= repository.is_index_herbariorum %></td>
        <td><%= repository.updated_at %></td>
        <td><%= object_tag(repository.updater) %></td>
        <td><%= link_to 'Show', repository %></td>
        <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
        <td><%= link_to 'Destroy', repository, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
