<%= render("/shared/data/all/list/list_header", objects: @repositories) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Url') -%>
    <%= fancy_th_tag(name: 'Acronym') -%>
    <%= fancy_th_tag(name: 'Status') -%>
    <%= fancy_th_tag(name: 'Institutional lsid') -%>
    <%= fancy_th_tag(name: 'Is index herbariorum') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @repositories.each do |repository| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= repository.name %></td>
          <td><%= repository.url %></td>
          <td><%= repository.acronym %></td>
          <td><%= repository.status %></td>
          <td><%= repository.institutional_LSID %></td>
          <td><%= repository.is_index_herbariorum %></td>
          <%= fancy_metadata_cells_tag(repository) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
