<% ay_range.each do |letter| %>
    <%= link_to("#{letter}", "\##{letter}") + ' |' -%>
<% end %>
<%= link_to('Z', '#Z') %><br>
<p>
  <%= "Total selected collecting events: #{@collecting_events.count}" %><br>
  <%= "Collecting events without a verbatim locality: #{missing_verbatim_locality_count(@collecting_events)}" %>
</p>

<%#= az_range %>
<% az_range.each do |letter| %>
    <a name='<%= "#{letter}" %>'></a>
    <%= anchor_shade(letter).html_safe %>
    <% select_locality(letter).each do |ce| %>
        <%= link_to(ce.verbatim_locality, ce) %><br>
    <% end %>
<% end %>
