<%= render(partial: 'layouts/map_header') %>
<h1>Task: Alphabetical list of localities by area. </h1>
<div class="flexbox">
  <div class="item item1">
    <%= form_tag('list') do %>
      <%= render(partial: 'shared/data/gis/area_selector',
                 locals:  {passed_in_tag_id:    'geographic_area_id_for_locality_list',
                           selection_objects:   ['CollectingEvent'],
                           drawing_modes:       @drawing_modes,
                           missing_count:       missing_verbatim_locality_count(@collecting_events),
                           shown_georeferences: locality_georeferences(
                             @collecting_events,
                             @geographic_area)}) %>
                           <%= submit_tag('Show', id: 'send_report_params') %>
                         <% end %>
  </div>
  <div class="item item2">
    <%= render partial: 'locality_list', locals: {object: @collecting_events} -%>
  </div>
</div>
