j<h1>Task: Nearby localities</h1>

<div class="flexbox">

  <div class="item item1">

    <h2> Current collecting event/locality </h2>
    <div>
      <%= render('/collecting_events/card', object: @collecting_event) if @collecting_event.id -%>
    </div>
  </div>

  <div class="item item2">

    <h2> Filter </h2>
    <%= form_tag(nearby_locality_task_path(id: @collecting_event), method: :get, id: :nearby_collecting_event_form) do |f| %>

      <div class="field">Filter localities by distance (m): <%= number_field_tag(:nearby_distance, @nearby_distance) -%> </div>

      <div class="field">
        <%= label_tag :collecting_event %>
        <br>
        <%= render 'workbench/elements/forms/ajax_select',
          controller: '/collecting_events',
          object: '',
          method: 'id',
          tag_id: 'collecting_event_id_for_nearby_ag',
          display: collecting_event_tag(@collecting_event),
          size: 80 %>
      </div>

      <%= submit_tag('Filter', class: ['normal-input button button-default']) %>

    <% end %>
  </div>
</div>

<br> <br>
<div>
  <h2> Result </h2>
  <% if !@collecting_events.empty? -%>

    <div><%= @collecting_events.count %> results for distance of <%= @nearby_distance %> meters: <%= link_to('download', download_collecting_events_path(where: {id: @collecting_events.map(&:id)})) %> </div>

    <!---- make this a partial ----> 
    <table>
      <tr>
        <th>Verbatim Locality</th>
        <th>Actual Distance</th>
        <th>Collecting Event ID</th>
        <th>Other Georeference?</th>
        <th>Link to</th>
      </tr>
      <tbody>
        <% @collecting_events.each do |collecting_event| %>
          <tr>
            <td>
              <%= collecting_event.verbatim_locality %>
            </td>
            <td>
              <%= distance_between(@collecting_event, collecting_event) %>
            </td>
            <td>
              <%= link_to(collecting_event.id.to_s, collecting_event_path(collecting_event.id)) %>
            </td>
            <td>
              <%= collecting_event_georeference_count(collecting_event) %>
            </td>
            <td>
              <%= link_to('nearby', nearby_locality_task_path(collecting_event.to_param, nearby_distance: @nearby_distance)) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <div> 
      <%= content_tag(:span, 'No nearby results found.', data: {icon: :warning}) -%> 
    </div>

  <% end %>

</div>
