<%= form_for(@data_attribute) do |f| %>
    <% if @data_attribute.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@data_attribute.errors.count, "error") %> prohibited this data_attribute from being
            saved:</h2>

          <ul>
            <% @data_attribute.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p><strong><%= @data_attribute.attribute_subject.class.name %>
      :</strong> <%= object_tag(@data_attribute.attribute_subject) -%>  </p>

    <%= f.hidden_field :type, value: 'InternalAttribute' %>
    <%= f.hidden_field :attribute_subject_type %>
    <%= f.hidden_field :attribute_subject_id %>
    <div class="field">
      <%= f.label 'Import predicate' %>
      <br>
      <%= render :partial => 'workbench/elements/forms/ajax_select',
                 :locals => {:controller => 'controlled_vocabulary_terms',
                             :object => 'data_attribute',
                             :method => 'controlled_vocabulary_term_id',
                             :tag_id => 'controlled_vocabulary_term_id_for_data_attribute',
                             :display => object_tag(@data_attribute.controlled_vocabulary_term_id)} %>
    </div>
    <div class="field">
      <%= f.label :value %>
      <br>
      <%= f.text_area :value %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
