<%= form_for(@data_attribute) do |f| %>
    <% if @data_attribute.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@data_attribute.errors.count, "error") %> prohibited this data_attribute from being
            saved:</h2>

          <ul>
            <% @data_attribute.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :type %>
      <br>
      <%= f.text_field :type %>
    </div>
    <div class="field">
      <%= f.label :attribute_subject_id %>
      <br>
      <%= f.number_field :attribute_subject_id %>
    </div>
    <div class="field">
      <%= f.label :attribute_subject_type %>
      <br>
      <%= f.text_field :attribute_subject_type %>
    </div>
    <div class="field">
      <%= f.label :controlled_vocabulary_term_id %>
      <br>
      <%= f.number_field :controlled_vocabulary_term_id %>
    </div>
    <div class="field">
      <%= f.label :import_predicate %>
      <br>
      <%= f.text_field :import_predicate %>
    </div>
    <div class="field">
      <%= f.label :value %>
      <br>
      <%= f.text_area :value %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
