<%= form_for(@data_attribute.metamorphosize) do |f| %>
    <%= render 'shared/errors', object: @data_attribute %>

    <p><strong><%= @data_attribute.attribute_subject.class.name %>
      :</strong> <%= object_tag(@data_attribute.attribute_subject) -%>  </p>

    <%= f.hidden_field :type, value: 'InternalAttribute' %>
    <%= f.hidden_field :attribute_subject_type %>
    <%= f.hidden_field :attribute_subject_id %>
    <div class="field">
      <%= f.label 'Predicate' %>
      <br>
      <%= render :partial => 'workbench/elements/forms/ajax_select',
                 :locals => {:controller => 'controlled_vocabulary_terms',
                             :object => 'data_attribute',
                             :method => 'controlled_vocabulary_term_id',
                             :tag_id => 'controlled_vocabulary_term_id_for_data_attribute',
                             :display => object_tag(@data_attribute.import_predicate),
                            :size => 40} %>
    </div>
    <div class="field">
      <%= f.label :value %>
      <br>
      <%= f.text_area :value %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
