<h1>Data Attributes</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Attribute subject</th>
      <th>Attribute subject type</th>
      <th>Controlled vocabulary term</th>
      <th>Import predicate</th>
      <th>Value</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_attributes.each do |data_attribute| %>
      <tr>
        <td><%= data_attribute.type %></td>
        <td><%= data_attribute.attribute_subject_id %></td>
        <td><%= data_attribute.attribute_subject_type %></td>
        <td><%= data_attribute.controlled_vocabulary_term_id %></td>
        <td><%= data_attribute.import_predicate %></td>
        <td><%= data_attribute.value %></td>
        <td><%= data_attribute.created_by_id %></td>
        <td><%= data_attribute.updated_by_id %></td>
        <td><%= data_attribute.project_id %></td>
        <td><%= link_to 'Show', data_attribute %></td>
        <td><%= link_to 'Edit', edit_data_attribute_path(data_attribute) %></td>
        <td><%= link_to 'Destroy', data_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data attribute', new_data_attribute_path %>
