<%= form_tag url, multipart: true do -%>

    <div class="field">
      <%= label_tag 'files[]', 'Select a files' -%>
      <br>
      <%= file_field_tag 'files[]', multiple: true -%>
    </div>


    <% if @result -%>
    <% end %>

    <%= content_for :warn_level -%>

    <%= submit_tag submit -%>
<% end %>
