<div class="attributes">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Otu:</strong>
    <%#= @asserted_distribution.otu_id %>
    <%= object_link(@asserted_distribution.geographic_area) %>
  </p>

  <p>
    <strong>Geographic area:</strong>
    <%#= @asserted_distribution.geographic_area_id %>
    <%= object_link(@asserted_distribution.geographic_area) %>
  </p>

  <p>
    <strong>Source:</strong>
    <%#= @asserted_distribution.source_id %>
    <%= object_link(@asserted_distribution.geographic_area) %>
  </p>

  <p>
    <strong>Is absent:</strong>
    <%= @asserted_distribution.is_absent %>
  </p>

</div>