<%= render(partial: 'layouts/map_header') -%>
<!-- This map display uses the same widget process as otu_distribution -->
<div id="otu_distribution_widget">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Object:</strong>
    <%= @asserted_distribution.asserted_distribution_object_type %>
    <%= object_link(@asserted_distribution.asserted_distribution_object.metamorphosize) %>
  </p>

  <p>
    <strong>Shape:</strong>
    <%= @asserted_distribution.asserted_distribution_shape_type %>
    <%= object_link(@asserted_distribution.asserted_distribution_shape.metamorphosize) %>
    <%= no_geographic_items? %>
  </p>

  <%= simple_map([@asserted_distribution.geographic_item]) %>

  <p>
    <strong>Source:</strong>
    <%= object_link(@asserted_distribution.source) %>
  </p>

  <p>
    <strong>Is absent:</strong>
    <%= @asserted_distribution.is_absent %>
  </p>

</div>
