<table>
  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Updater</th>
    <th>Updated On</th>
    <th></th>
  </tr>
  <tbody>
    <% otu.asserted_distributions.joins('JOIN geographic_areas on geographic_areas.id = asserted_distributions.asserted_distribution_shape_id').order('geographic_areas.name ASC').each do |distribution| %>
      <tr>
        <td><%= distribution.shape.name %></td>
        <td><%= source_tag(distribution.source) %></td>
        <td><%= user_tag(distribution.updater) %></td>
        <td><%= object_time_since_update_tag(distribution) %> ago</td>
        <td><%= link_to 'destroy', distribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
