<%= form_for(@asserted_distribution) do |f| %>
    <%= render '/shared/errors', object: @asserted_distribution %>

    <div class="required">
      <div class="field" id="asserted_distribution_object_edit">
        <%= f.label :asserted_distribution_object_type %><br>
        <%= f.radio_button :asserted_distribution_object_type, 'Otu', id: :otu %> Otu <br>
        <%= f.radio_button :asserted_distribution_object_type, 'BiologicalAssociation', id: :biological_association %> Biological association
      </div>

      <%= render '/otus/otu_picker', otu: @asserted_distribution.otu, f: f -%>

      OR

      <div class="fields_for_biological_association">
        <%= f.label :biological_association_id %>
        <br>
        <%= render partial: '/workbench/elements/forms/ajax_select', locals: {
          controller: '/biological_associations',
          object: 'asserted_distribution',
          method: 'asserted_distribution_object_id',
          tag_id: 'biological_association_id_for_asserted_distribution_object_id',
          display: @asserted_distribution.asserted_distribution_object_type == 'BiologicalAssociation' ? biological_association_tag(@asserted_distribution.asserted_distribution_object) : '',
          size: 20}
        %>
      </div>

      <br />

      <div class="field" id="asserted_distribution_shape_edit">
        <%= f.label :asserted_distribution_shape_type %><br>
        <%= f.radio_button :asserted_distribution_shape_type, 'GeographicArea', id: :geographic_area %> Geographic Area <br>
        <%= f.radio_button :asserted_distribution_shape_type, 'Gazetteer', id: :gazetteer %> Gazetteer
      </div>


      <div class="fields_for_geographic_area">
        <%= f.label :geographic_area_id %>
        <br>
        <%= render partial:'/workbench/elements/forms/ajax_select', locals: {
          controller: '/geographic_areas',
          object: 'asserted_distribution',
          method: 'asserted_distribution_shape_id',
          tag_id: 'geographic_area_id_for_asserted_distribution_shape_id',
          display: @asserted_distribution.asserted_distribution_shape_type == 'GeographicArea' ? geographic_area_tag(@asserted_distribution.asserted_distribution_shape) : '',
          size: 20}
        %>
      </div>

      OR

      <div class="fields_for_gazetteer">
        <%= f.label :gazetteer_id %>
        <br>
        <%= render partial: '/workbench/elements/forms/ajax_select', locals: {
          controller: '/gazetteers',
          object: 'asserted_distribution',
          method: 'asserted_distribution_shape_id',
          tag_id: 'gazetteer_id_for_asserted_distribution_shape_id',
          display: @asserted_distribution.asserted_distribution_shape_type == 'Gazetteer' ? gazetteer_tag(@asserted_distribution.asserted_distribution_shape) : '',
          size: 20}
        %>
      </div>

      <%= f.fields_for :origin_citation, @asserted_distribution.origin_citation do |s| -%>
        <div class="field">
          <%= s.label :source %>
          <br>
          <%= render( partial: 'workbench/elements/forms/ajax_select', locals:
                     {controller: '/sources',
                      related_object: @asserted_distribution.source,
                      object: 'asserted_distribution[origin_citation_attributes]',
                      method: 'source_id',
                      tag_id: 'source_id_for_original_citation_asserted_distribution',
                      size: '50%',
                      display: source_tag(@asserted_distribution.origin_citation.source)})
                    %>
      </div>
      <% end %>
    </div>

    <div class="optional">
      <div class="field">
        <%= f.label :is_absent %>
        <br>
        <%= f.check_box :is_absent %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>