<%= form_for(@asserted_distribution) do |f| %>
    <%= render '/shared/errors', object: @asserted_distribution %>

    <div class="required">
      <%= render '/otus/otu_picker', otu: @asserted_distribution.otu, f: f -%>

      <div class="field">
        <%= f.label :geographic_area %>
        <br>
        <%= render '/workbench/elements/forms/ajax_select',
          controller: 'geographic_areas',
          object: 'asserted_distribution',
          method: 'geographic_area_id',
          tag_id: 'geographic_area_id_for_asserted_distribution',
          display: geographic_area_tag(@asserted_distribution.geographic_area),
          size: 20
        %>
      </div>

      <%= f.fields_for :origin_citation, @asserted_distribution.origin_citation do |s| -%>
        <div class="field">
          <%= s.label :source %>
          <br>
          <%= render( partial: 'workbench/elements/forms/ajax_select', locals:
                     {controller: 'sources',
                      related_object: @asserted_distribution.source,
                      object: 'asserted_distribution[origin_citation_attributes]',
                      method: 'source_id',
                      tag_id: 'source_id_for_original_citation_asserted_distribution',
                      size: '50%',
                      display: source_tag(@asserted_distribution.origin_citation.source)}) 
                    %>
      </div>
      <% end %>
      <div class="field">
        <%= f.label :verbatim_geographic_area %>
        <br>
        <%= f.text_field :verbatim_geographic_area %>
      </div>
    </div>

    <div class="optional">
      <div class="field">
        <%= f.label :is_absent %>
        <br>
        <%= f.check_box :is_absent %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
