<%= form_for(@asserted_distribution) do |f| %>
  <% if @asserted_distribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asserted_distribution.errors.count, "error") %> prohibited this asserted_distribution from being saved:</h2>

      <ul>
      <% @asserted_distribution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :otu_id %><br>
    <%= f.number_field :otu_id %>
  </div>
  <div class="field">
    <%= f.label :geographic_area_id %><br>
    <%= f.number_field :geographic_area_id %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br>
    <%= f.number_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :created_by_id %><br>
    <%= f.number_field :created_by_id %>
  </div>
  <div class="field">
    <%= f.label :updated_by_id %><br>
    <%= f.number_field :updated_by_id %>
  </div>
  <div class="field">
    <%= f.label :is_absent %><br>
    <%= f.check_box :is_absent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
