<%= form_for(asserted_distribution) do |f| %>
<%= object_tag(asserted_distribution.geographic_area) %>
    <%= f.hidden_field(:otu_id) %>
    <%= f.hidden_field(:source_id) %>
    <%= f.hidden_field(:geographic_area_id) %>
    <div>
      <%=	 @click_area_names %>
    </div>
    <div class="actions">
      <%= f.submit %>
      <input type='hidden' id='json_coors' name='new_from_map' value=' <%= @json_coors.html_safe %> ' />
    </div>
<% end %>
