<%= form_for(asserted_distribution) do |f| %>
  <%= hidden_field_tag :authenticity_token, token -%>
  
    <table border="1" style="width: 100%">
      <tr>
      <td class='one_third_width'>
        <%= object_tag(asserted_distribution.geographic_area) %>
          <%= f.hidden_field(:otu_id) %>
          <%= f.hidden_field(:source_id) %>
          <%= f.hidden_field(:geographic_area_id) %>
        </td>
      <td class='one_third_width' > 
        <%= asserted_distribution.geographic_area.data_origin -%>
      </td>
      <td class='one_third_width'>
          <%= f.check_box :is_absent %>
          <%= f.label('Absent') %></td>
     </td>
        <td>
          <%= f.submit("Create") %>
        </td>
      </tr>
    </table>
<% end %>

