<%= render("/shared/data/all/list/list_header", objects: @asserted_distributions) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Absent') -%>
    <%= fancy_th_tag(name: 'Otu') -%>
    <%= fancy_th_tag(name: 'Geographic area') -%>
    <%= fancy_th_tag(name: 'Source') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @asserted_distributions.each do |asserted_distribution| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= asserted_distribution.is_absent ? "yes" : "no" -%></td>
          <td><%= object_tag(asserted_distribution.otu) %></td>
          <td><%= object_tag(asserted_distribution.geographic_area) %></td>
          <td><%= short_sources_tag(asserted_distribution.sources) %></td>
          <%= fancy_metadata_cells_tag(asserted_distribution) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
