<h1>Listing asserted distributions</h1>
<%= paginate @asserted_distributions %> <%= page_entries_info @asserted_distributions %>

<table>
  <thead>
  <tr>
    <th>Otu</th>
    <th>Geographic area</th>
    <th>Source</th>
    <th>Project</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th>Is absent</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @asserted_distributions.each do |asserted_distribution| %>
      <tr>
        <td><%= object_tag(asserted_distribution.otu) %></td>
        <td><%= object_tag(asserted_distribution.geographic_area) %></td>
        <td><%= object_tag(asserted_distribution.source) %></td>
        <td><%= asserted_distribution.project_id %></td>
        <td><%= asserted_distribution.created_by_id %></td>
        <td><%= asserted_distribution.updated_by_id %></td>
        <td><%= asserted_distribution.is_absent %></td>
        <td><%= link_to 'Show', asserted_distribution %></td>
        <td><%= link_to 'Edit', edit_asserted_distribution_path(asserted_distribution) %></td>
        <td><%= link_to 'Destroy', asserted_distribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
