<div class="horizontal-left-content biocuration_totals_row"> 
  <div class='one_tenth_width'> 
    <label>Total:</label> <%= number_field_tag("collection_objects[object_#{object_id}][total]", nil, class: 'collection_object_total four_character_width'  )   -%>
  </div> 

  <div class="one_second_width">
    <fieldset >
      <%= content_tag(:legend, bg.name) -%>
      <% bg.biocuration_classes.each do |bc| %>
        <%= content_tag(:label, bc.name) -%> <%= check_box_tag("collection_objects[object_#{object_id}][biocuration_classes][#{bc.id}]", nil, false,  class: 'biocuration_class_check_box'  ) -%>
      <% end %>
    </fieldset>
  </div>

  <div class="one_third_width">
    <%= link_to('', '#', class: '_update_') if remove_link -%>
  </div>
</div>


