<div class="totals">

  <% @biocuration_groups.each_with_index do |bg, i| %>
    <div id="biocuration_group_<%= i -%>" class="biocuration_group_totals horizontal-left-content flexbox" >
      <div class="total_rows item item1">
        <%= render(partial: 'attribute_row', locals: {object_id: SecureRandom.uuid, bg: bg, remove_link: false} ) %>
      </div>

      <div class="item item2">
        <%= link_to(
          'Add another record', '#',
          'data-insert-content' => CGI.escapeHTML(render(partial: 'attribute_row', locals: {object_id: '_update_', bg: bg, remove_link: true})) ,
          'data-insert-content-target' => '.total_rows',
          'data-insert-content-parent' => 'div.biocuration_group_totals',
          class: :add_total_row ) -%>
      </div>
    </div>
  <% end %>

</div>

<% if @biocuration_groups.count == 0 -%>
  <div class='item item1'> Total: <%= number_field_tag('collection_objects[object1][total]') %> </div> 
  <p class='notice'> You have no biocuration attributes defined (e.g. Male, Female, Adult, seed). <%= link_to('Create some', build_biocuration_groups_task_path, data: {icon: 'link'}, target: :_blank) -%>.</p>
<% end %>
