<h2>Task: Quick verbatim material</h2>
<%= form_tag create_verbatim_material_task_path do %>
   <div class="panel no-shadow">
    <h3>Identifier</h3>
    <div>
    <div class="field field-align-center">
      <%= label_tag 'Namespace / Institution / Coden' %>
      <%= select :identifier, :namespace_id, options_from_collection_for_select(@namespaces, :id, :name, @namespace.id) %>
      <%= lock_tag(@locks, :locks, :namespace ) %>
    </div>

    <div class="field field-align-center" >
      <%= label_tag :identifier %>
      <%= text_field :identifier, :identifier %>
      <%= check_box :locks, :increment %>
      <%= label_tag 'increment + 1' %>
      </div>
    </div>

    <h3>Repository</h3>

    <div class="field">
      <%= render partial: 'workbench/elements/forms/ajax_select',
        locals:  {controller: '/repositories',
                  object:     'repository',
                  method:     'id',
                  tag_id:     'repository_id_for_bulk_verbatim',
                  size: 60,
                  display:    object_tag(@repository)
      } %>
      <%= lock_tag(@locks, :locks, :repository ) %>
    </div>

    <h3>Verbatim data</h3>
    <div class="field">
      <%= label_tag :collecting_event %>
      <%= text_area :collection_object, :buffered_collecting_event %>
      <%= lock_tag(@locks, :locks, :collecting_event ) %>
    </div>
    <div class="field">
      <%= label_tag :determinations %>
      <%= text_area :collection_object, :buffered_determinations  %>
      <%= lock_tag(@locks, :locks, :determinations ) %>
    </div>
    <div class="field">
      <%= label_tag :other_labels %>
      <%= text_area :collection_object, :buffered_other_labels  %>
      <%= lock_tag(@locks, :locks, :other_labels ) %>
    </div>
    <div class="field">
      <%= label_tag 'Notes (attached to all material)' %> 
      <%= text_area :notes, :text %>
      <%= lock_tag(@locks, :locks, :note ) %>      
    </div>
    <h3>Material count</h3>
    <%= render 'attribute_form' %>

    <div class="actions">
      <%= submit_tag 'Create' %>
    </div>
    </div>
<% end %>
