<h2>Task: Quick verbatim material</h2>
<%= form_tag create_verbatim_material_task_path, class: [:panel, "no-shadow"], id: :quick_task do %>
    <div class="flexbox">
    <div class="item item1">
      <div id="identifier" class="fields-container side_by_side_fields">
        <div class="field field-align-center">
          <%= label_tag 'Catalog number' %>

          <%= render '/workbench/elements/forms/ajax_select',
            controller: '/namespaces',
            object:     'identifier',
            method:     'namespace_id',
            tag_id:     'identifier_namespace',
            display:    namespace_tag(@namespace),
            size:       20
          %>

        <%= lock_tag(@locks, :locks, :namespace ) %>

        <%= text_field :identifier, :identifier %>
        <%= lock_tag(@locks, :locks, :increment, 'increment') %>
        </div>

        <div class="field field-align-center" >
          <%= label_tag :identifier, '' %>
        </div>
      </div>

      <div class="fields-container">
        <div class="field field-align-center">
          <%= label_tag 'Repository' %>

          <%= render '/workbench/elements/forms/ajax_select',
            controller: '/repositories',
            object:     'repository',
            method:     'id',
            tag_id:     'repository_id_for_bulk_verbatim',
            size: 20,
            display: repository_tag(@repository)
          %>

        <%= lock_tag(@locks, :locks, :repository ) %>
        </div>
      </div>

      <h3 data-help="These data are part of the collection object." class="title-section">Verbatim data</h3>
      <div class="fields-container">
        <div class="field">
          <%= label_tag :collecting_event %>
          <%= text_area :collection_object, :buffered_collecting_event, rows: 6, cols: 50 %>
          <%= lock_tag(@locks, :locks, :collecting_event ) %>
        </div>
        <div class="field">
          <%= label_tag :determinations %>
          <%= text_area :collection_object, :buffered_determinations  %>
          <%= lock_tag(@locks, :locks, :determinations ) %>
        </div>
        <div class="field">
          <%= label_tag :other_labels %>
          <%= text_area :collection_object, :buffered_other_labels  %>
          <%= lock_tag(@locks, :locks, :other_labels ) %>
        </div>
        <div class="field">
          <%= label_tag :note, "Notes", data: {help: 'This note is copied to each collection object.'} %>
          <%= text_area :note, :text %>
          <%= lock_tag(@locks, :locks, :note) %>
        </div>
      </div>
    </div>
    <div class="item item2">
      <h3 class="title-section" data-help="Each total provided creates a new collection object record, each with all of the data provided on the left. If more than one total is provided the objects are linked in a 'virtual' container, and if an identifier is provided it will attach to that container, rather than to the collection object.  Each collection object can have individual bio curation attributes." >Totals</h3>
      <%= render 'attribute_form' %>
      <div class="actions">
        <%= submit_tag 'Create' %>
      </div>
    </div>
  </div>
<% end %>

<br><br>
<h3> Recently created </h3>
<div>
  <%= render('/tasks/accessions/report/dwc/table', collection_objects: @recent) -%>
</div>
