<h1>Task: Authors - Alphabetical</h1>

<%= '| ' -%>
<% a_range.each do |letter| %>
    <%= link_to("#{letter}", "\##{letter}") + ' |' -%>
<% end %>

<% a_range.each do |letter| %>
    <a name='<%= "#{letter}" %>'></a>
    <h3><%= "#{letter}" %></h3>
    <p>
      <% select_authors(letter).each do |author| %>
        <%= link_to(author.last_name, author.metamorphosize) %><br>
      <% end %>
    </p>
<% end %>

<!--<%# @author_index_list.each do |author| %>-->
    <!--<p><%#= "#{author.last_name}" %></p>-->
<!--<%# end %>-->
