<h1>Task: Authors - Alphabetical</h1>

<%= '| ' -%>
<% a_range.each do |letter| %>
    <%= link_to("#{letter}", "\##{letter}") + ' |' -%>
<% end %>

<% a_range.each do |letter| %>
    <a name='<%= "#{letter}" %>'></a>
    <%= letter_color(letter).html_safe %>
    <p>
      <% select_authors(letter).each do |author| %>
          <%= link_to(author.last_name, author_source_list_task_path) %><br>
      <% end %>
    </p>
<% end %>

<!--<%# @author_index_list.each do |author| %>-->
<!--<p><%#= "#{author.last_name}" %></p>-->
<!--<%# end %>-->
