<%= form_for(@taxon_name_relationship) do |f| %>
  <% if @taxon_name_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taxon_name_relationship.errors.count, "error") %> prohibited this taxon_name_relationship from being saved:</h2>

      <ul>
      <% @taxon_name_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_taxon_name_id %><br>
    <%= f.number_field :subject_taxon_name_id %>
  </div>
  <div class="field">
    <%= f.label :object_taxon_name_id %><br>
    <%= f.number_field :object_taxon_name_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :created_by_id %><br>
    <%= f.number_field :created_by_id %>
  </div>
  <div class="field">
    <%= f.label :updated_by_id %><br>
    <%= f.number_field :updated_by_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br>
    <%= f.number_field :source_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
