<%= form_for(@taxon_name_relationship.metamorphosize) do |f| %>
  <% if @taxon_name_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taxon_name_relationship.errors.count, "error") %> prohibited this taxon_name_relationship from being saved:</h2>

      <ul>
      <% @taxon_name_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_taxon_name %>
    <br>
    <%= render :partial => 'workbench/elements/forms/ajax_select',
      :locals => {:controller => 'taxon_names',
                  :object => 'taxon_name_relationship',
                  :method => 'subject_taxon_name_id',
                  :tag_id => 'subject_taxon_name_id_for_taxon_name_relationship',
                  :display => (@taxon_name_relationship.subject_taxon_name.cached if @taxon_name_relationship.subject_taxon_name),
                  :size => 40} %>
              </div>


  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, options_for_select(TAXON_NAME_RELATIONSHIPS_SUBJECT_SELECT, @taxon_name_relationship.type)  %>
  </div>

  <div class="field">
    <%= f.label :object_taxon_name %>
    <br>
    <%= render :partial => 'workbench/elements/forms/ajax_select',
      :locals => {:controller => 'taxon_names',
                  :object => 'taxon_name_relationship',
                  :method => 'object_taxon_name_id',
                  :tag_id => 'object_taxon_name_id_for_taxon_name_relationship',
                  :display => (@taxon_name_relationship.object_taxon_name.cached if @taxon_name_relationship.object_taxon_name),
                  :size => 40} %>
              </div>


  <div class="field">
    <%= f.label :source %>
    <br>
    <%= render :partial => 'workbench/elements/forms/ajax_select',
      :locals => {:controller => 'sources',
                  :object => 'taxon_name_relationship',
                  :method => 'source_id',
                  :tag_id => 'source_id_for_taxon_name_relationship',
                  :display => object_tag(@taxon_name_relationship.source),
                  :size => 40} %>
              </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
