<h1>Listing taxon_name_relationships</h1>

<table>
  <thead>
    <tr>
      <th>Subject taxon name</th>
      <th>Object taxon name</th>
      <th>Type</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th>Source</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @taxon_name_relationships.each do |taxon_name_relationship| %>
      <tr>
        <td><%= taxon_name_relationship.subject_taxon_name_id %></td>
        <td><%= taxon_name_relationship.object_taxon_name_id %></td>
        <td><%= taxon_name_relationship.type %></td>
        <td><%= taxon_name_relationship.created_by_id %></td>
        <td><%= taxon_name_relationship.updated_by_id %></td>
        <td><%= taxon_name_relationship.project_id %></td>
        <td><%= taxon_name_relationship.source_id %></td>
        <td><%= link_to 'Show', taxon_name_relationship %></td>
        <td><%= link_to 'Edit', edit_taxon_name_relationship_path(taxon_name_relationship) %></td>
        <td><%= link_to 'Destroy', taxon_name_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taxon name relationship', new_taxon_name_relationship_path %>
