<%= render("/shared/data/all/list/list_header", objects: @taxon_name_relationships) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Subject taxon name') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Object taxon name') -%>
    <%= fancy_th_tag(name: 'Source') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @taxon_name_relationships.each do |taxon_name_relationship| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= object_tag(taxon_name_relationship.subject_taxon_name) %></td>
          <td><%= taxon_name_relationship.type %></td>
          <td><%= object_tag(taxon_name_relationship.object_taxon_name) %></td>
          <td><%= object_tag(taxon_name_relationship.source) %></td>
          <%= fancy_metadata_cells_tag(taxon_name_relationship) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
