<p id="notice"><%= notice %></p>

<p>
  <strong>Subject taxon name:</strong>
  <%= @taxon_name_relationship.subject_taxon_name_id %>
</p>

<p>
  <strong>Object taxon name:</strong>
  <%= @taxon_name_relationship.object_taxon_name_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @taxon_name_relationship.type %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @taxon_name_relationship.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @taxon_name_relationship.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @taxon_name_relationship.project_id %>
</p>

<p>
  <strong>Source:</strong>
  <%= @taxon_name_relationship.source_id %>
</p>

<%= link_to 'Edit', edit_taxon_name_relationship_path(@taxon_name_relationship) %> |
<%= link_to 'Back', taxon_name_relationships_path %>
