<div class="attributes">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Type:</strong>
    <%= @person.type %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @person.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @person.first_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= @person.suffix %>
  </p>

  <p>
    <strong>Prefix:</strong>
    <%= @person.prefix %>
  </p>

</div>