<p>
  <strong>Type:</strong>
  <%= @person.type %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @person.prefix %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @person.suffix %>
</p>

<p>
  <strong>Year born:</strong>
  <%= @person.year_born %>
</p>

<p>
  <strong>Year died:</strong>
  <%= @person.year_died %>
</p>

<p>
  <strong>Year active start:</strong>
  <%= @person.year_active_start %>
</p>

<p>
  <strong>Year active end:</strong>
  <%= @person.year_active_end %>
</p>


<div data-view="development" class="attribute_set" data-title="Cached values (calculated)">
  <p>
    <strong>Cached:</strong>
    <%= @person.cached %>
  </p>
</div>

