<%= form_for(@person.metamorphosize) do |f| %>
    <%= render 'shared/errors', object: @person %>

    <div class="field">
      <%= f.label :type %><br>
      Unvetted <%= f.radio_button :type, 'Person::Unvetted', {:checked => true} %>
      Vetted <%= f.radio_button :type, 'Person::Vetted' %>
    </div>

    <%= render partial: 'form_elements', locals: {f: f} %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
