<!--This version of the people form is the formatted to match the wireframe for roles-->
<div class="field">
  <%= f.label :given_name %><br>
  <%= f.text_field :first_name, size: 28, placeholder: "Given names (includes middle names)" %>
</div>

<div class="field">
  <%= f.label :family_name_prefix %><br>
  <%= f.text_field :prefix, size: 28, placeholder: "Family name prefix (e.g Von or de)" %>
</div>

<div class="field">
  <%= f.label :family_name %><br>
  <%= f.text_field :last_name, size: 28, placeholder: "Family name" %>
</div>

<div class="field">
  <%= f.label :family_name_suffix %><br>
  <%= f.text_field :suffix, size: 28, placeholder: "Name suffix (e.g. Jr., or III)" %>
</div>
