<div class="field">
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :prefix %><br>
  <%= f.text_field :prefix %>
</div>
<div class="field">
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :suffix %><br>
  <%= f.text_field :suffix %>
</div>
<div class="field">
  <%= f.label :year_born %><br>
  <%= f.text_field :year_born %>
</div>
<div class="field">
  <%= f.label :year_died %><br>
  <%= f.text_field :year_died %>
</div>
<div class="field">
  <%= f.label :year_active_start %><br>
  <%= f.text_field :year_active_start %>
</div>
<div class="field">
  <%= f.label :year_active_end %><br>
  <%= f.text_field :year_active_end %>
</div>
<div class="field">
  <%= f.label :no_namecase, 'Disable namecasing' %><br>
  <%= f.check_box :no_namecase %>
</div>
