<div id="role_picker" class="flexbox">

  <div class="item item1">
    <h2><%= role %></h2>
    <ul id="role_list">
      <!-- Have to inject hidden field with input (element) "names" to be properly nested -->
    </ul>

    <%= text_field_tag :foo, nil, id: :autocomplete %>
  </div>

  <div id="new_person" class="item item2" hidden>
    <div>
      <span id="name_label"></span>
      <%= link_to "switch", '#', id: :switch %>
      <%= link_to "add new", '#', id: :add_new %>
      <%= link_to "expand", '#', id: :expand %>
    </div>
    <div id="person_form" hidden>
      <%= form_for(Person.new) do |fp| %>
          <%= render partial: '/people/form_elements2', locals: {f: fp} %>
      <% end %>
    </div>

  </div>
</div>