<h2><%= role %></h2>

<%= text_field_tag :foo, nil, id: :autocomplete %>

<div id="new_person">
  <div>
    <span id="name_label"></span>
    <%= link_to "switch", '#', id: :switch %>
    <%= link_to "add new", '#', id: :add_new %>
    <%= link_to "expand", '#', id: :expand %>
  </div>
<div id="person_form">
  <%= form_for(Person.new) do |fp| %>
  <%= render partial: '/people/form_elements', locals: {f: fp} %>
  <% end %>
</div>

</div>