  <div class="role_picker flexbox" id="<%= role %>_role_picker" data-role-type='<%= role -%>' >

  <div class="item item1">
    <h2><%= role.to_s.pluralize.capitalize %></h2>

    <ul class="role_list">
      <% if object.respond_to?("#{role}_roles") -%>
        <%= f.fields_for :roles, object.send("#{role}_roles") do |role_fields| %>
          <li data-role-id="<%= role_fields.object.id -%>" >
          <%= object_tag(role_fields.object)  -%> <%= link_to('remove', "#", class: :remove_role) -%>
          </li>
        <% end %>
      <% end %>
    </ul>

    <%= text_field_tag "#{role}_autocomplete", nil, class: :role_picker_autocomplete %>
  </div>

  <div class="new_person item item2" hidden>
    <div>
      <span class="name_label"></span>
      <%= link_to "switch", '#', class: :role_picker_switch  %>
      <%= link_to "add new", '#', class: :role_picker_add_new %>
      <%= link_to "expand", '#', class: :role_picker_expand %>
    </div>
    <div class="role_picker_person_form" hidden>
      <%= f.fields_for Person.new do |fp| %>
          <%= render partial: '/people/form_elements2', locals: {role: role, f: fp} %>
      <% end %>
    </div>

  </div>
</div>
