<div class="role_picker" id="<%= role %>_role_picker" data-role-type='<%= role -%>' >

  <div>
    <div class="role_picker_header"><%= role.to_s.titleize.pluralize.capitalize %> <span class='role_picker_alert' hidden></span> </div>
    <span class="role_picker_message"></span>

    <ul class="role_list">
      <% if roles = object.roles.select{|r| r.type == Role::TYPE_INFLECTIONS[role.to_sym] } -%>
        <%= f.fields_for :roles, roles do |role_fields| %>

          <% if role_fields.object.new_record? %>
            <% inc_index = "#{Time.now.to_i}#{role_fields.object.id}" %>

            <%= content_tag(:li, 'data-role-index' => inc_index) do -%>
              <%= role_fields.hidden_field :type -%> 
              <%= role_fields.fields_for :person do |person_fields| %>
                <%= person_fields.hidden_field :last_name -%> 
                <%= person_fields.hidden_field :first_name-%> 
                <%= person_fields.hidden_field :prefix -%> 
                <%= person_fields.hidden_field :suffix -%> 
                <%= object_tag(role_fields.object) -%> <%= link_to('remove', "#", class: :remove_role) -%>
              <% end %>
            <% end %>


          <% else %>
            <li class="role_item" data-role-id="<%= role_fields.object.id -%>" data-role-index="<%= role_fields.index -%>" >
            <%= role_fields.text_field :id, hidden: true -%>
            <%= object_tag(role_fields.object) -%> <%= link_to('remove', "#", class: :remove_role) -%>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="role_picker_selection">
    <div><%= text_field_tag "#{role}_autocomplete", nil, class: 'role_picker_autocomplete', placeholder: "Family name, Given name" %></div>

    <div class="person_details"></div> 

    <div class="new_person" hidden >
      <div>
        <span class="name_label"></span>
        <%= link_to "switch", '#', class: :role_picker_switch  %>
        <%= link_to "add new", '#', class: :role_picker_add_new %>
        <%= link_to "expand", '#', class: :role_picker_expand %>
      </div>

      <div class="role_picker_person_form" hidden>
        <%= f.fields_for Person.new do |fp| %>
          <%= render partial: '/people/form_elements2', locals: {role: role, f: fp} %>
        <% end %>
      </div>
    </div>

  </div>
</div>
