  <div class="role_picker flexbox" id="<%= role %>_role_picker" data-role-type='<%= role -%>' >

  <div class="item item1">
    <h2><%= role %></h2>

    <ul class="role_list">
      <!-- Have to inject hidden field with input (element) "names" to be properly nested -->
    </ul>

    <%= text_field_tag :foo, nil, id: :autocomplete %>
  </div>

  <div class="new_person item item2" hidden>
    <div>
      <span class="name_label"></span>
      <%= link_to "switch", '#', id: :switch %>
      <%= link_to "add new", '#', id: :add_new %>
      <%= link_to "expand", '#', id: :expand %>
    </div>
    <div id="person_form" hidden>
      <%= form_for(Person.new) do |fp| %>
          <%= render partial: '/people/form_elements2', locals: {f: fp} %>
      <% end %>
    </div>

  </div>
</div>
