<h1>Listing People</h1>

<%= paginate @people %> <%= page_entries_info @people %>

<table>
  <thead>
  <tr>
    <th>Type</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Suffix</th>
    <th>Prefix</th>
    <th>Last modified</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
      <tr>
        <td><%= person.type %></td>
        <td><%= person.last_name %></td>
        <td><%= person.first_name %></td>
        <td><%= person.suffix %></td>
        <td><%= person.prefix %></td>
        <td><%= person.updated_at %></td>  <!-- todo @mjy please validate updated and updater; format different -->
        <td><%= person.updater.email %></td>
        <td><%= link_to 'Show', person.metamorphosize %></td>
        <td><%= link_to 'Edit', edit_person_path(person.metamorphosize) %></td>
        <td><%= link_to('Destroy', person.metamorphosize, method: :delete, data: { confirm: 'Are you sure?' }) if person.can_destroy?(@sessions_current_user) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
