
<!- hardcoded for now -%>
<div class="flexbox">
  <div class="item item1">
    <h2> <%= model_name_title -%></h2>

    <div>id: <%= @person.id -%></div>
    <%= forward_back_links(@person) -%> <br>
    <%= edit_object_link(@person) -%> | <%= destroy_object_link(@person) -%> <br>
    <%= pin_item_to_pinboard_link(@person, @sessions_current_user) -%>
    <br>
    <%= papertrail_link(@person) -%>
  </div>

  <div class="item item2">
    <h2> <%= person_tag(@person) -%> </h2>
    <%= render object_attributes_partial_path(@person.metamorphosize) %>
    <%= render partial: '/shared/data/project/show/housekeeping', locals: {object: @person} -%>
    <%= render(partial: '/shared/data/project/show/soft_validation', locals: {object: @person}) if @person.class.respond_to?(:soft_validates?) -%>
  </div>

  <div class="item item3">

  </div>
</div>





