<%= form_for(@biocuration_classification) do |f| %>
    <%= render 'shared/errors', object: @biocuration_classification %>

  <div class="field">
    <%= f.label :biocuration_class_id %><br>
    <%= f.number_field :biocuration_class_id %>
  </div>
  <div class="field">
    <%= f.label :biocuration_classification_object_id %><br>
    <%= f.number_field :biocuration_classification_object_id %>
  </div>
  <div class="field">
    <%= f.label :biocuration_classification_object_type %><br>
    <%= f.number_field :biocuration_classification_object_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
