<p id="notice"><%= notice %></p>

<p>
  <strong>Biocuration class:</strong>
  <%= @biocuration_classification.biocuration_class_id %>
</p>

<p>
  <strong>Biological collection object:</strong>
  <%= @biocuration_classification.biological_collection_object_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @biocuration_classification.position %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @biocuration_classification.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @biocuration_classification.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @biocuration_classification.project_id %>
</p>

<%= link_to 'Edit', edit_biocuration_classification_path(@biocuration_classification) %> |
<%= link_to 'Back', biocuration_classifications_path %>
