<table border="1" align="center">
  <tbody>
  <% table_start %>
  <tr>
    <!-- This is the list of headers common to all collection objects-->
    <%= otu_headers.html_safe %>
    <!-- these are the computed headers collected for all selected collection objects-->
    <%= c_o_headers(selected_headers).html_safe %>
  </tr>
  <% @collection_objects.each_with_index do |c_o, index| %>
      <% this_row = build_row(c_o) %>
      <tr>
        <td><%= link_to(this_row[0], c_o.get_otu) unless c_o.get_otu.nil? %></td>
        <% this_row[1..7].each { |item| %>
            <td><%= item %></td>
        <% } %>
        <td><%= link_to(this_row[8], c_o.collecting_event) %></td>
        <% this_row.from(9).each { |item| %>
            <td><%= item %></td>
        <% } %>
      </tr>
  <% end %>
  </tbody>
</table>
<% table_complete %>
