<table border="1" align="center">
  <tbody>
  <tr>
    <th>OTU</th>
    <th>OTU name</th>
    <th>Family</th>
    <th>Genus</th>
    <th>Species</th>
    <th>Country</th>
    <th>State</th>
    <th>County</th>
    <th>Locality</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <%= ce_attrib_headers.html_safe %>
    <%= co_attrib_headers.html_safe %>
    <%= bc_headers.html_safe %>
  </tr>
  <% @collection_objects.each do |c_o| %>
      <tr>
        <td><%= get_otu_id(get_otu(c_o)) %></td>
        <td><%= link_to(get_otu_name(get_otu(c_o)), get_otu(c_o)) unless get_otu(c_o).nil? %></td>
        <td><%= name_at_rank_string(c_o, :family) %></td>
        <td><%= name_at_rank_string(c_o, :genus) %></td>
        <td><%= name_at_rank_string(c_o, :species) %></td>
        <td><%= c_o.collecting_event.country %></td>
        <td><%= c_o.collecting_event.state %></td>
        <td><%= c_o.collecting_event.county %></td>
        <td><%= link_to(c_o.collecting_event.verbatim_locality, c_o.collecting_event) %></td>
        <td><%= c_o.collecting_event.georeference_latitude %></td>
        <td><%= c_o.collecting_event.georeference_longitude %></td>
        <%= ce_attributes(c_o).html_safe %>
        <%= co_attributes(c_o).html_safe %>
        <%= bc_attributes(c_o).html_safe %>
      </tr>
  <% end %>
  </tbody>
</table>
