<h1>Task: GIS Report</h1>
<div class="flexbox">
  <div class="item item1" align="center">
    <%= form_tag(location_report_list_url) do %>
        <span id="geographic_areaError" style="color: #DD0000"></span>
        <%= helper_download_button %>
        <p>
          <%= report_paging %>
          <%= report_paging_info %>
        </p>
    <% end %>
  </div>

  <div class="item item2">
    <%= simple_map(report_georeferences(@list_collection_objects, @geographic_area), 'border="1"') -%>
  </div>
</div>

<p>
  <%= render(partial: 'report_table') %>
</p>
