<%= render(partial: 'layouts/map_header') -%>
<h1>Task: GIS Report</h1>
<div class="flexbox">
  <div class="item item1" align="center">
    <%= form_tag(location_report_list_url) do %>
        <span id="geographic_areaError" style="color: #DD0000"></span>
        <%= render :partial => 'workbench/elements/forms/ajax_select',
                   :locals  => {:controller => '/geographic_areas',
                                :object     => '',
                                :method     => 'geographic_area_id',
                                :tag_id     => 'geographic_area_id_for_report',
                                :size       => 20,
                                :display    => ''} %>
        <%= submit_tag 'Show' %>
        <p>
          Select additional headers to add to the table:
        </p>
        <table border="1" align="center">
          <tbody>
          <tr>
            <%= tag_headers.html_safe %>
          </tr>
          <%= all_sub_headers.html_safe %>
          </tbody>
        </table>
        <!--* indicates import headers-->
        <!--<table border="1">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>Include</td>-->
        <!--<td><%#= check_box_tag('collecting_event_attributes', nil, @with_ce) %>collecting event attributes</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td></td>-->
        <!--<td><%#= check_box_tag('collection_object_attributes', nil, @with_co) %>collection object attributes</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td></td>-->
        <!--<td><%#= check_box_tag('biological_classifications', nil, @with_bc) %>biological classifications</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<%#= submit_tag 'download' %>-->
        <!--<%#= helper_download_button %>-->

    <% end %>
  </div>

  <div class="item item2">
    <div id="feature_collection"
         data-feature-collection='<%= Gis::GeoJSON.feature_collection(georeferences).to_json %>'>
    </div>
    <table border="1">
      <tbody>
      <tr>
        <td>
          <div id="georeference_google_map_canvas" style="width:512px; height: 256px;"></div>
        </td>
        <!--</tr>-->
        <!--<tr>-->
        <!--<td align="center">-->
        <!--<%#= helper_download_link %>-->
        <%#= link_to_unless(@collection_objects.empty?, 'download', gis_report_download_path(params[:geographic_area_id])) %>
        <!--</td>-->
        <!--</tr>-->
      </tbody>
    </table>
  </div>
</div>

<!--<p>-->
<!--<%#= render(partial: 'report_table') %>-->
<!--</p>-->

