<h1>Task: New Map Item by Drawing</h1>
<div class="flexbox">
  <div class="item item1">
    <%= "collecting event ID = #{@collecting_event.to_param}"  %>
    <%= form_for(@georeference.becomes(Georeference)) do |f| %>
        <% if @georeference.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@georeference.errors.count, 'error') %> prohibited this georeference from being saved:</h2>

              <ul>
                <% @georeference.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="required">
          <div class="field">
            <%=	 f.hidden_field(:iframe_response) %>
            <%#=	 f.hidden_field(:shape) %>
          </div>
        </div>
        <div>
          Geotype: <span id='geoType' />
          <br>
          Shape: <span id='geoShape'></span>
          <br>
          Dummy: <span id="dummy"></span>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

  </div>

  <div class="item item2">
    <%= render(partial: 'layouts/map_header') -%>

    <!--data-feature-collection='<%#= @feature_collection.to_json.html_safe -%>'-->

    <div id="feature_collection" data-georeference="<%= @georeference %>"></div>

    <div id="map_canvas" style="width:512px; height: 256px;"></div>
    <span id="map_coords"></span>
    <script>initDrawItem("map_canvas");</script>
  </div>
</div>
</div>

