
<h2>New Map Item by Drawing</h2>
<% if @georeference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@georeference.errors.count, "error") %> prohibited this georeference from being
        saved:</h2>

      <ul>
        <% @georeference.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="flexbox">
  <div class="item item1">
    For collecting event:<br>
    <%= collecting_event_tag(@collecting_event) %><br>
    <%= form_for(@georeference.becomes(Georeference)) do |f| %>
        <% if @georeference.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@georeference.errors.count, 'error') %> prohibited this georeference from being
                saved:</h2>

              <ul>
                <% @georeference.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :is_public %>
          <br>
          <%= f.check_box :is_public %>
        </div>
        <%= f.fields_for(:geographic_item, @georeference.geographic_item) do |gi| %>
            <%= gi.hidden_field(:shape) %>
        <% end %>

        <%= f.hidden_field(:collecting_event_id) -%>
        <%= f.hidden_field(:type) -%>

        <div>
          Geotype: <span id='geoType'></span>
          <br>
          Shape: <span id='geoShape'></span>
        </div>

        <div class="actions">
          <%= f.submit disabled: true %>
        </div>

    <% end %>

  </div>

  <div class="item item2">
    <%= render(partial: 'layouts/map_header') -%>

    <!--data-feature-collection='<%#= @feature_collection.to_json.html_safe -%>'-->

    <div id="feature_collection" data-georeference="<%= @georeference %>"></div>

    <div id="new_georeference_google_map_canvas" style="width:512px; height: 256px;"></div>
    <span id="map_coords"></span>
    <!--<script>initDrawItem("map_canvas");</script>-->
  </div>
</div>
</div>

