

<%= form_for(@georeference.metamorphosize, url: '/georeferences/google_maps') do |f| %>

    <div id="shape_is_loaded"></div>

    <div class="required">
      <% if @georeference.collecting_event_id.blank? -%>
          <div class="field">
            <%= f.label :collecting_event_id %>
            <br>
            <%= render partial: '/workbench/elements/forms/ajax_select',
                       locals:  {controller: '/collecting_events',
                                 object:     'georeference',
                                 method:     'collecting_event_id',
                                 tag_id:     'collecting_event_id_for_georeference',
                                 display:    collecting_event_tag(@georeference.collecting_event)}
            %>
        </div>
      <% else %> 
         <%= f.hidden_field :collecting_event_id -%>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :is_public %> <span class="subtle"> (Georeference will be marked as public) </span>
      <br>
      <%= f.check_box :is_public %>
    </div>

    <%= f.fields_for(:geographic_item, @georeference.geographic_item) do |gi| %>
        <%= gi.hidden_field(:shape) %>
    <% end %>

    <div class="actions">
      <%= f.submit value: 'Create', disabled: true, id: :create_georeference_button %><br/>
   
      <% if @georeference.collecting_event.next_without_georeference %>
        <%= f.submit name: :commit_and_next, value: 'Create and next CE without georeference', disabled: true, id: :create_and_next_georeference_button %><br/>
        <%= next_without_georeference_for_google_maps_link(@georeference.collecting_event) %>
      <% end %>
    
    </div>
<% end %>

