<h1>New Google Map georeference</h1>
<p class="instruction"> Draw a shape on the map. Shapes can be edited by clicking the hand tool. Once a shape is drawn
  the georeference can be created. </p>
<div class="flexbox">
  <div class="item item1">
    <% if !@georeference.collecting_event_id.blank? -%>
        <h2> Collecting event </h2>
        <%= collecting_event_tag(@georeference.collecting_event) %>
        <%= link_to('Show', @georeference.collecting_event) %> <br>
    <% end %>

    <hr>
    <%= render(partial: 'shared/errors', locals: {object: @georeference}) -%>
    <%= render 'form' %>
  </div>

  <div class="item item2">

    <%= render(partial: 'layouts/map_header') -%>

    <div id="google_maps_georeference_widget" data-georeference="<%= @georeference %>"
         data-feature-collection='<%= Gis::GeoJSON.feature_collection(@georeference.collecting_event.georeferences).to_json %>'
         data-map-center='<%= @georeference.collecting_event.verbatim_center_coordinates %>'
         data-map-canvas="map_canvas"
    >
      <div id="map_canvas" style="width:640px; height:480px;"></div>
    </div>


    <%= submit_tag(:reset, id: :reset_georeference_map) -%>
    <span id="map_coords"></span>
  </div>

</div>

<div>
  <h2> Existing georferences </h2>
  <%= render(partial: '/georeferences/list_table', locals: {georeferences: @georeference.collecting_event.georeferences}) -%>
</div>

