<div id="ce_parse_lat_long">
  <h1>Task Stepwise collecting event parser - Latitude/Longitude</h1>
  <div class="flex_wrap-row">
    <div class="item item1">
      <h3><%= show_ce_vl(@collecting_events) %></h3>
      <h3>Collecting event id:
        <%= content_tag(:span, @collecting_events.first.id, id: 'this_collecting_event', value: @collecting_events.first.id) unless @collecting_events.empty? %>
        <%#= content_tag(:this_collecting_event, @collecting_events.first.id) unless @collecting_events.empty? %>
      </h3>
      <%= form_tag(lat_long_skip_record_path(collecting_event_id: @collecting_events.first.id)) do |f| -%>

          <%#= hidden_field_tag(:next_record, set_next) -%><br>
          <!--<h2>CollectingEvent#VerbatimLabel</h2>-->
          <%= button_tag('Skip to next record') %>
      <% end %>

    </div>
    <div class="item item2">
      <table border="1" align="center">
        <thead>
        <tr>
          <th>Method</th>
          <th>Recognized string</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <%= make_rows(@collecting_events.first.verbatim_label) %>
        </tbody>
      </table>
      <div align="center">
        <%= form_tag(lat_long_convert_path, id: 'lat_long_convert_form', method: 'get', remote: true) do %>
            <table border="1" align="center">
              <tbody>
              <tr>
                <th>
                  <%= hidden_field_tag(:collecting_event_id, (@collecting_events.first.id unless @collecting_events.empty?)) %>
                  <%#= hidden_field_tag(:gen_georef) %>
                </th>
                <th style="text-align:center">Latitude</th>
                <th></th>
                <th style="text-align:center">Longitude</th>
              </tr>
              <tr>
                <td>Verbatim</td>
                <td><%= text_field_tag('verbatim_latitude', test_lat) %></td>
                <td></td>
                <td><%= text_field_tag('verbatim_longitude', test_long) %></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><%= submit_tag('Convert', id: 'lat_long_convert') %></td>
                <td></td>
              </tr>
              <tr>
                <td>Decimal</td>
                <td><%= text_field_tag('dd_latitude') %></td>
                <td></td>
                <td><%= text_field_tag('dd_longitude') %></td>
              </tr>
              </tbody>
            </table>
        <% end %>
      </div>
    </div>
    <div class="item item3">
      <div id="action_blok" align="right">
        <%= form_tag(lat_long_update_record_path) do %>
            <%= submit_tag('Save', id: 'lat_long_update_record') %><br>
            <%= check_box_tag(:gen_georef_box) %> Also create Georeference
        <% end %>
      </div>
    </div>
  </div>
</div>
