<%= form_for(@pinboard_item) do |f| %>
  <% if @pinboard_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pinboard_item.errors.count, "error") %> prohibited this pinboard_item from being saved:</h2>

      <ul>
      <% @pinboard_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pinned_object_id %><br>
    <%= f.text_field :pinned_object_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :is_inserted %><br>
    <%= f.check_box :is_inserted %>
  </div>
  <div class="field">
    <%= f.label :is_cross_project %><br>
    <%= f.check_box :is_cross_project %>
  </div>
  <div class="field">
    <%= f.label :inserted_count %><br>
    <%= f.number_field :inserted_count %>
  </div>
  <div class="field">
    <%= f.label :created_by_id %><br>
    <%= f.number_field :created_by_id %>
  </div>
  <div class="field">
    <%= f.label :updated_by_id %><br>
    <%= f.number_field :updated_by_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
