<div id="pinboard" data-observe-field-spinner-target>
  <% sessions_current_user.pinboard_hash(sessions_current_project_id).each do |object_type, items| -%>
    <%= content_tag :div, {id: "order_#{object_type.pluralize}" } do -%>
      <div class="slide-panel-category-header flex-separate">
        <%= object_type.pluralize -%> 
        <span 
          class="remove-all-pinned small-icon" 
          data-icon="close" 
          data-delete-all-pinboard-type="<%= object_type -%>"
          data-delete-all-pinboard-section="<%= object_type.pluralize -%>"
        >
        </span>
      </div>
        <ul class="slide-panel-category-content"
            data-sortable
            data-sortable-items="li"
            data-sortable-on-change-url="<%= update_position_pinboard_items_path -%>"
            data-pinboard-section="<%= object_type.pluralize -%>"
            >
            <% items.each do |o| -%>
              <%= pinboard_item_li_tag(o) -%>
            <% end %>
        </ul>
    <% end %>
  <% end %>
  <% if sessions_current_user.pinboard_hash(sessions_current_project_id).keys.empty? %>
    <div class="empty-message">
    <h2 class="message">
      <span>Nothing is on your pinboard yet!</span>
      <span class="horizontal-center-content">
        <span class="separate-right">Use the </span>
        <span class="circle-button pin-button separate-left"></span>
        <span class="separate-left">to add items here.</span>
      </span>
    </h2>
    </div>
  <% end %>
</div>
