<div id="pinboard" data-observe-field-spinner-target>
  <% sessions_current_user.pinboard_hash(sessions_current_project_id).each do |object_type, items| -%>
    <%= content_tag :div, {id: "order_#{object_type.pluralize}" } do -%>
      <div class="slide-panel-category-header"><%= object_type.pluralize -%></div>
        <ul class="slide-panel-category-content"
            data-sortable
            data-sortable-items="li"
            data-sortable-on-change-url="<%= update_position_pinboard_items_path -%>"
            >
            <% items.each do |o| -%>
              <li class="slide-panel-category-item" id="<%= "order_#{o.id}" -%>">
                <div>
                  <span class="handle" data-icon="scroll-v"></span>
                  <%= object_link(o.pinned_object) -%>
                </div>
                <div class="itemOptions">
                  <%= if o.pinned_object_type == 'Document' && o.pinned_object.document_file_content_type.eql?("application/pdf")
                        content_tag(:a, "PDF Viewer", class: :pdfviewerItem , data: { pdfviewer: o.pinned_object.document_file(:original, false), sourceid: 1037 })
                      end
                    %>
                  <%= link_to('Remove', pinboard_item_path(o), class: :remove, method: :delete) -%>
                </div>
              </li>
            <% end %>
        </ul>
    <% end %>
  <% end %>
  <%= content_tag(:p, 'Nothing on your pinboard!', class: :subtle) if sessions_current_user.pinboard_hash(sessions_current_project_id).keys.empty? -%>
</div>
