<div id="_select_ce_form" name="_select_ce_form">
  <%= form_tag(batch_create_match_georeferences_url, name: 'create_georeferences', id: 'create_georeferences', method: :post, remote: true) do %>
      <table border="1">
        <tr>
          <th>Collecting Event</th>
          <th>Verbatim Locality</th>
          <th>Georef #</th>
          <th>ID</th>
          <th></th>
        </tr>
        <tbody>
        <% @collecting_events.each { |collecting_event| %>
            <tr>
              <td>
                <%= link_to(collecting_event_tag(collecting_event), collecting_event_path(collecting_event.to_param)) %>
              </td>
              <td>
                <%= collecting_event.verbatim_locality %>
              </td>
              <td>
                <%=	 collecting_event.georeferences.count %>
              </td>
              <td>
                <%= collecting_event.to_param %>
              </td>
              <td>
                <%= check_box_tag("check#{collecting_event.id}", collecting_event.id) %>
              </td>
            </tr>
        <% } %>
        </tbody>
      </table>
      <%= hidden_field_tag('georeference_id') %>
      <%= submit_tag('Submit') %>
      <input type='submit' id="btn_create_georeferences" name="btn_create_georeferences" value="Rich's Button"/>
  <% end %>
</div>

<!--<%#= hidden_field_tag('georeference_id') %>-->
<!--<div><%#= submit_tag('Create Georeference(s)') %></div>-->
