<div id="_select_ce_partial">
  <table border="1">
    <tr>
      <th>Collecting Event ID</th>
      <th>Verbatim Locality</th>
      <th>ID</th>
      <th>
        <%= check_box_tag(' ', @collecting_events.count) %>
      </th>
    </tr>
    <tbody>
    <% @collecting_events.each { |collecting_event| %>
        <tr>
          <td>
            <%= link_to(collecting_event.id.to_s, collecting_event_path(collecting_event.id)) %>
          </td>
          <td>
            <%= collecting_event.verbatim_locality %>
          </td>
          <td>
            <%= check_box_tag('here', collecting_event.id) %>
          </td>
        </tr>
    <% } %>
    </tbody>
  </table>
  <br>
  <%= form_tag(filtered_collecting_events_path) do %>
      <div><%= submit_tag('Create Georeference(s)') %></div>
  <% end %>
</div>
