<div id="_result_ce_form">
  <%= form_tag(batch_create_match_georeferences_url, name: 'georeference_success', id: 'georeference_success', method: :post, remote: true) do %>
      <table border="1">
        <tr>
          <th>Georeference</th>
          <th>Result</th>
          <th>CE #</th>
          <th></th>
        </tr>
        <tbody>
        <% @georeferences_results.each { |gr_result| %>
            <tr>
              <td>
                <%= link_to(georeference_tag(get_gr(gr_result)), georeference_path(get_gr(gr_result).to_param)) %>
              </td>
              <td>
                <%= get_result(gr_result) %>
              </td>
              <td>
                <%= get_gr(gr_result).collecting_events.count %>
              </td>
            </tr>
        <% } %>
        </tbody>
      </table>
      <%= submit_tag('Submit') %>
      <input type='submit' id="btn_georeference_success" name="btn_georeference_success" value="Rich's Button to dismiss this message box"/>
  <% end %>
</div>
