<div id="_recent_gr_form" name="_recent_gr_form" hidden="hidden">
  <%= form_for(@georeference) do |f| %>
      <table border="1">
        <tr>
          <div class="field">
            <td><%= f.label 'return' %></td>
            <td><%= f.text_field :error_depth, size: 5 %></td>
            <td>most recent</td>
          </div>
        </tr>
      </table>
  <% end %>
  <%= form_tag(recent_georeferences_path, method: 'get') do %>
      <div><%= submit_tag('Find') %></div>
  <% end %>
</div>
