<div id="_tag_gr_form" name="_tag_gr_form" hidden="true">
  <%= form_for(@georeference) do |f| %>
      Find georeferences tagged with
      <table border="1">
        <tr>
          <div class="field">
            <td><%= f.label 'keyword' %></td>
            <td><%= f.text_field :type, size: 35 %></td>
          </div>
        </tr>
      </table>
  <% end %>
  <%= form_tag(tagged_georeferences_path, method: 'get') do %>
      <div><%= submit_tag('Find') %></div>
  <% end %>
</div>
