<%= render(partial: 'layouts/map_header') -%>

<div id="match_georeference_widget">
<div class="panel panels-container no-shadow">
  <div class="title nav-line">
    Task: Georeference matcher
  </div>
</div>
<div class="flex-wrap-row">
  <div class="panel no-shadow">
  <div class="content">
      <h2 class="no-borders">Collecting Events</h2>
      <div class="inline">Find by:
        <ul class="horizontal_navbar context-menu">
          <li><%= link_to_georeference_match_type('filter', 'ce') %></li>
          <li><%= link_to_georeference_match_type('tag', 'ce') %></li>
          <li><%= link_to_georeference_match_type('draw', 'ce') %></li>
          <li><%= link_to_georeference_match_type('recent', 'ce') %></li>
        </ul>
      </div>
      <%= render(partial: 'tasks/gis/match_collecting_event/filter_collecting_events_form') %>
      <%= render(partial: 'tasks/gis/match_collecting_event/tag_collecting_events_form') %>
      <%= render(partial: 'tasks/gis/match_collecting_event/draw_collecting_events_form') %>
      <%= render(partial: 'tasks/gis/match_collecting_event/recent_collecting_events_form') %>
      <div id="_selecting_ce_form" hidden>
        <%#= render(partial: 'tasks/gis/match_georeference/collecting_event_selections') %>
      </div>
      <div id="result_from_post" hidden>
        <%#= render(partial: 'tasks/gis/match_georeference/georeference_success') %>
      </div>
    </div>
  </div>    
    <div class="panel content no-shadow">
      <h2 class="no-borders">Current Georeference</h2>
      <div id="_find_gr_form" name="_find_gr_form">
        Find a georeference and select it.
      </div>
      <div id="_selected_gr_form" hidden
           data-feature-collection='<%= Gis::GeoJSON.feature_collection([]).to_json %>'
           data-map-center='POINT (0.0 0.0 0.0)'
           data-map-canvas="selected_gr_canvas">
        <table>
          <tr>
            <td>
              <div id="selected_gr_canvas" style="width:512px; height: 256px;"></div>
            </td>
          </tr>
        </table>
        <input type="hidden" id="selected_georeference_id"/>
        <input type='button' id="btn_clear_selection" name="btn_clear_selection" value="clear selection"/>
      </div>

    </div>
    <div class="panel no-shadow">
      <div class="content">
      <h2 class="no-borders">Georeferences</h2>
      <div class="inline">Find by:
        <ul class="horizontal_navbar context-menu">
          <li><%= link_to_georeference_match_type('filter', 'gr') %></li>
          <li><%= link_to_georeference_match_type('tag', 'gr') %></li>
          <li><%= link_to_georeference_match_type('draw', 'gr') %></li>
          <li><%= link_to_georeference_match_type('recent', 'gr') %></li>
        </ul>
      </div>
      <%= render(partial: 'filter_georeferences_form') %>
      <%= render(partial: 'tag_georeferences_form') %>
      <%= render(partial: 'draw_georeferences_form') %>
      <%= render(partial: 'recent_georeferences_form') %>
      <div id="_selecting_gr_form" hidden>
        <%#= render(partial: 'georeferences_selections_form') %>
      </div>
    </div>
    </div>
  </div>
</div>
