<%= form_for(@otu_page_layout_section) do |f| %>
    <%= render 'shared/errors', object: @otu_page_layout_section %>

    <div class="field">
      <%= f.label :otu_page_layout_id %>
      <br>
      <%= f.number_field :otu_page_layout_id %>
    </div>
    <div class="field">
      <%= f.label :type %>
      <br>
      <%= f.text_field :type %>
    </div>
    <div class="field">
      <%= f.label :topic_id %>
      <br>
      <%= f.number_field :topic_id %>
    </div>
    <div class="field">
      <%= f.label :dynamic_content_class %>
      <br>
      <%= f.text_field :dynamic_content_class %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
