<p>
  <strong>Name:</strong>
  <%= @anatomical_part.name %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @anatomical_part.uri %>
</p>

<p>
  <strong>Uri label:</strong>
  <%= @anatomical_part.uri_label %>
</p>

<p>
  <strong>Is material:</strong>
  <%= @anatomical_part.is_material %>
</p>

<p>
  <strong>Origin OTU:</strong>
  <%= object_link(@anatomical_part.origin_otu) %>
</p>
