<%= form_for(@serial_chronology) do |f| %>
    <%= render 'shared/errors', object: @serial_chronology %>

  <div class="field">
    <%= f.label :preceding_serial_id %><br>
    <%= f.number_field :preceding_serial_id %>
  </div>
  <div class="field">
    <%= f.label :succeeding_serial_id %><br>
    <%= f.number_field :succeeding_serial_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
