<p id="notice"><%= notice %></p>

<p>
  <strong>Preceding serial:</strong>
  <%= @serial_chronology.preceding_serial_id %>
</p>

<p>
  <strong>Succeeding serial:</strong>
  <%= @serial_chronology.succeeding_serial_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @serial_chronology.created_by_id %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= @serial_chronology.modified_by_id %>
</p>

<%= link_to 'Edit', edit_serial_chronology_path(@serial_chronology) %> |
<%= link_to 'Back', serial_chronologies_path %>
