<%= render("/shared/data/all/list/list_header", objects: @observation_matrix_column_items) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Descriptor') -%>
  </tr>
  </thead>

  <tbody>
  <% @observation_matrix_column_items.each do |observation_matrix_column_item| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= observation_matrix_tag(observation_matrix_column_item.observation_matrix) %></td>
          <td><%= observation_matrix_column_item.type %></td>
          <td><%= descriptor_tag(observation_matrix_column_item.descriptor) %></td>
          <%= fancy_metadata_cells_tag(observation_matrix_column_item) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

