<%= form_for(@character_state) do |f| %>
  <% if @character_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_state.errors.count, "error") %> prohibited this character_state from being saved:</h2>

      <ul>
      <% @character_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :descriptor_id %><br>
    <%= f.text_field :descriptor_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :updated_by_id %><br>
    <%= f.number_field :updated_by_id %>
  </div>
  <div class="field">
    <%= f.label :created_by_id %><br>
    <%= f.number_field :created_by_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
