<%= render(partial: 'layouts/map_header') -%>

<h1>Task: Otu distribution</h1>
<!--<p>-->
<!--<%#= @otu.distribution_geoJSON.to_json.html_safe %>-->
<!--</p>-->

<div id="otu_distribution_widget">
  <div class="flexbox">
    <div class="item item1">
      <h2>
        <%= link_to(otu_tag(@otu), otu_path(@otu.to_param)) %> - an Otu
      </h2>
      <table border="1">
        <tbody>
        <tr>
          <th><h1>Data</h1></th>
          <th></th>
        </tr>
        <tr>
          <td>
            <%= check_box_tag("check_asserted_distribution", nil, true) %>
          </td>
          <td>
            <%= "distributions (#{@otu.asserted_distributions.count}) (asserted distributions)" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag("check_collecting_event_georeference", nil, true) %>
          </td>
          <td>
            <%= "collection_objects (#{@otu.collection_objects.count}) (collecting events georeferences)" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag("check_collecting_event_geographic area", nil, true) %>
          </td>
          <td>
            <%= "collecting event gazeteer records (#{@otu.collecting_events.count}) (collecting events geographic area)" %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="item item2">
      <div id="_displayed_distribution_form"
      data-feature-collection='<%= @distribution.to_json[@otu.id].to_json.html_safe -%>'
           data-map-center='POINT (0.0 0.0 0.0)'
           data-map-canvas="displayed_distribution_canvas"
      >
        <table border="1">
          <tr>
            <td>
              <div id="displayed_distribution_canvas" style="width:512px; height: 256px;"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div id="displayed_distribution_style"></div>
            </td>
          </tr>
        </table>
        <!--<input type="hidden" id="selected_georeference_id"/>-->
        <!--<input type='button' id="btn_clear_selection" name="btn_clear_selection" value="clear selection"/>-->
      </div>

    </div>
    <div class="item item3">

    </div>

  </div>

</div>
