<%= render(partial: 'layouts/map_header') -%>

<h1>Task: <%= "#{@type_tag}" %>  distribution</h1>

<div id="otu_distribution_widget">
  <div class="flexbox">
    <div class="item item1">
      <% @distribution.otus.each do |otu| %>
          <table border="1">
            <tbody>
            <tr>
              <th><h3>Otu</h3></th>
              <th>
                <h3>
                  <%= link_to(otu_tag(otu), otu_path(otu.to_param), {name: "link_otu_#{otu.id}"}) %>
                </h3>
              </th>
            </tr>
            <% unless otu.asserted_distributions.empty? %>
                <tr>
                  <td>
                    <%= check_box_tag("check_asserted_distribution_#{otu.id}", nil, true) %>
                  </td>
                  <td>
                    <span id='<%= "span_asserted_distributions_otu_id_#{otu.id}" %>'>
                    <%= "distributions (#{otu.asserted_distributions.count}) (asserted distributions)" %>
                        </span>
                  </td>
                </tr>
            <% end %>
            <% unless otu.collection_objects.empty? %>
                <tr>
                  <td>
                    <%= check_box_tag("check_collecting_event_georeference_#{otu.id}", nil, true) %>
                  </td>
                  <td>
                    <span id="<%= "span_collecting_events_georeferences_otu_id_#{otu.id}" %>">
                        <%= "collection_objects (#{otu.collection_objects.count}) (collecting events georeferences)" %>
                    </span>
                  </td>
                </tr>
            <% end %>
            <% unless otu.collecting_events.empty? %>
                <tr>
                  <td>
                    <%= check_box_tag("check_collecting_event_geographic area_#{otu.id}", nil, true) %>
                  </td>
                  <td>
                    <span id="<%= "span_collecting_events_geographic_area_otu_id_#{otu.id}" %>">
                        <%= "collecting event gazeteer records (#{otu.collecting_events.count}) (collecting events geographic area)" %>
                    </span>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
    <div class="item item2">
      <%#=	 break_it_here %>
      <div id="_displayed_distribution_form"
           data-feature-collection='<%= @distribution.to_json.to_json -%>'
           data-map-center='POINT (0.0 0.0 0.0)'
           data-map-canvas="displayed_distribution_canvas"
      >
        <table border="1">
          <tr>
            <td>
              <div id="displayed_distribution_canvas" style="width:512px; height: 256px;"></div>
              <span id="map_coords"></span>
            </td>
          </tr>
          <tr>
            <td>
              <div id="displayed_distribution_style"></div>
            </td>
          </tr>
        </table>
        <!--<input type="hidden" id="selected_georeference_id"/>-->
        <!--<input type='button' id="btn_clear_selection" name="btn_clear_selection" value="clear selection"/>-->
      </div>

    </div>
    <div class="item item3">

    </div>

  </div>

</div>
