<h1> CoLDP Export Profiles </h1>

<% if @coldp_profiles.blank? %>
  <p>No export profiles found.</p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Alias</th>
      <th>OTU</th>
      <th>Single OTU</th>
      <th>ChecklistBank ID</th>
      <th>Export interval</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @coldp_profiles.each do |coldp_profile| %>
      <tr>
        <td><%= coldp_profile.title_alias %></td>
        <td><%= coldp_profile.otu_id %></td>
        <td><%= coldp_profile.prefer_unlabelled_otu %></td>
        <td><a href="https://www.checklistbank.org/dataset/<%= coldp_profile.checklistbank %>"><%= coldp_profile.checklistbank %></a></td>
        <td><%= coldp_profile.export_interval %></td>
        <td><%= link_to 'Download', edit_coldp_profile_path(coldp_profile) %></td>
        <td><%= link_to 'Push to ChecklistBank', edit_coldp_profile_path(coldp_profile) %></td>
        <td><%= link_to 'Destroy', coldp_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Create new CoLDP export profile', new_coldp_profile_path %>
