<div id="show">
  <div class="panels-container horizontal">
    <div class="item item1">
      <div class="panel separate-right">
          <div class="title nav-line">
            <%= model_name_title -%>
            </div>      
            <div class="navigation-controls">
              <%= yield :show_browse_navigation -%>   
                <div class="navigation-item" data-arrow-back>
                <img src="/assets/icons/arrow-left.svg"/>
                <%= previous_link(object) -%> 
                </div>
                <div class="navigation-item" data-arrow-next>
                <%= next_link(object) -%>
                <img src="/assets/icons/arrow-right.svg"/>
              </div>
            </div> 
            <div class="navigation-controls">
              <div class="navigation-item">
                <%= search_form_for_model(@data_model) %>
              </div>
            </div>
          <%= yield :show_hierarchy_navigation -%>
      </div>
    </div>
    <div class="item item2">
    <div class="panel separate-left">
      <div class="title action-line">
        <div>
          <%= object_tag(object) -%>
          <span data-view="development" style="font-weight: 100">&nbsp;[ id: <%= object.id -%> ]</span>
        </div>
        <div >
          <a href="#" data-icon="show" view-bottom>Development view</a>
        </div>
      </div> 
      <div class="navigation-controls">
        <div class="navigation-item"><img src="/assets/icons/new.svg" height="12" /><%= edit_object_link(object) -%> </div>
        <div class="navigation-item"><img src="/assets/icons/annotate.svg"><a href="#">Annotate</a>
          <div class="dropdown"><%= annotate_links(object: object) -%>
          </div>
        </div>                
        <div class="navigation-item"><img src="/assets/icons/trash.svg" height="12" /><%= destroy_object_link(object) -%></div>
        <div class="navigation-item"><img src="/assets/icons/task.svg"/><a>Task</a>
          <div class="dropdown" data-menu="task">
          <%= yield :see -%>  
          <%= yield :tasks -%>
          </div>
        </div>
        <div class="navigation-item"><img src="/assets/icons/plus.svg" height="12" /><a>Add</a>
          <div class="dropdown" data-menu="add">
            <%= yield :do -%>
          </div>
        </div>     
        <div class="navigation-item"><img src="/assets/icons/pin.svg" height="12" /><%= pin_item_to_pinboard_link(object, sessions_current_user) -%></div>
      </div>        
      </div>    
    <div class="panels-container">
    <div class="item item2 panel separate-left separate-right">
    <div class="vertical">

        
      <div class="attributes break_words content">
      <h2>Attributes</h2>
        <%= render partial:  object_attributes_partial_path(object.metamorphosize), locals: {object: object} %>
        <%= yield :related_attributes -%>
        <%= render(partial: '/shared/data/all/show/annotations', locals: {object: object}) if ! object.annotations.empty?  %>
      <div class="housekeeping attributes">
          <%= render partial: '/shared/data/all/show/housekeeping', locals: {object: object} -%>
      </div>        
      </div>

    </div>
    </div>
    <div class="item item3 panel separate-left separate-right">
        <div class="content"> 
        <h2>Related</h2>
        <%= papertrail_link(object) -%><br>
        <%= related_data_link(object) -%>
        </div>
    </div>
    <div class="item item3 panel separate-left">
        <div class="content">
          <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: object}) if object.class.respond_to?(:soft_validates?) -%>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.section[data-menu="annotate"]').hover( function() {
    $(this).children().next().toggle(250);
  });   


$( "[view-bottom]" ).click(function() {
  $("[data-view='development']").toggle();
});

if ($('[data-menu="task"]').children().length < 1 ) {
  $('[data-menu="task"]').parent().addClass("disable");
}

if ($('[data-menu="add"]').children().length < 1 ) {
  $('[data-menu="add"]').parent().addClass("disable");
}

$(document).ready(initContextMenus);
$(document).on('page:change', initContextMenus);


 function initContextMenus() {
  $.contextMenu('destroy', "#show" );
        $.contextMenu({
            selector: '#show', 
            autoHide: true,
            callback: function(key, options) {
                var m = "clicked: " + key;

                switch(key) {
                  case "show":
                    location.href = $(this).find("[data-show] a").attr('href');
                  break;
                  case "edit":
                    location.href = $(this).find("[data-edit] a").attr('href');
                  break;                  
                  case "delete":
                    $(this).find("[data-delete] a").click();
                  break;
                }
            },
            items: {
                "show": {name: "Show", icon: "show"},
                "sep1": "---------",
                "edit": {name: "Edit", icon: "edit"},
                "delete": {name: "Delete", icon: "delete"}
            }
        });
  }

    Mousetrap.bind('left', function() {
      if(typeof $(".navigation[data-arrow-back] a").attr('href') != "undefined") {
       location.href = $(".navigation[data-arrow-back] a").attr('href');
    }
  });

    Mousetrap.bind('right', function() {
      if(typeof $(".navigation[data-arrow-next] a").attr('href') != "undefined") {
        location.href = $(".navigation[data-arrow-next] a").attr('href');
      }
  });    

</script>