<div id="show">
  <div class="panels-container horizontal">
    <div class="item item1">
      <div class="panel separate-right">
        <div class="title nav-line <%= @hub_model_metadata.combined_css -%>">
          <%= model_name_title -%>
        </div> 

        <div class="navigation-controls">
          <%= content_tag(:div, link_to('Browse', browse_taxon_name_path(@taxon_name), 'class' => 'small-icon', 'data-icon' => 'browse'), 'class' => 'navigation-item') if controller.respond_to?(:browse) -%>
          <div class="navigation-item" data-arrow="back">
            <%= image_tag('icons/arrow-left.svg') -%>
            <%= previous_link(object) -%> 
          </div>
          <div class="navigation-item" data-arrow="next">
            <%= next_link(object) -%>
            <%= image_tag('icons/arrow-right.svg') -%>
          </div>
        </div> 
       
        <div class="navigation-controls">
          <div class="navigation-item">
            <%= search_form_for_model(@data_model) %>
          </div>
        </div>

        <div class="content">
          <%= yield :additional_navigation -%>
        </div>
      </div>
    </div>

    <div class="item item2">
      <div class="panel separate-left">
        <div class="title action-line">
          <div class="inline">
            <span><%= object_tag(object) -%></span>
            <span data-view="development">&nbsp;[ id: <%= object.id -%> ]</span>
          </div>
          <a href="#" data-icon="show" class="inline" view-bottom>Development view</a>
        </div> 

        <div class="navigation-controls">
          <div class="navigation-item">
            <%= edit_object_link(object) if controller.respond_to?(:edit) -%>
          </div>
          <div class="navigation-item">
            <%= destroy_object_link(object) if controller.respond_to?(:destroy) -%>
          </div>
          <div class="navigation-item">
            <%= pin_item_to_pinboard_link(object, sessions_current_user) -%>
          </div>                
          <div class="navigation-item menu-drop">
            <span class="small-icon" data-icon="annotate">Annotate</span>
            <ul class="dropdown">
              <%= annotate_links(object: object) -%>
            </ul>
          </div>                
          <div class="navigation-item menu-drop">
            <span data-icon="task" class="small-icon">Tasks</span>
            <ul class="dropdown">
              <%= yield :tasks -%>
            </ul>
          </div>
          <div class="navigation-item menu-drop">
            <span data-icon="add" class="small-icon">Add</span>
            <ul class="dropdown">
              <%= yield :add -%>
            </ul>
          </div>     
          <div class="navigation-item menu-drop">
            <span data-icon="add" class="small-icon">Report</span>
            <ul class="dropdown">
              <%= yield :report -%>
            </ul>
          </div>    
        </div>        
      </div>    
      
      <div class="panels-container">
        <div id="attributes-panel" class="item panel separate-left separate-right attributes-panel">
          <div class="break_words content">
            <div class="title-section"> 
              <h2>Attributes</h2>
              <span class="to-right"><%= papertrail_link(object) -%> | <%= related_data_link(object) -%></span> 
            </div>

            <div class="attributes"> 
              <%= render partial: object_attributes_partial_path(object.metamorphosize), locals: {object: object} %>
              <%= render partial: '/shared/data/all/show/housekeeping', locals: {object: object} -%>
            </div>        
          </div>
        </div>
       
        <div id="related-panel" class="item panel separate-left separate-right">
          <div class="content"> 
            <div class="title-section">
              <h2>Associated</h2>
            </div>
            <%= yield :associated -%>
          </div>
        </div>
        
        <div id="validation-panel" class="item panel separate-left separate-right ">
          <div class="content">
            <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: object}) if object.class.respond_to?(:soft_validates?) -%>
          </div>
        </div>

        <div id="annotations-panel" class="item panel separate-left">
          <div class="content">
            <%= render(partial: '/shared/data/all/show/annotations', locals: {object: object}) if ! object.annotations.empty?  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
