<div id="show">
  <div class="panels-container horizontal">
    <div class="item item1">
      <div class="panel separate-right">
          <div class="title nav-line">
            <%= model_name_title -%>
            </div>      
            <div class="navigation-controls">
              <div class="navigation-item"> 
                <%= link_to('Browse', browse_taxon_name_path(@taxon_name), 'class' => 'small-icon', 'data-icon' => 'browse') if controller.respond_to?(:browse) -%>
              </div>
                <div class="navigation-item" data-arrow-back>
                <img src="/assets/icons/arrow-left.svg"/>
                <%= previous_link(object) -%> 
                </div>
                <div class="navigation-item" data-arrow-next>
                <%= next_link(object) -%>
                <img src="/assets/icons/arrow-right.svg"/>
              </div>
            </div> 
            <div class="navigation-controls">
              <div class="navigation-item">
                <%= search_form_for_model(@data_model) %>
              </div>
            </div>
            <div class="content">
              <%= yield :additional_navigation -%>
            </div>
      </div>
    </div>
    <div class="item item2">
    <div class="panel separate-left">
      <div class="title action-line">
        <div>
          <%= object_tag(object) -%>
          <span data-view="development">&nbsp;[ id: <%= object.id -%> ]</span>
        </div>
        <div>
          <a href="#" data-icon="show" class="inline" view-bottom>Development view</a>
        </div>
      </div> 
      <div class="navigation-controls">
        <div class="navigation-item"><%= edit_object_link(object) -%></div>
        <div class="navigation-item">
          <span class="small-icon" data-icon="annotate">Annotate</span>
          <div class="dropdown"><%= annotate_links(object: object) -%>
          </div>
        </div>                
        <div class="navigation-item">
          <%= destroy_object_link(object) -%>
        </div>
        <div class="navigation-item">
          <span data-icon="task" class="small-icon">Task</span>
          <div class="dropdown" data-menu="task">
            <%= yield :see -%>  
            <%= yield :tasks -%>
          </div>
        </div>
        <div class="navigation-item">
          <span data-icon="add" class="small-icon">Add</span>
          <div class="dropdown" data-menu="add">
            <%= yield :do -%>
          </div>
        </div>     
        <div class="navigation-item"><%= pin_item_to_pinboard_link(object, sessions_current_user) -%></div>
      </div>        
      </div>    
    <div class="panels-container">
    <div class="item item2 panel separate-left separate-right">
    <div class="vertical">

        
      <div class="attributes break_words content">
      <h2>Attributes</h2>
        <%= render partial:  object_attributes_partial_path(object.metamorphosize), locals: {object: object} %>
        <%= yield :related_attributes -%>
        <%= render(partial: '/shared/data/all/show/annotations', locals: {object: object}) if ! object.annotations.empty?  %>
      <div class="housekeeping attributes">
          <%= render partial: '/shared/data/all/show/housekeeping', locals: {object: object} -%>
      </div>        
      </div>

    </div>
    </div>
    <div id="related-panel" class="item item3 panel separate-left separate-right">
        <div class="content"> 
        <h2>Related</h2>
        <%= papertrail_link(object) -%><br>
        <%= related_data_link(object) -%>
        </div>
    </div>
    <div id="validation-panel" class="item item3 panel separate-left">
        <div class="content">
          <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: object}) if object.class.respond_to?(:soft_validates?) -%>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>
