<div id="show">
  <div class="panels-container horizontal">
    <div class="item item1">
      <div class="panel separate-right">
        <div class="title nav-line <%= @hub_model_metadata.combined_css -%>">
          <%= model_name_title -%>
        </div> 

        <div class="navigation-controls">
          <%= previous_link(object) -%> 
          <%= next_link(object) -%>
        </div> 

        <div class="navigation-controls border-bottom">
          <div class="content">
            <%= search_form_for_model(@data_model) %>
          </div>
        </div>

        <div class="navigation-controls">
          <%= new_for_model_link(@data_model)  -%>
        </div>

        <%= yield :additional_navigation -%>
      </div>
    </div>

    <div class="item item2">
      <div class="panel separate-left">
        <div class="title action-line">
          <div class="inline">
            <span><%= object_tag(object) -%></span>
            <span data-view="development">&nbsp;[ id: <%= object.id -%>, global_id: <%= CGI.escape(object.to_global_id.to_s) -%> ]</span>
          </div>
          <div class="flex-separate">
            <ul class="context-menu">
              <li><a data-icon="show" href="#" data-turbolinks="false" view-bottom>Development view</a></li>
            </ul>
            <ul class="context-menu">
              <%= yield :icon_navigation -%> 
              <li><%= radial_annotator(object, annotations_exist(object)) %></li>
              <li><%= tag_default_icon(object) %></li>
              <li><%= pin_item_to_pinboard_link(object, sessions_current_user) %></li>
              <li><%= radial_navigation_tag(object) %></li>
            </ul>
          </div>
        </div> 

        <div class="navigation-controls">
          <%= edit_object_link(object) -%>
          <%= destroy_object_link(object) %>

          <div id="show_tasks_dropdown" class="navigation-item menu-drop">
            <span data-icon="task" class="small-icon">Tasks</span>
            <ul class="dropdown">
              <%= yield :tasks -%>
            </ul>
          </div>
          <div id="show_add_dropdown" class="navigation-item menu-drop">
            <span data-icon="add" class="small-icon">Add</span>
            <ul class="dropdown">
              <%= yield :add -%>
            </ul>
          </div>     
          <div id="show_report_dropdown" class="navigation-item menu-drop">
            <span data-icon="annotate" class="small-icon">Report</span>
            <ul class="dropdown">
              <%= related_data_link_tag(object) -%>
              <%= papertrail_link_tag(object) %>
              <%= yield :report -%>
            </ul>
          </div>    

        </div>        
      </div>    
      <div class="flex-wrap-row"> 
        <div class="panels-container">
          <div id="attributes-panel" class="panel separate-left separate-right attributes-panel separate-bottom">
            <div class="break_words content">
              <div class="title-section"> 
                <h2>Attributes</h2>
              </div>

              <div class="attributes"> 
                <%= render partial: object_attributes_partial_path(object.metamorphosize), locals: {object: object} %>
                <%= render partial: '/shared/data/all/show/housekeeping', locals: {object: object} -%>
              </div>        
            </div>
          </div>
          <div class="flex-wrap-row"> 
            <div id="related-panel" class="panel separate-left separate-bottom">
              <div class="content"> 
                <div class="title-section">
                  <h2>Associated</h2>
                </div>
                <div class="information-panel">
                  <%= yield :associated -%>
                </div>
              </div>
            </div>

            <div id="validation-panel" class="panel separate-left separate-bottom">
              <div class="content">
                <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: object}) if object.class.respond_to?(:soft_validates?) -%>
              </div>
            </div>

            <%= annotations_summary_tag(object) -%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
