<h1> Related data </h1>
<p><%= link_to 'back', metamorphosize_if(@object) -%></p>

<%= content_tag(:div, object_tag(@object), class: [:feedback, 'feedback-primary']) -%> 
<%= content_tag(:span, @object.class.name, class: [:feedback, '-feedback-secondary']) -%>

<br><br>

<h2> Has many </h2>
<% ApplicationEnumeration.klass_reflections(@object.class, :has_many).each do |r| -%>
  <% next if r.name =~ /_hierarchies|project/ %>
  <% if @object.respond_to?(r.name) -%>
    <% q = @object.send(r.name.to_s) %>
    <% q = q.where(r.table_name => {project_id: sessions_current_project_id}) if r.klass.column_names.include?('project_id')  %>

    <% t = q.load.count %>
    <% if t > 0 %>
      <%= content_tag(:h4, r.name.to_s.humanize + ' (' + t.to_s + ')' ) -%>  <%= content_tag(:em, "Limited to 1000 records") if t >= 1000 -%> 

      <table> 
        <tr> <th> object </th> <th> id </th> <th> global id </th> </tr>
        <% q.limit(500).all.each do |o| -%>
          <tr> 
            <td> <%= object_link(o) %> </td> 
            <td> <%= o.id %> </td> 
            <td> <%= o.to_global_id.to_s %> </td> 
          </tr>
        <% end %>
      </table>

    <% end %>
  <% else %>
    <mark class="notice"> Requires method rename! </mark>
  <% end %>
<% end %>

<h2> Has one </h2>
<table>
  <% ApplicationEnumeration.klass_reflections(@object.class, :has_one).each do |r| -%>
    <% if t = @object.send(r.name.to_s) -%>
      <tr>
        <td> <%= r.name.to_s.humanize -%> </td>
        <td> <%= object_link(t) -%> </td>
        <td> <%= t.id %> </td> 
        <td> <%= t.to_global_id.to_s %> </td> 
      </tr>
    <% end %>
  <% end %>
</table>

<h2> Belongs to </h2>
<table>
  <% ApplicationEnumeration.klass_reflections(@object.class, :belongs_to).each do |r| -%>
    <% if t = @object.send(r.name.to_s) -%>
      <tr>
        <td> <%= r.name.to_s.humanize -%> </td>
        <td> <%= object_link(t) -%> </td>
        <td> <%= t.id %> </td> 
        <td> <%= t.to_global_id.to_s %> </td> 
      </tr>
    <% end %>
  <% end %>
</table> 
