<%= render("/shared/data/all/list/list_header", objects: @preparation_types) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Definition') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @preparation_types.each do |preparation_type| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= preparation_type.name %></td>
          <td><%= preparation_type.definition %></td>
          <%= fancy_metadata_cells_tag(preparation_type) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
