<h1> Administration </h1>


<div class="flexbox">
  <div class="item item1">

    <h2> Projects </h2>
    <em> To add a project member view that project. </em>
    <nav>
      <ul>
        <%= content_tag(:li, link_to("New", new_project_path)) -%>
        <%= content_tag(:li, link_to("Projects overview", projects_path)) -%>
      </ul>
    </nav>

    <h2> Users </h2>
    <nav>
      <ul>
        <%= content_tag(:li, link_to("New", signup_path)) -%>
        <%= content_tag(:li, link_to("Update a user's authorization", users_path)) -%>
        <%= content_tag(:li, link_to("All", users_path)) -%>

        <%= content_tag(:li, link_to("Activity", user_activity_path, data: { no_turbolink: true })) -%>
      </ul>
    </nav>


  </div>

</div>
