<h1>Administration</h1>

<div class="flexbox panels-container">
  <div class="item panel separate-left separate-right">
    <div class="title nav-line">
      <div><span data-icon="folders"></span><span>Projects</span></div>
    </div>

    <nav class="content">
      <em> To add a project member view that project. </em>

      <ul class="no_bullets list list-arrow">
        <%= content_tag(:li, link_to("New", new_project_path)) -%>
        <%= content_tag(:li, link_to("Projects overview", projects_path)) -%>
      </ul>
    </nav>
  </div>

  <div class="item panel separate-left separate-right">
    <div class="title nav-line">
      <div><span data-icon="users"></span><span>Users</span></div>
    </div>

    <div class="content">
      <ul class="no_bullets list list-arrow">
        <li>
          <%= content_tag(:span, '', data: { icon: "new" }) %>
          <%= link_to("New", signup_path) %>
        </li>

        <li>
          <%= content_tag(:span, '', data: { icon: "new" }) %>
          <%= link_to("Batch add new", batch_add_users_task_path, data: { turbolinks: false }) %>
        </li>

        <li>
          <%= content_tag(:span, '', data: { icon: "list" }) %>
          <%= link_to("List", users_path) %>
        </li>

        <li>
          <%= content_tag(:span, '', data: { icon: "list" }) %>
          <%= link_to("Activity", user_activity_path, data: { turbolinks: false }) %>
        </li>
      </ul>
    </div>
  </div>

  <div class="item panel separate-left separate-right">
    <div class="title nav-line">
      <div><span data-icon="users"></span><span>Communication</span></div>
    </div>

    <div class="content">
      <ul class="no_bullets list list-arrow">
        <li>
          <%= content_tag(:span, '', data: { icon: "new" }) %>
          <%= link_to("New News", new_news_task_path) %>
        </li>
      </ul>
    </div>
  </div>

  <div class="item panel separate-left separate-right">
    <div class="title nav-line">
      <div><span data-icon="openFolder"></span><span>Data</span></div>
    </div>

    <div class="content">
      <ul class="no_bullets list list-arrow">
        <%= content_tag(:li, link_to("Overview", data_overview_path, data: { turbolinks: false })) -%>
        <%= content_tag(:li, link_to("Year in review", administrator_year_in_review_task_path, data: { turbolinks: false })) -%>
        <%= content_tag(:li, link_to("Project classification", project_classification_task_path, data: { turbolinks: false })) -%>
        <%= content_tag(:li, link_to("Health", administration_data_health_task_path, data: { turbolinks: false })) -%>
        <%= content_tag(:li, link_to("Cached Map Status", cached_maps_status_path, data: { turbolinks: false })) -%>

        <%= content_tag(:li, link_to("Reindex", data_reindex_path, data: { turbolinks: false })) -%>
      </ul>
    </div>
  </div>
</div>
