<h1> Administration </h1>

<div class="flexbox panels-container ">
  <div class="item panel separate-left separate-right">
    <div class="title nav-line"> 
      <span data-icon="folders">Projects</span>
    </div>
    <nav class="content">
    <em> To add a project member view that project. </em>
      <ul class="no_bullets list list-arrow">
        <%= content_tag(:li, link_to("New", new_project_path)) -%>
        <%= content_tag(:li, link_to("Projects overview", projects_path)) -%>
      </ul>
    </nav>
  </div>

  <div class="item panel separate-left separate-right">
    <div class="title nav-line"> 
      <span data-icon="users">Users</span>
    </div>
    <div class="content">
      <ul class="no_bullets list list-arrow">
        <%= content_tag(:li, link_to("New", signup_path, data: { icon: "new" })) -%>
        <%= content_tag(:li, link_to("Batch add new", batch_add_users_task_path, data: { turbolinks: false, icon: "new" })) -%>
        <%= content_tag(:li, link_to("List", users_path, data: { icon: "list" })) -%>
        <%= content_tag(:li, link_to("Activity", user_activity_path, data: { turbolinks: false, icon: "list" })) -%>
      </ul>
    </div>
  </div>

  <div class="item panel separate-left separate-right">
    <div class="title nav-line"> 
      <span data-icon="openFolder">Data</span>
    </div>
    <div class="content">
      <ul class="no_bullets list list-arrow">
        <%= content_tag(:li, link_to("Overview", data_overview_path, data: { turbolinks: false })) -%>
        <%= content_tag(:li, link_to("Health", data_health_path, data: { turbolinks: false })) -%>
        <%= content_tag(:li, link_to("Reindex", data_reindex_path, data: { turbolinks: false })) -%>
      </ul>
    </div>
  </div>
</div>
