<div class="topic_picker">

  <div>
    <div class="topic_picker_header"><%= "OTU layout topics".titleize %> <span class='topic_picker_alert' hidden></span>
    </div>
    <span class="topic_picker_message"></span>

    <ul class="topic_list">

      <% @topics.each do |topic| %>
          <li class="topic_item" data-topic-id="<%= topic.id -%>" data-topic-index="<%= topic.index -%>">
            <%= topic.text_field( :id, hidden: true )-%>
            <%= object_tag(topic.object) -%> <%= link_to('remove', "#", class: :remove_topic) -%>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="topic_picker_selection">
    <div><%= text_field_tag('topic_autocomplete', nil, class: 'topic_autocomplete', placeholder: 'Topic name') %></div>

  </div>

</div>
