<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @biocuration_class.name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @biocuration_class.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @biocuration_class.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @biocuration_class.project_id %>
</p>

<%= link_to 'Edit', edit_biocuration_class_path(@biocuration_class) %> |
<%= link_to 'Back', biocuration_classes_path %>
