<%= tag.h1 "Task - Basic paper catalog", id: :top -%>

<em>To set taxon name use ?taxon_name_id=123 in the URL.</em>

<%= form_tag paper_catalog_preview_task_path, method: :get, remote: true, data: {turbolinks: false} do |f| %>
  <div class="field">
    <h3> Generate catalog for taxon name</h3>

    <%= render partial: 'workbench/elements/forms/ajax_select',
      locals: {
      controller: '/taxon_names',
      object: '',
      method:  'taxon_name_id',
      tag_id: 'taxon_name_id_for_catalog',
      display: nil,
      size: 60} %>
  </div>
  
  <%= tag.input(type: 'submit', value: 'Go', class: ['button', 'button-default'], ) %>
  <%= tag.input(type: 'submit', value: 'Download', class: ['button', 'button-default'], ) %>
<% end %>


<pre id="catalog_preview">
  Select a taxon name to start.
</pre>
