<%= render(partial: 'layouts/map_header') -%>
<h1 class="task_header">Task: New Asserted Distribution by Map</h1>

<div class="flexbox">
  <div class="item item1">

    <h2> Select an OTU and Source </h2>
    <%= form_for(@asserted_distribution, url: create_asserted_distribution_from_map_task_path, html: {id: 'new_asserted_distribution_from_map_form'}) do |f| %>

      <div class="inline_fields"> 
        <div class="field">
          <%= f.label :otu_id, 'OTU:' %><br>
          <%= render(
            'workbench/elements/forms/ajax_select',
            controller: '/otus',
            object: 'asserted_distribution',
            method: 'otu_id',
            tag_id: 'otu_id_for_asserted_distribution',
            display: otu_autocomplete_selected_tag(@asserted_distribution.otu),
            size: 40
          ) %>

        <%= lock_tag(@locks, :asserted_distribution, :otu_id) -%>
        <%= link_to('show OTU', otu_path(@asserted_distribution.otu), data: {icon: :link}, target: :_blank) if @asserted_distribution.otu %>
        <span id="otu_error" data-icon="attention" class="warning" hidden="true">Select an OTU first.</span>
        </div>

        <%= f.fields_for :origin_citation, @asserted_distribution.origin_citation do |s| -%>
          <div class="field">
            <%= s.label :source %><br>
            <%= render( 'workbench/elements/forms/ajax_select',
                       controller: '/sources',
                       related_object: @asserted_distribution.source,
                       object: 'asserted_distribution[origin_citation_attributes]',
                       method: 'source_id',
                       fields_for_object: s, 
                       tag_id: 'source_id_for_original_citation_asserted_distribution',
                       size: '50%',
                       display: source_tag(@asserted_distribution.origin_citation.source)
                      ) 
                    %>

                  <%= lock_tag(@locks, :asserted_distribution, :source_id) -%>
                  <%= link_to('show source', source_path(@asserted_distribution.origin_citation.source) , data: {icon: :link},  target: :_blank) if @asserted_distribution.origin_citation.source %>
                  <span id="source_error" data-icon="attention" class="warning" hidden=true>Select a source first.</span>
          </div>
        <% end %>
      </div>

      <!---- lat/long choice is serialized here ----> 
      <%= text_field_tag(:latitude, nil,hidden: 'true' ) -%>
      <%= text_field_tag(:longitude, nil, hidden: 'true') -%>

      <div id="choices"><p><em> Click a point on the map to generate geographic area choices.</em><p></div>    
    <% end %>

  </div>

  <div class="item item2">
    <div id="new_asserted_distribution_map_canvas" style="width: 512px; height: 512px"></div>
    <span id="map_coords"></span>
  </div>
</div>

<h2> Existing data </h2>
<div class="flexbox"> 
  <% if @asserted_distribution.otu -%>
    <div class="item item1">
      <h3> For this OTU </h3> 
      <%= render(partial: '/asserted_distributions/by_otu_table', locals: {otu: @asserted_distribution.otu}) -%>
    </div>
  <% end %>

  <% if @asserted_distribution.origin_citation.source -%>
    <div class="item item2">
      <h3> In this source </h3> 
      <%= render(partial: '/asserted_distributions/by_source_table', locals: {source: @asserted_distribution.origin_citation.source})  -%>
    </div>
  <% end %>
</div>
