<p>
    <strong>Quantity value:</strong>
    <%= @extract.quantity_value %>
</p>

<p>
    <strong>Quantity unit:</strong>
    <%= @extract.quantity_unit %>
</p>

<p>
    <strong>Concentration value:</strong>
    <%= @extract.concentration_value %>
</p>

<p>
    <strong>Concentration unit:</strong>
    <%= @extract.concentration_unit %>
</p>

<p>
    <strong>Verbatim anatomical origin:</strong>
    <%= @extract.verbatim_anatomical_origin %>
</p>

<p>
    <strong>Year made:</strong>
    <%= @extract.year_made %>
</p>

<p>
    <strong>Month made:</strong>
    <%= @extract.month_made %>
</p>

<p>
    <strong>Day made:</strong>
    <%= @extract.day_made %>
</p>
