<%= form_for(@extract) do |f| %>
    <%= render 'shared/errors', object: @extract %>

    <div class="required">
      <div class="field">
        <%= f.label :quantity_value %>
        <br>
        <%= f.text_field :quantity_value %>
      </div>

      <div class="field">
        <%= f.label :quantity_unit %>
        <br>
        <%= f.text_field :quantity_unit %>
      </div>

      <div class="field">
        <%= f.label :concentration_value %>
        <br>
        <%= f.text_field :concentration_value %>
      </div>

      <div class="field">
        <%= f.label :concentration_unit %>
        <br>
        <%= f.text_field :concentration_unit %>
      </div>

      <div class="field">
        <%= f.label :verbatim_anatomical_origin %>
        <br>
        <%= f.text_field :verbatim_anatomical_origin %>
      </div>

      <div class="field">
        <%= f.label :year_made %>
        <br>
        <%= f.text_field :year_made %>
      </div>

      <div class="field">
        <%= f.label :month_made %>
        <br>
        <%= f.text_field :month_made %>
      </div>

      <div class="field">
        <%= f.label :day_made %>
        <br>
        <%= f.text_field :day_made %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
