<p id="notice"><%= notice %></p>

<h1>Labels</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Total</th>
      <th>Style</th>
      <th>Object global</th>
      <th>Is copy edited</th>
      <th>Is printed</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.text %></td>
        <td><%= label.total %></td>
        <td><%= label.style %></td>
        <td><%= label.object_global_id %></td>
        <td><%= label.is_copy_edited %></td>
        <td><%= label.is_printed %></td>
        <td><%= label.project %></td>
        <td><%= link_to 'Show', label %></td>
        <td><%= link_to 'Edit', edit_label_path(label) %></td>
        <td><%= link_to 'Destroy', label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Label', new_label_path %>
