<%= render("/shared/data/all/list/list_header", objects: @labels) -%>

<table class="tablesorter">
  <thead>
    <tr>
      <%= fancy_th_tag( name: 'Text') %>
      <%= fancy_th_tag( name: 'Total') %>
      <%= fancy_th_tag( name: 'Style') %>
      <%= fancy_th_tag( name: 'Object global id') %>
      <%= fancy_th_tag( name: 'Is copy edited') %>
      <%= fancy_th_tag( name: 'Is printed') %>
  
      <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
        <td><%= label.text -%></td>
        <td><%= label.total -%></td>
        <td><%= label.style -%></td>
        <td><%= label.object_global_id -%></td>
        <td><%= label.is_copy_edited -%></td>
        <td><%= label.is_printed -%></td>

        <%= fancy_metadata_cells_tag(label) -%>
      <% end %>
    <% end %>
  </tbody>
</table>


