<%= render("/shared/data/all/list/list_header", objects: @labels) -%>

<table class="tablesorter">
  <thead>
    <tr>
      <%= fancy_th_tag( name: 'Text') %>
      <%= fancy_th_tag( name: 'Total') %>
      <%= fancy_th_tag( name: 'Style') %>
      
      <%= fancy_th_tag( name: 'On object type') %>
      <%= fancy_th_tag( name: 'On object') %>
      <%= fancy_th_tag( name: 'Is copy edited') %>
      <%= fancy_th_tag( name: 'Is printed') %>
  
      <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |l| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
        <td><%= l.text -%></td>
        <td><%= l.total -%></td>
        <td><%= l.style -%></td>
        <td><%= l.label_object_type -%></td>
        <td><%= object_tag(l.label_object) -%></td>
        <td><%= l.is_copy_edited -%></td>
        <td><%= l.is_printed -%></td>

        <%= fancy_metadata_cells_tag(l) -%>
      <% end %>
    <% end %>
  </tbody>
</table>


