<%= form_for(@matrix) do |f| %>
  <%= render 'shared/errors', object: @matrix %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
