<p>
  <strong>Name:</strong>
  <%= @biological_relationship.name %>
</p>

<p>
  <strong>Inverted name:</strong>
  <%= @biological_relationship.inverted_name %>
</p>

<p>
  <strong>Is transitive:</strong>
  <%= @biological_relationship.is_transitive %>
</p>

<p>
  <strong>Is reflexive:</strong>
  <%= @biological_relationship.is_reflexive %>
</p>

<p>
  <strong>Definition</strong>
  <%= @biological_relationship.definition %>
</p>
