<p id="notice"><%= notice %></p>

<h1>Listing Biological Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Is transitive</th>
      <th>Is reflexive</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @biological_relationships.each do |biological_relationship| %>
      <tr>
        <td><%= biological_relationship.name %></td>
        <td><%= biological_relationship.is_transitive %></td>
        <td><%= biological_relationship.is_reflexive %></td>
        <td><%= biological_relationship.created_by %></td>
        <td><%= biological_relationship.updated_by %></td>
        <td><%= biological_relationship.project %></td>
        <td><%= link_to 'Show', biological_relationship %></td>
        <td><%= link_to 'Edit', edit_biological_relationship_path(biological_relationship) %></td>
        <td><%= link_to 'Destroy', biological_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biological relationship', new_biological_relationship_path %>
