<%= render(partial: 'layouts/map_header') %>
<%= content_for :head do -%>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<% end %>
<div id="co_by_area_and_date">
  <h1>Task: Collection objects by area and date range</h1>
  <div class="flexbox">
    <div class="item item1" align="center">
      <div id="set_area_and_date_form">
        <div id="select_area">
          <h2>Select area</h2>
          <h3><span id="area_count">????</span></h3>
          <%= render(:partial => 'by_area') %>
        </div>
        <hr>
        <div id="select_date_range">
          <h2>Select date range</h2><input type="button" id="toggle_slide_calendar" value="Use Calendar">
          <h3><span id="date_count">????</span></h3>
          <span id="early_date" hidden="hidden"><%= @early_date.to_date.to_s %></span>
          <span id="late_date" hidden="hidden"><%= @late_date.to_date.to_s %></span>
          <%= form_tag(by_date_task_url, id: 'set_date_form', remote: true) do %>
              <table class="no-shadow" border="1" width="700">
                <tr>
                  <td align="center" width="350">
                    <!--<label for="st_flexpicker"></label>-->
                    <input type="text" id="st_flexpicker" name="st_flexpicker" size="10"/>
                  </td>
                  <td align="center" width="350">
                    <!--<label for="en_flexpicker"></label>-->
                    <input type="text" id="en_flexpicker" name="en_flexpicker" size="10"/>
                  </td>
                </tr>
                <tr id="tr_slider">
                  <td colspan="2">
                    <div id="double_date_range"></div>
                  </td>
                </tr>
                <tr id="tr_calendar" hidden>
                  <td>
                    <div id="st_fixedpicker"></div>
                  </td>
                  <td>
                    <div id="en_fixedpicker"></div>
                  </td>
                </tr>
                <tr>
                  <td align="center" colspan="2" id="graph_frame">
                    <div>result graph</div>
                  </td>
                </tr>
              </table>
          <% end %>
        </div>
      </div>
    </div>

    <div class="item item2" align="center">
      <div id="action_find">
        <%= form_tag(find_area_and_date_task_url, id: 'find_area_and_date_form', method: :get, remote: true) do %>
            <%= submit_tag('Find', id: 'find_area_and_date_commit') %>
        <% end %>
      </div>
    </div>

    <div class="item item3" align="center">
      <div id="result_">
        <h2>Result</h2>
        <h3><span id="result_span">????</span></h3>
        Select the result list, or the map of results.<br>
        <%= link_to('List', '#', class: :result_list_toggle, hidden: :true) %>
        <%= link_to('Map', '#', class: :result_map_toggle) %>
        <%= form_tag(result_download_task_url, id: 'download_form', method: :get, remote: true) do %>
            <%= submit_tag('download') %>
        <% end %>
        <div id="show_list">
          <%= render 'result_list', collection_objects: @collection_objects %>
        </div>
        <div id="show_map" hidden>
          <!--on first paint, these variables will be empty, so we get an empty map -->
          <%= simple_map_component(report_georeferences(@collection_objects, @geographic_area), 'border="1"') -%>
        </div>
      </div>
    </div>
  </div>
</div>
