<h1> Observation matix hub </h1>

<div class="flexbox">
  <div class="item item1"> 
    <h2> Observation matrices </h2>
    <div> <%= link_to 'New', new_matrix_task_path(), target: :blank -%> </div>
    <ul> 
      <% @observation_matrices.each do |om| %>
        <table> 
          <tr> <td> <%= observation_matrix_link(om) -%> </td> </tr>  
          <tr> 
            <th> Rows  </th> 
            <th> Columns </th> 
          </tr>

          <tr>
            <td> <%= om.observation_matrix_rows.count -%> </td> 
            <td> <%= om.observation_matrix_columns.count -%> </td> 
          </tr>
        </table>
      <% end %>
    </ul>
  </div>

  <div class="item item2">
    <h2> Recent descriptors </h2> 
    <div> <%= link_to 'New', new_descriptor_task_path(), target: :blank -%> </div>
    <ul>
      <% Descriptor.recent_from_project_id(sessions_current_project_id)
        .order(updated_at: :desc).limit(20).each do |d| %>
        <%= content_tag(:li, descriptor_link(d)) -%>
      <% end %>
    </ul>
  </div>

</div>

<h2> Utilities </h2>

<div>
  <h3> Clone states between OTUs </h3>

  <%= form_tag() do -%>

    <em> All recorded observations are syncronized from the old to new.  Annotations on observations are not copied over! </em>

    <div class="field"> 
      <%= label_tag :merge_from_this_otu %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals: {controller: '/otus',
                          object: '',
                          method: 'old_otu_id',
                          tag_id: 'old_otu_id_for_clone',
                          display: ''} %>
    </div>

    <div class="field"> 
      <%= label_tag :into_this_otu %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
        locals: {controller: '/otus',
                 object: '',
                 method: 'new_otu_id',
                 tag_id: 'new_otu_id_for_clone',
                 display: ''} %>
    </div>

    <div class="actions">
      <%= submit_tag 'Clone' -%>
    </div>

  <% end %>

</div>
