<h1>Listing biological associations graphs</h1>

<%= paginate @biological_associations_graphs %> <%= page_entries_info @biological_associations_graphs %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Last modified</th>
    <th>Updated by</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @biological_associations_graphs.each do |biological_associations_graph| %>
      <tr>
        <td><%= biological_associations_graph.name %></td>
        <td><%= biological_associations_graph.source %></td>
        <td><%= biological_associations_graph.updated_at %></td>
        <td><%= object_tag(biological_associations_graph.updater) %></td>
        <td><%= link_to 'Show', biological_associations_graph %></td>
        <td><%= link_to 'Edit', edit_biological_associations_graph_path(biological_associations_graph) %></td>
        <td><%= link_to 'Destroy', biological_associations_graph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
