<%= render("/shared/data/all/list/list_header", objects: @biological_associations_graphs) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Source') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @biological_associations_graphs.each do |biological_associations_graph| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= biological_associations_graph.name %></td>
          <td><%= biological_associations_graph.source %></td>
          <%= fancy_metadata_cells_tag(biological_associations_graph) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
