
<%= content_tag(:h1, observation_matrix_tag(@observation_matrix)) -%>

<%= link_to('Observation matrix hub', observation_matrices_hub_task_path) -%> |
<%= link_to('Edit', new_matrix_task_path(@observation_matrix)) -%>

<table>
  <tr>
    <th>  </th>
    <th> OTUs </th>
    <% @observation_matrix.observation_matrix_columns.order(:position).each do |d| -%>
      <%= content_tag(:th, descriptor_matrix_column_link(d.descriptor)) -%>
    <% end %>
  </tr>

  <% @observation_matrix.observation_matrix_rows.each do |row| -%>
    <tr>
    <%= content_tag(:td, link_to('code', index_row_coder_task_path(observation_matrix_row_id: row.id) , class: ['circle-button', 'btn-row-coder']   )) -%>

    <%= content_tag(:td, object_link(row.row_object)) -%>

    <% @observation_matrix.observation_matrix_columns.order(:position).each do |col| -%>
      <%= content_tag(:td, observation_matrix_cell_tag(row.row_object, col.descriptor)) -%>
    <% end %> 
    </tr>
  <% end %>
</table>


