<div id="summary-panel" class="panel fullSize content separate-left separate-bottom">
  <h2> Summary </h2>
  <p> 
  <%= taxon_name_short_status(@taxon_name) -%>
  The record is for a <%= @taxon_name.type -%>.
  <%= content_tag(:span, taxon_name_latinization_tag(@taxon_name)) -%>
  There are <%= @data.names.count -%> names are referenced in this entry.
  <%= "Citations for this record include following topics: #{@data.topics.map(&:name).to_sentence}." if !@data.topics.empty? -%>
  <%= Utilities::Dates.date_range_sentence_tag(@data.date_range) -%>
  </p>
</div>

