<h1 class="task_header"> Browse nomenclature </h1>

<div id="browse-view" class="">
  <div class="panel content">
    <div class="flex-separate middle">
      <%= render('/taxon_names/breadcrumb_navigator', taxon_name: @taxon_name, target: :browse_nomenclature_task_path) -%>
      <span class="right_float">
        <ul class="context-menu">
          <li><%= radial_annotator(@taxon_name) %></li>
          <li><%= otus_redirect(@taxon_name) %></li>
          <li><%= otus_radial_disambiguate(@taxon_name) %></li>
          <li><%= tag_default_icon(@taxon_name) %></li>
          <li><%= pin_item_to_pinboard_link(@taxon_name, sessions_current_user) %></li>
        </ul>
      </span>    
    </div>
  </div>

  <div id="show" class="panels-container">
    <div class="item item1">
      <div class="panel separate-right">
        <div class="title nav-line">
          Navigate 
        </div>

        <div class="navigation-controls">
          <%= link_to(content_tag(:span, 'Show', class: 'small-icon'), @taxon_name.metamorphosize, class: 'navigation-item') -%>
          <%= edit_taxon_name_link(@taxon_name, target: :edit_task) -%>
        </div>

        <%= render('/taxon_names/classification_navigator', taxon_name: @taxon_name) -%>

        <div class="navigation-controls">
          <div class="navigation-item">
            <%= form_tag( browse_nomenclature_task_path, method: :get) do %>
              <%= render  'workbench/elements/forms/ajax_select',
                controller:  '/taxon_names',
                object: '',
                method:  'id',
                send_select: true,
                tag_id:  'taxon_name_id_for_browse_nomenclature',
                size: 20 %>
            <% end %>
          </div>
        </div>
        <%= render('/taxon_names/parent_navigator', taxon_name: @taxon_name, target: :browse_nomenclature_task_path) -%>
      </div>
    </div>

    <div class="item item2 separate-bottom">
      <div class="flexbox separate-bottom">
        <div class="panel separate-left separate-right">
          <div class="break_words">
            <div class="content subtitle filter middle"> 
              <%= content_tag(:p, full_taxon_name_tag(@taxon_name), class: 'item center_text name') -%>
            </div>
            <div class="horizontal-center-content filter">
              <div id="filterBrowse_button" class="circle-button open"></div>
            </div>
            <%= render "filter" %>
            <div class="content">
              <div class="attributes"> 
                <ul class="taxonomic_history">
                  <% @data.ordered_by_nomenclature_date.each do |c| -%>
                    <%= nomenclature_catalog_li_tag(c, @data.reference_taxon_name, :browse_nomenclature_task_path) -%> 
                  <% end %>
                </ul>
                <br/>
                <% if @data.sources.any? %> 
                  <%= content_tag(:h3, 'References')-%>
                  <ul class="citations">
                    <% @data.sources.each do |s| -%>
                      <%= content_tag(:li, source_nomenclature_tag(s, @data.topics_for_source(s))) -%>
                    <% end %> 
                  </ul>                          
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div id="third-column">
          <div class="flex-wrap-row"> 
            <%= render "summary" %>
            <%= render "soft_validation" %>
            <div class="panel content fullSize separate-left">
              <div class="attributes">
                <%= render(partial: '/shared/data/all/show/housekeeping', locals: {object: @taxon_name}) -%> 
              </div>
            </div>
          </div>
        </div>
      </div>

    <% if @taxon_name.depictions.any? %>
      <div>
        <div id="depiction-panel" class="panel content separate-left">
          <h2> Depictions </h2>
          <div class="horizontal-left-content flexbox"> 
          <%= thumb_list_tag(@taxon_name) -%>
          </div>
        </div>
      </div> 
    <% end %>

    </div>

  </div>
</div>
