<p>
  <strong>Name:</strong>
  <%= @descriptor.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @descriptor.short_name %>
</p>

<p>
  <strong>Key name:</strong>
  <%= @descriptor.key_name %>
</p>

<p>
  <strong>Description name:</strong>
  <%= @descriptor.description_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @descriptor.type %>
</p>

<p>
  <strong>Default unit:</strong>
  <%= @descriptor.default_unit %>
</p>



