<%= form_for(@descriptor) do |f| %>
    <%= render 'shared/errors', object: @descriptor %>

    <div class="required">
      <div class="field">
        <%= f.label :descriptor_id %>
        <br>
        <%= f.text_field :descriptor_id %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>