<%= render("/shared/data/all/list/list_header", objects: @descriptors) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Id') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @descriptors.each do |descriptor| %>
      <%= content_tag(:tr, class: [:contextMenuCells, :btn, 'btn-neutral']) do -%>
          <td><%= descriptor.id %></td>
          <%= fancy_metadata_cells_tag(descriptor) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

