<%= form_tag url, multipart: true do -%>
  <div class="field">
    <%= label_tag :file, 'Select a file' -%>
    <br>
    <%= file_field_tag(:file, id: 'da_file') -%>
  </div>

  <%# if @result -%>
    <p>
      <%= check_box_tag('create_new_otu', nil, true) %>create new OTUs for unmatched OtuName<br>
      <!--      <%#= check_box_tag('create_new_predicate') %>create new Predicate for unmatched Predicate<br>-->
      <%= text_field_tag('source_id', nil, placeholder: 'Enter source id to create a citation...',
                         size: 26) %>
    </p>
  <%# end %>

  <%= content_for :warn_level -%>
  <% if @result.blank? -%>
    <%= submit_tag('preview', id: 'da_preview') -%>
  <% else %>
    <%= submit_tag('create', id: 'da_create') -%>
  <% end %>
<% end %>
