<%= form_for(@otu_page_layout) do |f| %>
    <%= render 'shared/errors', object: @otu_page_layout %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>

    <%= render partial: '/contents/content_picker', locals: {object: @otu_page_layout, f: f} %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
