<%= render("/shared/data/all/list/list_header", objects: @otu_page_layouts) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @otu_page_layouts.each do |otu_page_layout| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= otu_page_layout.name %></td>
          <%= fancy_metadata_cells_tag(otu_page_layout) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

