<%= render("/shared/data/all/list/list_header", objects: @observation_matrices) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @observation_matrices.each do |matrix| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= matrix.name %></td>
          <%= fancy_metadata_cells_tag(matrix) -%>
      <% end %>
  <% end %>
  </tbody>
</table>


