

<%= content_for :tasks do -%>
  <%= content_tag(:li, link_to('Edit (task)', new_matrix_task_url(@observation_matrix), data: {turbolinks: false} )) %>
<% end %>

<%= content_for :associated do -%>
  <h3> Rows </h3>
  <ul>
  <% @observation_matrix.observation_matrix_rows.order(:position).each do |mri| -%>
    <%= content_tag :li, object_link(mri) -%>
  <% end %>
  </ul>

  <h3> Columns </h3>
  <ul>
    <% @observation_matrix.observation_matrix_columns.order(:position).each do |mrc| -%>
      <%= content_tag :li, object_link(mrc) -%>
    <% end %>
  </ul>
<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @observation_matrix}) -%>

