<div class="attributes">
  <p>
  <strong>Name:</strong>
  <%= @user.name %>
  </p>

  <p>
  <strong>Email:</strong>
  <%= @user.email %>
  </p>

  <p>
  <strong>Sign in count:</strong>
  <%= @user.sign_in_count %>
  </p>

  <p>
  <strong>Current sign in at:</strong>
  <%= @user.current_sign_in_at %>
  </p>

  <p>
  <strong>Last sign in at:</strong>
  <%= @user.last_sign_in_at %>
  </p>

  <p>
  <strong>Current sign in ip:</strong>
  <%= @user.current_sign_in_ip %>
  </p>

  <p>
  <strong>Last sign in ip:</strong>
  <%= @user.last_sign_in_ip %>
  </p>

  <% if @user.api_access_token %>
    <p>
    <strong>API access token:</strong>
    <%= @user.api_access_token %> 
    </p>
  <% end %>
</div>
