<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Person (you, as data):</strong>
  <%= person_link(@user.person) %>
</p>

<p>
  <strong>ORCiD:</strong>
  <%= @user.orcid ? @user.orcid : content_tag(:span, 'NONE (add to person)', class: %w{feedback feedback-thin feedback-danger})  %>
</p>

<p>
  <strong>Wikidata ID:</strong>
  <%= @user.wikidata_id ? @user.wikidata_id : content_tag(:span, 'NONE (add to person)', class: %w{feedback feedback-thin feedback-warning})  %>
</p>

<p>
  <strong>Sign in count:</strong>
  <%= @user.sign_in_count %>
</p>

<p>
  <strong>Current sign in at:</strong>
  <%= @user.current_sign_in_at %>
</p>

<p>
  <strong>Last sign in at:</strong>
  <%= @user.last_sign_in_at %>
</p>

<p>
  <strong>Current sign in ip:</strong>
  <%= @user.current_sign_in_ip %>
</p>

<p>
  <strong>Last sign in ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>

<% if @user.api_access_token %>
  <p>
    <strong>API access token:</strong>
    <%= @user.api_access_token %>
  </p>
<% end %>

<p>
  <strong>Preferences:</strong>
  <%= ap(@user.preferences).html_safe %>
</p>


