<%= form_for(@depiction, multipart: true) do |f| %>
    <%= render 'shared/errors', object: @depiction %>

    <div class="field" id="depiction_edit">
      <%= f.label :depiction_object_type %><br>
      <%= f.radio_button :depiction_object_type, 'Otu', id: :otu %> OTU <br>
      <%= f.radio_button :depiction_object_type, 'CollectionObject', id: :collection_object %> Collection object  <br>
      <%= f.radio_button :depiction_object_type, 'CollectingEvent', id: :collecting_event %> Collecting event <br>
      <%= f.radio_button :depiction_object_type, 'Content', id: :content %> Content 
    </div>

    <div id='fields_for_otu'>
      <%= f.label :otu_id %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals:  {controller: '/otus',
                           object:     'depiction',
                           method:     'depiction_object_id',
                           tag_id:     'otu_id_for_depiction_object_id',
                           display:    (@depiction.depiction_object&.metamorphosize&.class&.name == 'Otu' ? object_tag(@depiction.depiction_object.metamorphosize) : nil)} %>
    </div>

    <div id='fields_for_collecting_event'>
      <%= f.label :collecting_event_id %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals:  {controller: '/collecting_events',
                           object:     'depiction',
                           method:     'depiction_object_id',
                           tag_id:     'collecting_event_id_for_depiction_object_id',
                           display:    (@depiction.depiction_object&.metamorphosize&.class&.name == 'CollectingEvent' ? object_tag(@depiction.depiction_object.metamorphosize) : nil)} %>


    </div>

    <div id='fields_for_collection_object'>
      <%= f.label :collection_object %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals:  {controller: '/collection_objects',
                           object:     'depiction',
                           method:     'depiction_object_id',
                           tag_id:     'collection_object_id_for_depiction_object_id',
                           display:    (@depiction.depiction_object&.metamorphosize&.class&.name == 'CollectionObject' ? object_tag(@depiction.depiction_object.metamorphosize) : nil)} %>
    </div>

    <div class="field">
      <%= f.label :caption %><br>
      <%= f.text_area :caption, rows: 6, cols: 80 %>
    </div>

    <div class="field">
      <%= f.label :figure_label %><br>
      <%= f.text_field :figure_label%>
    </div>

    <%= f.fields_for :image_attributes do |i| %>
        <div class="field">
          <%= i.label :image_file %><br>
          <div> <%= image_tag(@depiction.image.image_file.url(:thumb)) if @depiction.image -%> </div>
          <%= i.file_field :image_file, class: :required_for_submit %>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

