<h1>Listing depictions</h1>

<table>
  <thead>
    <tr>
      <th>Depiction object</th>
      <th>Image</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depictions.each do |depiction| %>
      <tr>
        <td><%= depiction.depiction_object %></td>
        <td><%= depiction.image %></td>
        <td><%= depiction.created_by_id %></td>
        <td><%= depiction.updated_by_id %></td>
        <td><%= depiction.project %></td>
        <td><%= link_to 'Show', depiction %></td>
        <td><%= link_to 'Edit', edit_depiction_path(depiction) %></td>
        <td><%= link_to 'Destroy', depiction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Depiction', new_depiction_path %>
