<%= render("/shared/data/all/list/list_header", objects: @depictions) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Depiction object') -%>
    <%= fancy_th_tag(name: 'Image') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @depictions.each do |depiction| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= object_tag(depiction.depiction_object.metamorphosize) %></td>
          <td><%= depiction_tag(depiction, size: :thumb) %></td>
          <%= fancy_metadata_cells_tag(depiction) -%>
      <% end %>
  <% end %>
  </tbody>
</table>


