<%= content_for :tasks do -%>
  <%= content_tag(:li, link_to('Transcribe', sqed_depiction_breakdown_task_path(@depiction.sqed_depiction), 'data-turbolinks' => 'false')) if @depiction.sqed_depiction -%>
<% end %>

<%= content_for :associated do -%>
  <% if @depiction.sqed_depiction -%>
    <h3> Sqed Depiction </h3>

    <p><strong>In progress:</strong>
      <%= @depiction.sqed_depiction.in_progress || 'No'  %>
    </p>

    <p>
    <strong>Metadata map:</strong>
    <%= @depiction.sqed_depiction.metadata_map %>
    </p>
    <p><strong>Layout:</strong>
      <%= @depiction.sqed_depiction.layout %>
    </p>
    
    <p><strong>Border:</strong>
    <%= @depiction.sqed_depiction.has_border %>
    </p>
   
    <p><strong>Result boundary coordinates:</strong>
      <%= @depiction.sqed_depiction.result_boundary_coordinates %>
    </p>

    <%= render partial: '/shared/data/all/show/housekeeping', locals: {object: @depiction.sqed_depiction} -%>
    
  <% end %>
<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @depiction}) -%>
