<h1>Listing geographic_area_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @geographic_area_types.each do |geographic_area_type| %>
      <tr>
        <td><%= geographic_area_type.name %></td>
        <td><%= geographic_area_type.created_by_id %></td>
        <td><%= geographic_area_type.updated_by_id %></td>
        <td><%= link_to 'Show', geographic_area_type %></td>
        <td><%= link_to 'Edit', edit_geographic_area_type_path(geographic_area_type) %></td>
        <td><%= link_to 'Destroy', geographic_area_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geographic area type', new_geographic_area_type_path %>
