<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @field_occurrence.total %>
</p>

<p>
  <strong>Collecting event:</strong>
  <%= @field_occurrence.collecting_event_id %>
</p>

<p>
  <strong>Is absent:</strong>
  <%= @field_occurrence.is_absent %>
</p>

<%= link_to 'Edit', edit_field_occurrence_path(@field_occurrence) %> |
<%= link_to 'Back', field_occurrences_path %>
