<p>
  <strong>Type:</strong>
  <%= @controlled_vocabulary_term.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @controlled_vocabulary_term.name %>
</p>

<p>
  <strong>Label color:</strong>
  <%= color_tag(@controlled_vocabulary_term.css_color, @controlled_vocabulary_term.css_color) %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @controlled_vocabulary_term.definition %>
</p>

<p>
  <strong>URI:</strong>
  <%= @controlled_vocabulary_term.uri %>
</p>

<p>
  <strong>URI relation:</strong>
  <%= @controlled_vocabulary_term.uri_relation %>
</p>
