<div class="required">

  <div class="field <%= collapsed_css_property_if(hide_type) -%> ">
    <%= f.label :type %>
    <%= f.select :type, options_for_select(controlled_vocabulary_term_type_select_options, controlled_vocabulary_term.type) %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :definition %>
    <%= f.text_area :definition %>
  </div>
</div>

<div class="field">
  <%= f.label :uri %>
  <br>
  <%= f.text_area :uri %>
</div>

<div class="field">
  <%= f.label :uri_relation %>
  <br>
  <%= f.select :uri_relation, options_for_select(SKOS_RELATIONS.keys, controlled_vocabulary_term.uri_relation), include_blank: true -%> 
</div>

