<%= render("/shared/data/all/list/list_header", objects: @controlled_vocabulary_terms) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Definition') -%>
    <%= fancy_th_tag(name: 'Uri') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @controlled_vocabulary_terms.each do |controlled_vocabulary_term| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= controlled_vocabulary_term_tag(controlled_vocabulary_term) %></td>
          <td><%= controlled_vocabulary_term.type %></td>
          <td><%= controlled_vocabulary_term.definition %></td>
          <td><%= controlled_vocabulary_term.uri %></td>
          <%= fancy_metadata_cells_tag(controlled_vocabulary_term) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

