<h1>Listing Controlled Vocabulary Terms</h1>
<%= paginate @controlled_vocabulary_terms %> <%= page_entries_info @controlled_vocabulary_terms %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Definition</th>
      <th>Last modified</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @controlled_vocabulary_terms.each do |controlled_vocabulary_term| %>
      <tr>
        <td><%= controlled_vocabulary_term.name %></td>
        <td><%= controlled_vocabulary_term.type %></td>
        <td><%= controlled_vocabulary_term.definition %></td>
        <td><%= controlled_vocabulary_term.updated_at %></td>
        <td><%= object_tag(controlled_vocabulary_term.updater) %></td>
        <td><%= link_to 'Show', controlled_vocabulary_term.metamorphosize %></td>
        <td><%= link_to 'Edit', edit_controlled_vocabulary_term_path(controlled_vocabulary_term.metamorphosize) %></td>
        <td><%= link_to 'Destroy', controlled_vocabulary_term.metamorphosize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

