<div class="slide-panel <%= yield :header_class %>" data-panel-name="<%= yield :panel_name_data %>" data-panel-open="false">
  <div class="slide-panel-header">
    <%= yield :panel_title -%> 
    <button 
      type="button"
      title="Close"
      class="slide-panel-close-button" data-control-slide-panel="<%= yield :panel_name_data %>">
    </button>
  </div>
  <%= yield :panel_contents -%>
</div>
