<%= render "/hub/navigation_lists/hub_category_filter" %>
<% if @sessions_current_user.favorite_routes.length != 0 %>
<div id="show">
<div class="flexbox">
  <div class="item">
    <div class="section">
	<div id="data_cards">
	    <div data-section="Favorite" class="">
	    <div class="data_section_label">
	    	<h3>
	    		Favorites
	    	</h3>
	    </div>
		    <div class="cards-section favorite-box" >
				<% @sessions_current_user.favorite_routes.each do |route| -%>
			      <div class="card-container" style="display: flex;">
				      <div class="data_card" style="border:1px solid #FCF09A;">
					    	<div class="status"><%= link_to('Remove', remove_favorite_page_path(favorited_route: route), method: 'post') -%> 
					    	</div>
					    	<%= link_to(route.parameterize(' - '), route) -%> 
					  </div>
			      </div>		      
		      <% end %>
		      <% if @sessions_current_user.favorite_routes.length == 0 %>
				<div data-attribute="empty" class="subtle center_text">
			    	<h1>None</h1>
			    </div>
			  <% end %>
		    </div>
	    </div>
	</div>
</div>
</div>  
</div>
</div>
      
  <% end %> 

<div id="data_cards">
  <% Hub::Data::SECTIONS.each do |s| -%>
    <div data-section="<%= s -%>" class="data_section">
	    <div class="cards-section">
	      <% Hub::Data.items_for(s).each do |i| %>  
		      <div class="card-container">
		        <%= data_card(i) -%> 
		      </div>		      
	      <% end %>
	    </div>
	    <div class="data_section_label">
	    	<div class="data-controls">
	    		<a class="cards-up" href="#"><img src="/assets/icons/arrow-up.svg" width="15"/></a>
	    		<a class="cards-down" href="#"><img src="/assets/icons/arrow-down.svg" width="15"/></a>
	    	</div>
	    	<h3>
	    		<%= s -%>
	    	</h3>
	    </div>
	    <div data-attribute="empty" class="subtle center_text">
	    	<h1>None</h1>
	    </div>
    </div>
  <% end %>
</div>
</div>
</div>

<script type="text/javascript">

var carrouselData = function (sec, rows, columns) {

	// sec = Name of data section, this is for identify div.
	// rows = This is for the number of rows that will be displayed, if this number is less than the number of items, it will activate the navigation controls
	// columns = This is for the number of rows to be displayed
	
		this.childs = 0,
		this.start = 1,
		this.maxRow = 0,
		this.maxColumn = 1,
		this.nro = 1,
		this.sectionTag = "",
		this.filters = {};
		this.maxRow = rows;
		this.sectionTag = sec;
		this.resetChildsCount();
		if(this.maxRow >= this.childs) {
			this.navigation(false);
		}

		if(columns >= 1) {
			$('.data_section[data-section="' + this.sectionTag + '"]').css("max-width",(250*columns) + 'px');
		}
		else {
			$('.data_section[data-section="' + this.sectionTag + '"]').css("max-width", 'auto');
		}
	}

	carrouselData.prototype.addFilter = function (nameFilter) {
		this.filters[nameFilter] = false;
	}	

	carrouselData.prototype.checkChildFilter = function(childTag) {
		var find = 0;
		var isTrue = 0;
		for (var key in this.filters) {
			if(this.filters[key] == true) {
				find++;
				if ($(childTag).attr(key)) {
					isTrue++;
				}
		    }	
		}
		if(isTrue == find) {
			return true;
		}
		else {
			return false;
		}		
	}

	carrouselData.prototype.resetChildsCount = function() {
	  	this.childs = $('.data_section[data-section="' + this.sectionTag + '"] > .cards-section > .card-container ').length;
	}

	carrouselData.prototype.showEmptyLabel = function(isTrue) {
		if(isTrue) {
			$('[data-section="' + this.sectionTag + '"] div[data-attribute="empty"]').hide(250);
		}
		else {
			$('[data-section="' + this.sectionTag + '"] div[data-attribute="empty"]').show(250);
		}
	}

	carrouselData.prototype.changeFilter = function(filterTag)	{
		this.filters[filterTag] = !this.filters[filterTag];
		this.filterChilds();
	}	

	carrouselData.prototype.setFilterStatus = function(filterTag, value)	{
		this.filters[filterTag] = value;
		this.filterChilds();
	}	

	carrouselData.prototype.filterChilds = function() {
		var
			find = 0;
		if(this.maxRow > this.childs) {
			this.maxRow = this.childs;
		}

		for (i = 1; i <= this.maxRow; i++) {
			child = $('.data_section[data-section="' + this.sectionTag + '"] > .cards-section > .card-container:nth-child('+ (i) +')');
			if(this.checkChildFilter(child.children().children(".status"))) {
				child.show(250);
				find++;
			}
			else {
				child.hide(250);
			}
		}
		this.showEmptyLabel(find > 0);
	}	

	carrouselData.prototype.navigation = function(value) {
		if(value) {
			$('.data_section[data-section="'+ this.sectionTag +'"] div.data-controls').css("display","show");
		}
		else {
			$('.data_section[data-section="'+ this.sectionTag +'"] div.data-controls').css("display","none");
		}
	}


	carrouselData.prototype.loadingUp = function() {
    	var
    	  rows = this.maxRow,
    	  posNro = this.nro,
    	  tag = this.sectionTag;

	    if(this.nro > this.start) {
	        $('.data_section[data-section="' + tag + '"] > .cards-section > .card-container:nth-child('+ (posNro+rows-1) +')').hide(100, function() {
	  	        $('.data_section[data-section="' + tag + '"] > .cards-section > .card-container:nth-child('+ (posNro-1) +')').show(150)
	        });      
	        if(this.nro > this.start) {
	        	this.nro--;
	      	}        
	    }  
	} 

    carrouselData.prototype.loadingDown = function() {
    	var
    	  rows = this.maxRow,
    	  posNro = this.nro,
    	  tag = this.sectionTag;

	    if((this.nro+this.maxRow) <= this.childs) {
	        $('.data_section[data-section="' + this.sectionTag + '"] > .cards-section > .card-container:nth-child('+ posNro +')' ).hide(100, function() {
	        	
	        	$('.data_section[data-section="' + tag + '"] > .cards-section > .card-container:nth-child('+ (posNro+rows) +')' ).show(150)

	        });   
	        if(this.nro < this.childs) {
	        	this.nro++;
	      	}          
    	} 
  	}	 
  	

var 
	core = new carrouselData("Core",99,1),
	favorite = new carrouselData("Favorite",99,5),	
	supporting = new carrouselData("Supporting",99,2),	
	annotations = new carrouselData("Annotations",99,1);

	
favorite.filterChilds();
core.addFilter("data-category-collectingevent");
core.addFilter("data-category-TaxonName");
core.addFilter("data-category-Source");
core.addFilter("data-category-collectionobject");
core.filterChilds();

supporting.addFilter("data-category-collectingevent");
supporting.addFilter("data-category-TaxonName");
supporting.addFilter("data-category-Source");
supporting.addFilter("data-category-collectionobject");
supporting.filterChilds();

annotations.addFilter("data-category-collectingevent");
annotations.addFilter("data-category-TaxonName");
annotations.addFilter("data-category-Source");
annotations.addFilter("data-category-collectionobject");
annotations.filterChilds();


function changeAllSectionsFilter(dataTag, value) {
	core.setFilterStatus(dataTag,value);
  	supporting.setFilterStatus(dataTag,value);
  	annotations.setFilterStatus(dataTag,value);
}

function deactivateBackgroundColorLink(selector) {
	$(selector).parent().removeClass("activated");
}

function activateBackgroundColorLink(selector) {
	$(selector).parent().addClass("activated");
}

function changeBackgroundColorLink(selector) {
	if ($(selector).parent().hasClass("activated")) {
		deactivateBackgroundColorLink(selector);
	}
	else {
		activateBackgroundColorLink(selector);
  	}
}

  //Getting clicks on arrows
  $('.data_section[data-section="Core"]').on('click', 'a.cards-down', function() {
    core.loadingDown();
  });

  $('.data_section[data-section="Core"]').on('click', 'a.cards-up', function() {
    core.loadingUp();
  }); 

  $('.data_section[data-section="Supporting"]').on('click', 'a.cards-down', function() {
    supporting.loadingDown();
  });

  $('.data_section[data-section="Supporting"]').on('click', 'a.cards-up', function() {
    supporting.loadingUp();
  }); 

  $('.data_section[data-section="Annotations"]').on('click', 'a.cards-down', function() {
    annotations.loadingDown();
  });

  $('.data_section[data-section="Annotations"]').on('click', 'a.cards-up', function() {
    annotations.loadingUp();
  });      


  $('.navigation').on('click', 'a[data-filter-category="taxon_name"]', function() {
	  	changeBackgroundColorLink('a[data-filter-category="taxon_name"]');
      	core.changeFilter("data-category-TaxonName");
      	supporting.changeFilter("data-category-TaxonName");
      	annotations.changeFilter("data-category-TaxonName"); 
  });

  $('.navigation').on('click', 'a[data-filter-category="collecting_event"]', function() {
  		changeBackgroundColorLink('a[data-filter-category="collecting_event"]');
      	core.changeFilter("data-category-collectingevent"); 
      	supporting.changeFilter("data-category-collectingevent"); 
      	annotations.changeFilter("data-category-collectingevent"); 
  });

  $('.navigation').on('click', 'a[data-filter-category="collection_object"]', function() {
  		changeBackgroundColorLink('a[data-filter-category="collection_object"]');  	
	    core.changeFilter("data-category-collectionobject");   
	    supporting.changeFilter("data-category-collectionobject");   
	    annotations.changeFilter("data-category-collectionobject"); 
  });  

  $('.navigation').on('click', 'a[data-filter-category="source"]', function() {
  		changeBackgroundColorLink('a[data-filter-category="source"]');  	
      	core.changeFilter("data-category-Source");
      	supporting.changeFilter("data-category-Source");
      	annotations.changeFilter("data-category-Source");
  });

  $('.navigation').on('click', 'a[data-filter-category="reset"]', function() {
		changeAllSectionsFilter("data-category-Source", false);
		changeAllSectionsFilter("data-category-TaxonName", false);
		changeAllSectionsFilter("data-category-collectionobject", false);
		changeAllSectionsFilter("data-category-collectingevent", false);
	  	activateBackgroundColorLink('a[data-filter-category="reset"]');
	  	deactivateBackgroundColorLink('a[data-filter-category="source"]');
	  	deactivateBackgroundColorLink('a[data-filter-category="taxon_name"]');
	  	deactivateBackgroundColorLink('a[data-filter-category="collecting_event"]');
	  	deactivateBackgroundColorLink('a[data-filter-category="collection_object"]');
	  	setTimeout( function() {
	  	deactivateBackgroundColorLink('a[data-filter-category="reset"]');
	  }, 100);
  });  

$('.data_card div[data-category-collectingevent="true"]').append("<img src='/assets/icons/geo_location.svg'/>");
$('.data_card div[data-category-TaxonName="true"]').append("<img src='/assets/icons/new.svg'/>");
$('.data_card div[data-category-collectionobject="true"]').append("<img src='/assets/icons/picking.svg'/>");
$('.data_card div[data-category-Source="true"]').append("<img src='/assets/icons/book.svg'/>");

  //Mousetrap Keys
  
    Mousetrap.bind('s', function() {
      	changeBackgroundColorLink('a[data-filter-category="source"]');
      	core.changeFilter("data-category-Source");
      	supporting.changeFilter("data-category-Source");
      	annotations.changeFilter("data-category-Source");
  });

    Mousetrap.bind('e', function() {
    	changeBackgroundColorLink('a[data-filter-category="collecting_event"]');
      	core.changeFilter("data-category-collectingevent"); 
      	supporting.changeFilter("data-category-collectingevent"); 
      	annotations.changeFilter("data-category-collectingevent");   
  });

    Mousetrap.bind('o', function() {
    	changeBackgroundColorLink('a[data-filter-category="collection_object"]');
      	core.changeFilter("data-category-collectionobject");   
      	supporting.changeFilter("data-category-collectionobject");   
      	annotations.changeFilter("data-category-collectionobject");   
    });  

    Mousetrap.bind('t', function() {
    	changeBackgroundColorLink('a[data-filter-category="taxon_name"]');
      	core.changeFilter("data-category-TaxonName");
      	supporting.changeFilter("data-category-TaxonName");
      	annotations.changeFilter("data-category-TaxonName");     
  });    


$(document).ready(initContextMenus);
$(document).on('page:change', initContextMenus);


 function initContextMenus() {
  $.contextMenu('destroy', ".favorite-box .data_card" );
        $.contextMenu({
            selector: '.favorite-box .data_card', 
            autoHide: true,
            callback: function(key, options) {
                var m = "clicked: " + key;

                switch(key) {               
                  case "delete":
                    $(this).find('a').click();
                  break;
                }
                //window.console && console.log(m) || alert(m); 

            },
            items: {
                "delete": {name: "Remove from favorite", icon: "delete"}
            }
        });
  }    
   
</script>