<div class="flexbox">

  <div class="item item1">
    <h3> Core</h3>
    <%= content_tag :li, link_to('OTUs', otus_path) %>
    <%= content_tag :li, link_to('Taxon names', taxon_names_path) %>
    <%= content_tag :li, link_to('Collecting events', collecting_events_path) %>
    <%= content_tag :li, link_to('Collection objects', collection_objects_path) %>
    <%= content_tag :li, link_to('Controlled vocabulary terms', controlled_vocabulary_terms_path) %>
  </div>


  <div class="item item2">
    <h3>Supporting</h3>
    <%= content_tag :li, link_to('Collection profile', collection_profiles_path) %>
    <%= content_tag :li, link_to('Loans', loans_path) %>
    <%= content_tag :li, link_to('Loan items', loan_items_path) %>

    <%= content_tag :li, link_to('OTU page layouts', otu_page_layouts_path) %>
    <%= content_tag :li, link_to('Contents', contents_path) %>

    <%#= content_tag :li, link_to('Geographic items', geographic_items_path) %>
    <%= content_tag :li, link_to('Georeferences', georeferences_path) %>

    <%= content_tag :li, link_to('Ranged lot categories', ranged_lot_categories_path) %>

    <%= content_tag :li, link_to('Taxon determinations', taxon_determinations_path) %>
    <%= content_tag :li, link_to('Taxon name classifications', taxon_name_classifications_path) %>
    <%= content_tag :li, link_to('Taxon name relationships', taxon_name_relationships_path) %>
  </div>

  <div class="item item3">
    <h3>Annotations</h3>
    <%= content_tag :li, link_to('Citations', citations_path) %>
    <%= content_tag :li, link_to('Notes', notes_path) %>
    <%= content_tag :li, link_to('Tags', tags_path) %>
    <%= content_tag :li, link_to('Identifiers', identifiers_path) %>
  </div>
</div>


