<div class="flexbox">

  <div class="item item1">
    <h3>user definable</h3>
    <%= content_tag(:li, link_to("Namespaces", namespaces_path)) -%>
    <%= content_tag :li, link_to('People', people_path) %>
    <%= content_tag :li, link_to('Preparation types', preparation_types_path) %>
    <%= content_tag :li, link_to('Serials', serials_path) %>
    <%= content_tag :li, link_to('Sources', sources_path) %>
  </div>


  <div class="item item2">
    <h3>application provided</h3>
    <%= content_tag :li, link_to('Geographic areas', geographic_areas_path) %>
    <%= content_tag :li, link_to('Languages', 'no_path') %>
    <%= content_tag :li, link_to('(? Keep here ?) Repositories', repositories_path) %> 
  </div>

</div>


