<h2> Shared </h2>
<h3> Cross project considerations </h3>
<%= content_tag :li, link_to('Geographic areas', geographic_areas_path) %>
<%= content_tag :li, link_to('People', people_path) %>
<%= content_tag :li, link_to('Geographic area types', geographic_area_types_path) %>
<%= content_tag :li, link_to('Serials', serials_path) %>
<%= content_tag :li, link_to('Sources', sources_path) %>
<%= content_tag :li, link_to('Repositories', repositories_path) %>

