<%= form_with(model: lead) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>

  <div class="field">
    <%= form.label :otu_id %>
    <%= form.number_field :otu_id %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :origin_label %>
    <%= form.text_field :origin_label %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :redirect_id %>
    <%= form.number_field :redirect_id %>
  </div>

  <div class="field">
    <%= form.label :link_out %>
    <%= form.text_area :link_out %>
  </div>

  <div class="field">
    <%= form.label :link_out_text %>
    <%= form.text_field :link_out_text %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :is_public %>
    <%= form.check_box :is_public %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.number_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :created_by_id %>
    <%= form.number_field :created_by_id %>
  </div>

  <div class="field">
    <%= form.label :updated_by_id %>
    <%= form.number_field :updated_by_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
