<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @lead.parent_id %>
</p>

<p>
  <strong>Otu:</strong>
  <%= @lead.otu_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @lead.text %>
</p>

<p>
  <strong>Origin label:</strong>
  <%= @lead.origin_label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lead.description %>
</p>

<p>
  <strong>Redirect:</strong>
  <%= @lead.redirect_id %>
</p>

<p>
  <strong>Link out:</strong>
  <%= @lead.link_out %>
</p>

<p>
  <strong>Link out text:</strong>
  <%= @lead.link_out_text %>
</p>

<p>
  <strong>Position:</strong>
  <%= @lead.position %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @lead.is_public %>
</p>

<p>
  <strong>Project:</strong>
  <%= @lead.project_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @lead.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @lead.updated_by_id %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
