<div class="attributes">

  <p>
    <strong>Lft:</strong>
    <%= @container.lft %>
  </p>

  <p>
    <strong>Rgt:</strong>
    <%= @container.rgt %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= object_link(@container.parent) %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= @container.depth %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @container.type %>
  </p>

  <p>
    <strong>Otu:</strong>
    <%= object_link(@container.otu) %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @container.name %>
  </p>

  <p>
    <strong>Disposition:</strong>
    <%= @container.disposition %>
  </p>

</div>