<p>
  <strong>Type:</strong>
  <%= @container.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @container.disposition %>
</p>

<p>
  <strong>Size X:</strong>
  <%= @container.size_x %>
</p>

<p>
  <strong>Size Y:</strong>
  <%= @container.size_y %>
</p>

<p>
  <strong>Size Z:</strong>
  <%= @container.size_z %>
</p>

<p>
  <strong>Print label:</strong>
  <%= @container.print_label %>
</p>
