<%= form_for(@container, as: :container, url: (@container.new_record? ? containers_path : container_path(@container))   ) do |f| %>
  <%= render 'shared/errors', object: @container %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :disposition %><br>
    <%= f.text_field :disposition %>
  </div>

  <div class="field">
    <%= f.label :size_x %><br>
    <%= f.text_field :size_x %>
  </div>

  <div class="field">
    <%= f.label :size_y %><br>
    <%= f.text_field :size_y %>
  </div>

  <div class="field">
    <%= f.label :size_z %><br>
    <%= f.text_field :size_z %>
  </div>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
