<%= form_for(@container) do |f| %>
    <%= render 'shared/errors', object: @container %>

  <div class="field">
    <%= f.label :parent %><br>
    <%= render partial: 'workbench/elements/forms/ajax_select',
               locals:  {controller:  'containers',
                         object: 'parent',
                         method:  'container_id',
                         tag_id:  'container_id_for_container',
                         display:  container_tag(@container.parent),
                         size: 20} %>
  </div>


  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :disposition %><br>
    <%= f.text_field :disposition %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
