<h1>Listing containers</h1>

<table>
  <thead>
    <tr>
      <th>Lft</th>
      <th>Rgt</th>
      <th>Parent</th>
      <th>Depth</th>
      <th>Type</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th>Otu</th>
      <th>Name</th>
      <th>Disposition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= container.lft %></td>
        <td><%= container.rgt %></td>
        <td><%= container.parent_id %></td>
        <td><%= container.depth %></td>
        <td><%= container.type %></td>
        <td><%= container.created_by_id %></td>
        <td><%= container.updated_by_id %></td>
        <td><%= container.project_id %></td>
        <td><%= container.otu_id %></td>
        <td><%= container.name %></td>
        <td><%= container.disposition %></td>
        <td><%= link_to 'Show', container %></td>
        <td><%= link_to 'Edit', edit_container_path(container) %></td>
        <td><%= link_to 'Destroy', container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Container', new_container_path %>
