<h1>Listing containers</h1>

<%= paginate @containers %> <%= page_entries_info @containers %>

<table>
  <thead>
  <tr>
    <th>Parent</th>
    <th>Type</th>
    <th>Container</th>
    <th>Name</th>
    <th>Disposition</th>
    <th>Last modified</th>
    <th>Updated by</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @containers.each do |container| %>
      <tr>
        <td><%= object_tag(container.parent) %></td>
        <td><%= container.type %></td>
        <td><%= container.container %></td>
        <td><%= container.name %></td>
        <td><%= container.disposition %></td>
        <td><%= container.updated_at %></td>
        <td><%= object_tag(container.updater) %></td>
        <td><%= link_to 'Show', container.metamorphosize %></td>
        <td><%= link_to 'Edit', edit_container_path(container) %></td>
        <td><%= link_to 'Destroy', container.metamorphosize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
