<%= render("/shared/data/all/list/list_header", objects: @containers) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Parent') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Container') -%>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Disposition') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @containers.each do |container| %>
      <%= content_tag(:tr, class: [:contextMenuCells, :btn, 'btn-neutral']) do -%>
          <td><%= container_parent_tag(container) %></td>
          <td><%= container.type %></td>
          <td><%= container.container %></td>
          <td><%= container.name %></td>
          <td><%= container.disposition %></td>
          <%= fancy_metadata_cells_tag(container) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
