<%= render("/shared/data/all/list/list_header", objects: @containers) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Container') -%>
    <%= fancy_th_tag(name: 'Disposition') -%>
    <%= fancy_th_tag(name: 'Labels') -%>
    <%= fancy_th_tag(name: 'Identifier', group: 'associated') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @containers.each do |container| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
        <td><%= container.name %></td>
        <td><%= container.type %></td>
        <td><%= container_tag(container.container)  %></td> <!---- containers_helper.rb ---->
        <td><%= container.disposition %></td>
        <td><%= container.print_label %></td>
        <td><%= identifiers_tag(container) -%></td> 
        <%= fancy_metadata_cells_tag(container) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
