<p id="notice"><%= notice %></p>

<p>
  <strong>Lft:</strong>
  <%= @container.lft %>
</p>

<p>
  <strong>Rgt:</strong>
  <%= @container.rgt %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @container.parent_id %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @container.depth %>
</p>

<p>
  <strong>Type:</strong>
  <%= @container.type %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @container.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @container.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @container.project_id %>
</p>

<p>
  <strong>Otu:</strong>
  <%= @container.otu_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @container.disposition %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
