
<table class="tablesorter">

  <thead>
  <tr>
    <th> Catalog Number </th>
    <th> Repository </th>
    <th> Family </th>
    <th> Genus </th>
    <th> Species </th>
    <th> Country </th>
    <th> State </th>
    <th> County </th>
    <th> Locality </th>
    <th> Latitude </th>
    <th> Longitude </th>
    <th> Precision (m) </th>
    <th> Tag </th>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% collection_objects.each do |o| -%>
    <%= content_tag(:tr, class: :contextMenuCells) do -%>

      <td> <%= o.preferred_catalog_number.try(:cached) -%> </td>
      <td> <%= repository_tag(o.repository) %></td>
      <td> <%= o.dwc_family -%> </td>
      <td> <%= o.dwc_genus -%> </td>
      <td> <%= o.dwc_specific_epithet -%> </td>
      <td> <%= o.dwc_country -%> </td>
      <td> <%= o.dwc_state_province -%> </td>
      <td> <%= o.dwc_county -%> </td>
      <td> <%= o.dwc_locality -%> </td>
      <td> <%= o.dwc_decimal_latitude -%> </td>
      <td> <%= o.dwc_decimal_longitude -%> </td>
      <td> Precision (m) </td>
      <td> <%= tag_default_icon(o) -%> </td>
      <%= fancy_metadata_cells_tag(o) -%>
    <% end %>

  <% end %>

  </tbody>
</table>

