<%= content_tag(:tr, class: :contextMenuCells) do -%>
  <% CollectionObject::DwcExtensions::DWC_OCCURENCE_MAP.each_key do |k| -%>
    <td> <%= o.catalogNumber -%> </td>
    <td> <%= o.family %></td>
    <td> <%= o.dwc_family -%> </td>
    <td> <%= o.dwc_genus -%> </td>
    <td> <%= o.dwc_specific_epithet -%> </td>
    <td> <%= o.dwc_country -%> </td>
    <td> <%= o.dwc_state_province -%> </td>
    <td> <%= o.dwc_county -%> </td>
    <td> <%= o.dwc_locality -%> </td>
    <td> <%= o.dwc_decimal_latitude -%> </td>
    <td> <%= o.dwc_decimal_longitude -%>  </td>
    <td> Precision (m)</td>
  <% end %>

<% end %>


