<h1> DwC Occurrence Report </h1>

<%= tag.span 'This Task is deprecated and will be removed. Use the DwC Dashboard for downloads and reporting.', class: [:feedback, 'feedback-thin', 'feedback-warning'] %> <%= link_to('DwC Dashboard', dwc_dashboard_task_path) -%>

<p> DwC Occurrence records are available for <%= DwcOccurrence.where(project_id: sessions_current_project_id).count -%> records.  This report currently references collection objects only. <p>

<p><%= page_entries_info @collection_objects %></p> <%= paginate @collection_objects %> 

<%= content_tag(:table, id: :dwc_occurrence_table) do -%>

  <%= dwc_occurrence_table_header_tag -%>
  <%= dwc_occurrence_table_body_tag(@collection_objects) %>

<% end %>

