<table class="tablesorter">
  <thead>
    <tr>
      <th> Name </th>
      <%= fancy_th_tag(name: 'Taxon name') -%>
      <%= fancy_th_tag(name: 'Taxon rank') -%>
      <%= fancy_th_tag(name: 'Taxon name author, year') -%>
      <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
    </tr>
  </thead>

  <tbody>
    <% otus.each do |o| -%>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
        <td> <%= o.name %></td>
        <td> <%= o.taxon_name.try(:name) %></td>
        <td> <%= o.taxon_name.try(:rank) %></td>
        <td> <%= o.taxon_name.try(:cached_author_year) %></td>
        <%= fancy_metadata_cells_tag(o) -%>
      <% end %>
    <% end %>
  </tbody>
</table>
