
<h1> DWCA Report </h1>

<p><%= page_entries_info @collection_objects %></p> <%= paginate @collection_objects %> 

<table>

  <tr>
    <th> Catalog Number </th>
    <th> Repository </th>
    <th> Family </th>
    <th> Genus </th>
    <th> Species </th>
    <th> Country </th>
    <th> State </th>
    <th> County <th>
    <th> Locality </th>
    <th> Latitude </th>
    <th> Longitude </th>
    <th> Precision (m) </th>
  </tr>

  <% @collection_objects.each do |o| -%>

   <tr>
    <td> <%= o.preferred_catalog_number.try(:cached) -%> </td>
    <td> <%= repository_tag(o.repository) %></td>
    <td> <%= o.dwca_family -%> </td>
    <td> <%= o.dwca_genus -%> </td>
    <td> <%= o.dwca_species -%> </td>
    <td> <%= o.dwca_country -%> </td>
    <td> <%= o.dwca_state -%> </td>
    <td> <%= o.dwca_county -%> </td>
    <td> <%= o.dwca_locality -%> </td>
    <td> Latitude </td>
    <td> Longitude </td>
    <td> Precision (m) </td>
  </tr> 

  <% end %>

</table>

