<%= form_tag url, multipart: true do -%>

  <div class="field">
    <%= label_tag :file, 'Select a file' -%>
    <br>
    <%= file_field_tag(:file, id: 'buf_file') -%>
  </div>

  <% if @result.blank? -%>
    <div class="field">
      Source (not required)
      <br>
      <%= render(partial: 'workbench/elements/forms/ajax_select',
                 locals: {controller: '/sources',
                          object: 'specimen_batchload[source_id]',
                          method: 'source_id',
                          tag_id: 'source_id_for_for_specimen_batchload',
                          size: '50%'})
      %>
    </div>
    <div class="field">
      Otu (not required)
      <br>
      <%= render(partial: 'workbench/elements/forms/ajax_select',
                 locals: {controller: '/otus',
                          object: 'specimen_batchload[otu_id]',
                          method: 'otu_id',
                          tag_id: 'otu_id_for_specimen_batchload',
                          size: '50%'})
      %>
    </div>
  <% else %>
    <div class="field">
      <%= "Using '#{source_tag(@result.source)}' as source.".html_safe if @result.source.present? %>
      <%= "Using '#{otu_tag(@result.otu)}' as OTU.".html_safe if @result.otu.present? %>
      <%= hidden_field_tag(:source_id, @result.source_id) -%>
      <%= hidden_field_tag(:otu_id, @result.otu_id) -%>
    </div>
  <% end %>

  <%= content_for :warn_level -%>

  <%= submit_tag submit -%>
<% end %>
