<%= form_tag url, multipart: true do -%>

  <div class="field">
    <%= label_tag :file, 'Select a file' -%>
    <br>
    <%= file_field_tag(:file, id: 'buf_file') -%>
  </div>

  <% if @result.blank? -%>
    <div class="field">
      Source (not required)
      <br>
      <%= render(partial: 'workbench/elements/forms/ajax_select', locals:
          {controller: '/sources',
           object: 'citations_attributes[source_id]',
           method: 'source_id',
           tag_id: 'source_id_for_for_specimen_batchload',
           size: '50%',
           display: source_tag(@source)})
      %>
    </div>
  <% else %>
    <div class="field">
      <%= "Using '#{source_tag(@result.source)}' as source." if @result.source.present? %>
      <%= hidden_field_tag(:source_id, @result.source_id) -%>
    </div>
  <% end %>

  <%= content_for :warn_level -%>

  <%= submit_tag submit -%>
<% end %>
