<h1> "Week" in review</h2>

<%= form_tag(week_in_review_task_path, method: :get) do %>
  Reporting from <%= pluralize(@weeks_ago, 'week', false ) %> ago until now. <br/>
<%= tag.input(type: :submit, class: 'button button-default', value: 'Set to') -%> <%= tag.input value: @weeks_ago, type: :number, name: :weeks_ago, min: 1, max:999 %> weeks.
<% end %>

<br>

<%= week_in_review_graphs(@weeks_ago) %>

<div class="panel content margin-medium-top">
  <h2> Recently seen </h2>
  <ol>
    <% User.where('last_seen_at > ?', 1.week.ago).joins(:projects).where(projects: {id: sessions_current_project_id}).limit(20).order(last_seen_at: :desc).where('last_seen_at IS NOT NULL').each do |u| -%>
      <li> <%= user_link(u) %> <%= content_tag :span, time_ago_in_words(u.last_seen_at) + " ago", class: :subtle -%> </li>
    <% end %>
  </ol>
</div>

