<p class="feedback feedback-warning"> A task is available, use <%= link_to('New type specimen', edit_type_material_task_path(taxon_name_id: @type_material.protonym_id)) -%>.</p>

<%= form_for(@type_material) do |f| %>
  <%= render 'shared/errors', object: @type_material %>

  <div class="field">
    <%= f.label :protonym_id %><br>
    <%= render partial: 'workbench/elements/forms/ajax_select',
      locals: {controller: 'taxon_names',
               object: 'type_material',
               method: 'protonym_id',
               tag_id: 'protonym_id_for_type_material',
               display: label_for_taxon_name(@type_material.protonym),
               size: 60} %>
  </div>
  <div class="field">
    <%= f.label :collection_object_id, 'Material' %><br>
    <%= render partial: 'workbench/elements/forms/ajax_select',
      locals: {controller: 'collection_objects',
               object: 'type_material',
               method: 'collection_object_id',
               tag_id: 'collection_object_id_for_type_material',
               display: label_for_collection_object(@type_material.collection_object),
               size:  20} %>
  </div>

  <div class="field">
    <%= f.label :type_type, 'Type' %><br>
    <%= f.select :type_type, options_for_type_type_select  %>
  </div>

  <%= f.fields_for :origin_citation, @type_material.origin_citation do |s| -%>
    <div class="field">
      <%= s.label :source %>
      <br>
      <%= render( partial: 'workbench/elements/forms/ajax_select', locals:
                 {controller: 'sources',
                  related_object: @type_material.source,
                  object: 'type_material[origin_citation_attributes]',
                  method: 'source_id',
                  tag_id: 'source_id_for_original_citation_taxon_name',
                  size: '50%',
                  display: source_tag(@type_material.source)})
                %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
