<h1>Listing type_materials</h1>

<table>
  <thead>
    <tr>
      <th>Protonym</th>
      <th>Biological object</th>
      <th>Type type</th>
      <th>Source</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_materials.each do |type_material| %>
      <tr>
        <td><%= type_material.protonym_id %></td>
        <td><%= type_material.biological_object_id %></td>
        <td><%= type_material.type_type %></td>
        <td><%= type_material.source_id %></td>
        <td><%= type_material.created_by_id %></td>
        <td><%= type_material.updated_by_id %></td>
        <td><%= type_material.project_id %></td>
        <td><%= link_to 'Show', type_material %></td>
        <td><%= link_to 'Edit', edit_type_material_path(type_material) %></td>
        <td><%= link_to 'Destroy', type_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type material', new_type_material_path %>
