<%= render("/shared/data/all/list/list_header", objects: @type_materials) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Material') -%>
    <%= fancy_th_tag(name: 'Type type') -%>
    <%= fancy_th_tag(name: 'Protonym') -%>
    <%= fancy_th_tag(name: 'Source') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @type_materials.each do |type_material| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= object_tag(type_material.collection_object) %></td>
          <td><%= type_material.type_type %></td>
          <td><%= object_tag(type_material.protonym) %></td>
          <td><%= object_tag(type_material.source) %></td>
          <%#= fancy_metadata_cells_tag(otu) -%>
          <%= fancy_metadata_cells_tag(type_material) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
