<h1>Otu browse</h1>

<p> This is the future taxon page (biological) homepage

<div class="horizontal-left-content">
  <h2 class="separate-right"><%= taxon_name_browse_link(@otu.taxon_name) -%></h2>
  <h2><%= otu_tag(@otu) -%></h2>
</div>

<%= link_to('To show', otu_path(@otu)) -%>

<div data-otu-radial="true" data-global-id="<%= @otu.to_global_id.to_s %>"></div>
<%= radial_annotator(@otu) -%>

<h2> Contents </h2>
<p><%= link_to('Content editor', index_editor_task_path(otu_id: @otu.id)) -%></p>
<% if @otu.contents.load.any? -%>
  <% @otu.contents.each do |c| -%>
    <h3><%= object_tag(c.topic) -%></h3>
    <div><%= c.text -%> <%= link_to('Edit', index_editor_task_path(otu_id: @otu.id, topic_id: c.topic.id)) -%>  </div>
  <% end %>
<% else %>
  <em>None.</em>
<% end %>

<h2> Asserted distribution </h2>
<% if @otu.geographic_areas_from_asserted_distributions.load.any? %>
  <% @otu.geographic_areas_from_asserted_distributions.each do |g| -%>
    <h3><%= object_tag(g) -%></h3>
  <% end %>
<% else %>
  <em> None. </em>
<% end %>

<% if @otu.common_names.load.any? %>
  <h2> Common names </h2>
  <%= @otu.common_names.collect{|n| object_tag(n) }.join('; ') -%>
<% end %>

<h2> Topics </h2>
<% if @otu.topics.load.any? -%>
  <% @otu.topics.each do |t| -%>
    <h3> <%= object_tag(t) -%> </h3>
    <%= t.sources.collect{|s| source_author_year_tag(s) }.join('; ').html_safe -%>
  <%- end %> 
<% else %>
  <em>None.</em>
<% end %>


