<%= form_for(@document) do |f| %>
    <%= render 'shared/errors', object: @document %>

    <div class="field">
      <%= f.label :document_file %><br>
      <%= f.text_field :document_file %>
    </div>
    <div class="field">
      <%= f.label :project_references %><br>
      <%= f.text_field :project_references %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
