<%= form_for(@document, multipart: true) do |f| %>
    <%= render 'shared/errors', object: @document %>

    <div class="field">
      <%= f.label :document_file %><br>
      <div> <%= document_tag(@document) -%> </div>
      <%= f.file_field :document_file, class: :required_for_submit %>
    </div>
    
    <div class="field">
      <%= f.label :initialize_start_page, data: {help: 'If pages (print) are sequential supply the first page number.'} %><br>
      <%= f.text_field :initialize_start_page %>
    </div>

    <div class="field">
      <%= f.label :is_public, data: {help: 'Whether this is exposed to public APIs.'} %><br>
      <%= f.check_box :is_public %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
