<%= render("/shared/data/all/list/list_header", objects: @documents) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Document file') -%>
    <%= fancy_th_tag(name: 'Project references') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @documents.each do |document| %>
      <%= content_tag(:tr, class: [:contextMenuCells, :btn, 'btn-neutral']) do -%>
          <td><%= document.document_file %></td>
          <td><%= document.project_references %></td>
          <%= fancy_metadata_cells_tag(otu) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
