<%= render("/shared/data/all/list/list_header", objects: @documents) -%>

<table class="tablesorter">
  <thead>
    <tr>
    <%= fancy_th_tag(name: 'Document file') -%>
    <%= fancy_th_tag(name: 'File size') -%> 
    <%= fancy_th_tag(name: 'Updated at') -%> 
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @documents.each do |document| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= document.document_file_file_name %></td>
          <td><%= document.document_file_file_size %></td>
          <td><%= document.document_file_updated_at %></td>
          <%= fancy_metadata_cells_tag(document) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
