<p id="notice"><%= notice %></p>

<p>
  <strong>Document file:</strong>
  <%= @document.document_file %>
</p>

<p>
  <strong>Project references:</strong>
  <%= @document.project_references %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @document.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @document.updated_by_id %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
