<%= form_for(@observation_matrix_row_item.metamorphosize) do |f| %>
  <%= render 'shared/errors', object: @observation_matrix_row_item %>


  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, 
      options_for_select([['Single OTU', 'MatrixRowItem::SingleOtu'], 
                          ['Single collection object', 'MatrixRowItem::SingleCollectionObject'], 
                          ['Keyword (tagged Otus/Collection objects)', 'MatrixRowItem::TaggedRowItem']
    ]), {}, disabled: (@observation_matrix_row_item.new_record? ? 'false' : 'true')   -%> 
  </div>


  <div class="field">
        <%= f.label :matrix_id %>
        <br>
        <%= render partial: 'workbench/elements/forms/ajax_select',
                   locals:  {controller:  'matrices',
                             object: 'matrix_row_item',
                             method:  'matrix_id',
                             tag_id:  'matrix_id_for_matrix_row_item',
                             display:  matrix_tag(@observation_matrix_row_item.observation_matrix),
                             size: 20} %>
  </div>


  <h3> Select one of: </h3>

  <div class="field">
        <%= f.label :otu_id %>
        <br>
        <%= render partial: 'workbench/elements/forms/ajax_select',
                   locals:  {controller:  '/otus',
                             object: 'matrix_row_item',
                             method:  'otu_id',
                             tag_id:  'otu_id_for_matrix_row_item',
                             display:  otu_tag(@observation_matrix_row_item.object_is?('Otu')),
                             size: 20} %>
  </div>

  <div class="field">
        <%= f.label :collection_object_id %>
        <br>
        <%= render partial: 'workbench/elements/forms/ajax_select',
                   locals:  {controller:  '/collection_objects',
                             object: 'matrix_row_item',
                             method:  'collection_object_id',
                             tag_id:  'collection_object_id_for_matrix_row_item',
                             display:  collection_object_tag(@observation_matrix_row_item.object_is?('CollectionObject')),
                             size: 20} %>
  </div>

  <div class="field">
        <%= f.label :controlled_vocabulary_term_id %>
        <br>
        <%= render partial: 'workbench/elements/forms/ajax_select',
                   locals:  {controller:  '/keywords',
                             object: 'matrix_row_item',
                             method:  'controlled_vocabulary_term_id',
                             tag_id:  'controlled_vocabulary_term_id_for_matrix_row_item',
                             display:  controlled_vocabulary_term_tag(@observation_matrix_row_item.object_is?('ControlledVocabularyTerm')),
                             size: 20} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
