<%= form_for(@result.depiction.depiction_object, as: :collection_object, url: sqed_depiction_breakdown_update_task_path(@sqed_depiction)) do |f| -%>
  <div class="flexbox">
    <div class="item item1">

      <h3> Identifiers </h3>
      <% identifiers = @result.depiction.depiction_object.identifiers.where("identifiers.type ilike '%Local%'") + [
        Identifier::Local::CatalogNumber.new(
          identifier_object: @result.depiction.depiction_object,
          namespace_id: (@result.namespace_locked? ? @result.namespace_id : nil)
          ) ] %>
      <%= f.fields_for(:identifiers, identifiers)  do |i| -%>
        <%= i.hidden_field :type -%>
        <div class="side_by_side_fields">

          <div class="field">
            <%= i.label :namespace_id %><br>
            <%= render(
              partial: '/workbench/elements/forms/ajax_select',
              locals:  {
                controller: '/namespaces',
                object: "collection_object[identifiers_attributes][#{i.index}]",
                method: 'namespace_id',
                tag_id: "namespace_id_for_identifier_#{i.index}",
                display: (i.object.namespace ? i.object.namespace.short_name : nil),
                size: 44,
                fields_for_object: i})
              %>

            <% if identifiers.first == i.object  %>
              <%= check_box_tag(:lock_namespace, '1', @result.namespace_locked?) -%>lock
            <% end %>
          </div>

          <div class="field">
            <%= i.label :identifier %><br>
            <%= i.text_field :identifier, class: 'mousetrap' %>
            <%= destroy_related_link(i) -%>
          </div>
        </div>
      <% end %>
    </div>

    <div class="item item2">
      <h3> Taxon Determinations </h3>
      <%= f.fields_for(:taxon_determinations, @result.depiction.depiction_object.taxon_determinations) do |o| -%>
        <div class="field">
          <%= o.label :name %><br>
          <%= render(
            partial: '/workbench/elements/forms/ajax_select',
            locals:  {
              controller: '/otus',
              object:     "collection_object[taxon_determinations_attributes][#{o.index}]",
              method:     'otu_id',
              tag_id:     "otu_id_for_identifier_#{o.index}",
              display:    otu_autocomplete_selected_tag(o.object.otu),
              fields_for_object: o,
              size:       20})
            %>

          <%= destroy_related_link(o) -%>
        </div>
      <% end %>
    </div>
  </div>

  <div class="side_by_side_fields" id="collection_object_fields">
    <div class="field">
      <%= f.label :buffered_collecting_event %>
      <br>
      <%= f.text_area :buffered_collecting_event, class: "mousetrap" -%>
    </div>

    <div class="field">
      <%= f.label :buffered_determinations %>
      <br>
      <%= f.text_area :buffered_determinations, class: "mousetrap"  -%>
    </div>

    <div class="field">
      <%= f.label :buffered_other_labels %>
      <br>
      <%= f.text_area :buffered_other_labels, class: "mousetrap"  -%>
    </div>
  </div>

  <div class="side_by_side_fields">
    <div class="field">
      <%= f.label :total %>
      <%= f.text_field :total, size: 2 -%>
    </div>

    <div class="inline_fields">
    <%= f.fields_for(:notes, @result.depiction.depiction_object.notes) do |n| -%>
      <div class="field">
        <%= n.label :note %><br>
        <%= n.text_field :text %>
        <%= destroy_related_link(n) -%>
      </div>

    <% end %>

    <%= f.fields_for(:tags, @result.depiction.depiction_object.tags) do |t| -%>
      <div class="field" >
        <%= t.label :keyword, 'Tag with' %><br>
        <%= t.collection_select(:keyword_id, Keyword.where(project_id: sessions_current_project_id), :id, :name, include_blank: true ) %>
        <%= destroy_related_link(t) -%>
      </div>
    <% end %>
    </div>
  </div>

  <div class="flex-seperate">
    <ul class="context-menu actions">
      <li> <%= collection_object_radial_tag(@result.sqed_depiction.depiction_object.metamorphosize) %> </li>
      <li> <%= tag_default_icon(@result.sqed_depiction.depiction_object.metamorphosize) -%> </li>
      <li> <%= radial_annotator(@result.sqed_depiction.depiction_object.metamorphosize) -%> </li>
      <li> <%= radial_navigation_tag(@result.sqed_depiction.depiction_object.metamorphosize) -%> </li>
      <li> <%= submit_tag('Save and next w/out data [n]', id: :save_and_next) -%>  </li>
      <li> <%= submit_tag('Save and next', id: :save_and_next_nearby) -%>  </li>
      <li> <%= submit_tag -%> </li>
    </ul>
  </div>
<% end %>
