<h1> Task: Transcribe depiction </h1>
<div class="breakdown_nav">
  <%= render '/tasks/accessions/breakdown/breakdown_nav_items' -%>
</div>

<div id="breakdown_sqed_depiction" class="flexbox sqed_breakdown">
  <% if @result.coordinates_valid? -%>
    <%= render 'metadata' %>
    <div class="item item3">
      <%= render 'extracted_header' %>
      <%= render 'form' %>
    </div>
  <% else -%>
    <p>
    <%= content_tag(:span, 'Record has invalid coordinates', class: [:feedback, 'feedback-danger']) -%><br><br><br>
    <%= content_tag(:span, 'Image is unavailable', class: [:feedback, 'feedback-danger']) if @result.image_unavailable?  -%>
    </p>

    <%= link_to('Skip to next', sqed_depiction_breakdown_task_path(@sqed_depiction.next_without_data, @result.namespace_id), 'data-turbolinks' => 'false') -%> 
  <% end %> 
</div>

<%= image_tag(@result.depiction.image.image_file.url(:original), id: 'original_image', hidden: true) -%>

<%= render "script" unless @result.image_unavailable? || !@result.coordinates_valid? %>
