<h1> Collection object image breakdown (sqed) TODO list </h1>

<p><em> Cards with no background color have no verbatim collecting event information.</em></p>

<%= sqed_done_tag(sessions_current_project_id) -%> done. <%= sqed_not_done_tag(sessions_current_project_id) -%> remaining. 

<p><%= page_entries_info @sqed_depictions %></p> <%= paginate @sqed_depictions %> 
<div id="todo_map">

  <% @sqed_depictions.each do |i| -%>
    <%= content_tag(:div, class: "card #{i.depiction.depiction_object.buffered_collecting_event.blank? ? '' : 'finished'}") do -%> 
      <%= content_tag(:p, link_to(i.id, sqed_depiction_breakdown_task_path(i), 'data-no-turbolink' => 'true')) -%>
    <% end %>
  <% end %>
</div>

