<h1> Collection object image breakdown (sqed) TODO list </h1>

<p> Overview: 
<%= sqed_done_tag(sessions_current_project_id) -%> done. <%= sqed_not_done_tag(sessions_current_project_id) -%> remaining. <br>
<%= page_entries_info @sqed_depictions %>. <%= SqedDepiction.where(project_id: sessions_current_project_id).where.not(in_progress: nil).count(:all) -%> in progress.</p>

<fieldset title="Navigate">
  <legend> Navigate </legend>
  <%= paginate @sqed_depictions %><br>
  <%= sqed_first_with_data_tag -%>&nbsp;
  <%= sqed_first_without_data_tag -%>&nbsp;
  <%= sqed_last_with_data_tag -%>&nbsp;
  <%= sqed_last_without_data_tag -%>&nbsp;
  <%= sqed_last_by_user_tag -%>&nbsp;
</fieldset><br>

<div class="flexbox" data-turbolinks="false" id="todo_map">
  <div class="item item1">
    <%= sqed_waxy_legend_tag -%>
  </div>

  <div class="item item2">
    <h3> Stage images </h3>
    <p><i> Purple borders indicate record is in progress </i></p>
    <%= sqed_waxy_layout(@sqed_depictions) -%>
  </div>
</div>
