<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Api access token:</strong>
  <% if @project.api_access_token.blank? -%>
    <em class="notice"> None.  Project data is not accessible via API. </em>
  <% else %>
    <%= @project.api_access_token %>
  <% end%>
</p>

<p>
<strong>Data curation issue tracker url:</strong>
<% if @project.data_curation_issue_tracker_url.present? %>
  <%= link_to(@project.data_curation_issue_tracker_url, @project.data_curation_issue_tracker_url)  %>
<% else %>
  <em> None </em>
<% end %>
</p>

<%= render partial: '/shared/data/all/show/housekeeping', locals: {object: @project} -%>


<div class="attribute_set" data-title="Preferences">
  <p> 
    <strong>Preferences:</strong>
    <%= ap(@project.preferences).html_safe %>
  </p>
</div>
