<h1>Listing Projects</h1>

<%= paginate @projects %> <%= page_entries_info @projects %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Last modified</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.updated_at %></td>
        <td><%= object_tag(project.updater) %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= content_tag(:em, 'Destroy', class: :disabled) -%> </td>
      </tr>
  <% end %>
  </tbody>
</table>
