<h1><%= @project.name -%></h1>
<%= project_login_link(@project) -%>
<div class="simple_flexbox">
  <div>
    <h2> Edit </h2>
    <ul class="no_bullets list list-arrow">
      <%= tag.li( link_to('Edit', edit_project_path(@project)) ) %>
      <%= tag.li( link_to('Preferences', project_preferences_task_path, data: { turbolinks: false } ) ) %>
    </ul>

    <h2> Project attributes </h2>
    <div class="attributes">
      <%= render partial: 'attributes' -%>
    </div>
  </div>

  <div>
    <h2> Members </h2>
    <ul class="no_bullets list list-arrow">
      <%= tag.li( add_project_member_link(@project))  -%>
      <%= tag.li( link_to('Add many project members', many_new_project_members_path(project_member: {project_id: @project}) )) -%>
      <%= tag.li( link_to('Add new user', signup_path)) -%>
    </ul>

    <% if @project.users.any? -%>
      <table>
        <tr>
          <th> Name </th>
          <th> Member since </th>
          <th> Last seen </th>
          <th> Project administrator? </th>
          <th> </th>
        </tr>

        <tbody>
          <% @project.project_members.includes(:user).order('users.name').each do |pm| -%>
            <tr>
              <td> <%= pm.user.name -%> </td>
              <td> <%= time_ago_in_words(pm.created_at) -%> ago </td>
              <td> <%= user_last_seen_tag(pm.user) -%> </td>
              <td>
                <%= form_for(pm) do |f| -%>
                  <div class="actions">
                    <%= f.check_box(:is_project_administrator) -%>
                    <%= f.submit 'Update' %>
                  </div>
                <% end %>
              </td>
              <td>
                <%= form_for(pm, method: :delete) do |f| -%>
                  <%= f.hidden_field :_destroy, value: :true -%>
                  <%= f.submit 'Remove', method: :delete, class: ['button-delete'] %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else  %>
      <em> No members added yet! </em>
    <% end %>
  </div>

  <div>
    <div>
      <h2> Data </h2>
      <ul class="no_bullets list list-arrow">
        <%= content_tag(:li, link_to('Download project task', export_taxonworks_project_task_path, data: { turbolinks: false } ) ) %>
      </ul>
    </div>

    <div>
      <h2> Metadata </h2>
      <ul class="no_bullets list list-arrow">
        <%= content_tag(:li, link_to('Stats', project_activity_task_path, data: { turbolinks: false })) -%>
      </ul>
    </div>

    <div>
      <h2> API Helpers </h2>
      <ul class="no_bullets">
        <% if is_project_member_by_id?(sessions_current_user_id, sessions_current_project_id) %>
          <%= tag.li("?project_token=#{@project.api_access_token}&token=#{sessions_current_user.api_access_token}") -%>
        <% else %>
          <%= tag.li("?project_token=#{@project.api_access_token}") -%>
        <% end %>
      </ul>
    </div>
  </div>

</div>
