<%= content_for :head do -%>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js", "chartkick" %>
<% end %>

<h1><%= @project.name -%></h1>
<%= link_to 'Edit', edit_project_path(@project) %> <br>
<%= link_to 'Customize attributes', index_preferences_task_path() %> 

<div> 

  <div class="row1">
    <div class="flexbox">
      <div class="item item1">
        <h2> Project attributes </h2>
        <%= render partial: 'attributes' -%>
      </div>

      <div class="item item2">
        <h2> Members </h2>
        <% if @project.users.any? -%>
          <table> 
            <tr> 
              <th> Name </th> 
              <th> Project administrator? </th> 
              <th> Member since </th> 
              <th> Last seen </th> 

              <th> </th> 
            </tr>

            <tbody>
              <% @project.project_members.includes(:user).order('users.name').each do |pm| -%>
                <tr> 
                  <td> <%= pm.user.name -%> </td>
                  <td> <%= pm.is_project_administrator ? 'yes' : 'no' -%> </td>
                  <td> <%= time_ago_in_words(pm.created_at) -%> ago </td>
                  <td> <%= user_last_seen_tag(pm.user) -%> </td>
                  <td> <%= link_to('Remove', pm,  method: :delete, data: { confirm: 'Are you sure?' }) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        <% else  %>
          <em> No members added yet! </em>
        <% end %>

        <ul class="no_bullets list list-arrow">
          <%= content_tag(:li, add_project_member_link(@project))  -%>
          <%= content_tag(:li, link_to('Add many project members', many_new_project_members_path(project_member: {project_id: @project}) )) -%>
          <%= content_tag(:li, link_to('Add new user', signup_path)) -%>
        </ul>

      </div>

      <div class="item item3">
        <h2> Metadata </h2>

        <ul class="no_bullets list list-arrow">
          <%= content_tag(:li, link_to('Stats', stats_project_path, data: { turbolinks: false })) -%>
        </ul>
      </div>
    </div>
  </div>

</div>
