<h1> <%= @project.name -%> </h1>

<div class="flexbox">
  <div class="item item1">
    <h2> Attributes </h2>
  <%= link_to 'Edit', edit_project_path(@project) %> 
    <%= render partial: 'attributes' -%>
  </div>
  
  <div class="item item2">
    <h2> Members </h2>
    <% if @project.users.any? -%>
      <ul>
        <%= @project.users.collect{|u| content_tag(:li, user_tag(u))}.join.html_safe -%>
      </ul>
    <% else  %>
      <em> No members added yet! </em>
    <% end %>
    <%=  add_project_member_link -%>

  </div>
</div>


