
<%= content_for :head do -%>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js", "chartkick" %>
<% end %>

<%= content_tag(:h1, "Stats for #{@project.name}", id: :top) -%>

<p><%= link_to 'Back', @project %></p>

<% @project.has_many_relationships.each do |r| -%>
  <%= link_to(r.humanize, per_relationship_recent_stats_project_path(id: @project, relationship: r), remote: true ) -%> 
<% end %>

<div id="graphs">

  <em> Click a link to visualize data by date created on. </em>

</div>


