<%= content_for :head do -%>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js",
    "https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"  %>
<% end %>

<%= tag.h1 "Stats for #{@project.name}", id: :top -%>

<p><%= link_to 'Back', @project %></p>

<table class="full_width">
  <tr>
    <% @project.has_many_relationships.in_groups_of(15, false).each do |group| -%>
      <td>
        <% group.each do |r| %>
          <%= link_to(r.humanize, per_relationship_recent_stats_project_path(id: @project.id, relationship: r), remote: true ) -%><br>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>

<div id="graphs">
  <em> Click a link to visualize data by date created on. </em>
</div>


