<p>
  <strong>Name:</strong>
  <%= @taxon_name.name %>
</p>

<p>
  <strong>Year of publication:</strong>
  <%= @taxon_name.year_of_publication %>
</p>

<p>
  <strong>Verbatim author:</strong>
  <%= @taxon_name.verbatim_author %>
</p>

<p>
  <strong>Source [Original publication]:</strong>
  <%= object_link(@taxon_name.source) %>
</p>

<p>
  <strong>Parent:</strong>
  <%= object_link(@taxon_name.parent) %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @taxon_name.rank %> (<%= (@taxon_name.rank_class.nomenclatural_code.upcase) -%>)
</p>

<p>
  <strong>Type:</strong>
  <%= @taxon_name.type %>
</p>

<p>
  <strong>Cached name:</strong>
  <%= @taxon_name.cached_name ? @taxon_name.cached_name.html_safe : nil %>
</p>

<p>
  <strong>Cached author year:</strong>
  <%= @taxon_name.cached_author_year %>
</p>

<p>
  <strong>Cached higher classification:</strong>
  <%= @taxon_name.cached_higher_classification %>
</p>

<p>
  <strong>Cached classified as:</strong>
  <%= @taxon_name.cached_classified_as %>
</p>

<p>
  <strong>Cached original combination:</strong>
  <%= @taxon_name.cached_original_combination %>
</p>


<p>
  <strong>Cached secondary homonym:</strong>
  <%= @taxon_name.cached_secondary_homonym %>
</p>

<p>
  <strong>Cached primary homonym:</strong>
  <%= @taxon_name.cached_primary_homonym %>
</p>

<p>
  <strong>Cached secondary homonym alt:</strong>
  <%= @taxon_name.cached_secondary_homonym_alt %>
</p>

<p>
  <strong>Cached primary homonym alt:</strong>
  <%= @taxon_name.cached_primary_homonym_alt %>
</p>

<!--<p>-->
<!--<strong>Lft:</strong>-->
<!--<%#= @taxon_name.lft %>-->
<!--</p>-->

<!--<p>-->
<!--<strong>Rgt:</strong>-->
<!--<%#= @taxon_name.rgt %>-->
<!--</p>-->


