<p class="feedback feedback-info"> A task is available, use <%= link_to('New taxon name', new_taxon_name_task_path(taxon_name_id: @taxon_name.id)) -%>.</p>

<%= form_for(@taxon_name.metamorphosize) do |f| %>
  <%= render 'shared/errors', object: @taxon_name %>

  <div class="required">
    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :parent %>
      <br>
      <%= 
        render 'workbench/elements/forms/ajax_select',
          controller: 'taxon_names',
          object:     'taxon_name',
          method:     'parent_id',
          tag_id:     'parent_id_for_name',
          size:       '50%',
          display:    taxon_name_autocomplete_selected_tag(@taxon_name.parent) 
        %>
    </div>

    <div class="field">
      <%= f.label :rank %>
      <br>
      <%= taxon_name_rank_select_tag(taxon_name: @taxon_name) %>
    </div>

  </div>

  <%= render partial: '/people/role_picker', locals: {role: TaxonNameAuthor.new(), object: @taxon_name, f: f} %>

  <div class="field">
    <%= f.label :verbatim_author %>
    <br>
    <%= f.text_field :verbatim_author %>
  </div>

  <div class="field">
    <%= f.label :year_of_publication %>
    <br>
    <%= f.number_field :year_of_publication %>
  </div>

  <%= f.fields_for :origin_citation, @taxon_name.origin_citation do |s| -%>
    <div class="field">
      <%= s.label :source %>
      <br>
      <%= render( partial: 'workbench/elements/forms/ajax_select', locals:
                 {controller: 'sources',
                  related_object: @taxon_name.source,
                  object: 'taxon_name[origin_citation_attributes]',
                  method: 'source_id',
                  tag_id: 'source_id_for_original_citation_taxon_name',
                  size: '50%',
                  display: source_tag(@taxon_name.source)}) 
                %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :etymology %>
    <br>
    <%= f.text_area :etymology, rows: 4, cols: 60 %>
  </div>

  <div class="field">
    <%= f.label :feminine_name %>
    <br>
    <%= f.text_field :feminine_name %>
  </div>

  <div class="field">
    <%= f.label :masculine_name %>
    <br>
    <%= f.text_field :masculine_name %>
  </div>

  <div class="field">
    <%= f.label :neuter_name %>
    <br>
    <%= f.text_field :neuter_name %>
  </div>

  <div class="field">
    <%= f.label :verbatim_name %> <%= content_tag(:em, 'Beware all who enter (something) here',  data: {icon: 'warning'}) -%>
    <br>
    <%= f.text_field :verbatim_name %>
  </div>

  <%= f.hidden_field :type %>

  <div class="field">
    <%= f.label :also_create_otu %>
    <br>
    <%= f.check_box :also_create_otu %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
