<div id="show_taxon_name_hierarchy">
  <h3>Hierarchy</h3>
  <div class="ancestors">
    <% taxon_name.ancestor_protonyms.each do |p| -%>
      <p> <%= taxon_name_link(p.metamorphosize)  -%><%= cached_author_year_tag(p) -%> </p>
    <% end %>
  </div>

  <p class="selected"> <%= taxon_name_tag(taxon_name) -%><%= cached_author_year_tag(taxon_name) -%> </p>

  <div class="descendants">
    <% taxon_name.children.reorder(:name).where(type: 'Protonym').each do |p| -%>
      <p> <%= taxon_name_link(p.metamorphosize) -%><%= cached_author_year_tag(p) -%> <%= content_tag(:span, "[#{p.descendants.count}]",  class: :subtle) if p.descendants.count > 0  %>  </p>
    <% end %>
  </div>
</div>
