<div class="title nav-line" data-help="Within the hierarchy the first number is the number of valid children, the second the number of invalid children.">
  Navigate
</div>

<div class="navigation-controls">
  <%= previous_sibling_browse_taxon_name_link(@taxon_name) %>
  <a href="/taxon_names/random" class="navigation-item" data-turbolinks="false">Random</a>
  <%= next_sibling_browse_taxon_name_link(@taxon_name) %>
</div>

<div id="show_taxon_name_hierarchy" class="content">

  <div class="separate-top separate-bottom">
    <div class="switch-radio">
      <input type="radio" id="display_herarchy_valid" name="display_herarchy" value="valid"/>
      <label for="display_herarchy_valid">Valid</label>
      <input type="radio" id="display_herarchy_invalid" name="display_herarchy" value="invalid" />
      <label for="display_herarchy_invalid">Invalid</label>
      <input type="radio" id="display_herarchy_both" name="display_herarchy" value="both" checked/>
      <label for="display_herarchy_both">Both</label>
    </div>
  </div>

  <ul>
    <% taxon_name.ancestor_protonyms.each do |p| -%>
      <li data-valid-toggle="<%= p.is_valid? ? 'valid' : 'invalid' -%>">
        <p> 
        <%= link_to(taxon_name_tag(p), send(target, {id: p.id, taxon_name_id: p.id})) -%>
        <span>
          <%= p.cached_author_year -%>
        </span>
        </p>
      </li>
    <% end %>

    <li class="selected">
      <%= image_tag('arrow-right.svg') %>
      <p> 
      <%= taxon_name_tag(taxon_name) -%>
      <span>
        <%= taxon_name.cached_author_year -%>
      </span>
      </p>
    </li>
  </ul>
  <ul class="descendent">
    <% taxon_name.children.order(:name).where(type: 'Protonym').each do |p| -%>
      <li data-valid-toggle="<%= p.is_valid? ? 'valid' : 'invalid' -%>">
        <p>
        <%= link_to(taxon_name_tag(p), send(target, {id: p.id, taxon_name_id: p.id})) -%>
        <span><%= p.cached_author_year -%></span>
        <% v = p.descendants.that_is_valid.count -%>
        <% iv = p.descendants.that_is_invalid.count -%>
        <%= content_tag(:span, v, class: [:feedback, 'feedback-thin', 'feedback-primary']) if v > 0  %>
        <%= content_tag(:span, iv, class: [:feedback, 'feedback-thin', 'feedback-secondary']) if iv > 0  %>
        </p> 
      </li>
    <% end %>
  </ul>
</div>
