<div class="title nav-line" data-help="Within the hierarchy the first number is the number of valid children, the second the number of invalid children.">
  Navigate
</div>

<div class="navigation-controls">
  <%= previous_sibling_browse_taxon_name_link(@taxon_name, target) %>
  <a href="/taxon_names/random" class="navigation-item" data-turbolinks="false">Random</a>
  <%= next_sibling_browse_taxon_name_link(@taxon_name, target) %>
</div>

<div id="show_taxon_name_hierarchy" class="content">

  <div class="separate-top separate-bottom">
    <div class="switch-radio">
      <input type="radio" id="display_herarchy_valid" name="display_herarchy" value="valid"/>
      <label for="display_herarchy_valid">Valid</label>
      <input type="radio" id="display_herarchy_invalid" name="display_herarchy" value="invalid" />
      <label for="display_herarchy_invalid">Invalid</label>
      <input type="radio" id="display_herarchy_both" name="display_herarchy" value="both" checked/>
      <label for="display_herarchy_both">Both</label>
    </div>
  </div>

  <ul class="tree">
  
    <% taxon_name.ancestor_protonyms.each do |p| -%>
    <li data-valid="<%= p.is_valid? ? 'valid' : 'invalid' -%>">
      <span>
        <%= taxon_name_parent_navigator_item_link(p, target) -%>
        <span>
          <%= p.cached_author_year -%>
        </span>
      </span>
    </li>
    <% end %>

    <li>
      <span class="selected">
        <%= full_taxon_name_tag(taxon_name) -%>
      </span>

      <% if taxon_name.id == taxon_name.cached_valid_taxon_name_id && taxon_name_synonyms_list(taxon_name).any? %>
      <ul 
        class="list-synonym taxon-synonym"
        data-valid="<%= taxon_name.is_valid? ? 'valid' : 'invalid' -%>">
        <% taxon_name_synonyms_list(taxon_name).each do |syn| %>
          <%= taxon_name_synonym_li(syn) -%>
        <% end %>
      </ul>
      <% end %>

      <ul class="tree descendent">
        <% taxon_name.children.order(:name).where(type: 'Protonym').each do |p| -%>
        <% if p.id == p.cached_valid_taxon_name_id %>
          <li>
            <span data-valid="<%= p.is_valid? ? 'valid' : 'invalid' -%>">
              <%= taxon_name_parent_navigator_item_link(p, target) -%>
              <span><%= p.cached_author_year -%></span>
              <% v = p.descendants.that_is_valid.count -%>
              <% iv = p.descendants.that_is_invalid.count -%>
              <%= content_tag(:span, v, class: [:feedback, 'feedback-thin', 'feedback-primary']) if v > 0  %>
              <%= content_tag(:span, iv, class: [:feedback, 'feedback-thin', 'feedback-secondary']) if iv > 0  %>
            </span>

            <% if p.id == p.cached_valid_taxon_name_id && taxon_name_synonyms_list(p).any? %>
            <ul 
              class="list-synonym"
              data-valid="<%= p.is_valid? ? 'valid' : 'invalid' -%>">
              <% taxon_name_synonyms_list(p).each do |syn| %>
                <%= taxon_name_synonym_li(syn) -%>
              <% end %>
            </ul>
            <% end %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
