<h1>Browsing taxon name</h1>

<%= render(partial: 'breadcrumb_navigator', locals: {taxon_name: @taxon_name}) -%>
<div class="flexbox">
  <div class="navigation">
    <%= edit_taxon_name_link(@taxon_name) -%> |
    <%= previous_link_taxon_name_browse(@taxon_name) -%> |
    <%= next_link_taxon_name_browse(@taxon_name) -%>
    <%= render(partial: 'parent_navigator', locals: {taxon_name: @taxon_name}) -%>
  </div>

  <div class="main">
    <h2><%= rank_tag(@taxon_name) -%> <%= object_tag(@taxon_name) -%><%= cached_author_year_tag(@taxon_name) -%></h2>

    <%= source_tag(@taxon_name.source) -%>

    <h3>Nomenclatoral statuses</h3>
    <% @taxon_name.taxon_name_classifications.each do |c| -%>
      <div>
        <%= object_tag(c) -%>
        <div> <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: c}) -%>  </div>
      </div>
    <% end %>
    <%= content_tag(:p, @taxon_name.taxon_name_classifications.empty? ? 'Valid' : nil) -%>

    <ul> 
    <% @taxon_name.taxon_name_relationships.each do |r| -%>
      <%= content_tag(:li, taxon_name_relationship_for_subject_tag(r)) -%>
        <div>  <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: r}) -%>  </div>
    <% end %>
    <%= content_tag(:p, @taxon_name.taxon_name_relationships.empty? ? 'There are no taxon name relationships' : nil) -%>
    </ul>
  </div>

  <div class="annotations">
    <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: @taxon_name}) -%> 
    <%= render(partial: '/shared/data/all/show/annotations', locals: {object: @taxon_name}) -%> 
    <%= render(partial: '/shared/data/all/show/housekeeping', locals: {object: @taxon_name}) -%> 

  </div>



</div>


