<h1>Browsing taxon name</h1>

<div class="flexbox">
  <div class="item item1">
    <%= edit_taxon_name_link(@taxon_name) -%>

    <%= forward_back_links(@taxon_name) -%> 

    <%= render(partial: 'parent_navigator', locals: {taxon_name: @taxon_name}) -%> 
  </div>

  <div class="item item2">
    <h2><%= rank_tag(@taxon_name) -%> <%= object_tag(@taxon_name) -%></h2>

    <%= source_tag(@taxon_name.source) -%>

    <% @taxon_name.taxon_name_classifications.each do |c| -%>
      <div>
        <%= object_tag(c) -%>
        <div> <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: c}) -%>  </div>
      </div>
    <% end %>
    <%= content_tag(:p, @taxon_name.taxon_name_classifications.empty? ? 'There are no classifications' : nil) -%>

    <ul> 
    <% @taxon_name.taxon_name_relationships.each do |r| -%>
      <%= content_tag(:li, taxon_name_relationship_for_subject_tag(r)) -%>
        <div>  <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: r}) -%>  </div>
    <% end %>
    <%= content_tag(:p, @taxon_name.taxon_name_relationships.empty? ? 'There are no taxon name relationships' : nil) -%>
    <ul>
  </div>

  <div class="item item3">
    <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: @taxon_name}) -%> 
    <%= render(partial: '/shared/data/all/show/annotations', locals: {object: @taxon_name}) -%> 
    <%= render(partial: '/shared/data/all/show/housekeeping', locals: {object: @taxon_name}) -%> 

  </div>



</div>


