<div id="header-box">
  <div class="flexbox">
    <div class="item item1">
      <div class="section">
          <div class="tag title">
          Listing taxon names
            </div>      
            <div class="navigation-controls">
              <div class="pagination-controls"> 
               <div>
                  <%= paginate @taxon_names %> <%= page_entries_info @taxon_names %>
                  </div>
              </div>       
            </div> 
      </div>
    </div>
    <div class="item item2">
      <div class="section">
          <div class="tag title show">
          Display
            </div>      
            <div class="navigation-controls">
              <div class="navigation" data-filter-active="true" data-group="metadata"> 
                <img src="/assets/icons/show.svg"/>Type
              </div>   
              <div class="navigation" data-filter-active="true" data-group="publication"> 
                <img src="/assets/icons/show.svg"/>Source
              </div> 
              <div class="navigation" data-filter-active="true" data-group="housekeeping"> 
                <img src="/assets/icons/show.svg"/>Housekeeping   
              </div> 
              <div class="navigation" data-display="showAll"> 
                <img src="/assets/icons/show.svg"/>Show all
              </div>                                                 
            </div> 
      </div>      
    </div>
  </div>
</div>
<!---
<div class="nav-list">
  <div>
  <%= paginate @taxon_names %> <%= page_entries_info @taxon_names %>
  </div>
  <div class="filter-nav">
    
      <div class="td-filter td-filter-title">
        <img class="icon" src="/assets/icons/options.svg"/><div>Display</div>
      </div>
    
    <a data-filter-active="true" data-group="metadata" href="#">
      <div class="td-filter">
        <img class="icon" src="/assets/icons/show.svg"/><div>Type</div>
      </div>
    </a>
    <a data-filter-active="true" data-group="publication" href="#">
      <div class="td-filter">
        <img class="icon" src="/assets/icons/show.svg"/><div>Source</div>
      </div>
    </a>
    <a data-filter-active="true" data-group="housekeeping" href="#">
      <div class="td-filter">
        <img class="icon" src="/assets/icons/show.svg"/><div>Housekeeping</div>
      </div>
    </a>            
    <a data-display="showAll" href="#">
      <div class="td-filter">
        <img class="icon" src="/assets/icons/show.svg"/><div>Show all</div>
      </div>
    </a>
  </div>
</div>
---->
<table cellspacing="0" id="taxon-list">
  <thead>
  <tr>
    <th class="headerTableOptions" data-filter="name"><a href="#" class="headerSortUp"><div>Name</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-filter="parent"><a href="#"><div>Parent</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-filter="cachedName"><a href="#"><div>Cached name</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-group="publication" data-filter="source"><a href="#"><div>Source</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-group="publication" data-filter="yearPublication"><a href="#"><div>Year of publication</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-filter="verbatimAuthor"><a href="#"><div>Verbatim author</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-filter="rank"><a href="#"><div>Rank</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-group="metadata" data-filter="type"><a href="#"><div>Type</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-group="housekeeping" data-filter="updateBy"><a href="#"><div>Updated by</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th class="headerTableOptions" data-group="housekeeping" data-filter="lastUpdate"><a href="#"><div>Last updated</div><img arrow-up src="/assets/icons/arrow-up.svg"/><img arrow-down src="/assets/icons/arrow-down.svg"/></a></th>
    <th style="display: none;"></th>
    <th style="display: none;"></th>
    <th style="display: none;"></th>
  </tr>
  </thead>
  <tbody>
  <% @taxon_names.each do |taxon_name| %>
      <tr class="context-menu-one btn btn-neutral"><%= link_to '', taxon_name.metamorphosize %>
        <td data-filter="name"><%= taxon_name.name %></td>
        <td data-filter="parent"><%= object_tag(taxon_name.parent) %></td>
        <td data-filter="cachedName"><%= taxon_name.cached_html ? taxon_name.cached_html.html_safe : content_tag(:em, 'ERROR: not rendered',  class: :warning) %></td>
        <td data-group="publication" data-filter="source"><%= object_tag(taxon_name.source) %></td>
        <td data-group="publication" data-filter="yearPublication"><%= taxon_name.year_of_publication %></td>
        <td data-filter="verbatimAuthor"><%= taxon_name.verbatim_author %></td>
        <td data-filter="rank"><%= taxon_name.rank %></td>
        <td data-group="metadata" data-filter="type"><%= taxon_name.type %></td>
        <td data-group="housekeeping" data-filter="updateBy"><%= object_tag(taxon_name.updater) %></td>
        <td data-group="housekeeping" data-filter="lastUpdate"><%= object_time_since_update_tag(taxon_name) %></td>
        
        <td width="1%" style="display: none;">
          <div class="td-options" data-show>
            <img src="/assets/icons/show.svg" width="15" /><%= link_to 'Show', taxon_name.metamorphosize %>
            </div>
        </td>
        <td width="1%" style="display: none;">
          <div class="td-options" data-edit>
            <img src="/assets/icons/new.svg" width="15"/><%= edit_object_link(taxon_name) %>
          </div>
        </td>
        <td width="1%" style="display: none;">
          <div class="td-options" data-delete>
            <img src="/assets/icons/trash.svg" width="15"/><%= link_to 'Destroy', taxon_name.metamorphosize, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var
    animationTime = 250;

  $('#taxon-list').on('click', 'th a', function() {
    $('[data-filter="'+ $(this).parent().parent().attr("data-filter") +'"]').hide(animationTime);
  });


function showAll() {
    $('[data-filter]').show(animationTime);
    $('[data-filter-publication]').attr("data-filter-publication","true");
    $('[data-filter-metadata]').attr("data-filter-metadata","true");
    $('[data-filter-user-info]').attr("data-filter-user-info","true");
    $('[data-filter-publication]').children().children().attr("src","/assets/icons/show.svg");
    $('[data-filter-user-info]').children().children().attr("src","/assets/icons/show.svg");
    $('[data-filter-metadata]').children().children().attr("src","/assets/icons/show.svg");
}
  $('.navigation-controls').on('click', '[data-display="showAll"]', function() {
    showAll();
  });  

  $('.navigation-controls').on('click', '.navigation', function() {
    if($(this).attr("data-filter-active") === "true") {
      $('table [data-group="' + $(this).attr("data-group") + '"]').hide(animationTime);
      $(this).attr("data-filter-active","false");
      $(this).children().children().attr("src","/assets/icons/hide.svg");
    }
    else {
      $('table [data-group="' + $(this).attr("data-group") + '"]').show(animationTime);
      $(this).children().children().attr("src","/assets/icons/show.svg");
      $(this).attr("data-filter-active","true");
    }
  });  


$( "tbody tr" ).dblclick(function() {
  location.href = $(this).find("[data-show] a").attr("href");
});

$(document).ready(initContextMenus);
$(document).on('page:change', initContextMenus);
$(document).ready(headerTableOptions);
$(document).on('page:change', headerTableOptions);


$(document).ready(function() 
    { 
        $("#taxon-list").tablesorter(); 
    } 
);

 function initContextMenus() {
  $.contextMenu('destroy', ".context-menu-one" );
        $.contextMenu({
            selector: '.context-menu-one', 
            autoHide: true,
            callback: function(key, options) {
                var m = "clicked: " + key;

                switch(key) {
                  case "show":
                    location.href = $(this).find("[data-show] a").attr('href');
                  break;
                  case "edit":
                    location.href = $(this).find("[data-edit] a").attr('href');
                  break;                  
                  case "delete":
                    $(this).find("[data-delete] a").click();
                  break;
                }
            },
            items: {
                "show": {name: "Show", icon: "show"},
                "sep1": "---------",
                "edit": {name: "Edit", icon: "edit"},
                "delete": {name: "Delete", icon: "delete"}
            }
        });
  }

 function headerTableOptions() {
  $.contextMenu('destroy', ".headerTableOptions" );
        $.contextMenu({
            selector: '.headerTableOptions', 
            autoHide: true,
            callback: function(key, options) {
                var m = "clicked: " + key;

                switch(key) {              
                  case "delete":
                    $('[data-filter="'+ $(this).attr("data-filter") +'"]').hide(animationTime);
                  break;
                  case "show":
                    showAll();
                  break;
                }
            },
            items: {                
                "delete": {name: "Delete", icon: "delete"},
                "sep1": "---------",
                "show":{name: "Show All", icon: "show"}
            }
        });
  }  
</script>