<h1>Listing taxon names</h1>
<div class="nav-list">
  <div>
  <%= paginate @taxon_names %> <%= page_entries_info @taxon_names %>
  </div>
  <div class="filter-nav">
    
      <div class="td-filter td-filter-title">
        <img class="icon" src="/assets/icons/options.svg" width="15"/><div>Display</div>
      </div>
    
    <a data-filter-names="true" href="#">
      <div class="td-filter">
        <img class="icon" src="/assets/icons/show.svg" width="15"/><div>Names</div>
      </div>
    </a>
    <a data-filter-publication="true" href="#">
      <div class="td-filter">
        <img class="icon" src="/assets/icons/show.svg" width="15"/><div>Publications</div>
      </div>
    </a>
    <a data-filter-user-info="true" href="#">
      <div class="td-filter">
        <img class="icon" src="/assets/icons/show.svg" width="15"/><div>User information</div>
      </div>
    </a>            
    <a data-display="showAll" href="#">
      <div class="td-filter">
        <img class="icon" src="/assets/icons/show.svg" width="15"/><div>Show all</div>
      </div>
    </a>
  </div>
</div>
<table cellspacing="0" id="taxon-list">
  <thead>
  <tr>
    <th data-filter="name"><div>Name<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="parent"><div>Parent<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="cachedName"><div>Cached name<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="source"><div>Source<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="yearPublication"><div>Year of publication<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="verbatimAuthor"><div>Verbatim author<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="rank"><div>Rank<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="type"><div>Type<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="updateBy"><div>Updated by<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th data-filter="lastUpdate"><div>Last updated<a><img src="/assets/icons/close.svg" width="10" /></a></div></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @taxon_names.each do |taxon_name| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td data-filter="name"><%= taxon_name.name %></td>
        <td data-filter="parent"><%= object_tag(taxon_name.parent) %></td>
        <td data-filter="cachedName"><%= taxon_name.cached_html ? taxon_name.cached_html.html_safe : content_tag(:em, 'ERROR: not rendered',  class: :warning) %></td>
        <td data-filter="source"><%= object_tag(taxon_name.source) %></td>
        <td data-filter="yearPublication"><%= taxon_name.year_of_publication %></td>
        <td data-filter="verbatimAuthor"><%= taxon_name.verbatim_author %></td>
        <td data-filter="rank"><%= taxon_name.rank %></td>
        <td data-filter="type"><%= taxon_name.type %></td>
        <td data-filter="updateBy"><%= object_tag(taxon_name.updater) %></td>
        <td data-filter="lastUpdate"><%= object_time_since_update_tag(taxon_name) %></td>
        
        <td width="1%"><div class="td-options"><img src="/assets/icons/show.svg" width="15" /><%= link_to 'Show', taxon_name.metamorphosize %><div class="td-options"><img src="/assets/icons/new.svg" width="15"/><%= edit_object_link(taxon_name) %></div><div class="td-options"><img src="/assets/icons/trash.svg" width="15"/><%= link_to 'Destroy', taxon_name.metamorphosize, method: :delete, data: {confirm: 'Are you sure?'} %></div></div></td>
<!---
        ---->
      </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var
    animationTime = 250;

  $('#taxon-list').on('click', 'th a', function() {
    $('[data-filter="'+ $(this).parent().parent().attr("data-filter") +'"]').hide(animationTime);
  });

  $('.filter-nav').on('click', 'a[data-display="showAll"]', function() {
    $('[data-filter]').show(animationTime);
    $('a[data-filter-publication]').attr("data-filter-publication","true");
    $('a[data-filter-names]').attr("data-filter-names","true");
    $('a[data-filter-user-info]').attr("data-filter-user-info","true");
    $('a[data-filter-publication]').children().children().attr("src","/assets/icons/show.svg");
    $('a[data-filter-user-info]').children().children().attr("src","/assets/icons/show.svg");
    $('a[data-filter-names]').children().children().attr("src","/assets/icons/show.svg");
  });  

  $('.filter-nav').on('click', 'a[data-filter-publication]', function() {
    if($(this).attr("data-filter-publication") === "true") {
      $('[data-filter="source"]').hide(animationTime);
      $('[data-filter="yearPublication"]').hide(animationTime);
      $('[data-filter="verbatimAuthor"]').hide(animationTime);
      $(this).attr("data-filter-publication","false");
      $(this).children().children().attr("src","/assets/icons/hide.svg");
    }
    else {
      $(this).children().children().attr("src","/assets/icons/show.svg");
      $('[data-filter="source"]').show(animationTime);
      $('[data-filter="yearPublication"]').show(animationTime);
      $('[data-filter="verbatimAuthor"]').show(animationTime);
      $(this).attr("data-filter-publication","true");
    }
  });  

  $('.filter-nav').on('click', 'a[data-filter-user-info]', function() {
    if($(this).attr("data-filter-user-info") === "true") {
      $('[data-filter="updateBy"]').hide(animationTime);
      $('[data-filter="lastUpdate"]').hide(animationTime);
      $(this).attr("data-filter-user-info","false");
      $(this).children().children().attr("src","/assets/icons/hide.svg");
    }
    else {
      $(this).children().children().attr("src","/assets/icons/show.svg");
      $('[data-filter="updateBy"]').show(animationTime);
      $('[data-filter="lastUpdate"]').show(animationTime);
      $(this).attr("data-filter-user-info","true");
    }
  }); 

  $('.filter-nav').on('click', 'a[data-filter-names]', function() {
    if($(this).attr("data-filter-names") === "true") {
      $('[data-filter="name"]').hide(animationTime);
      $('[data-filter="parent"]').hide(animationTime);
      $('[data-filter="cachedName"]').hide(animationTime);
      $(this).attr("data-filter-names","false");
      $(this).children().children().attr("src","/assets/icons/hide.svg");
    }
    else {
      $(this).children().children().attr("src","/assets/icons/show.svg");
      $('[data-filter="updateBy"]').show(animationTime);
      $('[data-filter="parent"]').show(animationTime);
      $('[data-filter="cachedName"]').show(animationTime);
      $(this).attr("data-filter-names","true");
    }
  });         
</script>
