<div class="panels-container">
  <div class="panel column-big">
    <div class="title nav-line">
      Listing taxon names
    </div>      
    <div class="navigation-controls"> 
      <div class="pagination-bar">
        <%= paginate @taxon_names %> 
        <div class="pagination">
          <%= page_entries_info @taxon_names %>
        </div>
      </div>
      <div class="navigation-bar-right ">
        <a class="inline" data-icon="download" href="#">                 
          Download
        </a>               
      </div>
    </div>       
  </div>
  <div class="panel column-small">
    <div class="title action-line">
      Display
    </div>      
    <div class="navigation-controls">
      <%= content_tag(:div, content_tag(:a, 'Type', 'data-icon' => 'show'), class: 'navigation-item', 'data-filter-active' => 'true',data: { group: :metadata })%>
      <%= content_tag(:div, content_tag(:a, 'Source', 'data-icon' => 'show'), class: 'navigation-item', 'data-filter-active' => 'true', data: { group: :publication })%>
      <%= content_tag(:div, content_tag(:a, 'Housekeeping', 'data-icon' => 'show'), class: 'navigation-item', 'data-filter-active' => 'true', data: { group: :housekeeping })%>
      <%= content_tag(:div, content_tag(:a, 'Show All', 'data-icon' => 'show'), class: 'navigation-item', 'data-filter-active' => 'true', showAll: '')%> 
    </div> 
  </div>      
</div>
<table class="tablesorter">
  <thead>
    <tr>
      <%= fancy_th_tag(name: 'Name', filter: :name) -%> 
      <%= fancy_th_tag(name: 'Parent', filter: :name) -%> 
      <%= fancy_th_tag(name: 'Cached name', filter: :name) -%> 
      <%= fancy_th_tag(name: 'Source', filter: :name, group: 'publication') -%> 
      <%= fancy_th_tag(name: 'Year of publication', filter: :name, group: 'publication') -%> 
      <%= fancy_th_tag(name: 'Verbatim author', filter: :name) -%>
      <%= fancy_th_tag(name: 'Rank', filter: :name) -%>
      <%= fancy_th_tag(name: 'Type', filter: :name, group: 'metadata') -%>
      <%= fancy_th_tag(name: 'Updated by', filter: :name, group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', filter: :name, group: 'housekeeping') -%>
    </tr>
  </thead>
  <tbody>
  <!--- 
  class: "contextMenuCells" is used to generate the context menu, use this on the <tr> tag.
  ---->
    <% @taxon_names.each do |taxon_name| %>
      <tr class="contextMenuCells btn btn-neutral">
        <%= content_tag(:td, taxon_name.name, data: { }) %>
        <%= content_tag(:td, object_tag(taxon_name.parent), data: { }) %>
        <%= content_tag(:td, (taxon_name.cached_html.html_safe ? taxon_name.cached_html.html_safe : content_tag(:em, 'ERROR: not rendered',  class: :warning)), data: { }) %>
        <%= content_tag(:td, object_tag(taxon_name.source), data: { filter: 'yearPublication', group: :publication })%>
        <%= content_tag(:td, taxon_name.year_of_publication, data: { filter: 'yearPublication', group: :publication })%>
        <%= content_tag(:td, taxon_name.verbatim_author, data: { }) %>
        <%= content_tag(:td, taxon_name.rank, data: { }) %>
        <%= content_tag(:td, taxon_name.type, data: { filter: 'metadata', group: :metadata }) %>
        <%= content_tag(:td, object_tag(taxon_name.updater), data: { filter: 'housekeeping', group: :housekeeping }) %>
        <%= content_tag(:td, object_time_since_update_tag(taxon_name), data: { filter: 'housekeeping', group: :housekeeping }) %>
        <!-- Hidden action links 
        data-attributes:
          data_show
          data_edit
          data_delete

        This is very important, it must be set to make work the options for the context menu.
        Use the class ".table-options" to hide those options on the table
        ---->
        <%= content_tag(:td, (link_to 'Show', taxon_name.metamorphosize), class: 'table-options', data_show: '') %>
        <%= content_tag(:td, edit_object_link(taxon_name), class: 'table-options', data_edit: '') %>
        <%= content_tag(:td, (link_to 'Destroy', taxon_name.metamorphosize, method: :delete, data: {confirm: 'Are you sure?'}), class: 'table-options', data_delete: '') %>
      </tr>
    <% end %>
  </tbody>
</table>