<div id="header-box">
  <div class="flexbox">
    <div class="item item1">
      <div class="section">
          <div class="tag title">
          Listing taxon names
            </div>      
            <div class="navigation-controls">
              <div class="item1 pagination-controls"> 
               <div>
                  <%= paginate @taxon_names %> <%= page_entries_info @taxon_names %>
                  </div>
                  <div class="link">                  
                    <a href="#"><img src="/assets/icons/download.svg">Download</a>
                  </div>
              </div>       
            </div> 
      </div>
    </div>
    <div class="item item2">
      <div class="section">
          <div class="tag title show">
          Display
            </div>      
            <div class="navigation-controls">
              <div class="navigation" data-filter-active="true" data-group="metadata"> 
                <img src="/assets/icons/show.svg"/>Type
              </div>   
              <div class="navigation" data-filter-active="true" data-group="publication"> 
                <img src="/assets/icons/show.svg"/>Source
              </div> 
              <div class="navigation" data-filter-active="true" data-group="housekeeping"> 
                <img src="/assets/icons/show.svg"/>Housekeeping   
              </div> 
              <div class="navigation" data-display="showAll"> 
                <img src="/assets/icons/show.svg"/>Show all
              </div>                                                 
            </div> 
      </div>      
    </div>
  </div>
</div>
<table cellspacing="0" id="list" class="tablesorter">
  <thead>
    <tr>
      <%= fancy_th_tag(name: 'Name', filter: :name) -%> 
    <th class="headerTableOptions">
        <div>Name</div>
    </th>
    <th class="headerTableOptions">
      <div>Parent</div>
    </th>
    <th class="headerTableOptions">
        <div>Cached name</div>
    </th>
    <th class="headerTableOptions" data-group="publication">
        <div>Source</div>
    </th>
    <th class="headerTableOptions" data-group="publication">
        <div>Year of publication</div>
    </th>
    <th class="headerTableOptions">
        <div>Verbatim author</div>
    </th>
    <th class="headerTableOptions">
        <div>Rank</div>
    </th>
    <th class="headerTableOptions" data-group="metadata">
        <div>Type</div>
    </th>
    <th class="headerTableOptions" data-group="housekeeping">
      <div>Updated by</div>
    </th>
    <th class="headerTableOptions" data-group="housekeeping">
      <div>Last updated</div>
    </th>
    <th class="table-options"></th>
    <th class="table-options"></th>
    <th class="table-options"></th>
  </tr>
  </thead>
  <tbody>
  <% @taxon_names.each do |taxon_name| %>
      <tr class="context-menu-one btn btn-neutral <%= cycle('list_line_odd', 'list_line_even') %>"><%= link_to '', taxon_name.metamorphosize %>
        <td><%= taxon_name.name %></td>
        <td><%= object_tag(taxon_name.parent) %></td>
        <td><%= taxon_name.cached_html ? taxon_name.cached_html.html_safe : content_tag(:em, 'ERROR: not rendered',  class: :warning) %></td>
        <td data-group="publication"><%= object_tag(taxon_name.source) %></td>
        <td data-group="publication"><%= taxon_name.year_of_publication %></td>
        <td><%= taxon_name.verbatim_author %></td>
        <td><%= taxon_name.rank %></td>
        <td data-group="metadata"><%= taxon_name.type %></td>
        <td data-group="housekeeping"><%= object_tag(taxon_name.updater) %></td>
        <td data-group="housekeeping"><%= object_time_since_update_tag(taxon_name) %></td>
        
        <td class="table-options">
          <div data-show>
            <img src="/assets/icons/show.svg" width="15" /><%= link_to 'Show', taxon_name.metamorphosize %>
            </div>
        </td>
        <td class="table-options">
          <div data-edit>
            <img src="/assets/icons/new.svg" width="15"/><%= edit_object_link(taxon_name) %>
          </div>
        </td>
        <td class="table-options">
          <div data-delete>
            <img src="/assets/icons/trash.svg" width="15"/><%= link_to 'Destroy', taxon_name.metamorphosize, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var
    animationTime = 250;

function showAll() {
    $('th, td').show(animationTime);
    $('.table-options').hide();
    $('[data-filter-publication]').attr("data-filter-publication","true");
    $('[data-filter-metadata]').attr("data-filter-metadata","true");
    $('[data-filter-user-info]').attr("data-filter-user-info","true");
    $('[data-group] img').attr("src","/assets/icons/show.svg");
  }
  $('.navigation-controls').on('click', '[data-display="showAll"]', function() {
    showAll();
  });  

  $('.navigation-controls').on('click', '.navigation', function() {
    if($(this).attr("data-filter-active") === "true") {
      $('table [data-group="' + $(this).attr("data-group") + '"]').hide(animationTime);
      $(this).attr("data-filter-active","false");
      $(this).children('img').attr("src","/assets/icons/hide.svg");
    }
    else {
      $('table [data-group="' + $(this).attr("data-group") + '"]').show(animationTime);
      $(this).children('img').attr("src","/assets/icons/show.svg");
      $(this).attr("data-filter-active","true");
    }
  }); 

$("tbody tr").dblclick(function() {
  location.href = $(this).find("[data-show] a").attr("href");
});

function removeColumn(elementObject) {
  $(elementObject.parents('table').find('td:nth-child('+ ($(elementObject).index()+1)+ ')')).hide(250);
  $(elementObject.parents('table').find('th:nth-child('+ ($(elementObject).index()+1)+ ')')).hide(250);
}

$(document).ready(initContextMenus);
$(document).on('page:change', initContextMenus);
$(document).ready(headerTableOptions);
$(document).on('page:change', headerTableOptions);


$(document).ready(function() 
    { 
        $("#list").tablesorter({ 
        widgets: ['zebra'] 
        }); 
    } 
);

 function initContextMenus() {
  $.contextMenu('destroy', ".context-menu-one" );
        $.contextMenu({
            selector: '.context-menu-one', 
            autoHide: true,
            callback: function(key, options) {
                var m = "clicked: " + key;

                switch(key) {
                  case "show":
                    location.href = $(this).find("[data-show] a").attr('href');
                  break;
                  case "edit":
                    location.href = $(this).find("[data-edit] a").attr('href');
                  break;                  
                  case "delete":
                    $(this).find("[data-delete] a").click();
                  break;
                }
            },
            items: {
                "show": {name: "Show", icon: "show"},
                "sep1": "---------",
                "edit": {name: "Edit", icon: "edit"},
                "delete": {name: "Delete", icon: "delete"}
            }
        });
  }

 function headerTableOptions() {
  $.contextMenu('destroy', ".headerTableOptions" );
        $.contextMenu({
            selector: '.headerTableOptions', 
            autoHide: true,
            callback: function(key, options) {
                var m = "clicked: " + key;

                switch(key) {              
                  case "delete":
                    removeColumn(options.$trigger);
                  break;
                  case "show":
                    showAll(options.$trigger);
                  break;
                }
            },
            items: {                
                "delete": {name: "Delete", icon: "delete"},
                "sep1": "---------",
                "show":{name: "Show All", icon: "show"}
            }
        });
  }  
</script>
