<%= render(partial: "/shared/data/all/list/list_header", locals: {objects: @taxon_names}) -%>

<table class="tablesorter">
  <thead>
    <tr>
      <%= fancy_th_tag(name: 'Name') -%> 
      <%= fancy_th_tag(name: 'Parent') -%> 
      <%= fancy_th_tag(name: 'Cached name') -%> 
      <%= fancy_th_tag(name: 'Source', group: 'publication') -%> 
      <%= fancy_th_tag(name: 'Year of publication', group: 'publication') -%> 
      <%= fancy_th_tag(name: 'Verbatim author') -%>
      <%= fancy_th_tag(name: 'Rank') -%>
      <%= fancy_th_tag(name: 'Type', group: 'metadata') -%>
      <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
    </tr>
  </thead>
  <tbody>
    <% @taxon_names.each do |taxon_name| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%> 
        <%= content_tag(:td, taxon_name.name,) %>
        <%= content_tag(:td, object_tag(taxon_name.parent)) %>
        <%= content_tag(:td, (taxon_name.cached_html.html_safe ? taxon_name.cached_html.html_safe : content_tag(:em, 'ERROR: not rendered',  class: :warning))) %>
        <%= content_tag(:td, object_tag(taxon_name.source))%>
        <%= content_tag(:td, taxon_name.year_of_publication)%>
        <%= content_tag(:td, taxon_name.verbatim_author) %>
        <%= content_tag(:td, taxon_name.rank) %>
        <%= content_tag(:td, taxon_name.type) %>
        <%= fancy_metadata_cells_tag(taxon_name) -%>
      <% end %>
    <% end %>
  </tbody>
</table>
