<h1>Listing taxon names</h1>

<%= paginate @taxon_names %> <%= page_entries_info @taxon_names %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Cached name</th>
    <th>Source</th>
    <th>Year of publication</th>
    <th>Verbatim author</th>
    <th>Rank</th>
    <th>Type</th>
    <th>Updated by</th>
    <th>Last updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @taxon_names.each do |taxon_name| %>
      <tr>
        <td><%= taxon_name.name %></td>
        <td><%= object_tag(taxon_name.parent) %></td>
        <td><%= taxon_name.cached_html ? taxon_name.cached_html.html_safe : content_tag(:em, 'ERROR: not rendered',  class: :warning) %></td>
        <td><%= object_tag(taxon_name.source) %></td>
        <td><%= taxon_name.year_of_publication %></td>
        <td><%= taxon_name.verbatim_author %></td>
        <td><%= taxon_name.rank %></td>
        <td><%= taxon_name.type %></td>
        <td><%= object_tag(taxon_name.updater) %></td>
        <td><%= object_time_since_update_tag(taxon_name) %></td>
        <td><%= link_to 'Show', taxon_name.metamorphosize %></td>
        <td><%= link_to 'Edit', edit_taxon_name_path(taxon_name.metamorphosize) %></td>
        <td><%= link_to 'Destroy', taxon_name.metamorphosize, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
