
<% content_for :tasks do %>
  <%= render('tasks') -%>
<% end %>

<% content_for :additional_navigation do %>
  <%= render('parent_navigator', taxon_name: @taxon_name, target: :taxon_name_path) -%>
<% end %>

<%= content_for :associated do %>
  <% if @taxon_name.taxon_name_authors.load.any? %>
    <h3>Taxon name authors</h3>
    <ul>
      <% @taxon_name.taxon_name_authors.order('roles.position').each do |taxon_name_author| %>
        <%= content_tag(:li, object_link(taxon_name_author)) %>
      <% end %>
    </ul>
  <% end %>

  <% if @taxon_name.is_protonym? -%>
    <%= content_tag(:h3, 'Classifications / Status') + render(partial: '/taxon_name_classifications/unordered_list', locals: {taxon_name_classifications: @taxon_name.taxon_name_classifications}) if @taxon_name.taxon_name_classifications.any? -%>
    <%= content_tag(:h3, 'Relationships') + render(partial: '/taxon_name_relationships/list_by_taxon_name', locals: {taxon_name: @taxon_name }) if @taxon_name.taxon_name_relationships.any? || @taxon_name.related_taxon_name_relationships.any? -%>
    <%= content_tag(:h3, 'Combinations') + render(partial: '/combinations/unordered_list', locals: {combinations: @taxon_name.combinations} ) if @taxon_name.combinations.any? -%>
  <% end %>
<% end %>

<% content_for :report do %>

  <%= content_tag(:li, link_to("Browse nomenclature", browse_nomenclature_task_path(taxon_name_id: @taxon_name.id))) -%>

  <% unless Otu.for_taxon_name(@taxon_name.to_param).empty? %>
    <%= content_tag(:li, link_to(
      'Distribution',
      otu_distribution_data_task_path(taxon_name_id: @taxon_name.to_param),
      'data-turbolinks' => false))
    %>
  <% end %>

<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @taxon_name}) -%>
