<% content_for :do do %>
    <% if @taxon_name.is_protonym? -%>
        <%= link_to('Add status/classification', new_taxon_name_classification_path(taxon_name_classification: {taxon_name_id: @taxon_name.to_param})) -%>
        <br/>
        <%= new_combination_for_protonym_link(@taxon_name) -%>
    <% end %>
<% end %>

<% content_for :tasks do %>
    <%= render(partial: 'tasks') -%>
<% end %>

<% content_for :show_navigation do %>
    <%= render('parent_navigator', taxon_name: @taxon_name) -%>
<% end %>

<%= content_for :related_attributes do %>
  <% if @taxon_name.taxon_name_authors.any? %>
    <h3>Taxon name authors</h3>
    <ul>
      <% @taxon_name.taxon_name_authors.each do |taxon_name_author| %>
        <%= content_tag(:li, object_link(taxon_name_author)) %>
      <% end %>
    </ul>
  <% end %>

  <% if @taxon_name.is_protonym? -%>
    <%= content_tag(:h3, 'Classifications / Status') + render(partial: '/taxon_name_classifications/unordered_list', locals: {taxon_name_classifications: @taxon_name.taxon_name_classifications}) if @taxon_name.taxon_name_classifications.any? -%>
    <%= content_tag(:h3, 'Relationships') + render(partial: '/taxon_name_relationships/list_by_taxon_name', locals: {taxon_name: @taxon_name }) if @taxon_name.taxon_name_relationships.any? || @taxon_name.related_taxon_name_relationships.any? -%>
    <%= content_tag(:h3, 'Combinations') + render(partial: '/combinations/unordered_list', locals: {combinations: @taxon_name.combinations} ) if @taxon_name.combinations.any? -%>
  <% end %>
<% end %>

<% content_for :see do %>
    <% unless Otu.for_taxon_name(@taxon_name.to_param).empty? %>
        <ul class="no_bullets">
          <%= content_tag(:li, link_to('Distribution',
                                       taxon_name_distribution_data_task_path(@taxon_name.to_param),
                                       'data-no-turbolink' => true)) %>
        </ul>
    <% end %>
<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @taxon_name}) -%>
