<%= form_for(@loan_item, html:{  class: :loan_item_form}) do |f| %>
  <%= render 'shared/errors', object: @loan_item %>

  <div class="field">
    <%= f.label :loan %><br>
    <%= render partial: 'workbench/elements/forms/ajax_select',
               locals: {controller: 'loans',
                        object: 'loan_item',
                        method: 'loan_id',
                        tag_id: 'loan_id_for_loan_item',
                        display: label_for_loan(@loan_item.loan)
               } %>

             <%= loan_tag(@loan_item.loan)if @loan_item.persisted? %>
  </div>



  <div class="item item3">
    <%= render "/loan_items/select_loan_item" %>
  </div>

  <div class="field" id="loan_item_object_gid">
    <%= f.label :loan_item_object, hidden: true %><br>
    <p id="loan_item_label"> <%= @loan_item.loan_item_object ? object_tag(@loan_item.loan_item_object) : content_tag(:em, 'Loan object not yet selected') -%> </em> </p>
  </div>

  <div class="field">
    <%= f.label :date_returned %><br>
    <%= f.text_field :date_returned_jquery, class: :datepicker_recurring_start, size: 9 %>
  </div>

  <div class="field">
    <%= f.label :disposition, 'Status' %><br>
    <%= f.select :disposition, options_for_select(LoanItem::STATUS, selected: f.object.disposition), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :total %><br>
    <%= f.number_field :total %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
