<%= form_for(@loan_item) do |f| %>
    <%= render 'shared/errors', object: @loan_item %>

    <div class="field">
      <%= f.label :loan_id %>
      <br>
      <%= f.number_field :loan_id %>
    </div>
    <div class="field">
      <%= f.label :collection_object_id %>
      <br>
      <%= f.number_field :collection_object_id %>
    </div>
    <div class="field">
      <%= f.label :date_returned %>
      <br>
      <%= f.date_select :date_returned %>
    </div>
    <div class="field">
      <%= f.label :collection_object_status %>
      <br>
      <%= f.text_field :collection_object_status %>
    </div>
    <div class="field">
      <%= f.label :container_id %>
      <br>
      <%= f.number_field :container_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
