
<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Loaned item') -%>
    <%= fancy_th_tag(name: 'Date returned') -%>
    <%= fancy_th_tag(name: 'Collection object status') -%>
    <%= fancy_th_tag(name: 'Total') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% loan_items.each do |loan_item| %>
      <%= content_tag(:tr, class: [:contextMenuCells, :btn, 'btn-neutral']) do -%>
        <td><%= object_tag(loan_item.loan_item_object) %></td>
        <td><%= loan_item.date_returned %></td>
        <td><%= loan_item.disposition %></td>
        <td><%= loan_item_total_string(loan_item) %></td>
        <td><%= loan_item.loan_item_object_type %></td>
        <%= fancy_metadata_cells_tag(loan_item) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
