<h1>Loan Items</h1>

<table>
  <thead>
    <tr>
      <th>Loan</th>
      <th>Collection object</th>
      <th>Date returned</th>
      <th>Collection object status</th>
      <th>Position</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th>Container</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_items.each do |loan_item| %>
      <tr>
        <td><%= loan_item.loan_id %></td>
        <td><%= loan_item.collection_object_id %></td>
        <td><%= loan_item.date_returned %></td>
        <td><%= loan_item.collection_object_status %></td>
        <td><%= loan_item.position %></td>
        <td><%= loan_item.created_by_id %></td>
        <td><%= loan_item.updated_by_id %></td>
        <td><%= loan_item.project_id %></td>
        <td><%= loan_item.container_id %></td>
        <td><%= link_to 'Show', loan_item %></td>
        <td><%= link_to 'Edit', edit_loan_item_path(loan_item) %></td>
        <td><%= link_to 'Destroy', loan_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan item', new_loan_item_path %>
