<%= render("/shared/data/all/list/list_header", objects: @loan_items) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Loan') -%>
    <%= fancy_th_tag(name: 'Date returned') -%>
    <%= fancy_th_tag(name: 'Collection object status') -%>
    <%= fancy_th_tag(name: 'Loan item object') -%>
    <%= fancy_th_tag(name: 'Total') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @loan_items.each do |loan_item| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= loan_tag(loan_item.loan) %></td>
          <td><%= loan_item.date_returned %></td>
          <td><%= loan_item.disposition %></td>
          <td><%= object_tag(loan_item.loan_item_object) %></td>
          <td><%= loan_item.total %></td>
          <%= fancy_metadata_cells_tag(loan_item) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
