<p id="notice"><%= notice %></p>

<p>
  <strong>Loan:</strong>
  <%= @loan_item.loan_id %>
</p>

<p>
  <strong>Collection object:</strong>
  <%= @loan_item.collection_object_id %>
</p>

<p>
  <strong>Date returned:</strong>
  <%= @loan_item.date_returned %>
</p>

<p>
  <strong>Collection object status:</strong>
  <%= @loan_item.collection_object_status %>
</p>

<p>
  <strong>Position:</strong>
  <%= @loan_item.position %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @loan_item.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @loan_item.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @loan_item.project_id %>
</p>

<p>
  <strong>Container:</strong>
  <%= @loan_item.container_id %>
</p>

<%= link_to 'Edit', edit_loan_item_path(@loan_item) %> |
<%= link_to 'Back', loan_items_path %>
