<div>
  <span id="textAreaSelector">Select the area_by_name selector, or the area_by_map selector.</span>
  <%= link_to('Area', '#', data: { turbolinks: false }, class: :on_selector, hidden: :true) %>
  <%= link_to('Map', '#', data: { turbolinks: false }, class: :map_toggle) %>

  <div id="area_selector">
    <span id="geographic_areaError" style="color: #DD0000"></span>
    <%= render(:partial => 'shared/data/gis/area_picker') %>
  </div>
  <div id="map_selector" hidden="hidden">
    <%= drawable_map_component(shown_georeferences, 'border=0', drawing_modes) -%>
    <%= hidden_field_tag('drawn_area_shape') %>
  </div>
  <%= hidden_field_tag(:selection_objects, selection_objects) %>
</div>
