<h1> Collection summary</h1>
<%= link_to('Filter', filter_collection_objects_task_url(@collection_objects_query.params)) %> <br> <br>

<ul class="horizontal_navbar">
  <li><%= link_to('Objects', collection_object_summary_report_url( @collection_objects_query.params.merge(target: 'objects')), remote: true) %> </li>
  <li><%= link_to('Taxonomic scope', collection_object_summary_report_url( @collection_objects_query.params.merge(target: 'nomenclature')), remote: true) %> </li>
  <li><%= link_to('Collecting events', collection_object_summary_report_url( @collection_objects_query.params.merge(target: 'collecting_events')), remote: true) %> </li>
  <li><%= link_to('Loans', collection_object_summary_report_url( @collection_objects_query.params.merge(target: 'loans')), remote: true) %> </li>
  <li><%= link_to('Staged images', collection_object_summary_report_url( @collection_objects_query.params.merge(target: 'staged_images')), remote: true) %></li>
  <li><%= link_to('Other images', collection_object_summary_report_url( @collection_objects_query.params.merge(target: 'other_images')), remote: true) %></li>
  <li><%= link_to('Type material', collection_object_summary_report_url( @collection_objects_query.params.merge(target: 'type_material')), remote: true) %> </li>
</ul>

<div id='content'>
  <%= render(partial: 'objects') %>
 </div>
