<%= render("/shared/data/all/list/list_header", objects: @protocol_relationships) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Protocol') -%>
    <%= fancy_th_tag(name: 'Protocol relationship object') -%>
    <%= fancy_th_tag(name: 'Protocol relationship object type') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @protocol_relationships.each do |protocol_relationship| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= object_link(protocol_relationship.protocol) %></td>
          <td><%= object_link(protocol_relationship.protocol_relationship_object) %></td>
          <td><%= protocol_relationship.protocol_relationship_object_type %></td>
          <%= fancy_metadata_cells_tag(protocol_relationship) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

