<%= form_for(@collection_object.becomes(CollectionObject)) do |f| %>
    <% if @collection_object.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@collection_object.errors.count, 'error') %> prohibited this collection_object from being
            saved:</h2>

          <ul>
            <% @collection_object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="required">
      <div class="or">
        <div class="option">
          <div class="field">
            <%= f.label :total %>
            <br>
            <%= f.number_field :total %>
          </div>
        </div>
        <div class="option">
          <div class="field">
            <%= f.label :ranged_lot_category %>
            <br>
            <%= f.select :ranged_lot_category_id, options_from_collection_for_select(RangedLotCategory.with_project_id($project_id).to_a, :id, :name) -%>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :preparation_type %>
      <br>
      <%= f.select :preparation_type_id, options_from_collection_for_select(PreparationType.all, :id, :name) -%>
      <%# render partial: 'elements/forms/ajax_select',
                 locals:  {controller: 'preparation_types',
                           object:     'collection_object',
                           method:     'preparation_type_id',
                           tag_id:     'preparation_type_id_for_collection_object',
                           display:    object_tag(@collection_object.preparation_type)} %>
    </div>

    <div class="field">
      <%= f.label :repository %>
      <br>
      <%#= f.select :repository_id, options_from_collection_for_select(Repository.all, :id, :name) -%>
      <%= render partial: 'elements/forms/ajax_select',
                 locals: {controller: 'repositories',
                          object: 'collection_object',
                          method: 'repository',
                          tag_id: 'repository_id_for_collection_object',
                          display: object_tag(@collection_object.repository),
                          size: 20} %>
    </div>

    <div class="field">
      <%= f.label :collecting_event %>
      <br>
      <%#= f.select :collecting_event_id, options_from_collection_for_select(CollectingEvent.with_project_id($project_id).all, :id, :cached_display) -%>
      <%= render partial: 'elements/forms/ajax_select',
                 locals: {controller: 'collecting_events',
                          object: 'collection_object',
                          method: 'collecting_event_id',
                          tag_id: 'collecting_event_id_for_collection_object',
                          display: object_tag(@collection_object.collecting_event),
                          size: 20} %>

    </div>

    <div class="field">
      <%= f.label :buffered_collecting_event %>
      <br>
      <%= f.text_area :buffered_collecting_event -%>
    </div>

    <div class="field">
      <%= f.label :buffered_determinations %>
      <br>
      <%= f.text_area :buffered_determinations -%>
    </div>

    <div class="field">
      <%= f.label :buffered_other_labels %>
      <br>
      <%= f.text_area :buffered_other_labels -%>
    </div>

    <div class="field">
      <%= f.label :deaccessioned_at %>
      <br>
      <%= f.date_field :deaccessioned_at -%>
    </div>

    <div class="field">
      <%= f.label :accessioned_at %>
      <br>
      <%= f.date_field :accessioned_at -%>
    </div>

    <div class="field">
      <%= f.label :accession_provider %>
      <br>
      <%= render(partial: 'elements/forms/ajax_select',
                 locals: {controller: 'people',
                          object: 'person',
                          method: 'accession_provider_id',
                          tag_id: 'accession_provider_id_for_collection_object',
                          display: object_tag(@collection_object.accession_provider),
                          size: 20}) %>
    </div>

    <div class="field">
      <%= f.label :deaccession_recipient %>
      <br>
      <%= render partial: 'elements/forms/ajax_select',
                 locals: {controller: 'people',
                          object: 'person',
                          method: 'deaccession_recipient_id',
                          tag_id: 'deaccession_recipient_id_for_collection_object',
                          display: object_tag(@collection_object.deaccession_recipient),
                          size: 20} %>
    </div>

    <div class="field">
      <%= f.label :deaccession_reason %>
      <br>
      <%= f.text_field :deaccession_reason -%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script>
    $('#collection_object_deaccessioned_at').datepicker();
    $('#collection_object_accessioned_at').datepicker();
</script>
