<h1>Listing collection_objects</h1>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Type</th>
      <th>Preparation type</th>
      <th>Repository</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_objects.each do |collection_object| %>
      <tr>
        <td><%= collection_object.total %></td>
        <td><%= collection_object.type %></td>
        <td><%= collection_object.preparation_type_id %></td>
        <td><%= collection_object.repository_id %></td>
        <td><%= collection_object.created_by_id %></td>
        <td><%= collection_object.updated_by_id %></td>
        <td><%= collection_object.project_id %></td>
        <td><%= link_to 'Show', collection_object %></td>
        <td><%= link_to 'Edit', edit_collection_object_path(collection_object) %></td>
        <td><%= link_to 'Destroy', collection_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection object', new_collection_object_path %>
