<%= render("/shared/data/all/list/list_header", objects: @collection_objects) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Total') -%>
    <%= fancy_th_tag(name: 'Preparation type') -%>
    <%= fancy_th_tag(name: 'Repository') -%>
    <%= fancy_th_tag(name: 'Identifier', group: 'associated') -%>
    <%= fancy_th_tag(name: 'Taxon determination', group: 'associated') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @collection_objects.each do |collection_object| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= collection_object.type %></td>
          <td><%= collection_object.total %></td>
          <td><%= object_tag(collection_object.preparation_type) %></td>
          <td><%= object_tag(collection_object.repository) %></td>
          <td> <%= collection_object.preferred_catalog_number.try(:cached) -%> </td>
          <td> <%= determination_tag(collection_object.current_taxon_determination) -%> </td>
          <%= fancy_metadata_cells_tag(collection_object) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
