<h1>Listing Collection Objects</h1>
<%= paginate @collection_objects %> <%= page_entries_info @collection_objects %>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Total</th>
      <th>Preparation type</th>
      <th>Repository</th>
      <th>Last modified</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_objects.each do |collection_object| %>
      <tr>
        <td><%= collection_object.type %></td>
        <td><%= collection_object.total %></td>
        <td><%= object_tag(collection_object.preparation_type) %></td>
        <td><%= object_tag(collection_object.repository) %></td>
        <td><%= collection_object.updated_at %></td>
        <td><%= object_tag(collection_object.updater) %></td>
        <td><%= link_to 'Show', collection_object.becomes(CollectionObject) %></td>
        <td><%= link_to 'Edit', edit_collection_object_path(collection_object.becomes(CollectionObject)) %></td>
        <td><%= link_to 'Destroy', collection_object.becomes(CollectionObject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
