<%= content_for :report do -%>
  <%=  content_tag(:li, link_to('Depictions', depictions_collection_object_path(@collection_object))) %> 
<% end %>

<%= content_for :tasks do -%>
  <%= content_tag(:li, verify_accessions_task_link(@collection_object))   %>
<% end %>

<%= content_for :add do -%>
  <%= content_tag(:li, add_or_move_to_container_link(@collection_object)) %>
<% end %>

<%= content_for :associated do -%>
  <h3> Taxon Determinations </h3>
  <% @collection_object.taxon_determinations.order(:position).each do |td| -%>
    <%= taxon_determination_link(td) %><br> 
  <% end %>
  <%= content_tag(:em, 'None.') if !@collection_object.taxon_determinations.any? -%>

  <%= draw_container_tag(@collection_object.container) -%>

  <%= loan_status_tag(@collection_object) -%>

<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @collection_object}) -%>
