<%= form_for(@tag) do |f| %>
    <%= render 'shared/errors', object: @tag %>

    <p><strong><%= @tag.tag_object.class.name %>:</strong> <%= object_tag(@tag.tag_object) -%>  </p>

    <div class="field">
      <%= f.label :keyword_id %>
      <%#= f.number_field :keyword_id %>
      <br>
      <%= render :partial => 'workbench/elements/forms/ajax_select',
                 :locals => {:controller => 'controlled_vocabulary_terms',
                             :object => 'tag',
                             :method => 'keyword_id',
                             :tag_id => 'keyword_id_for_controlled_vocabulary_term',
                             :display => object_tag(@tag.keyword)} %>
    </div>

    <%= f.hidden_field :tag_object_type %>

    <%= f.hidden_field :tag_object_id %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
