<%= form_for(@taggable_object, url: tag_object_update_tags_path(@taggable_object), as: :taggable_object, method: :post) do |f| %>
    <%= render 'shared/errors', object: @taggable_object %>

    <%= hidden_field_tag :tag_object_type, @taggable_object.class.name %>
    <%= hidden_field_tag :tag_object_id, @taggable_object.id %>
    <%= render partial: '/tags/tag_picker',
               locals: {tag: Tag.new, object: @taggable_object, f: f}
    %>
    <div class="actions">
      <%= f.submit 'Update' %>
    </div>
    </div>
<% end %>
