<div class="tag_picker">
  <div>
    <div class="tag_header"> Tags for <%= params["tag"]['tag_object_type'] %>
      <span class='tag_picker_alert' hidden></span></div>
    <span class="tag_picker_message"></span>

    <ul class="tag_list">
      <%= f.fields_for :tags, @taggable_object.tags do |tag_fields| %>

              <% inc_index = "#{Time.now.to_i}#{tag_fields.object.first.attributes['id']}" %>

          <li class="tag_item" data-tag-id="<%= tag_fields.object.first.attributes['id'] -%>" data-tag-index="<%= tag_fields.object.first.attributes['id'] -%>">
            <%= tag_tag(tag_fields.object.first) -%>
            <%= link_to('remove', "#", class: :remove_tag) -%>

          </li>

      <% end %>

    </ul>
  </div>

</div>
