<%= render("/shared/data/all/list/list_header", objects: @tags) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Tag object type') -%>
    <%= fancy_th_tag(name: 'Tag object') -%>
    <%= fancy_th_tag(name: 'Tag object attribute') -%>
    <%= fancy_th_tag(name: 'Keyword') -%>
    <%= fancy_th_tag(name: 'Position') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @tags.each do |tag| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= tag.tag_object_type %></td>
          <td><%= object_tag(tag.tag_object) %></td>
          <td><%= tag.tag_object_attribute %></td>
          <td><%= tag.keyword.name %></td>
          <td><%= tag.position %></td>
          <%= fancy_metadata_cells_tag(tag) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

