<%= form_for(@geographic_item) do |f| %>
  <% if @geographic_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geographic_item.errors.count, "error") %> prohibited this geographic_item from being saved:</h2>

      <ul>
      <% @geographic_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :point %><br>
    <%= f.text_field :point %>
  </div>
  <div class="field">
    <%= f.label :line_string %><br>
    <%= f.text_field :line_string %>
  </div>
  <div class="field">
    <%= f.label :polygon %><br>
    <%= f.text_field :polygon %>
  </div>
  <div class="field">
    <%= f.label :multi_point %><br>
    <%= f.text_field :multi_point %>
  </div>
  <div class="field">
    <%= f.label :multi_line_string %><br>
    <%= f.text_field :multi_line_string %>
  </div>
  <div class="field">
    <%= f.label :multi_polygon %><br>
    <%= f.text_field :multi_polygon %>
  </div>
  <div class="field">
    <%= f.label :geometry_collection %><br>
    <%= f.text_field :geometry_collection %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
