<%= content_for :associated do -%>
  <h3> Geographic Areas </h3>
  <p>Names from geographic areas: <%= geographic_area_link_list(@geographic_item.geographic_areas) -%></p>
  <p>Parents through geographic areas: <%= geographic_area_link_list(@geographic_item.parent_geographic_areas) -%></p>

  <h3> Gazetteer </h3>
  <p>Name from gazetteer: <%= gazetteer_link(@geographic_item.gazetteer) -%></p>
  <%# TODO gazetteer parents%>

  <h3> Geographic Items </h3>
  <p> Parent items through geographic areas: <%= geographic_item_parent_nav_links(@geographic_item) -%></p>

  <div class="one_third"> Children through geographic areas:
    <%= children_through_geographic_areas_links(@geographic_item) -%>
  </div>
<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @geographic_item}) -%>
