<p id="notice"><%= notice %></p>

<%= content_for :head do %>
    <script language="javascript">var data = <%= json_tag(@geographic_item) %>;</script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag "maps" %>
<% end %>


<div>
  <div class='left_floater right_vertical_seperator right_column_whitespace' >
    <h2> Navigate </h2>
    <nav>
      <%= previous_by_id_link(@geographic_item) -%> |
      <%= next_by_id_link(@geographic_item) -%> <br />
      Names from geographic_areas: <%= @geographic_item.geographic_areas.collect{|a| geographic_area_link(a) }.join.html_safe -%>
    </nav>
  </div>

  <div class='left_floater' >
    <form id="form1">
      <div id="map_canvas" style="width:768px; height: 512px;"></div>
    </form>
  </div>
  <br class='clear_both'>
</div>



<!-- this needs to come out -->
<% if @geographic_item.gadm_geographic_areas.count > 0 -%>
  <%= @geographic_item.gadm_geographic_areas.first.parent.to_yaml if @geographic_item.gadm_geographic_areas.count > 0 %>

<%= @geographic_item.ne_geographic_areas.first.ancestors.collect{ |a|
  (a.ne_geo_item ? link_to(a.name, geographic_item_path(a.ne_geo_item)) : a.name)  }.join("<br/>").html_safe
%>

    <% end %>

<%#= link_to geographic_item_path(@geographic_item.gadm_geographic_areas.first.parent.gadm_geo_item) %>


  <p>
    <strong>Point:</strong>
    <%= @geographic_item.point %>
  </p>

  <p>
    <strong>Line string:</strong>
    <%= scrollable_div_tag(@geographic_item.line_string) %>
  </p>

  <p>
    <strong>Polygon:</strong>
    <%= scrollable_div_tag( @geographic_item.polygon ) %>
  </p>

  <p>
    <strong>Multi point:</strong>
    <%= scrollable_div_tag( @geographic_item.multi_point) %>
  </p>

  <p>
    <strong>Multi line string:</strong>
    <%= scrollable_div_tag(@geographic_item.multi_line_string) %>
  </p>

  <p>
    <strong>Multi polygon:</strong>
    <%= scrollable_div_tag( @geographic_item.multi_polygon)  %>
  </p>

  <p>
    <strong>Geometry collection:</strong>
    <%= scrollable_div_tag(@geographic_item.geometry_collection) %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= @geographic_item.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= @geographic_item.updated_by_id %>
  </p>

  <%= link_to 'Edit', edit_geographic_item_path(@geographic_item) %> |
  <%= link_to 'Back', geographic_items_path %>


<script language="JavaScript">
    initialize(<%= center_coord_tag(@geographic_item) -%>);
</script>
