<p id="notice"><%= notice %></p>

<%= content_for :head do %>
    <script language="javascript">var data = <%= json_tag(@geographic_item) %>;</script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag "maps" %>
<% end %>

<form id="form1">
  <div id="map_canvas" style="width:1024px; height: 512px;"></div>
</form>

<%= link_to('next', geographic_item_path(@geographic_item.id.to_i + 1)) -%>

<div> GADM
<%= @geographic_item.gadm_geographic_areas.collect{|a| [a.name, a.geographic_area_type.name,
                                                        ( a.gadm_geo_item ? link_to(a.name, geographic_item_path(a.gadm_geo_item)) : nil) ].compact.join(" ").html_safe} %>
</div>

<div> NE
<%= @geographic_item.ne_geographic_areas.collect{|a| [a.name, a.geographic_area_type.name,
                                                      ( a.ne_geo_item ? link_to(a.name, geographic_item_path(a.ne_geo_item)) : nil)].compact}.join(" ").html_safe %>
</div>

<div> TDWG
<%= @geographic_item.tdwg_geographic_areas.collect{|a| [a.name, a.geographic_area_type.name,
                                                        ( a.tdwg_geo_item ? link_to(a.name, geographic_item_path(a.tdwg_geo_item)) : nil)].compact.join(" ").html_safe} %>
</div>


<% if @geographic_item.gadm_geographic_areas.count > 0 -%>
<%= @geographic_item.gadm_geographic_areas.first.parent.to_yaml if @geographic_item.gadm_geographic_areas.count > 0 %>

<%= @geographic_item.ne_geographic_areas.first.ancestors.collect{ |a|
  (a.ne_geo_item ? link_to(a.name, geographic_item_path(a.ne_geo_item)) : a.name)  }.join("<br/>").html_safe
%>

    <% end %>

<%#= link_to geographic_item_path(@geographic_item.gadm_geographic_areas.first.parent.gadm_geo_item) %>

<div style="display:none">
  <p>
    <strong>Point:</strong>
    <%= @geographic_item.point %>
  </p>

  <p>
    <strong>Line string:</strong>
    <%= @geographic_item.line_string %>
  </p>

  <p>
    <strong>Polygon:</strong>
    <%= @geographic_item.polygon %>
  </p>

  <p>
    <strong>Multi point:</strong>
    <%= @geographic_item.multi_point %>
  </p>

  <p>
    <strong>Multi line string:</strong>
    <%= @geographic_item.multi_line_string %>
  </p>

  <p>
    <strong>Multi polygon:</strong>
    <%= @geographic_item.multi_polygon %>
  </p>

  <p>
    <strong>Geometry collection:</strong>
    <%= @geographic_item.geometry_collection %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= @geographic_item.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= @geographic_item.updated_by_id %>
  </p>

  <%= link_to 'Edit', edit_geographic_item_path(@geographic_item) %> |
  <%= link_to 'Back', geographic_items_path %>
</div>


<script language="JavaScript">
    initialize(<%= center_coord_tag(@geographic_item) -%>);
</script>
