<%= form_for(@identifier.metamorphosize) do |f| %>
    <%= render 'shared/errors', object: @identifier %>

    <p><strong><%= @identifier.identifier_object.class.name %>
      :</strong> <%= object_tag(@identifier.identifier_object) -%>  </p>

    <div class="field">
      <%= f.label :identifier %><br>
      <%= f.text_field :identifier %>
    </div>

    <div class="field">
      <%= f.label :type %>
      <br>
      <%= f.select :type, options_for_select(identifier_type_select_options, @identifier.type) %>
    </div>

    <!-- todo: @mjy added namespace_id in _form, autocomplete in controller, self.find_for_autocomplete in model; tests run fine, but clicking on add identifier blows up -->
    <div class="field">
      <%= f.label :namespace_id %><br>
      <%= render :partial => 'workbench/elements/forms/ajax_select',
                 :locals => {:controller => 'namespaces',
                             :object => 'identifier',
                             :method => 'namespace_id',
                             :tag_id => 'namespace_id_for_identifier',
                             :display => nil} %>
    </div>

    <%= f.hidden_field :identifier_object_type %>

    <%= f.hidden_field :identifier_object_id %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
