<%= render("/shared/data/all/list/list_header", objects: @identifiers) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Identified object type') -%>
    <%= fancy_th_tag(name: 'Identified object') -%>
    <%= fancy_th_tag(name: 'Cached identifier') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'Namespace') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @identifiers.each do |identifier| %>
      <%= content_tag(:tr, class: [:contextMenuCells, :btn, 'btn-neutral']) do -%>
          <td><%= identifier.identifier_object_type %></td>
          <td><%= object_tag(identifier.identifier_object.metamorphosize) %></td>
          <td><%= identifier.cached %></td>
          <td><%= identifier_type_tag(identifier) %></td>
          <td><%= namespace_tag(identifier.namespace) %></td>
          <%= fancy_metadata_cells_tag(identifier) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

