<h1>Listing identifiers</h1>

<%= paginate @identifiers %> <%= page_entries_info @identifiers %>

<table>
  <thead>
  <tr>
    <th>Identified object type</th>
    <th>Identified object</th>
    <th>Identifier</th>
    <th>Type</th>
    <th>Cached identifier</th>
    <th>Namespace</th>
    <th>Last modified</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @identifiers.each do |identifier| %>
      <tr>
        <td><%= identifier.identifier_object_type %></td>
        <td><%= object_tag(identifier.identifier_object.metamorphosize) %></td>
        <td><%= identifier.identifier %></td>
        <td><%= identifier.klass_name %></td>
        <td><%= identifier.cached %></td>
        <td><%= namespace_from_identifier_tag(identifier) %></td>
        <td><%= identifier.updated_at %></td>
        <td><%= object_tag(identifier.updater) %></td>
        <td><%= link_to 'Context', identifier.identifier_object.metamorphosize %></td>
        <td><%= link_to 'Destroy', identifier.metamorphosize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

