<%=
  content_tag(:span,
              CollectionObject.with_project_id(sessions_current_project_id)
                  .first_created.created_at.to_date.to_s.gsub('-', '/'),
              id:     :first_created,
              hidden: true)
-%>
<%=
  content_tag(:span,
              CollectionObject.with_project_id(sessions_current_project_id)
                  .last_created.created_at.to_date.to_s.gsub('-', '/'),
              id:     :last_created,
              hidden: true)
-%>

<%= form_tag(set_user_date_range_for_collection_object_filter_url, id: 'set_user_date_range_form', remote: true) do %>
    User:<br>
    <%= user_select_tag(:user, sessions_current_user.name) -%><br>
    <%= radio_button_tag(:date_type_select, 'created_at', true) -%> Created on<br>
    Search on:<br>
    <%= radio_button_tag(:date_type_select, 'updated_at', false) -%> Updated on<br>
    Date range:<br>
    <div class="flex-separate">
      <div>
        <label for="user_date_range_start">Start date:</label>
        <input type="date" id="user_date_range_start" name="user_date_range_start"/><br>
        <span class="warning-date"></span>
      </div>
      <div>
        <label for="user_date_range_end">End date:</label>
        <input type="date" id="user_date_range_end" name="user_date_range_end"/><br>
        <span class="warning-date"></span>
      </div>
    </div>
    <%= submit_tag('Set User/Date Range', id: 'set_user_date_range') %>
<% end %>
