<%= render('/layouts/map_header') %>
<%= content_for :head do -%>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<% end %>

<div id="co_by_area_and_date">
  <h2>Task: Collection objects by area and date range</h2>
  <div class="flexbox">
    <div id="filter-collection-objects" class="item item1 panel">
    <div class="title nav-line">Search</div>
      <div class="content">
        <div id="set_area_and_date_form">
          <div id="select_area" class="filter_facet panel content separate-bottom">
          <div class=" title-section">
            <h2>Select area</h2>
            <div class="to-right">
              <label class="switch-toggle">
                <input type="checkbox" id="toggle_slide_area">
                <div class="slider-toggle round"></div>
                <div class="toggle-options">
                  <span>Map</span>
                  <span>Area</span>
                </div>
              </label>
            </div>
            </div>
            <h3><span id="area_count">????</span></h3>
            <%= render('by_area') %>
          </div>
          <div id="select_date_range" class="filter_facet panel content separate-bottom">
            <div class=" title-section">
              <h2>Select date range</h2>
              <div class="to-right">
                <label class="switch-toggle">
                  <input type="checkbox" id="toggle_slide_calendar">
                  <div class="slider-toggle round"></div>
                  <div class="toggle-options">
                    <span>Calendar</span>
                    <span>Timeline</span>
                  </div>
                </label>
              </div>
            </div>          
            <%= render "by_date" %>
          </div>
          <div id="select_otu"  class="filter_facet panel content separate-bottom">
            <h2>Select otu</h2>
            <h3><span id="otu_count">????</span></h3>
            <%= render('by_otu') %>
          </div>
        </div>
      </div>
    </div>
    <div id="find_item" class="item item2" align="center">
      <div id="action_find">
        <%= form_tag(find_collection_objects_task_url, id: 'find_area_and_date_form', method: :get, remote: true) do %>
          <%= submit_tag('Find', id: 'find_area_and_date_commit') %>
        <% end %>
      </div>
    </div>

    <div class="item item3" align="center">
      <div id="result_">
        <h2>Result</h2>
        <h3><span id="result_span">????</span></h3>
        Select the result list, or the map of results.<br>
        <%= link_to('List', '#', class: :result_list_toggle, hidden: :true) %>
        <%= link_to('Map', '#', class: :result_map_toggle) %>
        <%= form_tag(find_collection_objects_task_url, id: 'download_form', method: :get, remote: true) do %>
          <%= submit_tag('download') %>
        <% end %>
        <span id="paging_span"></span>
        <div id="show_list">
          <%= render('result_list', collection_objects: @collection_objects) if @collection_objects.count > 0 %>
        </div>
        <div id="show_map" hidden>
          <!--on first paint, these variables will be empty, so we get an empty map -->
          <%= simple_map_component(report_georeferences(@collection_objects, @geographic_area), 'border="1"') -%>
        </div>
      </div>
    </div>
  </div>
</div>
