<%= render('/layouts/map_header') %>
<%= content_for :head do -%>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<% end %>

<div id="co_by_area_and_date">
  <h1>Task - Collection objects by area and date range</h1>

 <div class="flex-wrap-row" id="find_item">
    <div class="item item2">
      <div id="nav-list" class="panels-container">  
        <div class="panel column-big" data-help="Use the left and right buttoms to hide or show columns groups">
          <div class="title nav-line">
            <span id="result_title_list">Collection objects</span>
            <div class="horizontal-center-content middle">
              <div class="circle-button" id="filter-button"></div>
              <label class="switch-toggle" data-help="Select the result list, or the map of results.">
                <input type="checkbox" id="toggle-list-map">
                <div class="slider-toggle round"></div>
                <div class="toggle-options">
                  <span>Map</span>
                  <span>List</span>
                </div>
              </label>                 
            </div>
          </div>      
          <div class="flex-separate"> 
            <div class="navigation-bar-left">
              <span id="paging_span" class="flex-separate">
              </span>
              <span id="paging_span" class="flex-separate">
              </span>              
            </div>
            <div class="navigation-bar-right">  
              <%= form_tag(find_collection_objects_task_url, id: 'download_form', method: :get, remote: true) do %>
                <%= submit_tag('Download') %>
              <% end %>            
            </div>
          </div>
        </div>  
      </div> 
      <div id="show_list">
        <%= render('result_list', collection_objects: @collection_objects) if @collection_objects.count > 0 %>
      </div>
      <div id="show_map" hidden>
        <!--on first paint, these variables will be empty, so we get an empty map -->
        <%= simple_map_component(report_georeferences(@collection_objects, @geographic_area), 'border="1"') -%>
      </div>      
      <span id="result_span"></span> 
    </div>
  </div>

  <div id="filter-collection-objects" class="flex-wrap-row middle">  
      <div class="">
          <div id="set_area_and_date_form">
            <div class="panel content  border-bottom" id="select_area">
              <div class="content">
                <div class="filter_facet flex-separate middle title-filter-categories">
                  <span class="uppercase">Select area</span>
                    <label class="switch-toggle" id="label_toggle_slide_area">
                      <input type="checkbox" id="toggle_slide_area">
                      <div class="slider-toggle round"></div>
                      <div class="toggle-options">
                        <span>Map</span>
                        <span>Area</span>
                      </div>
                    </label>                
                </div>
                <h3>Result: <span id="area_count">????</span></h3>    
                <div id="area-container">              
                  <%= render('by_area') %>
                </div>
              </div>
            </div>
          <div class="panel content" id="select_date_range">
            <div class="content">
              <div class="filter_facet flex-separate middle title-filter-categories">
                <span class="uppercase">Date range</span>
              </div>
               <h3 class="result-text">Result: <span id="date_count">????</span></h3>
                <div id="date-range-container">        
                  <%= render "by_date" %>                                
                </div>
              </div>
            </div>
          </div>
          <div class="panel content" id="select_otu">
            <div class="content">
              <div class="filter_facet flex-separate middle title-filter-categories">
                <span class="uppercase">Otu</span>
              </div>
              <h3>Result:<span id="otu_count">????</span></h3>
            </div>
            <div id="otu-container" class="content">
              <%= render('by_otu') %>
            </div>
            </div>
            </div>
          <div>
            <div id="action_find" class="content">
              <%= form_tag(find_collection_objects_task_url, id: 'find_area_and_date_form', method: :get, remote: true) do %>
                <%= submit_tag('FIND', id: 'find_area_and_date_commit') %>
              <% end %>
            </div>
          </div>
      </div>
     <!--  <div class="slide-panel-circle-icon"></div>-->
    </div>
</div>
