<%= render('/layouts/map_header') %>
<%= content_for :head do -%>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<% end %>

<div id="co_by_area_and_date">
  <h1>Task - Collection objects by area and date range</h1>

  <div id="result_view">
    <div class="flex-wrap-row">
      <div class="item item2">
        <div id="nav-list" class="panels-container">  
          <div id="find_item" class="panel column-big" data-help="Use the left and right buttoms to hide or show columns groups">
            <div class="title nav-line">
              <span id="result_title_list">Results</span>
              <div class="horizontal-center-content middle">
                <label class="switch-toggle" data-help="Switch the result view between list or the map">
                  <input type="checkbox" id="toggle-list-map">
                  <div class="slider-toggle round"></div>
                  <div class="toggle-options">
                    <span>Map</span>
                    <span>List</span>
                  </div>
                </label>                 
              </div>
            </div>      
            <div class="flex-separate"> 
              <div class="navigation-bar-left">
                <span id="paging_span" class="flex-separate">
                </span>            
              </div>

              <div class="navigation-bar-right">  
                <%= form_tag(download_collection_object_filter_result_url, id: 'download_form', method: :get) do %>
                  <%= submit_tag('Download', id: :download_button, disabled: :disabled) %>
                <% end %>            
              </div>
            </div>
          </div>  
        </div> 
      </div>
    </div>  
    <div id="show_list">
      <%= render('result_list', collection_objects: @collection_objects) if @collection_objects.count > 0 %>
    </div>

    <div id="show_map" hidden>
      <!--on first paint, these variables will be empty, so we get an empty map -->
      <%= simple_map_component(report_georeferences(@collection_objects, nil), 'border="1"') -%>
    </div>      
    <span id="result_span"></span> 
  </div>  

  <div id="filter-collection-objects" class="flex-wrap-row middle">   
    <div id="set_area_and_date_form" class="slide-panel slide-left" data-panel-open="true">

      <div class="slide-panel-header"> 
        <div class="title action-line">Filter - Collection objects by area and date range</div>
      </div>
      <div class="slide-panel-content">       
        <%= render "select_area_facet" %>
        <%= render "select_date_range_facet" %>
        <%= render "select_otu_facet" %>
      </div>
       <div class="slide-panel-circle-icon filter-button"></div>

        <%= form_tag(find_collection_objects_task_url, id: 'find_area_and_date_form', method: :get, remote: true) do %>
          <%= submit_tag('FIND', id: 'find_area_and_date_commit', :class => "slide-panel-circle-icon button-default") %>
        <% end %>     
    </div>


    <div>

    </div>
  </div>
</div>
