<%= form_for(@documentation) do |f| %>
    <%= render 'shared/errors', object: @documentation %>

    <div class="field">
      <%= f.label :documentation_object %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals: {controller: 'documentation',
                          object: 'documentation',
                          method: 'document_object_id',
                          tag_id: 'documentation_object_id_for_documentation',
                          size: '',
                          display: documentation_tag(@documentation.documentation_object)} %>
    </div>
    <div class="field">
      <%= f.label :document %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals: {controller: 'documents',
                          object: 'documentation',
                          method: 'document_id',
                          tag_id: 'document_id_for_documentation',
                          display: document_tag(@documentation.document)
                 } %>
    </div>
    <div class="field">
      <%= f.label :page_map %><br>
      <%= f.text_field :page_map %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
