<p id="notice"><%= notice %></p>

<h1>Listing Documentation</h1>

<table>
  <thead>
    <tr>
      <th>Documentation object</th>
      <th>Document</th>
      <th>Page map</th>
      <th>Project</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentation.each do |documentation| %>
      <tr>
        <td><%= documentation.documentation_object %></td>
        <td><%= documentation.document %></td>
        <td><%= documentation.page_map %></td>
        <td><%= documentation.project %></td>
        <td><%= documentation.created_by_id %></td>
        <td><%= documentation.updated_by_id %></td>
        <td><%= link_to 'Show', documentation %></td>
        <td><%= link_to 'Edit', edit_documentation_path(documentation) %></td>
        <td><%= link_to 'Destroy', documentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documentation', new_documentation_path %>
