<%= render("/shared/data/all/list/list_header", objects: @documentation) -%>

<table class="tablesorter">
  <thead>
    <tr>
      <%= fancy_th_tag(name: 'Documentation object type') -%>
      <%= fancy_th_tag(name: 'Documentation object') -%>
      <%= fancy_th_tag(name: 'Document') -%>
      <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
    </tr>
  </thead>

  <tbody>
    <% @documentation.each do |documentation| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
        <td><%= documentation.documentation_object_type %></td>
        <td><%= object_tag( documentation.documentation_object ) %></td>
        <td><%= documentation.document.document_file_file_name %></td>
        <%= fancy_metadata_cells_tag(documentation) -%>
      <% end %>
    <% end %>
  </tbody>
</table>
