
<p>
<strong>Lender address:</strong>
<pre><%= @loan.lender_address %></pre>
</p>

<p>
<strong>Date requested:</strong>
<%= @loan.date_requested %>
</p>

<p>
<strong>Request method:</strong>
<%= @loan.request_method %>
</p>

<p>
<strong>Date sent:</strong>
<%= @loan.date_sent %>
</p>

<p>
<strong>Date received:</strong>
<%= @loan.date_received %>
</p>

<p>
<strong>Date return expected:</strong>
<%= @loan.date_return_expected %>
</p>

<p>
<strong>Recipient address:</strong>
<pre><%= @loan.recipient_address %></pre>
</p>

<p>
<strong>Recipient email:</strong>
<%= @loan.recipient_email %>
</p>

<p>
<strong>Recipient phone:</strong>
<%= @loan.recipient_phone %>
</p>

<p>
<strong>Recipient country:</strong>
<%= @loan.recipient_country %>
</p>

<p>
<strong>Supervisor email:</strong>
<%= @loan.supervisor_email %>
</p>

<p>
<strong>Supervisor phone:</strong>
<%= @loan.supervisor_phone %>
</p>

<p>
<strong>Date closed:</strong>
<%= @loan.date_closed %>
</p>

<p>
<strong>Recipient honorific:</strong>
<%= @loan.recipient_honorific %>
</p>

