<%= content_tag(:span, 'An new loan task exists and should be used.', class: [:feedback, 'feedback-warning']) %>
<%= link_to('New/edit loan task', edit_loan_task_path(loan_id: @loan&.id )) %></p>

<%= render 'shared/errors', object: @loan %>

<%= form_for(@loan) do |f| %>
  <div class="flexbox">
    <div class="item item1">
      <div class="field">
        <%= f.label :lender_address %>
        <br>
        <%= f.text_area :lender_address, rows: 6, cols: 40  %>
      </div>

      <div class="field">
        <%= f.label :date_requested %>
        <br>
        <%= f.date_select :date_requested, prompt: true  %>
      </div>

      <div class="field">
        <%= f.label :request_method %>
        <br>
        <%= f.text_field :request_method %>
      </div>

      <div class="field">
        <%= f.label :date_sent %>
        <br>
        <%= f.date_select :date_sent, prompt: true %>
      </div>

      <div class="field">
        <%= f.label :date_received %>
        <br>
        <%= f.date_select :date_received, prompt: true  %>
      </div>

      <div class="field">
        <%= f.label :date_return_expected %>
        <br>
        <%= f.date_select :date_return_expected, prompt: true %>
      </div>

      <div class="field">
        <%= f.label :date_closed %>
        <br>
        <%= f.date_select :date_closed, prompt: true  %>
      </div>
    </div>

    <div class="item item2">

      <%= render partial: '/people/role_picker', locals: {role: LoanRecipient.new(), object: @loan, f: f} %>

      <div class="field">
        <%= f.label :recipient_honorific %>
        <br>
        <%= f.text_field :recipient_honorific %>
      </div>

      <div class="field">
        <%= f.label :recipient_address %>
        <br>
        <%= f.text_area :recipient_address, rows: 6, cols: 40 %>
      </div>

      <div class="field">
        <%= f.label :recipient_email %>
        <br>
        <%= f.text_field :recipient_email %>
      </div>

      <div class="field">
        <%= f.label :recipient_phone %>
        <br>
        <%= f.text_field :recipient_phone %>
      </div>

      <div class="field">
        <%= f.label :recipient_country %>
        <br>
        <%= f.text_field :recipient_country %>
      </div>

      <%= render partial: '/people/role_picker', locals: {role: LoanSupervisor.new(), object: @loan, f: f} %>

      <div class="field">
        <%= f.label :supervisor_email %>
        <br>
        <%= f.text_field :supervisor_email %>
      </div>

      <div class="field">
        <%= f.label :supervisor_phone %>
        <br>
        <%= f.text_field :supervisor_phone %>
      </div>
   </div>

   <div class="item item3 one_third_width">
     <h3> Add loan items by tag</h3>
     <% keywords_on_loanable_items.each do |k| %>
       <h3><%= object_tag(k) %></h3>
       <% total = 0 %>
       <% [Otu, CollectionObject, Container].each do |c| -%>
         <% count = c.joins(:tags).where(tags: {keyword: k}).count %>
         <% if count > 0 %> 
           <%= c.name -%> : <%= count -%> 
           <%= button_tag(:add, class: :add_by_class_button, data: {keyword_id: k.id, klass: c.name, loan_id: @loan.id }) -%> 
           <%= button_tag(:clear, class: :clear_by_class_button, data: {keyword_id: k.id, klass: c.name, loan_id: @loan.id }) -%> <br/> 
           <% total += count %>
         <% end %>

       <% end %>
       <% if total > 0 %>
         Add to loan all <%= total -%>, and their contents where applicable.
         <%= button_tag(:add_all, class: :add_all_button, data: {keyword_id: k.id, loan_id: @loan.id }) -%><br>
       <% end %>
     <% end %>

     <h3> Add loan items by pinboard</h3>
     <% sessions_current_user.pinboard_items.where(project_id: sessions_current_project_id, pinned_object_type: ['Otu', 'Container', 'CollectionObject']).each do |group| -%>
       <%= group -%>
     <% end %>

     <%= render "/loan_items/loan_item_selector", f: f, loan: @loan %>  
   </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

