<div id="loan_recipient_form">
  <div id="loan_header" class="flexbox panels-container">
    <div id="recipient_details" class="item item1">
      <ul class="no_bullets">
        <%= tag.li( "To: #{loan_recipient_tag(@loan)}") -%>
        <%= tag.li( @loan.recipient_email) if @loan.recipient_email -%>
        <%= tag.li( @loan.recipient_phone) if @loan.recipient_phone -%>
        <% @loan.loan_supervisors.each do |person| -%>
            <%= tag.li person_tag(person) -%>
        <% end %>

        <% @loan.loan_recipients.each do |person| -%>
            <%= tag.li person_tag(person) -%>
        <% end %>

        <%= tag.li tag.span(@loan.recipient_address, class: :loan_address)  -%>
      </ul>
    </div>
    <div id="lender_details" class="item item2">
      <ul>
        <%= tag.li( tag.span(@loan.lender_address, class: :loan_address) ) -%>
      </ul>
    </div>
  </div>

  <div id="sent_date"> Date sent: <%= @loan.date_sent -%> </div>
  <div id="return_date"> Date return due: <%= @loan.date_return_expected -%></div>

  <div id="loan_items">
    <%= render('/loan_items/loan_table', loan_items: @loan.loan_items.order(:position)) -%>
  </div>

  <br>

  <div class="flexbox">
    <div class="signatures item2">
      <table class="comments">
        <thead>
          <th>
            Notes / Comments
          </th>
        </thead>

        <tbody>
          <%= (@loan.notes.collect{|n| content_tag(:tr, content_tag(:td, n.text))}.join).html_safe -%>
        </tbody>
      </table>

      <br><strong> Compiled by:  </strong><%= tag.span((@loan.loan_items.collect{|a| [a.updater.name, a.creator.name]}.flatten.uniq.sort.join(', ')).html_safe) -%>


      <p>I agree to the terms of this loan.</p>
      <div class="panels-container">
        <p class="signature_line">Signature</p>
        <p class="signature_line">Supervisor's signature</p>
        <p class="signature_line">Date</p>
      </div>
    </div>
  </div>
</div>
