
<%= content_for :report do %>
  <%= content_tag(:li, link_to('Recipient loan form', recipient_form_loan_path(@loan))) -%>
<% end %>

<%= content_for :tasks do %>
<% end %>

<%= content_for :additional_navigation do %>
  <div class="navigation-controls">
    <%= link_to( content_tag(:span, 'Clone', data: {icon: :new}, class: 'small-icon' ), new_loan_path(clone_from: @loan.id), class: 'navigation-item' ) -%>

    <%= link_to( content_tag(:span, 'Edit (task)', data: {icon: :new}, class: 'small-icon' ), edit_loan_task_path(@loan.id), class: 'navigation-item' ) -%>
  </div>
<% end %>

<%= content_for :associated do %>

  <h3>Recipient(s)</h3>
  <ul>
    <% @loan.loan_recipients.each do |person| %>
      <%= content_tag(:li, object_link(person)) %>
    <% end %>
    <%= content_tag(:li, 'None.') if !@loan.loan_recipients.any? -%>
  </ul>

  <h3>Supervisor(s)</h3>
  <ul>
    <% @loan.loan_supervisors.each do |person| %>
      <%= content_tag(:li, object_link(person)) %>
    <% end %>
    <%= content_tag(:li, 'None.') if !@loan.loan_supervisors.any? -%>
  </ul>

  <h3> Documentation </h3>
  <ul>
    <% @loan.documents.each do |d| %>
      <li>
        <%=  object_link(d) %>
        <%= link_to "Download", d.document_file.url(:original, false) %>
      </li>
    <% end %>
    <%= content_tag(:li, 'None.') if !@loan.documents.any? -%>
  </ul>

  <h3> Loan Items </h3>
  <%= render('/loan_items/loan_table', loan_items: @loan.loan_items.order(:position)) -%>
  <%= @loan.loan_items.any? ? nil : content_tag(:span, 'None.', class: :warning) -%>

<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @loan}) -%>
