<p>
  <strong>Otu:</strong>
  <%= otu_link(@taxon_determination.otu) %>
</p>

<p>
  <strong>TaxonDetermination object:</strong>
  <%= object_link(@taxon_determination.taxon_determination_object.metamorphosize) %>
</p>

<p>
  <strong>Year made:</strong>
  <%= @taxon_determination.year_made %>
</p>

<p>
  <strong>Month made:</strong>
  <%= @taxon_determination.month_made %>
</p>

<p>
  <strong>Day made:</strong>
  <%= @taxon_determination.day_made %>
</p>
