<%= form_for(@taxon_determination) do |f| %>
  <% if @taxon_determination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taxon_determination.errors.count, "error") %> prohibited this taxon_determination from being saved:</h2>

      <ul>
      <% @taxon_determination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :biological_collection_object_id %><br>
    <%= f.select :biological_collection_object_id, options_from_collection_for_select(CollectionObject.all, :id, :id) %>
  </div>

  <div class="field">
    <%= f.label :otu_id %><br>
    <%= f.select :otu_id, options_from_collection_for_select(Otu.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>

  <div class="field">
    <%= f.label :year_made %><br>
    <%= f.text_field :year_made %>
  </div>
  <div class="field">
    <%= f.label :month_made %><br>
    <%= f.text_field :month_made %>
  </div>
  <div class="field">
    <%= f.label :day_made %><br>
    <%= f.text_field :day_made %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
