
<%= tag.div 'This only functions for CollectionObjects, it needs deprecation.', class: [:feedback, 'feedback-warning'] %>

<%= form_for(@taxon_determination) do |f| %>
    <%= render 'shared/errors', object: @taxon_determination %>

    <div class="field" id="bio_object">
      <%= f.hidden_field :taxon_determination_object_type, value: 'CollectionObject' %>

      <%= f.label :taxon_determination_object_id, 'CollectionObject' %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals: {controller: '/collection_objects',
                          object:     'taxon_determination',
                          method:     'taxon_determination_object_id',
                          tag_id:     'taxon_determination_object_id_for_taxon_determination',
                          display:    collection_object_tag(@taxon_determination.taxon_determination_object)} %>
    </div>

    <%= render partial: '/people/role_picker', locals: {role: Determiner.new(), object: @taxon_determination, f: f} %>

    <%= render '/otus/otu_picker', otu: @taxon_determination.otu, f: f -%>

    <div class="field">
      <%= f.label :year_made %><br>
      <%= f.text_field :year_made, size: 4 %>
    </div>
    <div class="field">
      <%= f.label :month_made %><br>
      <%= f.text_field :month_made, size: 2 %>
    </div>
    <div class="field">
      <%= f.label :day_made %><br>
      <%= f.text_field :day_made, size: 2 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
