<%= render("/shared/data/all/list/list_header", objects: @taxon_determinations) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Biological collection object') -%>
    <%= fancy_th_tag(name: 'Otu') -%>
    <%= fancy_th_tag(name: 'Year made') -%>
    <%= fancy_th_tag(name: 'Month made') -%>
    <%= fancy_th_tag(name: 'Day made') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @taxon_determinations.each do |taxon_determination| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= object_tag(taxon_determination.biological_collection_object.metamorphosize) %></td>
          <td><%= object_tag(taxon_determination.otu) %></td>
          <td><%= taxon_determination.year_made %></td>
          <td><%= taxon_determination.month_made %></td>
          <td><%= taxon_determination.day_made %></td>
          <%= fancy_metadata_cells_tag(taxon_determination) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
