<p id="notice"><%= notice %></p>

<p>
  <strong>Biological collection object:</strong>
  <%= @taxon_determination.biological_collection_object_id %>
</p>

<p>
  <strong>Otu:</strong>
  <%= @taxon_determination.otu_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @taxon_determination.position %>
</p>

<p>
  <strong>Year made:</strong>
  <%= @taxon_determination.year_made %>
</p>

<p>
  <strong>Month made:</strong>
  <%= @taxon_determination.month_made %>
</p>

<p>
  <strong>Day made:</strong>
  <%= @taxon_determination.day_made %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @taxon_determination.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @taxon_determination.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @taxon_determination.project_id %>
</p>

<%= link_to 'Edit', edit_taxon_determination_path(@taxon_determination) %> |
<%= link_to 'Back', taxon_determinations_path %>
