<p id="notice"><%= notice %></p>

<p>
  <strong>Copyright year:</strong>
  <%= @attribution.copyright_year %>
</p>

<p>
  <strong>License:</strong>
  <%= @attribution.license %>
</p>

<%= link_to 'Edit', edit_attribution_path(@attribution) %> |
<%= link_to 'Back', attribution_index_path %>
