<p>
  <strong>Container:</strong>
  <%= container_link(@collection_profile.container) %>
</p>

<p>
  <strong>Otu:</strong>
  <%= otu_link(@collection_profile.otu) %>
</p>

<%= render "collection_profile_collection_type_attributes", collection_profile: @collection_profile %>

<p>
  <strong>Number of collection objects:</strong>
  <%= @collection_profile.number_of_collection_objects %>
</p>

<p>
  <strong>Number of containers:</strong>
  <%= @collection_profile.number_of_containers %>
</p>

<p>
  <strong>Collection type:</strong>
  <%= @collection_profile.collection_type %>
</p>
