<div class="attributes">

  <p>
    <strong>Container:</strong>
    <%= @collection_profile.container_id %>
  </p>

  <p>
    <strong>Otu:</strong>
    <%= otu_link(@collection_profile.otu) %>
  </p>

  <p>
    <strong>Conservation status:</strong>
    <%= @collection_profile.conservation_status %>
  </p>

  <p>
    <strong>Processing state:</strong>
    <%= @collection_profile.processing_state %>
  </p>

  <p>
    <strong>Container condition:</strong>
    <%= @collection_profile.container_condition %>
  </p>

  <p>
    <strong>Condition of labels:</strong>
    <%= @collection_profile.condition_of_labels %>
  </p>

  <p>
    <strong>Identification level:</strong>
    <%= @collection_profile.identification_level %>
  </p>

  <p>
    <strong>Arrangement level:</strong>
    <%= @collection_profile.arrangement_level %>
  </p>

  <p>
    <strong>Data quality:</strong>
    <%= @collection_profile.data_quality %>
  </p>

  <p>
    <strong>Computerization level:</strong>
    <%= @collection_profile.computerization_level %>
  </p>

  <p>
    <strong>Number of collection objects:</strong>
    <%= @collection_profile.number_of_collection_objects %>
  </p>

  <p>
    <strong>Number of containers:</strong>
    <%= @collection_profile.number_of_containers %>
  </p>

  <p>
    <strong>Collection type:</strong>
    <%= @collection_profile.collection_type %>
  </p>

</div>