<%= form_for(@collection_profile) do |f| %>
    <%= render 'shared/errors', object: @collection_profile %>

    <div class="field">
      <%= f.label :container_id %>
      <br>
      <%= f.number_field :container_id %>
    </div>
    <div class="field">
      <%= f.label :otu_id %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals: {controller: 'otus',
                          object: 'collection_profile',
                          method: 'otu_id',
                          tag_id: 'otu_id_for_collection_profile',
                          size: '',
                          display: otu_tag(@collection_profile.otu)} %>
    </div>
    <div class="field">
      <%= f.label :conservation_status %>
      <br>
      <%= f.number_field :conservation_status %>
    </div>
    <div class="field">
      <%= f.label :processing_state %>
      <br>
      <%= f.number_field :processing_state %>
    </div>
    <div class="field">
      <%= f.label :container_condition %>
      <br>
      <%= f.number_field :container_condition %>
    </div>
    <div class="field">
      <%= f.label :condition_of_labels %>
      <br>
      <%= f.number_field :condition_of_labels %>
    </div>
    <div class="field">
      <%= f.label :identification_level %>
      <br>
      <%= f.number_field :identification_level %>
    </div>
    <div class="field">
      <%= f.label :arrangement_level %>
      <br>
      <%= f.number_field :arrangement_level %>
    </div>
    <div class="field">
      <%= f.label :data_quality %>
      <br>
      <%= f.number_field :data_quality %>
    </div>
    <div class="field">
      <%= f.label :computerization_level %>
      <br>
      <%= f.number_field :computerization_level %>
    </div>
    <div class="field">
      <%= f.label :number_of_collection_objects %>
      <br>
      <%= f.number_field :number_of_collection_objects %>
    </div>
    <div class="field">
      <%= f.label :number_of_containers %>
      <br>
      <%= f.number_field :number_of_containers %>
    </div>
    <div class="field">
      <%= f.label :collection_type %>
      <br>
      <%= f.text_field :collection_type %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
