<%= render("/shared/data/all/list/list_header", objects: @collection_profiles) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Otu') -%>
    <%= fancy_th_tag(name: 'Collection type') -%>
    <%= fancy_th_tag(name: 'Conservation status') -%>
    <%= fancy_th_tag(name: 'Processing state') -%>
    <%= fancy_th_tag(name: 'Container condition') -%>
    <%= fancy_th_tag(name: 'Condition of labels') -%>
    <%= fancy_th_tag(name: 'Identification level') -%>
    <%= fancy_th_tag(name: 'Arrangement level') -%>
    <%= fancy_th_tag(name: 'Data quality') -%>
    <%= fancy_th_tag(name: 'Computerization level') -%>
    <%= fancy_th_tag(name: 'Number of collection objects') -%>
    <%= fancy_th_tag(name: 'Number of containers') -%>
    <%= fancy_th_tag(name: 'Container') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @collection_profiles.each do |collection_profile| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= object_tag(collection_profile.otu) %></td>
          <td><%= collection_profile.collection_type %></td>
          <td><%= collection_profile.conservation_status %></td>
          <td><%= collection_profile.processing_state %></td>
          <td><%= collection_profile.container_condition %></td>
          <td><%= collection_profile.condition_of_labels %></td>
          <td><%= collection_profile.identification_level %></td>
          <td><%= collection_profile.arrangement_level %></td>
          <td><%= collection_profile.data_quality %></td>
          <td><%= collection_profile.computerization_level %></td>
          <td><%= collection_profile.number_of_collection_objects %></td>
          <td><%= collection_profile.number_of_containers %></td>
          <td><%= object_tag(collection_profile.container) %></td>
          <%= fancy_metadata_cells_tag(collection_profile) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
