<div class="flexbox" id="model_index">
  <div class="item item1">
    <%= favorite_page_link('data', @data_model.name) -%><h1><%= model_name_title -%></h1>
  </div>  
  <div class="item item2">
    <%= search_form_for_model(@data_model) %>
  </div>  
  <div class="item item3 icon-new">
    <%= new_for_model_link(@data_model)  %>  
  </div>
  <div class="item item4 icon-batch">
    <%= batch_load_link -%>  
  </div>
  <div class="item item5 icon-list">
    <%= list_for_model_link(@data_model) %>
  </div>
  <div class="item item6 icon-download">
    <%= download_for_model_link(@data_model) %>
  </div>
</div>
<div class="panel recent_updates"> 
  <div class="item item1 center_text">
    <div class="title nav-line">
      Recent updates
      </div>
      <div class=" content">
      <%= recent_objects_list(@data_model, @recent_objects) -%>
    </div>
  </div>
</div>