<%= content_tag(:div, id: :model_index, class: ['flexbox', @hub_model_metadata.combined_css])  do -%>
  <div class="item fav-link">
    <%= favorite_page_link('data', @data_model.name) -%>
  </div>  
  <div class="item item1">
    <h1><%= model_name_title -%></h1>
  </div>  
  <div class="item item2">
    <%= search_form_for_model(@hub_model_metadata.klass) %>
  </div>  
  <div class="item item3">
    <%= new_for_model_link(@hub_model_metadata.klass)  %>  
  </div>
  <div class="item item4">
    <%= batch_load_link -%>  
  </div>
  <div class="item item5">
    <%= list_for_model_link(@hub_model_metadata.klass) %>
  </div>
  <div class="item item6">
    <%= download_for_model_link(@hub_model_metadata.klass) %>
  </div>
<% end %>

<div class="recent_updates no-shadow"> 
  <h2 class="no-borders center_text">Recent updates</h2>
  <%= recent_objects_list(@hub_model_metadata.klass, @recent_objects) -%>
</div>
