<div class="flexbox" > 
  <div class="item item1">
    <div class="right_float">
      <span class="subtle"><%= favorite_page_link -%></span>
    </div>
  </div>
</div>

<div class="flexbox" id="model_index" > 
  <div class="item item1">
    <h1><%= model_name_title -%></h1>
  </div>

  <div class="item item2">
    <%= new_for_model_link(@data_model)  %>
    <br> <br>
    <%= batch_load_link -%>
  </div>

  <div class="item item3">
    <%= search_form_for_model(@data_model) %>
  </div>

  <div class="item item4">
    <%= list_for_model_link(@data_model) %>
  </div>

  <div class="item item5">
    <%= download_for_model_link(@data_model) %>
  </div>
</div>

<div class="flexbox" > 
  <div class="item item1">
    <h2>Recent updates</h2>
    <%= recent_objects_list(@data_model, @recent_objects) -%>
  </div>
</div>


