<div data-user-name="<%= User.find(papertrail.whodunnit).name %>" data-date-created="<%= papertrail.created_at %>" class="papertrail_box">
  <div class="version_header">
    <input class="version_checkbox" type="checkbox" value="<%= papertrail.index %>" data-version-index="<%= papertrail.index %>">
    <p>
      <strong>Version:</strong>
      <%= content_tag(:span, papertrail.index + 1) -%> <%= content_tag(:span, '(Most recent difference)') if papertrail_iteration.first? -%> 
    </p>
  
    <p>
      <strong>Author:</strong>
      <%= User.find(papertrail.whodunnit).name %>
    </p>
    <p>
      <strong>Updated at:</strong>
      <% attributes = papertrail.reify.attributes %>
      <%= attributes["updated_at"] %> - <%= time_ago_in_words(attributes['updated_at']) -%> ago
    </p>
  </div>

  <div id="version_details_<%= papertrail.index %>" data-object-type="<%= object_type %>" class="version_details">
      <strong>Attributes then:</strong>
      
      <% attributes = filter_out_attributes(attributes) %>
      <% attributes.delete("updated_at") %>

      <% attributes.each do |key, value| %>
        <div class="version_detail">
          <% input_id = key.to_s + "_" + papertrail.index.to_s %>
          <input id="<%= input_id %>" class="version_detail_checkbox version_detail_checkbox_<%= papertrail.index %>" data-key="<%= key %>" data-value="<%= value %>" type="checkbox">
          <label for="<%= input_id %>"><%= key.to_s.humanize %>: <%= value %></label>
        </div>
      <% end %>
  </div>

    <div class="version_restore_buttons">
      <%= button_tag 'Restore', class: ['button_restore_mode', :button, 'normal-input', 'button-default'], data: {'papertrail-index' => papertrail.index} -%>
      <%= button_tag 'Restore', id: 'button_confirm_restore_' + papertrail.index.to_s, class: ['button_confirm_restore', :button, 'normal-input', 'button-submit'], data: {'papertrail-index' => papertrail.index} -%>
    </div>
</div>
