<div data-user-id="<%= papertrail.whodunnit %>" data-date-created="<%= papertrail.created_at %>" class="papertrail_box">
  <strong>Event:</strong>
  <%= papertrail.event %>
  </p>

  <p>
  <strong>User Whodunnit:</strong>
  <%= User.find(papertrail.whodunnit).name %>
  </p>

  <p>
  <strong>Object</strong>
  <pre><%= papertrail.object %></pre>
  </p>

  <p>
  <strong>Created at</strong>
  <pre><%= papertrail.created_at %></pre>
  </p>
  <%#= form_for(@object, url: papertrail_update_path(object_id: object_id, object_type: object_type, restore_version_id: papertrail.index), method: :put, action: 'update') do |f| %>
  <%#= f.submit "Restore" %>
  <%# end %>
</div>
