<div class="papertrail_box">
  id: <%= papertrail.id -%>
  <p>
  <strong>Event:</strong>
  <%= papertrail.event %>
  </p>

  <p>
  <strong>User Whodunnit:</strong>
  <%= User.find(papertrail.whodunnit).name %>
  </p>

  <p>
  <strong>Object</strong>
  <pre><%= papertrail.object %></pre>
  </p>

  <p>
  <strong>Created at</strong>
  <pre><%= papertrail.created_at %></pre>
  </p>
</div>
