<div data-user-name="<%= User.find(papertrail.whodunnit).name %>" data-date-created="<%= papertrail.created_at %>" class="papertrail_box">
  <div class="version_header">
    <input class="version_checkbox" type="checkbox" value="<%= papertrail.index %>" data-version-index="<%= papertrail.index %>">
    <p>
      <strong>Author:</strong>
      <%= User.find(papertrail.whodunnit).name %>
    </p>
    <p>
      <strong>Created at:</strong>
      <%= papertrail.created_at %>
    </p>
  </div>
  <div class="version_details">
    <p>
      <strong>Object</strong>
      <pre><%= papertrail.object %></pre>
    </p>
    <%#= form_for(@object, url: papertrail_update_path(object_id: object_id, object_type: object_type, restore_version_id: papertrail.index), method: :put, action: 'update') do |f| %>
    <%#= f.submit "Restore" %>
    <%# end %>
  </div>
</div>
