<div class="compare_content">
  <h1 id="papertrail_compare_header" data-object-id="<%= @object.id %>" data-object-type="<%= @object.class.base_class %>" >Compare</h1>
  <div><%= link_to('Return', papertrail_path(object_type: @object.metamorphosize.class.base_class, object_id: @object.id))-%></div>
  <table class="compare_table">
    <tr class="compare_table_row">
      <td>
        <h3>Attribute</h3>
      </td>

      <td>
        <h3>Older (Version <%= @result[:index_old].to_s -%>)
          <span class="version_restore_buttons">
            <button class="button_restore_mode button button-default" data-type="old">Restore</button>
            <button id="button_confirm_restore_old" class="button_confirm_restore button button-submit" data-type="old">Confirm Restore</button>
          </span>
        </h3>
      </td>

      <td>
        <% if @result[:comparing_current] %>
          <h3>Current
            <span class="version_restore_buttons" style="visibility: hidden">
          <% else %>
            <h3>Newer <%= @result[:index_new].to_s -%>)
              <span class="version_restore_buttons">
              <% end %>

              <button class="button_restore_mode button button-default" data-type="new">Restore</button>
              <button id="button_confirm_restore_new" class="button_confirm_restore button button-submit"  data-type="new">Confirm Restore</button>
              </span>
            </h3>
      </td>
    </tr>

    <tr class="compare_table_row">
      <td>
        <span>Author:</span>
      </td>

      <td>
        <span><%= @result[:user_old] -%></span>
      </td>

      <td>
        <span><%= @result[:user_new] %></span>
      </td>
    </tr>

    <% filter_out_attributes(@result[:attributes_new]).each_key do |key| %>
      <% diffs = {} %>

      <% if key == "updated_at" %>
        <% diffs = get_diffs_date(@result[:attributes_new][key].to_s, @result[:attributes_old][key].to_s) %>
      <% else %>
        <% diffs = get_diffs(@result[:attributes_new][key].to_s, @result[:attributes_old][key].to_s) %>
      <% end %>

      <% row_modified = false %>
      <% row_modified_deleted = "" %>
      <% row_modified_added = "" %>

      <% if diffs["deleted_strings"].length > 0 || diffs["added_strings"].length > 0 %>
        <% row_modified = true %>
        <% row_modified_deleted = "row_modified_deleted" %>
        <% row_modified_added = "row_modified_added" %>
      <% end %>

      <% key_string = key.to_s.humanize %>

      <tr class="compare_table_row">
        <!-- Attribute column -->
        <td>
          <span><%= key_string %>:</span>
        </td>

        <!-- Older column -->
        <td class="<%= row_modified_deleted %>">
          <% if key != "updated_at" && row_modified %>
            <input id="<%= key %>_old" class="version_detail_checkbox version_detail_checkbox_old" data-key="<%= key %>" data-value="<%= @result[:attributes_old][key] %>" type="checkbox">
          <% end %>
          <label for="<%= key %>_old">
            <%= get_highlighted_words(@result[:attributes_old][key].to_s, diffs["deleted_strings"], diffs["deleted_strings_indices"], "highlight_deleted") %>
          </label>
        </td>

        <!-- Newer/Current column -->
        <td class="<%= row_modified_added %>">
          <% if key != "updated_at" && !@result[:comparing_current] && row_modified %>
            <input id="<%= key %>_new" class="version_detail_checkbox version_detail_checkbox_new" data-key="<%= key %>" data-value="<%= @result[:attributes_new][key] %>" type="checkbox">
          <% end %>
          <label for="<%= key %>_new">
            <%= get_highlighted_words(@result[:attributes_new][key].to_s, diffs["added_strings"], diffs["added_strings_indices"], "highlight_added") %>
          </label>
        </td>
      </tr>
    <% end %>
  </table>
</div>
