<div class="compare-content">
    <h1>Compare</h1>
    <table class="compare-table">
        <% @version_new.attributes.keys.each do |key| %>
        <% row_class = "" %>
        <% row_class = "highlighted" unless @version_new.attributes[key] == @version_old.attributes[key] %>
        <tr class="compare-table-row">
            <td class="compare-table-column-old <%= row_class %>">
                <p><%= key.to_s + ": " + @version_old.attributes[key].to_s %></p>
            </td>
            <td class="compare-table-column-new <%= row_class %>">
                <p><%= key.to_s + ": " + @version_new.attributes[key].to_s %></p>
                <%= get_diffs(@version_new.attributes[key].to_s, @version_old.attributes[key].to_s) %>
            </td>
        </tr>
        <% end %>
    </table>
</div>