<h1 class="task_header"> Browse collection objects </h1>

<div id="browse-view" data-collection-object-id="<%= @collection_object.id %>">
  <div id="browse-collection-object" class="panel content">
    <div class="flex-separate middle">

      <div class="middle">
        <div class="separate-right">
          <%= form_tag(browse_collection_objects_task_path, method: :get) do %>
            <%= render  'workbench/elements/forms/ajax_select',
              controller: '/collection_objects',
              object: '',
              method: 'collection_object_id',
              send_select: true,
              tag_id: 'collection_object_id_for_browse_collection_object'
            %>
        <% end %>
        </div>

        <div class="separate-left separate-right">
          <%# render('/taxon_names/breadcrumb_navigator', taxon_name: @taxon_name, target: :browse_nomenclature_task_path) -%>
        </div>
      </div>

      <span class="right_float flex-separate">
        <ul class="context-menu">
          <li><%= collection_object_radial_tag(@collection_object) %></li>
          <li><%= radial_annotator(@collection_object) %></li>
          <li><%= confidence_default_icon(@collection_object) %></li>
          <li><%= tag_default_icon(@collection_object) %></li>
          <li><%= pin_item_to_pinboard_link(@collection_object, sessions_current_user) %></li>
          <li><%= radial_navigation_tag(@collection_object) %></li>
          <li><%= browse_otu_link(@collection_object.current_otu) -%></li>
        </ul>
      </span>

    </div>
  </div>

  <div id="show" class="panels-container">
    <div class="item item1">
      <div class="panel separate-right">

        <div class="title nav-line">
          Navigate
        </div>

        <div class="navigation-controls">
          <%= link_to('Edit (task)', comprehensive_collection_object_task_path( collection_object_id: @collection_object.id ), class: 'navigation-item') -%>
        </div>

        <div class="navigation-controls">
          <%= link_to('Previous', browse_collection_objects_task_path( collection_object_id: @collection_object.previous ),class: 'navigation-item') -%>
          <%= link_to('Next', browse_collection_objects_task_path( collection_object_id: @collection_object.next ), class: 'navigation-item') -%>
        </div>

        <div class="navigation-controls">
          <%=  collection_object_browse_previous_by_identifier(@collection_object) -%>
          <%=  collection_object_browse_next_by_identifier(@collection_object) -%>

        </div>

        <%# render('/taxon_names/parent_navigator', taxon_name: @taxon_name, target: :browse_nomenclature_task_path) -%>
      </div>
    </div>

    <div class="item item2 separate-bottom">
      <div class="flexbox separate-bottom">
        <div class="panel separate-left separate-right">
          <div id="browse-nomenclature-taxon-name" class="content subtitle filter middle">
            <%= content_tag(:p, collection_object_tag(@collection_object), class: 'item center_text name', style: 'line-height: 23px;') -%>
          </div>

          <div class="horizontal-center-content filter">
            <div id="filterBrowse_button" class="circle-button open"></div>
          </div>

          <%= render "filter" %>

          <div class="content">
            <div class="collection_object_history">
              <%= collection_object_history_table(@data) -%>
            </div>
          </div>
        </div>

        <div id="third-column">
          <div class="flex-wrap-row">
            <div class="panel separate-left">

              <div class="content">
                <% if @collection_object.contained? %>
                  <%= draw_container_tag(@collection_object.container) -%>
                <% end %>
              </div>

              <%= loan_status_tag(@collection_object) -%>

              <div class="content">
                <%= render(partial: '/shared/data/all/show/soft_validation', locals: {object: @collection_object}) -%>
              </div>

            </div>
          </div>
        </div>

      </div>

      <% if @collection_object.depictions.any? %>
        <div>
          <div id="depiction-panel" class="panel content separate-left">
            <h2> Depictions </h2>
            <div class="horizontal-left-content flexbox">
              <%= thumb_list_tag(@collection_object) -%>
            </div>
          </div>
        </div>
      <% end %>

      <div>
        <div class="panel content separate-left">
          <h2>Buffered</h2>
          <div class="flexbox">
            <div class="content separate-left column-medium">
              <h3> Collecting event </h3>
              <pre><%= @collection_object.buffered_collecting_event -%></pre>
            </div>

            <div class="content column-medium separate-left">
              <h3> Determinations </h3>
              <pre><%= @collection_object.buffered_determinations -%></pre>
            </div>

            <div class="content column-medium separate-left">
              <h3> Other labels </h3>
              <pre><%= @collection_object.buffered_other_labels -%></pre>
            </div>
          </div>
        </div>
      </div>

      <div  class="panel content separate-left">
        <h2> Darwin Core representation </h2>
        <%= form_tag(dwc_occurrences_path, method: :post) do %>
          <%= hidden_field_tag(:object_global_id, @collection_object.to_global_id.to_s) -%>
          <div class="actions">
            <%= tag.input(type: :submit, value: 'Rebuild') -%> 
          </div>
        <% end %>
        <%= dwc_occurrence_health_tag(@collection_object.dwc_occurrence) -%> 
        <%= dwc_column(@collection_object.dwc_occurrence) -%>
      </div>

    </div>
  </div>
</div>
