<p id="notice"><%= notice %></p>

<%= paginate @namespaces %> <%= page_entries_info @namespaces %>

<p>
  <strong>Institution:</strong>
  <%= @namespace.institution %>
</p>

<p>
  <strong>Name:</strong>
  <%= @namespace.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @namespace.short_name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @namespace.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @namespace.updated_by_id %>
</p>

<%= link_to 'Edit', edit_namespace_path(@namespace) %> |
<%= link_to 'Back', namespaces_path %>
