<p>
  <strong>Institution:</strong>
  <%= @namespace.institution %>
</p>

<p>
  <strong>Name:</strong>
  <%= @namespace.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @namespace.short_name %>
</p>

<p>
  <strong>Verbatim short name:</strong>
  <%= @namespace.verbatim_short_name %>
</p>

<p>
  <strong>Delimiter:</strong>
  <%= @namespace.delimiter ? @namespace.delimiter : content_tag(:em, 'None provide, a single space will be used.')   %>
</p>

<p>
  <strong>Is virutal:</strong>
  <%= @namespace.is_virtual  %>
</p>
