<h1>Listing namespaces</h1>

<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Name</th>
      <th>Short name</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @namespaces.each do |namespace| %>
      <tr>
        <td><%= namespace.institution %></td>
        <td><%= namespace.name %></td>
        <td><%= namespace.short_name %></td>
        <td><%= namespace.created_by_id %></td>
        <td><%= namespace.updated_by_id %></td>
        <td><%= link_to 'Show', namespace %></td>
        <td><%= link_to 'Edit', edit_namespace_path(namespace) %></td>
        <td><%= link_to 'Destroy', namespace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Namespace', new_namespace_path %>
