<%= render("/shared/data/all/list/list_header", objects: @namespaces) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Institution') -%>
    <%= fancy_th_tag(name: 'Name') -%>
    <%= fancy_th_tag(name: 'Short name') -%>
    <%= fancy_th_tag(name: 'Verbatim short name') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @namespaces.each do |namespace| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= namespace.institution %></td>
          <td><%= namespace.name %></td>
          <td><%= namespace.short_name %></td>
          <td><%= namespace.verbatim_short_name %></td>
          <%= fancy_metadata_cells_tag(namespace) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
