<%= form_for(@confidence_object, url: confidence_object_update_confidences_path(@confidence_object), as: :confidence_object, method: :post, html: { class: :confidence_level_form }) do |f| %>
  <%= render 'shared/errors', object: @confidence_object %>

  <%= hidden_field_tag :confidence_object_type, @confidence_object.class.name %>
  <%= hidden_field_tag :confidence_object_id, @confidence_object.id %>

  <%= render partial: '/confidence_levels/confidence_level_picker',
    locals: {object: @confidence_object, f: f}
  %>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>

<% end %>
