<%= form_for(@confidence) do |f| %>
    <%= render 'shared/errors', object: @confidence %>

    <p><strong><%= @confidence.confidence_object.class.name %>:</strong> <%= object_tag(@confidence.confidence_object) -%>  </p>

    <div class="field">
      <%= f.label :confidence_level_id %>
      <%#= f.number_field :confidence_level_id %>
      <br>
      <%= render :partial => 'workbench/elements/forms/ajax_select',
                 :locals  => {:controller => 'confidences',
                              :object     => 'confidence',
                              :method     => 'confidence_level_id',
                              :confidence_id     => 'confidence_level_id_for_controlled_vocabulary_term',
                              :display    => object_tag(@confidence.confidence_object)} %>
    </div>

    <%= f.hidden_field :confidence_object_type %>

    <%= f.hidden_field :confidence_object_id %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
