<h1> Collection object work report </h1>
<p> <i> This is an estimate based on calculations on the update_at timestamp associated with Collection Object records only.  It may not fully reflect the amount of work spent completing the digitization of a specimen.</i></p>
<div class="flexbox">
  <div class="item item1">
    <h2> Select user and date range </h2>
    <%= form_tag(work_data_task_path, method: :get) do %>

      <div class="field">
        <%= label_tag :User, 'User' %> <br>

        <%= select_tag(
          :user_id, options_for_select(
            administers_projects? ?
            User.joins(:updated_collection_objects)
            .select(:id, :name)
            .where('collection_objects.project_id = ?', sessions_current_project_id)
            .distinct
            .order(:name)
            .pluck(:name, :id)
          : [sessions_current_user.name, sessions_current_user.id] )
        ) -%>
      </div>

      <div class="field">
        <%= label_tag :From %> <br>
        <%= date_select(:start, :date, selected: 2.weeks.ago, order: [:year, :month, :day], start_year: 1936,end_year: Date.today.year) -%>
      </div>

      <div class="field">
        <%= label_tag :To %> <br>
        <%= date_select('end', 'date', selected: Date.today, order: [:year, :month, :day],  start_year: 1936, end_year: Date.today.year) -%>
      </div>

      <%= submit_tag :Report, class: ['normal-input', :button, 'button-default', date_separator: '-'] -%>
    <% end %>
  </div>

  <div class="item item2">
    <h2> Report </h2>
    <% if @user -%>
      <% if !@sessions.empty? -%>
        <h3> <%= user_tag(@user) -%> </h4>
        <p>
        Between <%= @sessions.first[:start].strftime("%Y-%m-%d") -%> and  <%= @sessions.last[:end].strftime("%Y-%m-%d") -%> 
      updated <%= @records.count(:all) -%> records in 
      <%= @sessions.count -%> sessions
      in a total work time of <%=  distance_of_time_in_words ::Work.total_time(@sessions) -%> (<%= (::Work.total_time(@sessions) / 60.0).round(0) -%> minutes).
        </p>
        <table>
          <tr>
            <th>Start date</th>
            <th>Start time</th>
            <th>End date</th>
            <th>End time</th>
            <th>Total time</th>
            <th>Count</th>
            <th>Records /<br> minute</th>
          </tr>

          <tr><td colspan="7">Total</td></tr>
          <%= content_tag(:tr, [
            content_tag(:td, @sessions.first[:start].strftime("%Y-%m-%d")),
            content_tag(:td, @sessions.first[:start].strftime("%I:%M")),
            content_tag(:td, @sessions.last[:end].strftime("%Y-%m-%d")),
            content_tag(:td, @sessions.last[:end].strftime("%I:%M")),
            content_tag(:td, distance_of_time_in_words(::Work.total_time(@sessions))),
            content_tag(:td, @records.count(:all) ),
            content_tag(:td, (@records.count(:all).to_f / (::Work.total_time(@sessions) / 60.0)).round(3) ),
          ].join.html_safe) -%>

        <tr><td colspan="7">Sessions</td></tr>
        <%= @sessions.collect{|s| 
          content_tag(:tr, 
                      [ content_tag(:td, s[:start].strftime("%Y-%m-%d")),
                        content_tag(:td, s[:start].strftime("%I:%M")),
                        content_tag(:td, s[:end].strftime("%Y-%m-%d")),
                        content_tag(:td, s[:end].strftime("%I:%M")),
                        content_tag(:td, distance_of_time_in_words(s[:end] - s[:start])),
                        content_tag(:td, s[:count]),
                        content_tag(:td, s[:efficiency].round(3))].join.html_safe
                     )}.flatten.join.html_safe -%>
        </table>
      <% else %>
        <p class='feedback feedback-warning'>User <%= @user.name -%> has no <em>updated</em> records</p>
      <% end %>
    <% else %>
      <p class='feedback feedback-notice'>Select a User and date range</p>
    <% end %>
  </div>
</div>
