<div id="<%= dom_id lead_item %>">
  <p>
    <strong>Lead:</strong>
    <%= lead_item.lead_id %>
  </p>

  <p>
    <strong>Otu:</strong>
    <%= lead_item.otu_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= lead_item.project_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= lead_item.created_by_id %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= lead_item.updated_by_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= lead_item.position %>
  </p>

</div>
