<navigation >
  <%# TODO: tabify -%>
  <ul class='horizontal_navbar'>
    <%= content_tag(:li, link_to('recent', hub_path(list: 'recent'))) -%> 
    <%= content_tag(:li, link_to('favourite [stub]', hub_path)) -%> 
    <%= content_tag(:li, link_to('worker [stub]', hub_path)) -%> 
    <%= content_tag(:li, link_to('data', hub_path)) -%> 

    <li>|</li>
    <%= content_tag(:li, link_to('tasks', hub_path(list: 'tasks'))) -%> 
    <%= content_tag(:li, link_to('related [stub]', hub_path)) -%> 
    <%= content_tag(:li, link_to('icons [stub]', hub_path)) -%> 
    <%= content_tag(:li, link_to('shared [stub]', hub_path)) -%> 
    <%= content_tag(:li, link_to('all', hub_path(list: 'all'))) -%> 
  </ul>
</navigation>
