
<table class="tablesorter"> 

  <thead>
    <tr>
      <%= fancy_th_tag(name: 'Source') -%>
      <%= fancy_th_tag(name: 'Year') -%>
      <%= fancy_th_tag(name: 'Citations') -%>
      <%= fancy_th_tag(name: 'In project') -%>
      <%= fancy_th_tag(name: 'Pin') -%>
    </tr>

    <tbody>
      <% @sources.each do |s| -%>
        <%= content_tag(:tr, class: [:contextMenuCells, :btn, 'btn-neutral']) do -%>
          <td><%= s.cached.html_safe %></td>
          <td><%= s.year %></td>
          <td><%= s.citations.where(project_id: sessions_current_project_id).count %></td>
          <td><%= ProjectSource.where(source: s, project_id: sessions_current_project_id).any? ? 'Yes' : 'No'  %></td>
          <td><%= 'pin stub' %></td>
        <% end %>
      <% end %>
    </tbody>

</table>

