
<p data-help="Total of this search. Result is capped at ~500 records. Try more precise terms if not found."> Total: <em><%= @sources.count -%></em> for "<em><%= @terms -%> </em>"</p>

<table class="tablesorter"> 

  <thead>
    <tr>
      <%= fancy_th_tag(name: 'Source') -%>
      <%= fancy_th_tag(name: 'Year') -%>
      <%= fancy_th_tag(name: 'Citations') -%>
      <%= fancy_th_tag(name: 'In project') -%>
      <%= fancy_th_tag(name: 'Pin') -%>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| -%>
      <%= content_tag(:tr, class: [:contextMenuCells, :btn, 'btn-neutral']) do -%>
        <td><%= source.cached.html_safe %></td>
        <td><%= source.year %></td>
        <td>
          <a class="citation-count" href="<%= nomenclature_by_source_task_path(source.id) %>">
            <span class="citation-count button-data circle-button btn-citation">
              <span class="circle-count button-default middle"><%= source.citations.where(project_id: sessions_current_project_id).count %></span>
            </span>
          </a>
        </td>
        <td><%= add_source_to_project_form(source) %></td>
        <td><%= pin_item_to_pinboard_link(source, sessions_current_user) %></td>
        <%= fancy_options_cells_tag(source) -%>
      <% end %>
    <% end %>
  </tbody>

</table>

