<h1> Browse sources </h1>

<%= form_tag find_sources_task_path, method: :get do |f| %>
  <div class="field">
    <%= label_tag :Terms, nil, data: {help: "Adding years will focus results on those years. <br> Individual terms are split and match across the full citation. <br> Text is automatically wildcarded. <br> Result table can be sorted by column. <br>" } %>
    <br>
    <%= text_field_tag :query_term, nil, size: 100, placeholder: 'Like "Jones 1920 1930" or "2010 Smith planthopper" or "green purple orange"' -%>   
  </div>

  <%= submit_tag 'Find', class: "button-request" -%>
<% end %>
<hr>

<% if @sources.any? %>
  <%= render('result', sources: @sources) %>
<% else %> 
  <p> <em> Complete a search to find sources. </em> </p>
<% end %>
