<%= form_for(@container_item) do |f| %>
    <%= render 'shared/errors', object: @container_item %>

  <div class="field">
    <%= f.label :container %><br>
    <%= render partial: 'workbench/elements/forms/ajax_select',
               locals:  {controller:  'containers',
                         object: 'container_item',
                         method:  'container_id',
                         tag_id:  'container_item_id_for_container',
                         display:  container_tag(@container_item.container),
                         size: 20} %>
  </div>
    <!-- @todo @mjy Not sure if this is a FK or analogous to note_object_id and _type which are hidden in notes form? -->
  <div class="field">
    <%= f.label :contained_object_id %><br>
    <%= f.number_field :contained_object_id %>
  </div>
  <div class="field">
    <%= f.label :contained_object_type %><br>
    <%= f.text_field :contained_object_type %>
  </div>
  <div class="field">
    <%= f.label :disposition %><br>
    <%= f.text_field :disposition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
