<%= form_for(@container_item) do |f| %>
    <%= render 'shared/errors', object: @container_item %>

  <div class="field">
    <%= f.label :container_id %><br>
    <%= f.number_field :container_id %>
  </div>
  <div class="field">
    <%= f.label :contained_object_id %><br>
    <%= f.number_field :contained_object_id %>
  </div>
  <div class="field">
    <%= f.label :contained_object_type %><br>
    <%= f.text_field :contained_object_type %>
  </div>
  <div class="field">
    <%= f.label :disposition %><br>
    <%= f.text_field :disposition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
