<h1>Listing container_items</h1>

<table>
  <thead>
    <tr>
      <th>Container</th>
      <th>Position</th>
      <th>Contained object</th>
      <th>Contained object type</th>
      <th>Localization</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @container_items.each do |container_item| %>
      <tr>
        <td><%= container_item.container_id %></td>
        <td><%= container_item.position %></td>
        <td><%= container_item.contained_object_id %></td>
        <td><%= container_item.contained_object_type %></td>
        <td><%= container_item.localization %></td>
        <td><%= container_item.created_by_id %></td>
        <td><%= container_item.updated_by_id %></td>
        <td><%= container_item.project_id %></td>
        <td><%= link_to 'Show', container_item %></td>
        <td><%= link_to 'Edit', edit_container_item_path(container_item) %></td>
        <td><%= link_to 'Destroy', container_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Container item', new_container_item_path %>
