<%= render("/shared/data/all/list/list_header", objects: @container_items) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Container') -%>
    <%= fancy_th_tag(name: 'Contained object') -%>
    <%= fancy_th_tag(name: 'Contained object type') -%>
    <%= fancy_th_tag(name: 'Disposition') -%>
    <%= fancy_th_tag(name: 'Disposition X') -%>
    <%= fancy_th_tag(name: 'Disposition Y') -%>
    <%= fancy_th_tag(name: 'Disposition Z') -%>

    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @container_items.each do |container_item| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= container_tag(container_item.container) %></td>
          <td><%= object_tag(container_item.contained_object) %></td>
          <td><%= container_item.contained_object_type %></td>
          <td><%= container_item.disposition %></td>
          <td><%= container_item.disposition_x %></td>
          <td><%= container_item.disposition_y %></td>
          <td><%= container_item.disposition_z %></td>
          <%= fancy_metadata_cells_tag(container_item) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
