<h1>Listing container items</h1>

<%= paginate @container_items %> <%= page_entries_info @container_items %>

<table>
  <thead>
  <tr>
    <th>Container</th>
    <th>Position</th>
    <th>Contained object</th>
    <th>Contained object type</th>
    <th>Disposition</th>
    <th>Last modified</th>
    <th>Updated by</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @container_items.each do |container_item| %>
      <tr>
        <td><%= container_tag(container_item.container) %></td>
        <td><%= container_item.position %></td>
        <td><%= object_tag(container_item.contained_object) %></td>
        <td><%= container_item.contained_object_type %></td>
        <td><%= container_item.disposition %></td>
        <td><%= container_item.updated_at %></td>
        <td><%= user_tag(container_item.updater) %></td>
        <td><%= link_to 'Show', container_item %></td>
        <td><%= link_to 'Destroy', container_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
