
<%= link_to('Back', @taxon_name.metamorphosize) -%> 

<p> This is a stub. A clone of the Browse functionality. </p>

<div>
  <div style="text-align: center;"> <h1> Catalog of <%= object_tag(@taxon_name) -%> <h1> </div>
  <ul class="taxonomic_history">
    <% @data.ordered_by_nomenclature_date.each do |c| -%>
      <%= nomenclature_line_tag(c) -%> 
    <% end %>
  </ul>
  <%= content_tag(:h3, 'Citations') if @data.source_list.any? -%>
  <ul class="citations">
    <% @data.source_list.each do |s| -%>
      <%= content_tag(:li, (source_tag(s) + ':' + topic_list_tag(@data.topics_for_source(s))).html_safe)  -%>
    <% end %> 
  </ul>                          
</div>

