<%= form_for(@biological_association) do |f| %>
    <%= render 'shared/errors', object: @biological_association %>

    <div class="field">
      <%= f.label :biological_relationship %><br>
      <%= render partial: 'workbench/elements/forms/ajax_select',
                 locals:  {controller: 'biological_relationships',
                           object:     'biological_association',
                           method:     'biological_relationship_id',
                           tag_id:     'biological_relationship_id_for_biological_association',
                           display:    object_tag(@biological_association.biological_relationship)
                 } %>
    </div>

    <!-- @todo @mjy Are following four fields hidden? -->
    <div class="field">
      <%= f.label :biological_association_subject_id %><br>
      <%= f.text_field :biological_association_subject_id %>
    </div>
    <div class="field">
      <%= f.label :biological_association_subject_type %><br>
      <%= f.text_field :biological_association_subject_type %>
    </div>
    <div class="field">
      <%= f.label :biological_association_object_id %><br>
      <%= f.text_field :biological_association_object_id %>
    </div>
    <div class="field">
      <%= f.label :biological_association_object_type %><br>
      <%= f.text_field :biological_association_object_type %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
