<p id="notice"><%= notice %></p>

<h1>Listing Biological Associations</h1>

<table>
  <thead>
    <tr>
      <th>Biological relationship</th>
      <th>Biological association subject</th>
      <th>Biological association subject type</th>
      <th>Biological association object</th>
      <th>Biological association object type</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @biological_associations.each do |biological_association| %>
      <tr>
        <td><%= biological_association.biological_relationship %></td>
        <td><%= biological_association.biological_association_subject %></td>
        <td><%= biological_association.biological_association_subject_type %></td>
        <td><%= biological_association.biological_association_object %></td>
        <td><%= biological_association.biological_association_object_type %></td>
        <td><%= biological_association.created_by %></td>
        <td><%= biological_association.updated_by %></td>
        <td><%= biological_association.project %></td>
        <td><%= link_to 'Show', biological_association %></td>
        <td><%= link_to 'Edit', edit_biological_association_path(biological_association) %></td>
        <td><%= link_to 'Destroy', biological_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biological association', new_biological_association_path %>
