<p id="notice"><%= notice %></p>

<p>
  <strong>Biological relationship:</strong>
  <%= @biological_association.biological_relationship %>
</p>

<p>
  <strong>Biological association subject:</strong>
  <%= @biological_association.biological_association_subject %>
</p>

<p>
  <strong>Biological association subject type:</strong>
  <%= @biological_association.biological_association_subject_type %>
</p>

<p>
  <strong>Biological association object:</strong>
  <%= @biological_association.biological_association_object %>
</p>

<p>
  <strong>Biological association object type:</strong>
  <%= @biological_association.biological_association_object_type %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @biological_association.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @biological_association.updated_by %>
</p>

<p>
  <strong>Project:</strong>
  <%= @biological_association.project %>
</p>

<%= link_to 'Edit', edit_biological_association_path(@biological_association) %> |
<%= link_to 'Back', biological_associations_path %>
