<%= form_for(@protocol) do |f| %>
    <%= render 'shared/errors', object: @protocol %>

    <div class="required">
      <div class="field">
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :short_name %>
        <br>
        <%= f.text_field :short_name %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <br>
        <%= f.text_area :description, rows: 5 %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
