<%= form_for(@project_member) do |f| %>
  <%= render 'shared/errors', object: @project_member %>

  <div class="field">
    For: <%= f.label :project_id, @project_member.project.name %><br>
    <%= f.hidden_field :project_id -%>
  </div>

  <div class="field">
    <%= f.label :user %>
    <br>
    <%= render partial: 'workbench/elements/forms/ajax_select',
      locals:  {controller:  'users',
                object: 'project_member',
                method:  'user_id',
                tag_id:  'user_id_for_otu',
                display:  user_tag(@project_member.user),
                size: 40} %>
  </div>

  <div class="field">
    <%= f.check_box :is_project_administrator %>  <%= f.label :is_project_administrator %> (sets for all!)
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
