<%= form_for(@project_member) do |f| %>
  <%= render 'shared/errors', object: @project_member %>

  <div class="field">
    For: <%= f.label :project_id, @project_member.project.name %><br>
    <%= f.hidden_field :project_id -%>
  </div>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, options_from_collection_for_select(User.all.not_in_project(@project_member.project_id), :id, :email, selected: @project_member.user) %>
  </div>

  <div class="field">
    <%= f.check_box :is_project_administrator %>  <%= f.label :is_project_administrator %> (sets for all!)
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
