

<div> some search form </div>

<div>Identifer: <%= object_tag(@identifier) -%> </div>
<div>Container: <%= object_tag(@container) -%> </div>

<div> Collection objects: </div>

<table>
  <thead>
    <tr>
      <th> buffered </th>
      <th> parsed </th> 
    </tr>
  </thead>

  <tbody>
  <% @collection_objects.each do |o|  %> 

    <tr> <td colspan="2"> collecting event</th>  </tr>
    <tr>
      <td><%= o.buffered_collecting_event -%> </td>
      <td><%= collecting_event_tag(o.collecting_event) -%> </td>
    </tr>

    <tr> <td colspan="2"> determinations </th>  </tr>
    <tr>
      <td><%= o.buffered_determinations-%> </td>
      <td><%= o.taxon_determinations.collect{|td| object_tag(td)}.join.html_safe -%> </td>
    </tr>
    
    <tr>
      <td><%= o.buffered_other_labels -%> </td>
      <td></td>
    </tr>

  <% end %>

  </tbody>

</table>
