<p id="notice"><%= notice %></p>

<h1>Listing Origin Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Old object</th>
      <th>New object</th>
      <th>Position</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @origin_relationships.each do |origin_relationship| %>
      <tr>
        <td><%= origin_relationship.old_object %></td>
        <td><%= origin_relationship.new_object %></td>
        <td><%= origin_relationship.position %></td>
        <td><%= origin_relationship.created_by_id %></td>
        <td><%= origin_relationship.updated_by_id %></td>
        <td><%= origin_relationship.project %></td>
        <td><%= link_to 'Show', origin_relationship %></td>
        <td><%= link_to 'Edit', edit_origin_relationship_path(origin_relationship) %></td>
        <td><%= link_to 'Destroy', origin_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Origin relationship', new_origin_relationship_path %>
