<%= render("/shared/data/all/list/list_header", objects: @origin_relationships) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Source object') -%>
    <%= fancy_th_tag(name: 'Target object') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @origin_relationships.each do |origin_relationship| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= object_link(origin_relationship.old_object) %></td>
          <td><%= object_link(origin_relationship.new_object) %></td>
          <%= fancy_metadata_cells_tag(origin_relationship) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

