<p id="notice"><%= notice %></p>

<p>
  <strong>Old object:</strong>
  <%= @origin_relationship.old_object %>
</p>

<p>
  <strong>New object:</strong>
  <%= @origin_relationship.new_object %>
</p>

<p>
  <strong>Position:</strong>
  <%= @origin_relationship.position %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @origin_relationship.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @origin_relationship.updated_by_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @origin_relationship.project %>
</p>

<%= link_to 'Edit', edit_origin_relationship_path(@origin_relationship) %> |
<%= link_to 'Back', origin_relationships_path %>
