<div id="_recent_ce_form" name="_recent_ce_form" hidden="true">
  <%= form_for(@collecting_event) do |f| %>
      <table border="1">
        <tr>
          <div class="field">
            <td><%= f.label 'return' %></td>
            <td><%= f.text_field :verbatim_label, size: 5 %></td>
            <td>most recent</td>
          </div>
        </tr>
      </table>
  <% end %>
  <%= form_tag(recent_collecting_events_path) do %>
          <div><%= submit_tag('Find') %></div>
  <% end %>
</div>


