<h2> Batch create result </h2>
<%=# render partial: 'shared/data/all/batch_file_load/import_file_properties' %>

<h3> Overview </h3>
<ul>
  <li> Records created: <%= @result.total_records_created %> </li>
  <%= @result.errors.collect { |e| content_tag(:li, e, class: 'warning') }.join.html_safe -%>
</ul>

<h3> Object breakdown </h3>
<% if content_for?(:line_breakdown) -%>
    <%= yield :line_breakdown -%>
<% else %>

<% @processed_files[:names].each_with_index do |filename, file_index| %>
  <h4>File <%= file_index %>: <%= filename %></h4>
  <table class="top_align_text" border="1">
    <tr>
      <th>Type</th>
      <th>Object</th>
    </tr>

    <% @processed_files[:objects].each do |hash| %>
      <% hash.each do |type, objects| %>
        <% objects.each do |object| %>
          <tr>
            <td><%= type %></td>
            <td><%= object_link(object) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>

<h3> Input files </h3>
<%= yield :input_files %>
<%=# render partial: '/shared/data/all/batch_file_load/input_file', locals: {csv: @result.csv} -%>
