<div class="flexbox">
  <div class="item item1 one_fifth_width">
    <h2> <%= model_name_title -%></h2>

    <div>id: <%= object.id -%></div>
    <%= forward_back_links(object) -%> <br>
    <%= edit_object_link(object) -%> | <%= destroy_object_link(object) -%> <br>
    <%= pin_item_to_pinboard_link(object, sessions_current_user) -%>
    <br>
    <%= add_alternate_value_link(object: object, user: sessions_current_user) -%>
    <br>
    <%= papertrail_link(object) -%>
  </div>

  <div class="item item2 half_width">
    <h2> <%= object_tag(object) -%> </h2>
    <%= render object_attributes_partial_path(object.metamorphosize) %>
    <div class="attributes">
      <%= render partial: '/shared/data/show/housekeeping', locals: {object: object} -%>
      <%= render(partial: '/shared/data/show/soft_validation', locals: {object: object}) if object.class.respond_to?(:soft_validates?) -%>
      <%= render(partial: '/notes/object_pane', locals: {object: object}) if object.respond_to?(:notes) %>
    </div>
  </div>

  <div class="item item3 one_quarter_width">


  </div>
</div>




