<div class="flexbox" id="show">
  <div class="item item1 one_fifth_width">
    
    <h2> <%= model_name_title -%></h2>

    <div>id: <%= object.id -%></div>
    <%= forward_back_links(object) -%> <br><br>

    <%= yield :show_navigation -%> 
  </div>

  <div class="item item2 half_width">
    <h2> <%= object_tag(object) -%> </h2>

    <div class="attributes">
      <%= render object_attributes_partial_path(object.metamorphosize) %>
      <%= render partial: '/shared/data/show/housekeeping', locals: {object: object} -%>
      <%= render(partial: '/shared/data/show/soft_validation', locals: {object: object}) if object.class.respond_to?(:soft_validates?) -%>
      <%= render(partial: '/alternate_values/object_pane', locals: {object: object}) if object.respond_to?(:alternate_values) %>
      <%= render(partial: '/citations/object_pane', locals: {object: object}) if object.respond_to?(:citations) %>
      <%= render(partial: '/identifiers/object_pane', locals: {object: object}) if object.respond_to?(:identifiers) %>
      <%= render(partial: '/notes/object_pane', locals: {object: object}) if object.respond_to?(:notes) %>
      <%= render(partial: '/tags/object_pane', locals: {object: object}) if object.respond_to?(:tags) %>
    </div>
  </div>

  <div class="item item3 one_quarter_width">

    <h3> Edit </h3> 
    <%= edit_object_link(object) -%> | <%= destroy_object_link(object) -%> <br>
    <%= papertrail_link(object) -%>

    <h3> Annotate </h3>
    <%= add_alternate_value_link(object: object, user: sessions_current_user) -%><br>
    <%= add_note_link(object: object, user: sessions_current_user) -%><br>
    <%= pin_item_to_pinboard_link(object, sessions_current_user) -%><br>

    <%= yield :tasks -%>

  </div>
</div>




