<%= form_for(@taxon_name_classification) do |f| %>
    <%= render 'shared/errors', object: @taxon_name_classification %>

  <div class="field">
    <%= f.label :for %><br>
    <h3><%= object_tag(@taxon_name_classification.taxon_name) -%></h3>
  </div>

  <%= f.hidden_field :taxon_name_id %>

  <div class="field">
    <%= f.label :type, 'Classification/status' %><br>
    <%= f.select :type,  taxon_name_classification_options(@taxon_name_classification.taxon_name) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
