<h1>Listing taxon name classifications</h1>

<%= paginate @taxon_name_classifications%> <%= page_entries_info @taxon_name_classifications %>

<table>
  <thead>
    <tr>
      <th>Taxon name</th>
      <th>Type</th>
      <th>Last modified</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @taxon_name_classifications.each do |taxon_name_classification| %>
        <tr>
          <td><%= object_tag(taxon_name_classification.taxon_name.metamorphosize) %></td>
          <td><%= taxon_name_classification.type %></td>
          <td><%= taxon_name_classification.updated_at %></td>
          <td><%= object_tag(taxon_name_classification.updater) %></td>
          <td><%= link_to 'Context', taxon_name_classification.taxon_name.metamorphosize %></td>
          <td> <em> Edit </em> </td>
          <td><%= link_to 'Destroy', taxon_name_classification.metamorphosize, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        </tr>
    <% end %>
  </tbody>
</table>
