<%= render("/shared/data/all/list/list_header", objects: @taxon_name_classifications) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Taxon name') -%>
    <%= fancy_th_tag(name: 'Type') -%>
    <%= fancy_th_tag(name: 'NOMEN id') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @taxon_name_classifications.each do |taxon_name_classification| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= taxon_name_link(taxon_name_classification.taxon_name.metamorphosize) %></td>
          <td><%= taxon_name_classification.classification_label %></td>
          <td><%= taxon_name_classification.nomen_id %> </td>
          <%= fancy_metadata_cells_tag(taxon_name_classification) -%>
      <% end %>
  <% end %>
  </tbody>
</table>
