<p>
  <strong>Geographic area:</strong>
  <%= object_link(object.geographic_area) %>
</p>

<p>
  <strong>Field notes:</strong>
  <%= object.field_notes %>
</p>

<div class="attribute_set" data-title="Labels">
  <p>
    <strong>Verbatim label:</strong>
    <%= object.verbatim_label %>
  </p>

  <p>
    <strong>Print label:</strong>
    <%= object.print_label %>
  </p>

  <p>
    <strong>Document label:</strong>
    <%= object.document_label %>
  </p>
</div>

<div class="attribute_set" data-title="Verbatim">
  <p>
    <strong>Verbatim locality:</strong>
    <%= object.verbatim_locality %>
  </p>

  <p>
    <strong>Verbatim date:</strong>
    <%= object.verbatim_date %>
  </p>

  <p>
    <strong>Verbatim latitude:</strong>
    <%= object.verbatim_latitude %>
  </p>

  <p>
    <strong>Verbatim longitude:</strong>
    <%= object.verbatim_longitude %>
  </p>

  <p>
    <strong>Verbatim elevation:</strong>
    <%= object.verbatim_elevation %>
  </p>

  <p>
    <strong>Verbatim datum:</strong>
    <%= object.verbatim_datum %>
  </p>

  <p>
    <strong>Verbatim geolocation uncertainty:</strong>
    <%= object.verbatim_geolocation_uncertainty %>
  </p>

  <p>
    <strong>Verbatim trip identifier:</strong>
    <%= object.verbatim_trip_identifier %>
  </p>

  <p>
    <strong>Verbatim collectors:</strong>
    <%= object.verbatim_collectors %>
  </p>

  <p>
    <strong>Verbatim method:</strong>
    <%= object.verbatim_method %>
  </p>

  <p>
    <strong>Verbatim habitat:</strong>
    <%= object.verbatim_habitat %>
  </p>
</div>

<div class="attribute_set" data-title="Elevation (m)">
  <p>
    <strong>Minimum elevation:</strong>
    <%= object.minimum_elevation %>
  </p>

  <p>
    <strong>Maximum elevation:</strong>
    <%= object.maximum_elevation %>
  </p>

  <p>
    <strong>Elevation precision:</strong>
    <%= object.elevation_precision %>
  </p>
</div>

<div class="attribute_set" data-title="Date/Time">
  <p>
    <strong>Start date day:</strong>
    <%= object.start_date_day %>
  </p>

  <p>
    <strong>Start date month:</strong>
    <%= object.start_date_month %>
  </p>

  <p>
    <strong>Start date year:</strong>
    <%= object.start_date_year %>
  </p>

  <p>
    <strong>End date day:</strong>
    <%= object.end_date_day %>
  </p>

  <p>
    <strong>End date month:</strong>
    <%= object.end_date_month %>
  </p>

  <p>
    <strong>End date year:</strong>
    <%= object.end_date_year %>
  </p>

  <p>
    <strong>Time start:</strong>
    <%= object.time_start -%>
  </p>

  <p>
    <strong>Time end:</strong>
    <%= object.time_end %>
  </p>

</div>

<div class="attribute_set" data-title="Stratigraphy">
  <p>
    <strong>Group:</strong>
    <%= object.group %>
  </p>

  <p>
    <strong>Formation:</strong>
    <%= object.formation %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= object.member %>
  </p>

  <p>
    <strong>Lithology:</strong>
    <%= object.lithology %>
  </p>

  <p>
    <strong>Max ma:</strong>
    <%= object.max_ma %>
  </p>

  <p>
    <strong>Min ma:</strong>
    <%= object.min_ma %>
  </p>
</div>

<div data-view="meta" class="attribute_set" data-title="Metadata">
  <p>
    <strong>Prioritize geographic area (metadata):</strong>
    <%= object.meta_prioritize_geographic_area %>
  </p>
</div>

<div data-view="development" class="attribute_set" data-title="Cached values (calculated)">
  <p>
  <strong>Md5 of verbatim label:</strong>
  <%= object.md5_of_verbatim_label %>
  </p>

  <p>
  <strong>Cached:</strong>
  <%= object.cached %>
  </p>

  <p>
  <strong>Cached level0 geographic name:</strong>
  <%= object.cached_level0_geographic_name %>
  </p>

  <p>
  <strong>Cached level1 geographic name:</strong>
  <%= object.cached_level1_geographic_name %>
  </p>

  <p>
  <strong>Cached level2 geographic name:</strong>
  <%= object.cached_level2_geographic_name %>
  </p>
</div>


