<%= render("/shared/data/all/list/list_header", objects: @collecting_events) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <!--<th>Verbatim label</th>-->
    <!--<th>Print label</th>-->
    <!--<th>Document label</th>-->
    <!--<th>Verbatim locality</th>-->
    <!--<th>Verbatim longitude</th>-->
    <!--<th>Verbatim latitude</th>-->
    <!--<th>Verbatim geolocation uncertainty</th>-->
    <!--<th>Verbatim trip identifier</th>-->
    <!--<th>Verbatim method</th>-->
    <!--<th>Minimum elevation</th>-->
    <!--<th>Maximum elevation</th>-->
    <!--<th>Elevation precision</th>-->
    <!--<th>Time start</th>-->
    <!--<th>Time end</th>-->
    <!--<th>Start date day</th>-->
    <!--<th>Start date month</th>-->
    <!--<th>Start date year</th>-->
    <!--<th>End date day</th>-->
    <!--<th>End date month</th>-->
    <!--<th>End date year</th>-->
    <!--<th>Verbatim habitat</th>-->
    <!--<th>Field notes</th> -->
    <!--<th>Md5 of verbatim label</th> -->
    <%= fancy_th_tag(name: 'Verbatim locality') -%>
    <%= fancy_th_tag(name: 'Geographic area') -%>
    <%= fancy_th_tag(name: 'Verbatim collectors') -%>
    <%= fancy_th_tag(name: 'Verbatim method') -%>
    <%= fancy_th_tag(name: 'Start date day') -%>
    <%= fancy_th_tag(name: 'Start date month') -%>
    <%= fancy_th_tag(name: 'Start date year') -%>

    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @collecting_events.each do |collecting_event| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= collecting_event.verbatim_locality %></td>
          <td><%= geographic_area_link(collecting_event.geographic_area) %></td>
          <td><%= collecting_event.verbatim_collectors %></td>
          <td><%= collecting_event.verbatim_method %></td>
          <td><%= collecting_event.start_date_day %></td>
          <td><%= collecting_event.start_date_month %></td>
          <td><%= collecting_event.start_date_year %></td>
    
          <!--<td><%#= collecting_event.verbatim_label %></td>-->
          <!--<td><%#= collecting_event.print_label %></td>-->
          <!--<td><%#= collecting_event.document_label %></td>-->
          <!--<td><%#= collecting_event.verbatim_locality %></td>-->
          <!--<td><%#= collecting_event.verbatim_longitude %></td>-->
          <!--<td><%#= collecting_event.verbatim_latitude %></td>-->
          <!--<td><%#= collecting_event.verbatim_geolocation_uncertainty %></td>-->
          <!--<td><%#= collecting_event.verbatim_trip_identifier %></td>-->
          <!--<td><%#= collecting_event.minimum_elevation %></td>-->
          <!--<td><%#= collecting_event.maximum_elevation %></td>-->
          <!--<td><%#= collecting_event.elevation_precision %></td>-->
          <!--<td><%#= collecting_event.time_start %></td>-->
          <!--<td><%#= collecting_event.time_end %></td>-->
          <!--<td><%#= collecting_event.end_date_day %></td>-->
          <!--<td><%#= collecting_event.end_date_month %></td>-->
          <!--<td><%#= collecting_event.end_date_year %></td>-->
          <!--<td><%#= collecting_event.verbatim_habitat %></td>-->
          <!--<td><%#= collecting_event.field_notes %></td>-->
          <!--<td><%#= collecting_event.md5_of_verbatim_label %></td>-->
          <%= fancy_metadata_cells_tag(collecting_event) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

