<% content_for :warn_level do -%>
    <%= warn_level_input(@result) -%>
<% end %>

<%= content_for :batch_form do -%>
  <%= render partial: '/otus/batch_load/identifiers/form', locals: {url: create_identifiers_batch_load_otus_path, submit: :create} -%>
<% end %>

<%= content_for :line_breakdown do -%>
  <table class="top_align_text"> 
    <tr>
      <th class="four_character_width">line</th>
      <th class="four_character_width">data count</th>
      <th> name(s) </th>
      <th class=""> data errors* </th>
    </tr>

    <% @result.sorted_processed_rows.each do |i, rp| -%>
      <tr>
        <%= batch_line_link_td(i) -%> 
        <%= batch_all_objects_count_td(rp) -%>
        <td>
          <%= rp.objects[:otu].each_with_index.collect{|n, i| "#{i + 1}: " + n.name if n.name.present? }.join('<br>').html_safe -%>
        </td> 

        <td>
          <%= rp.objects[:otu].collect{|n| n.full_error_messages_excepting(:parent, :parent_id)}.join('<br>').html_safe -%>
        </td>

      </tr>
    <% end -%> 
  </table>
<% end %>


<%= render partial: '/shared/data/all/batch_load/preview' -%>

