<h2> Batch preview </h2>

<div class="warning"> NOT COMPLETE </div>

<p> Import includes <%= @taxon_names.count -%> records. </p>

<p> To complete this import, select the file again and click create: 
<%= form_tag create_simple_batch_load_taxon_names_path, multipart: true do -%>
  <%= file_field_tag :file -%>
  <%= submit_tag 'Create' -%>
<% end %>
</p>


<ol>
  <% @taxon_names.each_with_index do |s, i| %>
    <%= content_tag(:li, s.cached_string('html').html_safe) -%>
  <% end %>
</ol>

