<h1>Listing geographic_areas_geographic_items</h1>

<table>
  <thead>
    <tr>
      <th>Geographic area</th>
      <th>Geographic item</th>
      <th>Data origin</th>
      <th>Origin gid</th>
      <th>Date valid from</th>
      <th>Date valid to</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @geographic_areas_geographic_items.each do |geographic_areas_geographic_item| %>
      <tr>
        <td><%= geographic_area_link(geographic_areas_geographic_item.geographic_area) %></td>
        <td><%= geographic_item_link(geographic_areas_geographic_item.geographic_item) %></td>
        <td><%= geographic_areas_geographic_item.data_origin %></td>
        <td><%= geographic_areas_geographic_item.origin_gid %></td>
        <td><%= geographic_areas_geographic_item.date_valid_from %></td>
        <td><%= geographic_areas_geographic_item.date_valid_to %></td>
        <td><%= link_to 'Show', geographic_areas_geographic_item %></td>
        <td><%= link_to 'Edit', edit_geographic_areas_geographic_item_path(geographic_areas_geographic_item) %></td>
        <td><%= link_to 'Destroy', geographic_areas_geographic_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geographic areas geographic item', new_geographic_areas_geographic_item_path %>
