<h1>Tasks::Loans#return_items</h1>
<p>Find me in app/views/tasks/loans/return_items.html.erb</p>

params:
<table border="1">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Key') -%>
    <%= fancy_th_tag(name: 'Value') -%>
  </tr>
  </thead>
  <tbody>
  <% params.keys.each do |key| %>
      <tr>
        <td align="center"><%= key %></td>
        <td align="center"><%= params[key] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h3><%= link_to("NEXT (#{@notice})", "/tasks/loans/complete/#{params[:loan_id]}", notice: @notice) %></h3>
