<h1>Tasks::Loans#complete</h1>

<h3>Loan to : <%= object_tag(@loan) %>, Loan ID: <%= @loan.id %></h3>
<!-- Listing the collection objects -->
<div id="loan_completion_widget" hidden="hidden" class="loan_completion flexbox">
  <div class="item item1">
    <%= form_tag(loan_items_action_url, {method: 'get'}) do %>
        <%= hidden_field_tag('loan_id', @loan.id) %>
        <table class="tablesorter" border="1">
          <thead>
          <tr>
            <%= fancy_th_tag(name: 'Loaned item') -%>
            <%= fancy_th_tag(name: 'Date returned') %>
            <%= fancy_th_tag(name: 'Collection object status') -%>
            <%= fancy_th_tag(name: 'Total') -%>
            <%= fancy_th_tag(name: 'Type') -%>
            <%= fancy_th_tag(name: 'Select item') -%>
          </tr>
          </thead>
          <tbody class="loan_items_list">

          <% @loan.loan_items.order(:position).each do |loan_item| %>
              <tr>
                <td><%= object_tag(loan_item.loan_item_object) %></td>
                <td><%= loan_item.date_returned %></td>
                <td><%= loan_item.disposition %></td>
                <td><%= loan_item.loan_item_object_type == 'Otu' ? loan_item.total : nil %></td>
                <td><%= loan_item.loan_item_object_type %></td>
                <td align="center"><%= check_box_tag("loan_items[#{loan_item.id}]") %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <hr>
        <%= text_field_tag(:date_returned, nil, {class: :datepicker_recurring_start, size: 9}) %><br>
        <%= submit_tag('Update selected date') %>
        <hr>
        <%= select_tag(:disposition, options_for_select(LoanItem::STATUS)) %><br>
        <%= submit_tag('Update selected status') %>
        <hr>
        <%= render(partial: 'taxon_determinations/form',
                   locals:  {object: new_taxon_determination}) %>
        </div>
        <div class="item item2">

        </div>
        <div class="item item3">

        </div>
    <% end %>
    </div>
