<h1>Tasks::Loans#complete</h1>

<h3>Loan to : <%= object_tag(@loan) %>, Loan ID: <%= @loan.id %></h3>
<!-- Listing the collection objects -->
<div id="loan_completion_widget" hidden="hidden">
  <!--<%#= form_tag(loan_items_list_path, {method: :get}) do %>-->
<%#= render partial: 'workbench/elements/forms/ajax_select',
               locals:  {controller: '/loans',
                         object:     nil,
                         method:     'loan_id',
                         tag_id:     'loan_id_for_loan_complete_form',
                         size:       '',
                         display:    ''} %>
<%#= submit_tag 'Show' %>
  <!--<%# end %>-->

  <%= form_tag(loan_items_action_url, {method: 'get'}) do %>
      <%= hidden_field_tag('loan_id', @loan.id) %>
      <table border="1">
        <thead>
        <tr>
          <%= fancy_th_tag(name: 'Loaned item') -%>
          <%= fancy_th_tag(name: 'Position') -%>
          <%= fancy_th_tag(name: 'Date returned') %>
          <%= fancy_th_tag(name: 'Total') -%>
          <%= fancy_th_tag(name: 'Status') -%>
          <%= fancy_th_tag(name: 'Type') -%>
          <%= fancy_th_tag(name: 'Select item') -%>
        </tr>
        </thead>
        <tbody>
        <% @loan.loan_items.order(:position).each do |loan_item| %>
            <tr>
              <td><%= object_tag(loan_item.loan_item_object) %></td>
              <td align="center"><%= loan_item.position %></td>
              <td><%= loan_item.date_returned %></td>
              <td><%= loan_item.total_items %></td>
              <td><%= loan_item.disposition %></td>
              <td><%= loan_item.loan_item_object_type %></td>
              <td align="center"><%= check_box_tag("loan_items[#{loan_item.id}]") %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <%= date_select(:date_returned, :date) %>
      <div><%= submit_tag('Update selected') %></div>

      <%= render(partial: 'taxon_determinations/form',
                 locals:  {object: new_taxon_determination}) %>

  <% end %>
</div>
