<h1>Complete loan task</h1>

<%= link_to('back', @loan) -%>

<h3>Loan to : <%= object_tag(@loan) %>, Loan ID: <%= @loan.id %></h3>

<%= form_for(@loan, html: { id: 'loan_form'}) do |f| -%>
  <table class="tablesorter" border="1">
    <thead>
      <tr>
        <%= fancy_th_tag(name: 'Select item') -%>
        <%= fancy_th_tag(name: 'Loaned item') -%>
        <%= fancy_th_tag(name: 'Date returned') %>
        <%= fancy_th_tag(name: 'Collection object status') -%>
        <%= fancy_th_tag(name: 'Total') -%>
        <%= fancy_th_tag(name: 'Type') -%>
      </tr>
    </thead>
    <tbody class="loan_items_list">

      <%= f.fields_for(:loan_items) do |loan_item| -%>
        <tr>
          <td> <%= check_box_tag("loan_items[#{loan_item.index}][id]", loan_item.object.id, checked: false) -%>  </td>
          <td><%= object_tag(loan_item.object.loan_item_object) %></td>
          <td><%= loan_item.object.date_returned %></td>
          <td><%= loan_item.object.disposition %></td>
          <td><%= loan_item.object.loan_item_object_type == 'Otu' ? loan_item.object.total : nil %></td>
          <td><%= loan_item.object.loan_item_object_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>


<h3> Update item status </h3>
<%= form_tag(loan_update_status_path(@loan), method: :post, class: 'loan_update_form' ) do |li| -%>
  <%= select_tag(:disposition, options_for_select(LoanItem::STATUS, :blank), include_blank: true) %>
  <%= submit_tag 'Update status' -%>
<% end %>


<h3> Update date returned </h3>
<%= form_tag(loan_return_items_path(@loan), method: :post, class: 'loan_update_form' ) do |li| -%>
  <%= text_field_tag(:date_returned, nil, {class: :datepicker_recurring_start, size: 9}) %>
  <%= submit_tag 'Return items' -%>
<% end %>


<h3> Update date determinations </h3>
<%= form_for(@taxon_determination, url: loan_add_determination_path(@loan), method: :post, html: {class: 'loan_update_form'} ) do |f| -%>

  <%= render partial: '/people/role_picker', locals: {role: Determiner.new(), object: @taxon_determination, f: f} %>

  <%= render '/otus/otu_picker', otu: @taxon_determination.otu, f: f -%>

    <div class="field">
      <%= f.label :year_made %><br>
      <%= f.text_field :year_made, size: 4 %>
    </div>
    <div class="field">
      <%= f.label :month_made %><br>
      <%= f.text_field :month_made, size: 2 %>
    </div>
    <div class="field">
      <%= f.label :day_made %><br>
      <%= f.text_field :day_made, size: 2 %>
    </div>

    <%= submit_tag 'Set determinations' -%>
<% end %>

