<h1>Tasks::Loans#complete</h1>

<%= link_to('back', @loan) -%>

<h3>Loan to : <%= object_tag(@loan) %>, Loan ID: <%= @loan.id %></h3>

<%= form_for(@loan, html: { id: 'loan_form'}) do |f| -%>
  <%= f.fields_for(:loan_items) do |loan_item| -%>
    <%= loan_item.object.id -%> <%= check_box_tag("loan_items[#{loan_item.index}][id]", loan_item.object.id, checked: false) -%>
  <% end %>
<% end %>

<%= form_tag(loan_update_status_path(@loan), method: :post, class: 'loan_update_form' ) do |li| -%>
  <%= select_tag(:disposition, options_for_select(LoanItem::STATUS, :blank), include_blank: true) %><br>
  <%= submit_tag 'Update status' -%>
<% end %>

<%= form_tag(loan_return_items_path(@loan), method: :post, class: 'loan_update_form' ) do |li| -%>
  <%= text_field_tag(:date_returned, nil, {class: :datepicker_recurring_start, size: 9}) %> <br>
  <%= submit_tag 'Return items' -%>
<% end %>

<%= form_for(@taxon_determination, url: loan_add_determination_path(@loan), method: :post, html: {class: 'loan_update_form'} ) do |f| -%>

  <%= render partial: '/people/role_picker', locals: {role: Determiner.new(), object: @taxon_determination, f: f} %>

  <%= render '/otus/otu_picker', otu: @taxon_determination.otu, f: f -%>

    <div class="field">
      <%= f.label :year_made %><br>
      <%= f.text_field :year_made, size: 4 %>
    </div>
    <div class="field">
      <%= f.label :month_made %><br>
      <%= f.text_field :month_made, size: 2 %>
    </div>
    <div class="field">
      <%= f.label :day_made %><br>
      <%= f.text_field :day_made, size: 2 %>
    </div>

    <%= submit_tag 'Set determinations' -%>
<% end %>
