<h2> BibTeX Batch Load Preview </h2>

<p> Import includes <%= @sources.compact.size -%> records. </p>
<% if @namespace.present? %>
  <p class="feedback feedback-thin feedback-info"> BibTeX labels will be assigned as identifiers using namespace: <strong><%= @namespace.short_name %></strong> (<%= @namespace.name %>). </p>
<% end %>

<p> To complete this import, select the file again and click create: </p>
<p>
  <%= form_tag create_bibtex_batch_load_sources_path, multipart: true do -%>
    <%= file_field_tag :file, required: true -%>
    <%= submit_tag 'Create', class: 'button button-submit' -%>
  <% end %>
</p>

<p> <span style='color:green'>Green</span> lines will be imported.
<span style="color:red">Red</span> lines will not be imported.
</p>

<table class="tablesorter">
  <thead>
    <tr>
      <% if @namespace.present? %>
        <th>Identifier</th>
      <% end %>
      <th>Source</th>
      <th>Errors</th>
      <th>Warnings</th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each_with_index do |s, i| %>
      <% if s.blank? %>
        <tr>
          <% if @namespace.present? %>
            <td></td>
          <% end %>
          <td><span class="feedback feedback-thin feedback-warning">Empty or errored entry</span></td>
          <td></td>
          <td></td>
        </tr>
      <% else %>
        <tr>
          <% if @namespace.present? %>
            <td><%= s.identifiers.detect { |id| id.type == 'Identifier::Local::Import::Bibtex' }&.identifier %></td>
          <% end %>
          <td class="<%= s.valid? ? 'green' : 'red' %>"><%= s.cached_string('html')&.html_safe %></td>
          <td>
            <% unless s.valid? %>
              <ul>
                <% s.errors.full_messages.each do |e| %>
                  <li><%= e.html_safe %></li>
                <% end %>
              </ul>
            <% end %>
          </td>
          <td>
            <% if s.soft_validations.messages.any? %>
              <ul class="brown">
                <% s.soft_validations.messages.each do |e| %>
                  <li><%= e.to_s.html_safe %></li>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
