<p>
  <strong>Name:</strong>
  <%= @common_name.name %>
</p>

<p>
<strong>Geographic area:</strong>
  <%= simple_map([@common_name.geographic_area]) if @common_name.geographic_area %>
  <%= geographic_area_link(@common_name.geographic_area)  %>
</p>

<p>
  <strong>Otu:</strong>
  <%= otu_link(@common_name.otu) %>
</p>

<p>
  <strong>Language:</strong>
  <%= object_tag(@common_name.language) %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @common_name.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @common_name.end_year %>
</p>

