<p>
  <strong>Name:</strong>
  <%= @common_name.name %>
</p>

<p>
  <strong>Geographic area:</strong>
  <%= @common_name.geographic_area %>
</p>

<p>
  <strong>Otu:</strong>
  <%= @common_name.otu %>
</p>

<p>
  <strong>Language:</strong>
  <%= @common_name.language %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @common_name.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @common_name.end_year %>
</p>

