<%= form_for(@common_name) do |f| %>
  <% if @common_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@common_name.errors.count, "error") %> prohibited this common_name from being saved:</h2>

      <ul>
      <% @common_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :geographic_area_id %><br>
    <%= f.text_field :geographic_area_id %>
  </div>
  <div class="field">
    <%= f.label :otu_id %><br>
    <%= f.text_field :otu_id %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.text_field :language_id %>
  </div>
  <div class="field">
    <%= f.label :start_year %><br>
    <%= f.number_field :start_year %>
  </div>
  <div class="field">
    <%= f.label :end_year %><br>
    <%= f.number_field :end_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
