<%= render("/shared/data/all/list/list_header", objects: @common_names) -%>

<table class="tablesorter">
<thead>
    <tr>
      <%= fancy_th_tag(name: 'Name') -%>
      <%= fancy_th_tag(name: 'Geographic area') -%>
      <%= fancy_th_tag(name: 'Otu') -%>
      <%= fancy_th_tag(name: 'Language') -%>
      <%= fancy_th_tag(name: 'Start year') -%>
      <%= fancy_th_tag(name: 'End year') -%>
      <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
      <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
    </tr>
  </thead>

  <tbody>
    <% @common_names.each do |common_name| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
        <td><%= common_name.name %></td>
        <td><%= geographic_area_link(common_name.geographic_area) %></td>
        <td><%= otu_link(common_name.otu) %></td>
        <td><%= language_tag(common_name.language) %></td>
        <td><%= common_name.start_year %></td>
        <td><%= common_name.end_year %></td>
          <%= fancy_metadata_cells_tag(common_name) -%>
      <% end %>
    <% end %>
  </tbody>
</table>

