<h2>Darwin core export settings</h2>

<%= form_with url: project_dwc_is_public_path, method: :post do |form|, local: true %>
  <div>
    <%= form.label :is_public, "Make this project's darwin core archive, determined by the settings on this page, <b>PUBLICLY</b> accessible from the api."%>
    <%= form.checkbox :is_public, @is_public %>
  </div>

  <div class="margin-large-top margin-large-bottom">
    <%= form.submit "Submit", class: 'button-submit' %>
  </div>

  <p>Note: no project download will be created until the eml preferences below have been saved. The first time the public download is requested by api it will fail but the download will be triggered to build. After the build completes

<% end %>

<%= form_with url: project_dwc_validate_export_preferences_path, method: :post, local: true do |form| %>
  <% if @dataset_errors.present? %>
    <fieldset
      class="margin-large-bottom padding-large-right"
      style="max-width: 600px"
    >
      <legend class="feedback-danger">Errors in dataset xml</legend>
      <ul>
        <% @dataset_errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      </fieldset>
  <% elsif !@dataset_errors.nil? %>
    <div class="feedback-success margin-large-bottom d-inline-block padding-xsmall">
      Dataset xml is valid
    </div>
  <% end %>

  <div>
    <%= form.label :dataset, "Dataset (#{Export::Dwca::Eml::DATASET_PARAMETERS.join(', ')} will be auto-added on dwca creation):", class: "d-inline-block margin-small-bottom" %><br>
    <%= text_area_tag :dataset, @dataset, rows: 44, cols: 80 %>
  </div>

  <br><br><br>

  <% if @additional_metadata_errors.present? %>
    <fieldset
      class="margin-large-bottom padding-large-right"
      style="max-width: 600px"
    >
      <legend class="feedback-danger">Errors in additional metadata xml</legend>
      <ul>
        <% @additional_metadata_errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </fieldset>
  <% elsif !@additional_metadata_errors.nil? %>
    <div class="feedback-success margin-large-bottom d-inline-block padding-small">
      Additional metadata xml is valid
    </div>
  <% end %>

  <div>
    <%= form.label :additional_metadata, "Additional metadata (#{Export::Dwca::Eml::ADDITIONAL_METADATA_PARAMETERS.join(', ')} will be auto-added in dwca creation):", class: "d-inline-block margin-small-bottom" %> <br>
    <%= text_area_tag :additional_metadata, @additional_metadata, rows: 10, cols: 80 %>
  </div>

  <div class="margin-large-top margin-large-bottom">
    <%= form.submit "Validate and save preferences", class: 'button-submit' %>
  </div>
<% end %>