<h2>Darwin core export eml.xml data</h2>

<%= form_with url: gbif_metadata_validate_task_path, method: :post, local: true do |form| %>
  <% if @errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@errors.count, "error") %> in xml:</h2>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :dataset, "Dataset:", class: "d-inline-block margin-small-bottom" %><br>
    <%= text_area_tag :dataset, @dataset, rows: 20, cols: 80 %>
  </div>

  <br>

  <div>
    <%= form.label :additional_metadata, "Additional metadata:", class: "d-inline-block margin-small-bottom" %> <br>
    <%= text_area_tag :additional_metadata, @additional_metadata, rows: 20, cols: 80 %>
  </div>

  <div class="margin-large-top margin-large-bottom">
    <%= form.submit "Submit" %>
  </div>
<% end %>