<%= form_for(@alternate_value.metamorphosize) do |f| %>
    <%= render 'shared/errors', object: @alternate_value %>

    <p> <strong><%= @alternate_value.alternate_value_object.class.name %>:</strong> <%= object_tag(@alternate_value.alternate_value_object) -%>  </p>

    <div class="field">
      <%= f.label :alternate_value_object_attribute %>
      <br>
      <%= f.select :alternate_value_object_attribute, 
        options_for_select(ApplicationEnumeration.alternate_value_attributes(@alternate_value.alternate_value_object), selected = @alternate_value.alternate_value_object_attribute) -%>
    </div>

    <div class="field">
      <%= check_box_tag('alternate_value[is_community_annotation]', true, !@alternate_value.project_id.nil? ) %>
      <%= label_tag "Make this alternate value visible to everyone (project members and community)." %>
    </div>

    <div class="field">
      <%= f.label :value %>
      <br>
      <%= f.text_area :value %>
    </div>
    <div class="field">
      <%= f.label :type %>
      <br>
      <%= f.select :type, options_for_select([['abbreviation', 'AlternateValue::Abbreviation'], ['translation', 'AlternateValue::Translation'], ['alternate spelling', 'AlternateValue::AlternateSpelling'], ['misspelled', 'AlternateValue::Misspelling']], selected = @alternate_value.type) -%>
    </div>

    <div class="field">
      <%= f.label :language %>
      <br>
      <%= render partial:  'workbench/elements/forms/ajax_select',
        locals: {controller: 'languages',
                 object: 'alternate_value',
                 method: 'language_id',
                 tag_id: 'language_id_for_alternate_value',
                 display:  language_tag(@alternate_value.language),
                 size: 40} %>
    </div>

    <%= f.hidden_field :alternate_value_object_type %>
    <%= f.hidden_field :alternate_value_object_id %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
