<%= render("/shared/data/all/list/list_header", objects: @alternate_values) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Alternate value object type') -%>
    <%= fancy_th_tag(name: 'Alternate value object') -%>
    <%= fancy_th_tag(name: 'Alternate value object attribute') -%>
    <%= fancy_th_tag(name: 'Alternate value') -%>
    <%= fancy_th_tag(name: 'Alternate value type') -%>
    <%= fancy_th_tag(name: 'Language') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @alternate_values.each do |alternate_value| %>
      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= alternate_value.alternate_value_object_type %></td>
          <td><%= object_tag(alternate_value.alternate_value_object.metamorphosize) %></td>
          <td><%= alternate_value.alternate_value_object_attribute %></td>
          <td><%= alternate_value.value %></td>
          <td><%= alternate_value.klass_name %></td>
          <td><%= object_tag(alternate_value.language) %></td>
          <%= fancy_metadata_cells_tag(alternate_value) -%>
      <% end %>
  <% end %>
  </tbody>
</table>

