<%= form_tag tasks_bibliography_verbatim_reference_create_path do %>

  <h2>Create a source (reference) from a verbaitm citation</h2>
  <p> <i> The record will be resolved against CrossRef, if it fails to resolve it will be stored as verbatim. </i> </p>
    <div>
      <div class="field">
        <%= label_tag :paste_full_citation %>
        <%= text_area_tag :citation, nil ,  rows: 4, cols: 50 %>
      </div>
    </div>

    <div>
      <div class="field">
        <%= label_tag :also_create_people_records_from_authors_and_editors? %>
        <%= check_box_tag :create_roles, false  %>
      </div>
    </div>

    <div class="actions">
      <%= submit_tag :create %>
    </div>
<% end %>


<% if @source -%>
  <div> 
    <p> A record was created:    
    <%= source_link(@source) -%>
    </p>
  </div>
<% end %>
