
<h2>Preview a source (reference) from a verbatim citation or DOI</h2>

<%= link_to('Back to form', new_verbatim_reference_task_path) -%>

<div>
  <p>Submitted citation: </p>
  <p class="sticky"><%= params[:citation] %></p>
</div>

<% if @source.class == Source::Verbatim -%>
  <%= content_tag(:p, 'CrossRef did not find a match.', class: :failure) -%>
<% else %>
  <%= content_tag(:p, "CrossRef found a match above the default score #{TaxonWorks::Vendor::Serrano.cutoff}.", class: :success, data: {help: "The score cutoff is somewhat arbitratry, and does not necessarily represent a good match."}) -%>
<% end %>

<hr/>

<% if @source.class == Source::Bibtex -%>
  <h3 data-help="Create a source record with data fully parsed into fields."> Create a source in BibTex format. </h3>
  <%= form_tag create_bibtex_from_reference_task_path do %>
    as: <%= @source.cached_string('html').html_safe %> <br>

    <%= hidden_field_tag(:in_cite, params[:citation]) %>

    <br> 
    <div class="field">
      <%= check_box_tag :create_roles, false %>
      <%= label_tag 'also_create', 'Also create people from authors and editors of BibTeX source?' %>
    </div>

    <div class="actions">
      <%= submit_tag "Create BibTeX source" %>
    </div>
  <% end %>
<% end %>

<hr/>

<h3 data-help="Create a source record with verbatim data only, i.e. the full citation."> Create a source in Verbatim format. </h3>
<%= form_for Source::Bibtex.new(verbatim: params[:citation]), as: :source, url: create_verbatim_from_reference_task_path do |f| %>
  <%= hidden_field_tag(:in_cite, params[:citation]) %>
  <p> as: <%= params[:citation] %> </p>

  <%= f.hidden_field :verbatim -%>
  <%= f.hidden_field :type, value: 'Source::Verbatim' -%>
  <div class="actions">
    <%= submit_tag "Create verbatim source" %>
  </div>

<% end %>




