
<h2>Preview a source (reference) from a verbatim citation</h2>

<div>
  <p>Submitted citation: </p>
  <p class="sticky"><%= params[:citation] %></p>
</div>

<% if @source.class == Source::Verbatim -%>
  <%= content_tag(:p, 'CrossRef did not find a match.', class: :failure) -%>
<% else %>
  <%= content_tag(:p, 'CrossRef found a match.', class: :success) -%>
<% end %>

<hr/>

<% if @source.class == Source::Bibtex -%>
  <h3> Create a source in BibTex format. </h3>
  <%= form_tag create_bibtex_from_reference_task_path do %>
    as: <%= @source.cached_string('html').html_safe %> <br>

    <%= hidden_field_tag(:in_cite, params[:citation]) %>
    <div class="field">
      <%= label_tag :also_create_people_records_from_authors_and_editors_of_BibTeX_source? %>
      <%= check_box_tag :create_roles, false %>
    </div>

    <%= submit_tag "Create BibTeX source" %>
  <% end %>
<% end %>

<hr/>

<h3> Create a source in Verbatim format. </h3>
<%= form_for Source::Bibtex.new(verbatim: params[:citation]), as: :source, url: create_verbatim_from_reference_task_path do |f| %>
  <%= hidden_field_tag(:in_cite, params[:citation]) %>
  <p> as: <%= params[:citation] %> </p>

  <%= f.hidden_field :verbatim -%>
  <%= f.hidden_field :type, value: 'Source::Verbatim' -%>
  <%= submit_tag "Create verbatim source" %>

<% end %>




