<p>
  <strong>Short URL to original:</strong>
  <%= link_to(short_url(@image.image_file.url), short_url(@image.image_file.url))  -%>
</p>

<p>
  <strong>Short URL to web medium:</strong>
  <%= link_to(short_url(@image.image_file.url(:medium)), short_url(@image.image_file.url(:medium)))  -%>
</p>

<p>
  <strong>Short URL to web thumb:</strong>
  <%= link_to(short_url(@image.image_file.url(:thumb)), short_url(@image.image_file.url(:thumb)))  -%>
</p>

<div class="easyzoom easyzoom--overlay">
  <a href="<%= @image.image_file.url(:medium) %>">
    <%= image_tag(@image.image_file.url(:medium), 'class' => 'imageZoom') %>
  </a>
</div>

<div class="attribute_set" data-title="Information" data-view="development">
  <p data-view="development">
    <strong>User file name:</strong>
    <%= @image.user_file_name %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= @image.height %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= @image.width %>
  </p>

  <p>
    <strong>Pixels to centimeter:</strong>
    <%= @image.pixels_to_centimeter %>
  </p>

  <p>
    <strong>Image file fingerprint (md5):</strong>
    <%= @image.image_file_fingerprint %>
  </p>

  <p>
    <strong>Image file file name:</strong>
    <%= @image.image_file_file_name %>
  </p>

  <p>
    <strong>Image file content type:</strong>
    <%= @image.image_file_content_type %>
  </p>

  <p>
    <strong>Image file file size:</strong>
    <%= @image.image_file_file_size %>
  </p>

  <p>
    <strong>Image file updated at:</strong>
    <%= @image.image_file_updated_at %>
  </p>
</div>
