<%= form_for(@image, multipart: true) do |f| %>
    <%= render 'shared/errors', object: @image %>

  <div class="field">
    <%= f.label :image_file %><br>
    
    <div> <%= image_tag(@image.image_file.url(:thumb)) -%> </div>

    <%= f.file_field :image_file, class: :required_for_submit %>
  </div>

  <div class="actions">
    <%= f.submit id: 'submit_with_required', disabled: :disabled %>
  </div>
<% end %>

