<%= content_for :report do -%>
  <%= content_tag(:li, link_to('Original image', @image.image_file.url)) -%>
<% end %>

<%= content_for :associated do -%>

  <% if @image.depictions.any? -%>
    <%= content_tag(:h3, 'Depictions') -%>
    <ul>
    <% @image.depictions.each do |d| -%>
      <%= content_tag(:li, image_context_depiction_tag(d)) -%>
    <% end %>
    </ul>
  <% end %>
<% end %>

<%= content_for :additional_navigation do %>

  <div class="content">
    <em> Rotate derivatives, relative or *original* orientation.  Original image is untouched. </em>
    <%= form_for(@image, url: rotate_image_path(@image)) do |f| %>
      <%= f.collection_radio_buttons :rotate, %w{0 90 180 270}, :to_s, :to_i %>
      <%= f.submit :Rotate, data: {type: :submit}, class: [:actions, 'button-submit', :button] -%>
    <% end %>
  </div>

  <div class="content">
    <em> Regenerate derivatives (thumb, medium). Original image is untouched. </em>
    <%= form_for(@image, url: regenerate_derivative_image_path(@image)) do |f| %>
      <%= f.submit :Regenerate, data: {type: :submit}, class: [:actions, 'button-submit', :button] -%>
    <% end %>
  </div>



<% end %>

<%= content_for :icon_navigation do -%>
  <%= content_tag(:li, collection_object_radial_tag(@image) )   %>
<% end %>

<%= render(partial: 'shared/data/project/show', locals: {object: @image}) -%>
