<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= meta_title %></title>
 
    <% meta_data.each do |name, content| %>
      <% next if content.to_s.empty? || name.to_s.empty? %>
      <meta name="<%= name.to_s %>" content="<%= content.to_s %>">
    <% end %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  
  <body>

  <header>
    <%= render partial: 'sessions/summary' if sessions_signed_in? %>
  </header>

  <%= quick_bar  -%> 

  <aside>
    <% flash.each do |key, value| %>
      <p class="alert alert--<%= key %>"><%= value %></p>
  <% end %>
  </aside>

  <%= yield %>

  <%= render "footer" %>

  </body>
</html>
