<!DOCTYPE html>
<html>
<head>
  <title>TaxonWorks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> * TaxonWorks *</h1>
<%= render "header" %>

<%= yield %>
<%= render "footer" %>


</body>
</html>
