<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= title_tag -%>
 
    <% meta_data.each do |name, content| %>
      <% next if content.to_s.empty? || name.to_s.empty? %>
      <meta name="<%= name.to_s %>" content="<%= content.to_s %>">
    <% end %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= favicon_link_tag asset_path('favicon.svg') %>
    <% if sessions_signed_in? %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => 'reload' %>
      <%= javascript_include_tag "separated_application", "data-turbolinks-track" => 'reload' %>
      <%= javascript_pack_tag "application" %>
      <%= stylesheet_pack_tag "application" %>
    <% end %>
    <%= csrf_meta_tags %>

  </head>
  
  <body <%= turbolinks_off_tag -%> >
    <header> 
      <%= render(partial: 'sessions/summary') if sessions_signed_in? %>
    </header>

    <nav>
      <%= quick_bar -%> 
      <%= task_bar -%>
      <%= slideouts -%>
    </nav>

    <div id="main">
      <aside>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <div class="message"><%= value %></div> 
            <div class="alert-close"></div>
          </div>
        <% end %>
      </aside>

      <%= yield %>
    </div>

  </body>
</html>