<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= meta_title %></title>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

  </head>
  
  <body <%= turbolinks_off_tag -%> class="us_letter_page">

    <aside>
      <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %>"><%= value %></p>
      <% end %>
    </aside>

    <%= yield %>

  </body>
</html>
