<p>
  <strong>Subject sequence:</strong>
  <%= @sequence_relationship.subject_sequence.sequence %>
</p>

<p>
  <strong>Subject sequence type:</strong>
  <%= @sequence_relationship.subject_sequence_type %>
</p>

<p>
  <strong>Object sequence:</strong>
  <%= @sequence_relationship.object_sequence.sequence %>
</p>

<p>
  <strong>Object sequence type:</strong>
  <%= @sequence_relationship.object_sequence_type %>
</p>

<p>
  <strong>Sequence Relationship type:</strong>
  <%= @sequence_relationship.type %>
</p>