<%= render("/shared/data/all/list/list_header", objects: @sequence_relationships) -%>

<table class="tablesorter">
  <thead>
  <tr>
    <%= fancy_th_tag(name: 'Subject sequence') -%>
    <%= fancy_th_tag(name: 'Object sequence') -%>
    <%= fancy_th_tag(name: 'Relationship type') -%>
    <%= fancy_th_tag(name: 'Updated by', group: 'housekeeping') -%>
    <%= fancy_th_tag(name: 'Last updated', group: 'housekeeping') -%>
  </tr>
  </thead>

  <tbody>
  <% @sequence_relationships.each do |sequence_relationship| %>
      <% subject_sequence = Sequence.find(sequence_relationship.subject_sequence_id) %>
      <% object_sequence = Sequence.find(sequence_relationship.object_sequence_id) %>

      <%= content_tag(:tr, class: :contextMenuCells) do -%>
          <td><%= sequence_link(subject_sequence) %></td>
          <td><%= sequence_link(object_sequence) %></td>
          <td><%= sequence_relationship.type %></td>
          <%= fancy_metadata_cells_tag(sequence_relationship) -%>
      <% end %>
  <% end %>
  </tbody>
</table>