<%= form_for(@sequence) do |f| %>
    <%= render 'shared/errors', object: @sequence %>

    <div class="required">
      <div class="field">
        <%= f.label :sequence %>
        <br>
        <%= f.text_area :sequence, cols: 60, rows: 5 %>
      </div>

      <div class="field">
        <%= f.radio_button(:sequence_type, "aa") %>
        <%= f.label(:sequence_type, "AA") %><br>

        <%= f.radio_button(:sequence_type, "dna") %>
        <%= f.label(:sequence_type, "DNA") %><br>

        <%= f.radio_button(:sequence_type, "dna") %>
        <%= f.label(:sequence_type, "RNA") %> 
      </div>

    </div>

    <div class="optional">
      <div class="field">
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
